<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	<img src="/images/error_attachmentWrongType.jpg"  alt="{{template_attachment_wrong_type_error}}" class="noborder" align="left">

	<h3>{{template_attachment_wrong_type_error}}</h3>
	
	<div style="margin-left:220px;width:500px;">
	
	<p>{{template_attachment_is_of_wrong_type}}</p>
		
	<p>&nbsp; {{template_click_back_button}}</p>
	<p>&nbsp; &nbsp; ... {{template_or_return_to_home}} 
	
	{% if rakontu %}
		<b><a href="{{rakontu.linkURL}}">{{template_home_page}}</a></b>?</p>
		<p>&nbsp; &nbsp; &nbsp; &nbsp; ... {{template_or_would_you_like_some}} 
		<b><a href="/{{dir_visit}}/{{url_help}}?{{rakontu.urlQuery}}">{{template_help}}</a></b>?</p>
	{% else %}
		<b><a href="/">{{template_site_start_page}}</a></b>?</p>
	{% endif %}
	
	<p>&nbsp;</p>
	
	</div>
	
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
