<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	{% if current_member.isCurator %}
			<h3>{{template_attachments}}</h3>
			{% if attachments %}
		      	<table border="0" cellpadding="4" cellspacing="0">
		      	<tr><th>{{template_attachment}}</th><th>{{template_entry}}</th></tr>
	      		{% for attachment in attachments %}
	      			<tr>
	      			 <td>{{attachment.linkString}}</td>
	      			 <td>
					<a href="/{{dir_visit}}/{{url_flag}}?{{attachment.entry.urlQuery}}" class="imagelight"><img src="../images/
					{% if attachment.entry.flaggedForRemoval %}
						flag_red.png
					{% else %}
						flag_green.png
					{% endif %}
					" alt="flag" border="0"></a>
	      			 {{attachment.entry.linkString}}</td>
	      			 </tr>
	      		{% endfor %}
		      	</table>
		    {% else %}
		    	<p>{{template_no_attachments}}</p>
			{% endif %}
	{% else %}
		<p>{{no_access|dictLookup:"attachments"}}</p>
	{% endif %}
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
