<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	{% if current_member.isCuratorOrManagerOrOwner %}
		<div id="stylized" class="rakontu_form">
		<form action="/{{dir_curate}}/{{url_flags}}" method="post">
			{% if current_member.isManagerOrOwner %}
				<p>You are a{% if current_member.isOwner %}n{% endif %} 
				<b>{{current_member.governanceType}}</b> of this Rakontu, so you can remove any item
				added to the system.</p>
			{% else %}
				<p>You are a <b>curator</b> in this Rakontu, so you can flag items for removal
				and notify the Rakontu's managers if you think an item should be removed quickly.<p>
			{% endif %}
			
			<h3>Flagged entries</h3>
			{% if entries %}
				<fieldset>
		      	<table border="1" cellpadding="4" cellspacing="0">
		      	<tr><th>Unflag? {{"unflag_item"|tip}}</th><th>Entry</th><th>Type</th><th>Linked to</th><th>Text (first part)</th><th>By</th><th>Comment</th>
	      		{% if current_member.isManagerOrOwner %} 
	      			<th>Remove?{{"removing_flagged_items"|caution}}</th> 
	      		{% else %}  
	      			<th>Notify?</th> 
	      		{% endif %}
	      		</tr>
	      		{% for entry in entries %}
	  				<tr>
	  				<td width="80">
	  					<input type="checkbox" name="unflag|{{entry.key}}" value="yes" id="unflag|{{entry.key}}"/>
						<label for="unflag|{{entry.key}}">Unflag</label>
	  				</td>	  				
	  				<td>{{entry.linkString}}</td>
	  				<td>{{entry.typeForDisplay}}</td>
	  				<td>
	  				{% for link in entry.getIncomingLinks %}
	  					<p>{{link.linkStringWithFromItem}}</p>
	  				{% endfor %}&nbsp;
	  				</td>
	  				<td>{{entry.text_formatted|upTo:100|orNbsp}}</td>
	  				<td>
						{% if entry.attributedToMember %}
								{% if entry.creator.active %}
									{{entry.creator.linkString}}
									{% ifequal entry.creator.key current_member.key %}
										 ({{YOU}})
									{% endifequal %}
								{% else %}
									the former member "{{entry.creator.nickname}}"
								{% endif %}
						{% else %}
							{% if entry.character.active %}
								{{entry.character.linkString}}
							{% else %}
								the former character "{{entry.character.name}}"
							{% endif %}
						{% endif %}
	  				</td>
	  				<td><input type="text" name="flagComment|{{entry.key}}" value="{{entry.flagComment|orNothing}}" maxlength="{{maxlength_subject_or_comment}}"></td>
	  				<td width="80">
	  				{% if current_member.isManagerOrOwner %}
	  						<input type="checkbox" name="remove|{{entry.key}}" value="yes" id="remove|{{entry.key}}"/>
							<label for="remove|{{entry.key}}">Remove</label>
	  				{% else %}
	  						<input type="checkbox" name="notify|{{entry.key}}" value="yes" id="notify|{{entry.key}}"/>
							<label for="notify|{{entry.key}}">Notify</label>
	  				{% endif %}	
	  				</td>	  				
	  				</tr>
	      		{% endfor %}
		      	</table>
	      		</fieldset>
	      	{% else %}
	      		<ul><li class="nobullet">{{term_none}}</li></ul>
	      	{% endif %}
	      	
			<h3>Flagged annotations</h3>
			{% if annotations %}
				<fieldset>
		      	<table border="1" cellpadding="4" cellspacing="0">
		      	<tr><th>Unflag?</th><th>Entry</th><th>Type</th><th>Content</th><th>By</th>
	      		{% if current_member.isManagerOrOwner %} 
	      			<th>Remove?</th> 
	      		{% else %}  
	      			<th>Notify?</th> 
	      		{% endif %}
	      		</tr>
	      		{% for annotation in annotations %}
	  				<tr>
	  				<td>
	  					<input type="checkbox" name="unflag|{{annotation.key}}" value="yes" id="unflag|{{annotation.key}}"/>
						<label for="unflag|{{annotation.key}}">Unflag</label>
	  				</td>	  				
	  				<td>{{annotation.entry.linkString}}</td>
	  				<td>{{annotation.typeForDisplay}}</td>
	  				<td>
	  				{% if annotation.isComment or annotation.isRequest %}
	  					{{annotation.linkString|orNbsp}}
	  				{% else %}
	  					{{annotation.displayString|orNbsp}}
	  				{% endif %}
	  				{% if annotation.isNudge %}
	  					{% if nudge.shortString and current_member.isManagerOrOwner %}
		  						<p><input type="checkbox" name="removeComment|{{annotation.key}}" value="yes" id="removeComment|{{annotation.key}}"/>
								<label for="removeComment|{{annotation.key}}">Remove comment only</label></p>
						{% endif %}
	  				{% endif %}
	  				</td>
	  				<td>
						{% if annotation.attributedToMember %}
								{% if annotation.creator.active %}
									{{annotation.creator.linkString}}
									{% ifequal annotation.creator.key current_member.key %}
										 ({{YOU}})
									{% endifequal %}
								{% else %}
									the former member "{{annotation.creator.nickname}}"
								{% endif %}
						{% else %}
							{{annotation.character.linkString}}
						{% endif %}
	  				</td>
	  				<td>
	  				{% if current_member.isManagerOrOwner %}
	  						<input type="checkbox" name="remove|{{annotation.key}}" value="yes" id="remove|{{annotation.key}}"/>
							<label for="remove|{{annotation.key}}">Remove</label>
	  				{% else %}
	  						<input type="checkbox" name="notify|{{annotation.key}}" value="yes" id="notify|{{annotation.key}}"/>
							<label for="notify|{{annotation.key}}">Notify</label>
	  				{% endif %}	
	  				</tr>
	      		{% endfor %}
		      	</table>
		      	</fieldset>
	      	{% else %}
	      		<ul><li class="nobullet">{{term_none}}</li></ul>
	      	{% endif %}
      	
			<h3>Flagged answers</h3>
			{% if answers %}
				<fieldset>
		      	<table border="1" cellpadding="4" cellspacing="0">
		      	<tr><th>Unflag?</th><th>Entry</th><th>Question</th><th>Answer</th><th>By</th>
	      		{% if current_member.isManagerOrOwner %} 
	      			<th>Remove?</th> 
	      		{% else %}  
	      			<th>Notify?</th> 
	      		{% endif %}
	      		</tr>
	      		{% for answer in answers %}
	  				<tr>
	  				<td>
	  					<input type="checkbox" name="unflag|{{answer.key}}" value="yes" id="unflag|{{answer.key}}"/>
						<label for="unflag|{{answer.key}}">Unflag</label>
	  				</td>	  				
	  				<td>{{answer.referent.linkString}}</td>
	  				<td>{{answer.question.text}}</td>
	  				<td>{{answer.displayStringShort}}</td>
	  				<td>
						{% if answer.attributedToMember %}
								{% if answer.creator.active %}
									{{answer.creator.linkString}}
									{% ifequal answer.creator.key current_member.key %}
										 ({{YOU}})
									{% endifequal %}
								{% else %}
									the former member "{{answer.creator.nickname}}"
								{% endif %}
						{% else %}
							{{answer.character.linkString}}
						{% endif %}
	  				</td>
	  				<td>
	  				{% if current_member.isManagerOrOwner %}
	  						<input type="checkbox" name="remove|{{answer.key}}" value="yes" id="remove|{{answer.key}}"/>
							<label for="remove|{{answer.key}}">Remove</label>
	  				{% else %}
	  						<input type="checkbox" name="notify|{{answer.key}}" value="yes" id="notify|{{answer.key}}"/>
							<label for="notify|{{answer.key}}">Notify</label>
	  				{% endif %}	
	  				</tr>
	      		{% endfor %}
		      	</table>
		      	</fieldset>
	      	{% else %}
	      		<ul><li class="nobullet">{{term_none}}</li></ul>
	      	{% endif %}
      	
			<h3>Flagged links</h3>
			{% if links %}
				<fieldset>
		      	<table border="1" cellpadding="4" cellspacing="0">
		      	<tr><th>Unflag?</th><th>From</th><th>To</th><th>Comment</th>
	      		{% if current_member.isManagerOrOwner %} 
	      			<th>Remove?</th> 
	      		{% else %}  
	      			<th>Notify?</th> 
	      		{% endif %}
	      		</tr>
	      		{% for link in links %}
	  				<tr>
	  				<td>
	  					<input type="checkbox" name="unflag|{{link.key}}" value="yes" id="unflag|{{link.key}}"/>
						<label for="unflag|{{link.key}}">Unflag</label>
	  				</td>	  				
	  				<td>{{link.itemFrom.linkString}}</td>
	  				<td>{{link.itemTo.linkString}}</td>
	  				<td>{{link.comment|orNbsp}}
	  					{% if link.comment and current_member.isManagerOrOwner %}
		  						<p><input type="checkbox" name="removeComment|{{link.key}}" value="yes" id="removeComment|{{link.key}}"/>
								<label for="removeComment|{{link.key}}">Remove comment only</label></p>
						{% endif %}
	  				</td>
	  				<td>
	  				{% if current_member.isManagerOrOwner %}
	  						<input type="checkbox" name="remove|{{link.key}}" value="yes" id="remove|{{link.key}}"/>
							<label for="remove|{{link.key}}">Remove</label>
	  				{% else %}
	  						<input type="checkbox" name="notify|{{link.key}}" value="yes" id="notify|{{link.key}}"/>
							<label for="notify|{{link.key}}">Notify</label>
	  				{% endif %}	
	  				</tr>
	      		{% endfor %}
		      	</table>
		      	</fieldset>
	      	{% else %}
	      		<ul><li class="nobullet">{{term_none}}</li></ul>
	      	{% endif %}
      	
			<h3>Flagged search filters</h3>
			{% if searches %}
				<fieldset>
		      	<table border="1" cellpadding="4" cellspacing="0">
		      	<tr><th>Unflag? {{"unflagging_items"|tip}}</th>
		      		<th>Name</th>
		      		<th>Linked to</th>
		      		<th>Look in</th>
		      		<th>Words</th>
		      		<th>Tags</th>
		      		<th>Entry questions</th>
		      		<th>Member questions</th>
		      		<th>Created</th>
		      	<th>Comment</th>
	      		{% if current_member.isManagerOrOwner %} 
	      			<th>Remove?{{"removing_flagged_items"|caution}}</th> 
	      		{% else %}  
	      			<th>Notify?</th> 
	      		{% endif %}
	      		</tr>
	      		{% for search in searches %}
	  				<tr>
	  				<td width="80">
	  					<input type="checkbox" name="unflag|{{search.key}}" value="yes" id="unflag|{{search.key}}"/>
						<label for="unflag|{{search.key}}">Unflag</label>
	  				</td>	  				
	  				<td>{{search.linkString}}</td>
	  				<td>
	  				{% for link in search.getIncomingLinks %}
	  					<p>{{link.linkStringWithFromItem}}</p>
	  				{% endfor %}&nbsp;
	  				</td>
			      	<td>
			      		{% for i in entry_types|makeRangeFromListLength %}
			      			{% if search.entryTypes|listLookup:i %}
			      				{{entry_types_display|listLookup:i}}<br/>
			      			{% endif %}
			      		{% endfor %}&nbsp;
			      		</td>
			      	<td>
			      		{% if search.words %}
			      			{{search.words_anyOrAll}} of {{search.words|join:", "}} <br/>
				      		{% for i in search_locations|makeRangeFromListLength %}
				      			{% if search.words_locations|listLookup:i %}
				      				{{search_locations_display|listLookup:i}}<br/>
				      			{% endif %}
				      		{% endfor %}
			      		{% else %}
			      			&nbsp;
			      		{% endif %}
			      		</td>
			      	<td>{% if search.tags %}
			      			{{search.tags_anyOrAll}} of {{search.tags|join:", "}}
			      		{% endif %}&nbsp;
			      		</td>
			      	<td>
			      		{% for ref in search.getEntryQuestionRefs %}
			      			{{ref.question.text}} {{ref.answer}}<br/>
			      		{% endfor %}
			      		&nbsp;
			      		</td>
			      	<td>
			      		{% for ref in search.getCreatorQuestionRefs %}
			      			{{ref.question.text}} {{ref.answer}}<br/>
			      		{% endfor %}
			      		&nbsp;
			      		</td>
					<td>{{search.created|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}<br/>
					at {{search.created|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}</td>
	  				<td><input type="text" name="flagComment|{{search.key}}" value="{{search.flagComment|orNothing}}" maxlength="{{maxlength_subject_or_comment}}"></td>
	  				<td width="80">
	  				{% if current_member.isManagerOrOwner %}
	  						<input type="checkbox" name="remove|{{search.key}}" value="yes" id="remove|{{search.key}}"/>
							<label for="remove|{{search.key}}">Remove</label>
	  				{% else %}
	  						<input type="checkbox" name="notify|{{search.key}}" value="yes" id="notify|{{search.key}}"/>
							<label for="notify|{{search.key}}">Notify</label>
	  				{% endif %}	
	  				</td>	  				
	  				</tr>
	      		{% endfor %}
		      	</table>
	      		</fieldset>
	      	{% else %}
	      		<ul><li class="nobullet">{{term_none}}</li></ul>
	      	{% endif %}
	      	
      	{% if entries or annotations or answers or links or searches %}
			<p>&nbsp; </p>
		    <center>
		    {% if current_member.isManagerOrOwner %}
		    	<p><i><b>Please remove items carefully. Deleted items cannot be recovered.</b></i></p>
		    	<input type="submit" name="submitChanges" value="Make selected changes" class="button">&nbsp; 
		    {% else %}
		    	<input type="submit" name="submitChanges" value="Send selected notifications" class="button">&nbsp; 
		    {% endif %}
		    <input type="submit" name="cancel" value="Cancel" class="button">
		{% endif %}
		</form>	
		</div>
	{% else %}
		<p>You are not a curator or manager of this Rakontu and cannot review removal flags.
		Either become a curator or ask a curator or manager to make any changes you would like to see made.</p>
	{% endif %}
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
