<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
		
		{% if current_member.isCurator %}
		<h3>{{template_gaps}} {{"entries_with_gaps"|tip}}</h3>
		
		<div id="stylized" class="rakontu_form">
		<form action="/{{dir_curate}}/{{url_gaps}}?{{rakontu.urlQuery}}
		{% if sort_by %}
			&{{url_query_sort_by}}={{sort_by}}
		{% endif %}
		" method="post" enctype="multipart/form-data">
		<p>{{template_sort_by}}
		<select name="sortBy">
			<option value="date" {% ifequal sort_by "date" %} selected="selected" {% endifequal %}>{{template_most_recent}}</option>
			<option value="annotations" {% ifequal sort_by "annotations" %} selected="selected" {% endifequal %}>{{template_most_annotated}}</option>
			<option value="activity" {% ifequal sort_by "activity" %} selected="selected" {% endifequal %}>{{template_highest_activity}}</option>
			<option value="nudges" {% ifequal sort_by "nudges" %} selected="selected" {% endifequal %}>{{template_highest_nudged}}</option>
			</select>
		<input type="submit" name="sortBy" value="{{button_change}}" class="button_small">
		</form>
		</div>

		<table border="0" cellpadding="4" cellspacing="0">
	      	<tr>
	      		<th>{{template_entries_with_no_tags}}</th>
	      		<th>{{template_entries_with_no_links}}</th>
	      		{% if rakontu.hasActiveNonMemberQuestions %} 
	      			<th>{{template_entries_with_no_answers_to_questions}}</th> 
	      		{% endif %}
	      		<th>{{template_collages_with_no_story_links}}</b></th>
	      	</tr>
	      	<tr>
	      	<td valign="top">
	      	{% if entries_without_tags %}
				{% for entry in entries_without_tags %}
					<p>{{entry.linkString}} ({{entry.typeForDisplay}})</p>
				{% endfor %}
			{% else %}
				{{term_none}}
			{% endif %}</td>
	      	<td valign="top">{% if entries_without_links %}
				{% for entry in entries_without_links %}
					<p>{{entry.linkString}} ({{entry.typeForDisplay}})</p>
				{% endfor %}
			{% else %}
				{{term_none}}
			{% endif %}</td>
			{% if rakontu.hasActiveNonMemberQuestions %} 
		      	<td valign="top">{% if entries_without_answers %}
					{% for entry in entries_without_answers %}
						<p>{{entry.linkString}} ({{entry.typeForDisplay}})</p>
					{% endfor %}
				{% else %}
					{{term_none}}
				{% endif %}</td>
			{% endif %}
	      	<td valign="top">{% if collages_without_inclusions %}
				{% for entry in collages_without_inclusions %}
					<p>{{entry.linkString}} ({{entry.typeForDisplay}})</p>
				{% endfor %}
			{% else %}
				{{term_none}}
			{% endif %}</td>
		</tr></table>
			
	{% else %}
		<p>{{no_access|dictLookup:"gaps"}}</p>
	{% endif %}

	</div>
	{% include "../common_footer.html" %}
	</body>
</html>


