<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
		
		<div id="stylized" class="rakontu_form">
		<form action="/{{dir_visit}}/{{url_answers}}?{{url_query_entry}}={{entry.getKeyName}}
		" method="post" enctype="multipart/form-data">
		
			<h2>{{entry.title}} ({{entry.typeForDisplay}})</h2>
	
			<div class="blurb">{{entry.text_formatted}}</div
			
			{% if questions %}
				{% include "../common_questions.html" %}
			{% endif %}
			
			{% include "../common_attribution.html" %}

			<p>
			<center>
			{% if answers %}
				<input type="submit" name="save" value="Save draft" class="button">
				<input type="submit" name="preview" value="Preview" class="button">
				<input type="submit" name="publish" value="Publish" class="button">
			{% else %}
				<input type="submit" name="save" value="Save as draft" class="button">
				<input type="submit" name="preview" value="Preview" class="button">
				<input type="submit" name="publish" value="Publish" class="button">
			{% endif %}
			</center>
			
		</form>
		</div>
		</div>
	{% include "../common_footer.html" %}
	</body>
</html>
