<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
	
		<h3>Information about {{character.name}}</h3>
		
		 {% if character.image %}
		 	{{character.imageEmbed}}
		{% endif %}
  		{% if character.description|orNothing %}
  			<p>About {{character.name}}:</p>
  			<div class="blurb">{{character.description}}</div>
  		{% endif %}
	  	{% if character.etiquetteStatement_formatted|orNothing %}
	  		<p>How to be {{character.name}}:</p>
	  		<div class="blurb">{{character.etiquetteStatement_formatted}}</div>
	  	{% endif %}

		{% if answers %}
			<p>{{character.name}}'s answers to questions about them:</p>
			<ul>
			{% for answer in answers %}
				<li class="nobullet">{{answer.question.text}} &nbsp; {{answer.displayStringShort}}</li>
			{% endfor %}
			</ul>
		{% endif %}
		
		{% include "../common_grid.html" %}
		
	<div class="rightalign"><a href="/{{dir_visit}}/{{url_rakontu}}?{{rakontu.urlQuery}}">See all characters</a></div>
  	{% if current_member.isManagerOrOwner %}
  		<div class="rightalign"><p><a href="/{{dir_manage}}/{{url_character}}?{{character.urlQuery}}">Change this character</a></p></div>
  	{% endif %}
  	{% if current_member.isCurator %}
  		<div class="rightalign"><p><a href="/{{dir_visit}}/{{url_character}}?{{character.urlQuery}}&{{url_query_curate}}={{url_query_curate}}">Curate this character's entries</a></p></div>
  	{% endif %}
  	
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
