<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
		
		<div id="stylized" class="rakontu_form">
		<form action="/{{dir_visit}}/{{url_entry}}
		{% if entry %}
		?{{entry.key}}
		{% endif %}
		" method="post" enctype="multipart/form-data">
		
			{% if entry %}
				<h3>{{entry.title}} ({{entry_type}})</h3>
			{% else %}
				<h3>New {{entry_type|capfirst}}</h3>
			{% endif %}
			<fieldset>
			{% if entry %}
				You can change the text of the {{entry_type}} here.
			{% else %}
				{% ifequal entry_type "story" %}
					Please tell your story here.
				{% endifequal %}
				{% ifequal entry_type "pattern" %}
					Please describe the pattern of stories you want to make note of here.
				{% endifequal %}
				{% ifequal entry_type "collage" %}
					Please describe your collage here. 
				{% endifequal %}
				{% ifequal entry_type "invitation" %}
					Please describe to other members what you would like them to tell stories about.
				{% endifequal %}
				{% ifequal entry_type "resource" %}
					Type the text of your resource here.
				{% endifequal %}
			{% endif %}
			
			<table style="width:100%; border:none">
			<tr><td class="noborder">
			<textarea name="text" rows="10" cols="60">{% if entry %}{{entry.text}}{% endif %}</textarea>
			</td><td class="noborder" width="80">
			<p>Interpret as{{"interpreting_texts"|tip}}</p>
				<select name="text_format">
				{% for i in text_formats|makeRangeFromListLength %}
					<option value="{{text_formats|listLookup:i}}" 
					{% if entry %}
						{% if text_formats|listLookup:i|equalTest:entry.text_format %}
							selected="selected"
						{% endif %}
					{% else %}
						{% if text_formats|listLookup:i|equalTest:current_member.preferredTextFormat %}
							selected="selected"
						{% endif %}
					{% endif %}
					>{{text_formats_display|listLookup:i}}</option>
				{% endfor %}
				</select>
			</td></tr></table>
			
			{% if entry %}
				<p>You can change the name of this {{entry_type}} here.</p>
			{% else %}
				<p>Please give this {{entry_type}} a name.</p>
			{% endif %}
			<p><input type="text" name="title" size="60" value="{% if entry %}{{entry.title}}{% endif %}" maxlength="{{maxlength_name}}"/></p>
			
			{% include "../common_attribution.html" %}

			{% if link_item_from %}
				<p>Since you created this story 
				{% ifequal link_type "retell" %}
					as your own version of the story "{{link_item_from.title}},"
				{% endifequal %}
				{% ifequal link_type "remind" %}
					because the story "{{link_item_from.title}}" reminded you of it,
				{% endifequal %}
				{% ifequal link_type "respond" %}
					in response to the invitation "{{link_item_from.title}},"
				{% endifequal %}
				<fieldset>
				<p>Would you like to comment on 
				{% ifequal link_type "retell" %}
					why you retold the original story?</p>
				{% endifequal %}
				{% ifequal link_type "remind" %}
					what reminded you of this story?</p>
				{% endifequal %}
				{% ifequal link_type "respond" %}
					why you responded to the invitation?</p>
				{% endifequal %}
				<p><input type="text" name="link_comment" value="" size="60" maxlength="{{maxlength_subject_or_comment}}"></p>
				<input type="hidden" name="link_type" value="{{link_type}}">
				<input type="hidden" name="link_item_from" value="{{link_item_from.key}}">
				</fieldset>
			{% endif %}
			
			{% ifequal entry_type "resource" %}
				<p>Since this is a resource,</p>
				<fieldset>
				<p>Should it be listed on the help page?</p>
				<input type="checkbox" name="resourceForHelpPage" value="yes" 
				{% if entry %}
					{% if entry.resourceForHelpPage %}
						checked="checked"
					{% endif %}
				{% endif %}
				id="resourceForHelpPage">
				<label for="resourceForHelpPage">Yes, mark this as a help resource</label>
				
				<p>Should it be listed on the page that new members see first?</p>
				<input type="checkbox" name="resourceForNewMemberPage" value="yes" 
				{% if entry %}
					{% if entry.resourceForNewMemberPage %}
						checked
					{% endif %}
				{% endif %}
				id="resourceForNewMemberPage">
				<label for="resourceForNewMemberPage">Yes, mark this as a new-member resource</label>
				
				{% if current_member.isManagerOrOwner %}
				<p>Should it be available only to Rakontu managers and owners?</p>
				<input type="checkbox" name="resourceForManagersAndOwnersOnly" value="yes" 
				{% if entry %}
					{% if entry.resourceForManagersAndOwnersOnly %}
						checked
					{% endif %}
				{% endif %}
				id="resourceForManagersAndOwnersOnly">
				<label for="resourceForManagersAndOwnersOnly">Yes, make this only available to managers and owners</label>
				
				{% endif %}
			
				</fieldset>
			{% endifequal %}
				
			</fieldset>
			
			<p>
			{% if questions %}
				{% include "../common_questions.html" %}
			{% endif %}
			
			{% ifnotequal rakontu.maxNumAttachments 0 %}
				<h3>Attachments {{"attaching_files"|tip}}</h3>
				<fieldset>
				{% if entry %}
					<p>This {{entry_type}} has these attachments. Click the Browse button to replace any attachment,
					or check the Remove box to delete it.
				{% else %}
					<p>You can attach up to {{rakontu.maxNumAttachments}} files to this {{entry_type}} here.
				{% endif %}
				<i>PDF, TXT, DOC, JPG, PNG only; maximum 10 megabyte limit per attachment.</i></p>
				
		      	<table border="1" cellpadding="4" cellspacing="0">
		      	<tr>
		      		<th>Name</th>
		      		<th>File</th>
		      		<th>Remove?</th>
		      		<th>{% if entry %} Replace {% else %} Attach {% endif %} </th>
		      		
		      		</tr><td><input type="text" name="attachmentName0" value="{{attachments.0.name}}" size="20" maxlength="{{maxlength_name}}"/></td>
					<td>{% if attachments.0.fileName %}
						<a href="{{url_attachment}}?attachment_id={{attachments.0.key}}">
						{{attachments.0.fileName}}</a>{% else %}{{NONE}}
						{% endif %}</td>
					<td>{% if attachments.0.fileName %}
							<input type="checkbox" name"removeAttachment|{{attachments.0.key}}" value="removeAttachment|{{attachments.0.key}}" id="0">
							<label for="0">Remove</label>{% else %}&nbsp; 
						{% endif %}</td>
					<td><input type="file" name="attachment0" size="20"/></p></td></tr>

					{% if rakontu.allowsAtLeastTwoAttachments %}
			      		</tr><td><input type="text" name="attachmentName1" value="{{attachments.1.name}}" size="20" maxlength="{{maxlength_name}}"/></td>
						<td>{% if attachments.1.fileName %}
							<a href="{{url_attachment}}?attachment_id={{attachments.1.key}}">
							{{attachments.1.fileName}}</a>{% else %}{{NONE}}
							{% endif %}</td>
						<td>{% if attachments.1.fileName %}
								<input type="checkbox" name"removeAttachment|{{attachments.1.key}}" value="removeAttachment|{{attachments.1.key}}" id="1">
								<label for="1">Remove</label>{% else %}&nbsp; 
							{% endif %}</td>
						<td><input type="file" name="attachment1" size="20"/></p></td></tr>
				
						{% if rakontu.allowsAtLeastThreeAttachments %}
				      		</tr><td><input type="text" name="attachmentName2" value="{{attachments.2.name}}" size="20" maxlength="{{maxlength_name}}"/></td>
							<td>{% if attachments.2.fileName %}
								<a href="{{url_attachment}}?attachment_id={{attachments.2.key}}">
								{{attachments.2.fileName}}</a>{% else %}{{NONE}}
								{% endif %}</td>
							<td>{% if attachments.2.fileName %}
									<input type="checkbox" name"removeAttachment|{{attachments.2.key}}" value="removeAttachment|{{attachments.2.key}}" id="2">
									<label for="2">Remove</label>{% else %}&nbsp; 
								{% endif %}</td>
							<td><input type="file" name="attachment2" size="20"/></p></td></tr>
							
							{% if rakontu.allowsAtLeastFourAttachments %}
					      		</tr><td><input type="text" name="attachmentName3" value="{{attachments.3.name}}" size="20" maxlength="{{maxlength_name}}"/></td>
								<td>{% if attachments.3.fileName %}
									<a href="{{url_attachment}}?attachment_id={{attachments.3.key}}">
									{{attachments.3.fileName}}</a>{% else %}{{NONE}}
									{% endif %}</td>
								<td>{% if attachments.3.fileName %}
										<input type="checkbox" name"removeAttachment|{{attachments.3.key}}" value="removeAttachment|{{attachments.3.key}}" id="3">
										<label for="3">Remove</label>{% else %}&nbsp; 
									{% endif %}</td>
								<td><input type="file" name="attachment3" size="20"/></p></td></tr>
								
								{% if rakontu.allowsFiveAttachments %}
					      		</tr><td><input type="text" name="attachmentName4" value="{{attachments.4.name}}" size="20" maxlength="{{maxlength_name}}"/></td>
								<td>{% if attachments.4.fileName %}
									<a href="{{url_attachment}}?attachment_id={{attachments.4.key}}">
									{{attachments.4.fileName}}</a>{% else %}{{NONE}}
									{% endif %}</td>
								<td>{% if attachments.4.fileName %}
										<input type="checkbox" name"removeAttachment|{{attachments.4.key}}" value="removeAttachment|{{attachments.4.key}}" id="4">
										<label for="4">Remove</label>{% else %}&nbsp; 
									{% endif %}</td>
								<td><input type="file" name="attachment4" size="20"/></p></td></tr>
							
								{% endif %}
							{% endif %}
						{% endif %}
					{% endif %}
				</table>
				</fieldset>
			{% endifnotequal %}
			
		{% ifequal entry_type "collage" %}
			{% if included_links_outgoing %}
				<h3>Stories included in this collage</h3>
				<fieldset>
		      	<table border="1" cellpadding="4" cellspacing="0">
		      	<tr>
		      		<th>Title</th>
		      		<th>Text</th>
		      		<th>Link comment</th>
		      		<th>Remove?</th>
		      		</tr>
		      		{% for link in included_links_outgoing %}
		  				<tr>
		  				<td>{{link.itemTo.linkString}}</a></td>
		  				<td>{{link.itemTo.shortFormattedText|orNone}}</td>
		  				<td><input type="text" name="linkComment|{{link.key}}" value="{{link.comment}}" size="60" maxlength="{{maxlength_subject_or_comment}}"/></td>
		  				<td width="80">
		  					<input type="checkbox" name="removeLink|{{ link.key }}" value="yes" id="removeLink|{{ link.key }}"/>
							<label for="removeLink|{{ link.key }}">Remove</label>
		  					</td>
		  				</tr>
		      		{% endfor %}
		      	</table>
		      	</fieldset>
	      {% endif %}
	      {% if num_collage_rows %}
			<h3>Add stories to the collage {{"adding_collage_link_comments"|tip}}</h3>
			<fieldset>
			<table  style="border:none;padding:0;margin:0;"><tr>
			{% for i in num_collage_rows|makeRange %}
	  				<td style="border:none;padding:0;margin:0;">
	  				{% if collage_first_column|listLookup:i %}
	  					<input type="checkbox" name="addLink|{{collage_first_column|listLookup:i|get:"key"}}" value="yes" 
	  					id="addLink|{{collage_first_column|listLookup:i|get:"key"}}"/>
						<label for="addLink|{{collage_first_column|listLookup:i|get:"key"}}">
						{{collage_first_column|listLookup:i|get:"linkString"}}</label>
	  				{% endif %}
	  				</td>
	  				<td style="border:none;padding:0;margin:0;">
	  				{% if collage_second_column|listLookup:i %}
	  					<input type="checkbox" name="addLink|{{collage_second_column|listLookup:i|get:"key"}}" value="yes" 
	  					id="addLink|{{collage_second_column|listLookup:i|get:"key"}}"/>
						<label for="addLink|{{collage_second_column|listLookup:i|get:"key"}}">
						{{collage_second_column|listLookup:i|get:"linkString"}}</label>
	  				{% endif %}
	  				</td>
	  				<td style="border:none;padding:0;margin:0;">
	  				{% if collage_third_column|listLookup:i %}
	  					<input type="checkbox" name="addLink|{{collage_third_column|listLookup:i|get:"key"}}" value="yes" 
	  					id="addLink|{{collage_third_column|listLookup:i|get:"key"}}"/>
						<label for="addLink|{{collage_third_column|listLookup:i|get:"key"}}">
						{{collage_third_column|listLookup:i|get:"linkString"}}</label>
	  				{% endif %}
	  				</td>
	  				</tr>
	      		{% endfor %}			
	      	</table>
	      	</fieldset>
	      	{% endif %}
	  {% endifequal %}
	  
		{% ifequal entry_type "pattern" %}
			{% if referenced_links_outgoing %}
				<h3>Search filters referred to by this pattern</h3>
				<fieldset>
		      	<table border="1" cellpadding="4" cellspacing="0">
		      	<tr>
		      		<th>Name</th>
		      		<th>Description</th>
		      		<th>Link comment</th>
		      		<th>Remove?</th>
		      		</tr>
		      		{% for link in referenced_links_outgoing %}
		  				<tr>
		  				<td>{{link.itemTo.linkString}}</a></td>
		  				<td>{{link.itemTo.shortFormattedText|orNone}}</td>
		  				<td><input type="text" name="linkComment|{{link.key}}" value="{{link.comment}}" size="60" maxlength="{{maxlength_subject_or_comment}}"/></td>
		  				<td width="80">
		  					<input type="checkbox" name="removeLink|{{ link.key }}" value="yes" id="removeLink|{{ link.key }}"/>
							<label for="removeLink|{{ link.key }}">Remove</label>
		  					</td>
		  				</tr>
		      		{% endfor %}
		      	</table>
		      	</fieldset>
	      {% endif %}
			<h3>Add search filters to the pattern {{"adding_pattern_link_comments"|tip}}</h3>
			{% if searches_that_can_be_added_to_pattern %}
			<fieldset>
			<ul>
			{% for search in searches_that_can_be_added_to_pattern %}
				<li class="nobullet"><input type="checkbox" name="addLink|{{search.key}}" value="yes" id="addLink|{{search.key}}"/>
					<label for="addLink|{{search.key}}">{{search.linkString}}</a></label></li>
	      		{% endfor %}			
			</ul>
	      	</fieldset>
	      	{% else %}
	      		<ul><li class="nobullet">There are no shared searches available.</li></ul>
	      	{% endif %}
	  {% endifequal %}
	  
			<p>
			<center>
			{% if entry %}
				{% if entry.inBatchEntryBuffer %}
					<input type="submit" name="save|{{entry_type}}" value="Save changes and return" class="button">
					<input type="submit" name="preview|{{entry_type}}" value="Preview" class="button">
				{% else %}
					<input type="submit" name="save|{{entry_type}}" value="Save draft" class="button">
					<input type="submit" name="preview|{{entry_type}}" value="Preview" class="button">
					<input type="submit" name="publish|{{entry_type}}" value="Publish" class="button">
				{% endif %}
			{% else %}
				<input type="submit" name="save|{{entry_type}}" value="Save as draft" class="button">
				<input type="submit" name="preview|{{entry_type}}" value="Preview" class="button">
				<input type="submit" name="publish|{{entry_type}}" value="Publish" class="button">
			{% endif %}
			</center>
			
		</form>
		</div>
		</div>
	{% include "../common_footer.html" %}
	</body>
</html>
