<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	<h3>Help resources</h3>
	
	{% if resources %}
		<p>You may find these resources helpful in using this Rakontu.</p>
		<ul>
		{% for resource in resources %}
		<li class="nobullet">{{resource.linkString}}</li>
		{% endfor %}
		</ul>
	{% endif %}
	
	{% if manager_resources %}
		<p>As a manager, you may find these resources helpful.</p>
		<ul>
		{% for resource in manager_resources %}
		<li class="nobullet">{{resource.linkString}}</li>
		{% endfor %}
		</ul>
	{% endif %}
	
	{% if not resources and not manager_resources %}
		{% if current_member.isGuideOrManagerOrOwner %}
      		<p>This Rakontu has no help resources.<p>
      		<ul>
      		<li class="nobullet"><a href="/{{dir_guide}}/{{url_resource}}?{{rakontu.urlQuery}}">Make one</a></li>
      		<li class="nobullet"><a href="/{{dir_guide}}/{{url_copy}}?{{rakontu.urlQuery}}">Create all default resources</a></li>
      		</ul>
	      {% endif %}
	{% endif %}
	
	{% if guides %}
		<h3>Ask a guide a question</h3>
		<p>Guides are Rakontu members who have agreed to answer questions about the Rakontu. Here they have described
		which sorts of questions they are most able and willing to answer. To ask a question, click on a guide's
		name and send them a message.
      		<hr>
      		{% for guide in guides %}
  				<table style="width:100%;" class="noborder">
  				<tr>
  				<td style="border:none; border-right:1px solid #FF7F00;" width="100" valign="center" align="center">
			 		{% if guide.profileImage %}
						<a href="/{{dir_visit}}/{{url_member}}?{{guide.urlQuery}}">{{guide.imageEmbed}}</a>
					{% else %}
						&nbsp;
					{% endif %}
				</td>
				<td style="border:none;padding-left:16px;">
	 				<p>{{guide.linkString}}  
	  				{% ifequal guide.key current_member.key %}<i>(that's you)</i> {% endifequal %} 
	  				</p>
	  				{% if guide.guideIntro_formatted %}
	  					<div class="blurb">{{guide.guideIntro_formatted}}</div>
	  				{% endif %}
  				</td>
   				</tr>
  				</table>
  				<hr>
      		{% endfor %}
	{% endif %}
	
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
