<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	<p></p>
	<div id="stylized" class="rakontu_form">
	<form action="/{{dir_visit}}/{{url_home}}
	{% if current_search %}
		?{{current_search.urlQuery}}"
	{% else %}
		?{{rakontu.urlQuery}}"
	{% endif %}
	method="post">
	
	{% if has_entries %}
		<table style="border:none;width:100%;">
		<tr>
		<td align="left" style="border:none;">
		Show
		<select name="timeFrame">
			{% for time_frame in time_frames %}
				<option value="{{time_frame|listLookup:0}}"
				{% if time_frame|listLookup:0|equalTest:member_time_frame_string %}
					selected="selected"
				{% endif %}
				>{{time_frame|listLookup:0}}</option>
			{% endfor %} 
			</select>
		<input type="submit" name="changeTimeFrame" value="Change" class="button_small">
		{% ifnotequal member_time_frame_string "everything" %}
			<input type="submit" name="setToFirst" value=" |&lt; " class="button_small">
			<input type="submit" name="moveTimeBack" value=" &lt; " class="button_small">
			<input type="submit" name="moveTimeForward" value=" &gt; " class="button_small">
			<input type="submit" name="setToLast" value=" &gt;| " class="button_small">
		{% else %}
			<input type="submit" name="refreshView" value="Refresh" class="button_small">
		{% endifnotequal %}
		{% if current_member.viewDetails %}
			<input type="submit" name="toggleShowDetails" value="Hide details" class="button_small">
		{% else %}
			<input type="submit" name="toggleShowDetails" value="Show details" class="button_small">
		{% endif %}
		
		</td><td align="right" style="border:none;">
		{% if shared_searches or member_searches %}
				{% if current_search %}
					Filtered by: {{current_search.displayString}}
				{% else %}
					Search filters
					<select name="savedSearch"><option>({{term_choose}})</option>
					{% if member_searches %}
						<option value="">-- My filters --</option>
						{% for search in member_searches %}
							<option value="{{search.key}}">{{search.displayString}}</option>
						{% endfor %}
					{% endif %}
					{% if shared_searches %}
						<option value="">-- Shared filters --</option>
						{% for search in shared_searches %}
							<option value="{{search.key}}">{{search.displayString}}</option>
						{% endfor %}
					{% endif %}
					</select>
				{% endif %}
			{% if current_search %}
				<select name="doWithSearch">
				<option value="clearSearch">Stop applying</option>
				{% ifnotequal current_member.key current_search.creator.key %}
					<option value="copySearchAs">Make copy</option>
				{% else %}
					<option value="changeSearch">Change</option>
				{% endifnotequal %}
				<option value="makeNewSavedSearch">Create another</option>
				{% if current_member.isLiaison %}
					<option value="printSearchResults">Print results</option>
				{% endif %}
				{% if current_member.isManagerOrOwner %}
					<option value="exportSearchResults">Write results to CSV</option>
				{% endif %}
				</select>
				<input type="submit" name="doSomethingWithSearch" value="Go" class="button_small">
			{% else %}
				<input type="submit" name="loadAndApplySavedSearch" value="Apply" class="button_small">
				<input type="submit" name="makeNewSavedSearch" value="New" class="button_small">
			{% endif %}	
		{% else %}
			<input type="submit" name="makeNewSavedSearch" value="Create search filter" class="button_small">
		{% endif %}
	
		</td></tr></table>
	{% endif %}

	{% if rows_cols %}
		<table cellpadding="4" cellspacing="0" style="width: 100%; border-top: none; border-bottom: 1px solid #FF7F00; border-left: none; border-right: 1px solid #FF7F00">
		{% if col_headers %}
			<tr>
			{% for header in col_headers %}
			<th style="border-right: 1px solid #FF7F00; border-top: 1px solid #FF7F00; border-bottom: 1px solid #FF7F00; border-left: 1px solid #FF7F00">{{header}}</th>
			{% endfor %}
			</tr>
		{% endif %}
		{% for i in rows_cols|makeRangeFromListLength %}
			<tr>
			{% for col_list in rows_cols|listLookup:i %}
				<td style="background-color:#{{row_colors|listLookup:i}};border-left: 1px solid #FF7F00; border-top: none; border-bottom: none; border-right: none">
				{% if col_list %}
					{% for text in col_list %}
						{{text}}
					{% endfor %}
				{% else %}
				&nbsp; 
				{% endif %}
				</td>
			{% endfor %}
			</tr>
		{% endfor %}
		</table>
		
		<table style="border:none;width:100%;">
		<tr><td align="right" valign="center" style="border:none;">
		<p>Height means
		{% for i in rakontu.nudgeCategories|makeRangeFromListLength %}
			<input type="checkbox" name="showCategory|{{i}}" value="yes" id="{{rakontu.nudgeCategories|listLookup:i}}"
			{% if current_member.viewNudgeCategories|listLookup:i %}
				checked
			{% endif %}
			>
			<label for="{{rakontu.nudgeCategories|listLookup:i}}">{{rakontu.nudgeCategories|listLookup:i}}</label>
		{% endfor %}
		</td>
		<td align="right" valign="center" style="border:none;">
		<input type="submit" name="changeNudgeCategoriesShowing" value="Change" class="button_small"></p>
		</td></tr></table>
	{% else %}
		<h4>Nothing here!</h4>
		{% if current_search %}
			<p>The applied search filter resulted in showing no entries. Click this button
			<input type="submit" name="clearSearch" value="Stop applying" class="button_small">
			to stop applying it, or change it.
		{% else %}
			<p>This Rakontu has no entries in it.
			Why not add the first <a href="/{{dir_visit}}/{{url_story}}?{{rakontu.urlQuery}}">story</a> 
			or <a href="/{{dir_visit}}/{{url_invitation}}?{{rakontu.urlQuery}}">invitation</a>?
			{% if current_member.isManagerOrOwner %}
				You can also choose Rakontu <a href="/{{dir_manage}}/{{url_settings}}?{{rakontu.urlQuery}}">settings</a>.
				</p>
			{% else %}
				You can also read <a href="/{{dir_visit}}/{{url_rakontu}}?{{rakontu.urlQuery}}">here</a> about the Rakontu.</p>
			{% endif %}
		{% endif %}
	{% endif %}
		
	</form>	
	</div>
		
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
