<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	<p></p>
	<div id="stylized" class="rakontu_form">
	<form action="/{{dir_visit}}/{{url_home}}
	{% if current_search %}
		?{{current_search.urlQuery}}"
	{% else %}
		?{{rakontu.urlQuery}}"
	{% endif %}
	method="post">
	
	{% if not current_member.viewHomeOptionsOnTop %}
		{% include "home_grid.html" %}
	{% endif %}
		
	{% if has_entries %}
		<table style="border:none;width:100%;" cellpadding="0" cellspacing="0">
		<tr>
		
		</td><td align="center" valign="top" style="border:1px solid #{{skin|dictLookup:"color_border_normal"}};">
		<p>
		<p>Time range</p>
		<p>{{min_time}}<br/>to<br/>{{max_time}}</p>
		{% ifnotequal member_time_frame_string "everything" %}
			<input type="submit" name="setToFirst" value=" |&lt; " class="button_small">
			<input type="submit" name="moveTimeBack" value=" &lt; " class="button_small">
			<input type="submit" name="moveTimeForward" value=" &gt; " class="button_small">
			<input type="submit" name="setToLast" value=" &gt;| " class="button_small">
		{% else %}
			<input type="submit" name="refreshView" value="Refresh" class="button_small">
		{% endifnotequal %}
		</p>
		<p>Show
		<select name="timeFrame" width="200">
			{% for time_frame in time_frames %}
				<option value="{{time_frame|listLookup:0}}"
				{% if time_frame|listLookup:0|equalTest:member_time_frame_string %}
					selected="selected"
				{% endif %}
				>{{time_frame|listLookup:0}}</option>
			{% endfor %} 
			</select>
		<input type="submit" name="changeTimeFrame" value="Change" class="button_small"></p>
		<p>
		{% if current_member.viewDetails %}
			<input type="submit" name="toggleShowDetails" value="Hide details" class="button_small">
		{% else %}
			<input type="submit" name="toggleShowDetails" value="Show details" class="button_small">
		{% endif %}
		</p>
		<p>
		{% if current_member.viewHomeOptionsOnTop %}
			<input type="submit" name="toggleViewHomeOptionsOnTop" value="Move Choices to Bottom" class="button_small">
		{% else %}
			<input type="submit" name="toggleViewHomeOptionsOnTop" value="Move Choices to Top" class="button_small">
		{% endif %}

		</td><td align="center" valign="top" style="border:1px solid #{{skin|dictLookup:"color_border_normal"}};">
		<p>Include</p>
		<table cellpadding=0 cellspacing=0 class="noborder"><tr><td style="border:none;">
		{% for i in entry_types|makeRangeFromListLength %}
			<p><input type="checkbox" name="showEntryType|{{i}}" value="yes" id="{{entry_types|listLookup:i}}"
			{% if current_member.viewEntryTypes|listLookup:i %}
				checked
			{% endif %}
			>
			<label for="{{entry_types|listLookup:i}}">{{entry_types_plural|listLookup:i}}</label></p>
		{% endfor %}
		</td></tr></table>
		<p><input type="submit" name="changeEntryTypesShowing" value="Change" class="button_small"></p>

		</td><td align="center" valign="top" style="border:1px solid #{{skin|dictLookup:"color_border_normal"}};">
		{% if shared_searches or member_searches %}
				{% if current_search %}
					<p>Filtered by:</p><p><b>{{current_search.displayString}}</b></p>
				{% else %}
					<p>Search filters - choose one</p>
					<p><select name="savedSearch"><option>({{term_choose}})</option>
					{% if member_searches %}
						<option value="">-- My filters --</option>
						{% for search in member_searches %}
							<option value="{{search.key}}">{{search.displayString}}</option>
						{% endfor %}
					{% endif %}
					{% if shared_searches %}
						<option value="">-- Shared filters --</option>
						{% for search in shared_searches %}
							<option value="{{search.key}}">{{search.displayString}}</option>
						{% endfor %}
					{% endif %}
					</select></p>
				{% endif %}
			{% if current_search %}
				<p>
				<select name="doWithSearch">
				<option value="clearSearch">Stop applying</option>
				{% ifnotequal current_member.key current_search.creator.key %}
					<option value="copySearchAs">Make copy</option>
				{% else %}
					<option value="changeSearch">Change</option>
				{% endifnotequal %}
				<option value="makeNewSavedSearch">Create another</option>
				{% if current_member.isLiaison %}
					<option value="printSearchResults">Print results</option>
				{% endif %}
				{% if current_member.isManagerOrOwner %}
					<option value="exportSearchResults">Write results to CSV</option>
				{% endif %}
				</select></p>
				<p><input type="submit" name="doSomethingWithSearch" value="Go" class="button_small"></p>
			{% else %}
				<p><input type="submit" name="loadAndApplySavedSearch" value="Apply" class="button_small"> &nbsp; 
				<input type="submit" name="makeNewSavedSearch" value="Make New" class="button_small"></p>
			{% endif %}	
		{% else %}
			<p>Search filters - none</p>
			<p><input type="submit" name="makeNewSavedSearch" value="Create one" class="button_small"></p>
		{% endif %}
		</td>
		
		<td align="center" valign="top" style="border:1px solid #{{skin|dictLookup:"color_border_normal"}};">
		<p>Height means</p>
		<table cellpadding=0 cellspacing=0 class="noborder"><tr><td style="border:none;">
		{% for i in rakontu.nudgeCategories|makeRangeFromListLength %}
			<p><input type="checkbox" name="showCategory|{{i}}" value="yes" id="{{rakontu.nudgeCategories|listLookup:i}}"
			{% if current_member.viewNudgeCategories|listLookup:i %}
				checked
			{% endif %}
			>
			<label for="{{rakontu.nudgeCategories|listLookup:i}}">{{rakontu.nudgeCategories|listLookup:i}}</label></p>
		{% endfor %}
		</td></tr></table>
		<p><input type="submit" name="changeNudgeCategoriesShowing" value="Change" class="button_small"></p>
		</td></tr></table>

	{% endif %}
	
	{% if current_member.viewHomeOptionsOnTop %}
		{% include "home_grid.html" %}
	{% endif %}
		
	</form>	
	</div>
		
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
