<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
	
		<h3>{{template_members}}</h3>
      		<hr>
      		{% for aMember in rakontu_members %}
  				<table style="width:100%;" class="noborder">
  				<tr>
  				<td style="border:none; border-right:1px solid #{{skin|dictLookup:"color_border_normal"}};" width="100" valign="center" align="center">
			 		{% if aMember.profileImage %}
			 			{{aMember.imageEmbed}}
					{% else %}
						&nbsp;
					{% endif %}
				</td>
				<td style="border:none;padding-left:16px;">
	 				{{aMember.linkString}}  
	  				{% ifequal aMember.key current_member.key %}<i>({{template_you}})</i> {% endifequal %} 
			  		<p>
			  		{% if aMember.isOnlineMember %}
			  			{{template_online}};
			  		{% else %}
			  			{{template_offline}} ({{template_liaison}}: {{aMember.liaisonIfOfflineMember.linkString}});
			  		{% endif %}
					{{template_joined|lower}} {{aMember.joined|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}; 
			  		{% if aMember.hasAnyHelpingRole %}
			  			{{aMember.governanceTypeForDisplayNotShowingOwner}}, {{aMember.helpingRolesForDisplay|join:", "}}.
			  		{% else %}
			  			{{aMember.governanceTypeForDisplayNotShowingOwner}}.
			  		{% endif %}
			  		</p>
	  				</td>
   				</tr>
  				</table>
  				<hr>
      		{% endfor %}
      	
      	{% if current_member.isManagerOrOwner %}
      		<div class="rightalign"><p><a href="/{{dir_manage}}/{{url_members}}?{{rakontu.urlQuery}}">{{template_make_changes_to_members}}</a></p></div>
      	{% endif %}
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
