<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	<h3>Welcome, {{current_member.nickname}}!</h3>
	
	{{rakontu.welcomeMessage}}

	{% if resources %}
		<p>You may find these resources of help in getting started:</p>
		<ul>
		{% for resource in resources %}
		<li class="nobullet">{{resource.linkString}}</li>
		{% endfor %}
		</ul>
	{% endif %}
	
	<p>Around the site you will see little icons that provide help. Either hover over them with your mouse or click on them
	to read a bit of help about the area in which they appear.</p>
	<ul>
	<li class="nobullet">{{"information_hovers"|info}} information</li>
	<li class="nobullet">{{"tip_hovers"|tip}} tip</li>
	<li class="nobullet">{{"caution_hovers"|caution}}  caution</li>
	</ul>

	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
