<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	<h2>{{entry.title}} ({{entry.typeForDisplay}})</h2>
	<div class="entry_text">{{entry.text}}</div>
	
	{% if answers %}
		{% if rakontu_has_questions_for_this_entry_type %}
			<h4>Answers</h4>
			<ul>
			{% for question in questions %}
				<li class="nobullet"><b>{{question.text}}</b></li>
				<ul>
				{% for answer in answers %}
					{% ifequal question.key answer.question.key %}
						{% ifequal answer.question.type "text" %}
							<li class="nobullet">{{answer.answerIfText}}
						{% endifequal %}
						{% ifequal answer.question.type "boolean" %}
							<li class="nobullet">{{answer.answerIfBoolean|yesno:"Yes, No, Maybe"}}
						{% endifequal %}
						{% ifequal answer.question.type "ordinal" %}
							{% if answer.question.multiple %}
								<li class="nobullet">{{answer.answerIfMultiple|join:", "}}
							{% else %}
								<li class="nobullet">{{answer.answerIfText}}
							{% endif %}
						{% endifequal %}
						{% ifequal answer.question.type "nominal" %}
							{% if answer.question.multiple %}
								<li class="nobullet">{{answer.answerIfMultiple|join:", "}}
							{% else %}
								<li class="nobullet">{{answer.answerIfText}}
							{% endif %}
						{% endifequal %}
						{% ifequal answer.question.type "value" %}
							<li class="nobullet">{{answer.answerIfValue}}
						{% endifequal %}
					{% endifequal %}
				{% endfor %}
				</ul>
			{% endfor %}
			</ul>
		{% endif %}
	{% endif %}
	
	<div id="stylized" class="rakontu_form">
		<form action="/{{dir_visit}}/{{url_previewAnswers}}?{{entry.key}}" method="post" enctype="multipart/form-data">
		<p>
		<center>
			<input type="submit" name="edit" value="Edit draft" class="button">
			<input type="submit" name="profile" value="View all drafts" class="button">
			<input type="submit" name="publish" value="Publish" class="button">
		</center>
	</form>
	</div>
	
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
