<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	
	
	<div id="content">
	
		<div id="stylized" class="rakontu_form">
		<form action="/{{dir_visit}}/{{url_preferences}}" method="post" enctype="multipart/form-data">
		{% if member.isOnlineMember %}
			<h3>Your member information</h3>
		{% else %}
			<h3>{{member.nickname}}'s information</h3>
		{% endif %}
      	<table border="1" cellpadding="4" cellspacing="0">
      	<tr>
	      	{% if member.isOnlineMember %}
	      		<th>Member type</th>
	      	{% endif %}
	      	<th>Joined</th>
	      	<th>Last entered entry</th>
	      	<th>Last entered annotation</th>
	      	<th>Last answered question</th>
	      	<th>Last entered link</th>
			{% if member.isOnlineMember %}
				<th>Last read anything</th>
				<th>Accumulated nudge points</th>
			{% endif %}
      	</tr>
      	
      	{% if member.isOnlineMember %}
			<td>{{member.governanceType}}</td>
		{% endif %}
		<td>{{member.joined|timeZone:member.timeZoneName|date:member.dateFormat}}</td>
		<td>
			{% if member.lastEnteredEntry %} 
				{{member.lastEnteredEntry|timeZone:member.timeZoneName|date:member.dateFormat}} at {{member.lastEnteredEntry|timeZone:member.timeZoneName|time:member.timeFormat}}
			{% else %}
				never
			{% endif %}
			</td>
		<td>
			{% if member.lastEnteredAnnotation %} 
				{{member.lastEnteredAnnotation|timeZone:member.timeZoneName|date:member.dateFormat}} at {{member.lastEnteredAnnotation|timeZone:member.timeZoneName|time:member.timeFormat}}
			{% else %}
				never
			{% endif %}
			</td>
		<td>
			{% if member.lastAnsweredQuestion %} 
				{{member.lastAnsweredQuestion|timeZone:member.timeZoneName|date:member.dateFormat}} at {{member.lastAnsweredQuestion|timeZone:member.timeZoneName|time:member.timeFormat}}
			{% else %}
				never
			{% endif %}
			</td>
		<td>
			{% if member.lastEnteredLink %} 
				{{member.lastEnteredLink|timeZone:member.timeZoneName|date:member.dateFormat}} at {{member.lastEnteredLink|timeZone:member.timeZoneName|time:member.timeFormat}}
			{% else %}
				never
			{% endif %}
			</td>
		{% if member.isOnlineMember %}
			<td>
				{% if member.lastReadAnything %} 
					{{member.lastReadAnything|timeZone:member.timeZoneName|date:member.dateFormat}} at {{member.lastReadAnything|timeZone:member.timeZoneName|time:member.timeFormat}}
				{% else %}
					never
				{% endif %}
				</td>
			<td>{{member.nudgePoints}}</td>
		{% endif %}
		</tr>
		</table>
		
		<p></p>
		<div class="rightalign"><a href="/{{dir_visit}}/{{url_drafts}}?{{member.key}}">View or change saved drafts</a></div>
		
		<h3>{{member.isOnlineMember|yourOrThis|capfirst}} nickname and description</h3>
		<fieldset>
		{% if member.isOnlineMember %}
			<p>What nickname do you want to use in the Rakontu? <i>Note that if you change your nickname,
			the new nickname will display on all of your previous entries as well as new ones.</i></p>
		{% else %}
			<p>What nickname do you want to use to represent this off-line member in the Rakontu? 
			<i>Note that if you change this nickname,
			the new nickname will display on all of the member's previous entries as well as new ones.</i></p>
		{% endif %}
		<input type="text" name="nickname" value="{{ member.nickname }}" maxlength="{{maxlength_name}}"/>
		{% if member.isOnlineMember %}
			<p>Do you want other Rakontu members to be able to send you messages via email? 
			{% if member.isGuide %}
				<i>(Actually, since you are a guide you have to accept messages so you can answer questions.)</i>
			{% endif %}
			{{"getting_messages"|tip}} </p>
		{% else %}
			<p>Do you want other Rakontu members to be able to send this member messages via email?
			<i>(You, as the member's liaison, will get the messages.)</i></p>
		{% endif %}
		
		{% if member.isGuide %}
			<p><input type="checkbox" name="guideAlwaysAcceptsMessages" value="yes" id="guideAlwaysAcceptsMessages"
				checked disabled>
			<label for="guideAlwaysAcceptsMessages">Yes, people can send me messages</label></p>
		{% else %}
			<p><input type="checkbox" name="acceptsMessages" value="yes" id="acceptsMessages"
				{% if member.acceptsMessages %}
					checked
				{% endif %}
				><label for="acceptsMessages">Yes, people can send {% if member.isOnlineMember %}me messages{% else %}the member messages through me{% endif %}</label></p>
		{% endif %}
		
		{% if member.isOnlineMember %}
			<p>What text format would you prefer to use by default when you create a new entry or other item with text in it?</i></p>
			<select name="preferredTextFormat">
				{% for format in text_formats %}
					<option value="{{format}}"
					{% ifequal member.preferredTextFormat format %}
						selected="selected"
					{% endifequal %}
					>{{format}}</option>
				{% endfor %}
			</select>
		{% endif %}
		
		{% if member.isOnlineMember %}
			<p>Please describe yourself to other members.</p>
		{% else %}
			<p>Please describe this off-line member to other members.</p>
		{% endif %}

				<table style="width:100%; border:none">
				<tr><td class="noborder">
				<textarea name="profileText" rows="10" cols="60">{{member.profileText}}</textarea>
				</td><td class="noborder" width="80">
				<p>Interpret as{{"interpreting_texts"|tip}}</p>
					<select name="profileText_format">
					{% for i in text_formats|makeRangeFromListLength %}
						<option value="{{text_formats|listLookup:i}}" 
							{% if text_formats|listLookup:i|equalTest:member.profileText_format %}
								selected="selected"
							{% endif %}
						>{{text_formats_display|listLookup:i}}</option>
					{% endfor %}
					</select>
				</td></tr></table>
		{% if show_leave_link %}
			<div class="rightalign">To leave the Rakontu, click <a href="/{{dir_visit}}/{{url_leave}}?{{member.key}}">here</a>.</div>
		{% endif %}

			</fieldset>
			
		<h3>{{member.isOnlineMember|yourOrThis|capfirst}} picture</h3>
		<fieldset>
		      	<table border="1" cellpadding="4" cellspacing="0">
		      	<tr>
		      		<th>Image</th>
		      		<th>{% if member.profileImage %} Replace {% else %} Attach {% endif %} {{"profile_images"|tip}}</th>
		      		<th>Remove?</th>
		      		
		      	</tr>
		      	<tr>
					<td>{% if member.profileImage %}
							{{member.imageEmbed}}
						{% else %}
							{{NONE}}
						{% endif %}
						</td>
					<td><input type="file" name="img" size="40" accept="jpg/png"/></p><p><i>The best picture size is 100 x 60.</i></p></td>
					<td>{% if member.profileImage %}
							<input type="checkbox" name="removeProfileImage" value="yes" id="removeProfileImage">
							<label for="removeProfileImage">Remove</label>{% else %}&nbsp; 
						{% endif %}</td>
				</tr>
				</table>
		</fieldset>
		
		{% if questions %}
			{% include "../common_questions.html" %}
		{% endif %}
		
		<h3>Time zones and time reporting</h3>
		<fieldset>
		{% if member.isOnlineMember %}
			<p>What time zone are you in?
		{% else %}
			<p>What time zone is this member in?
		{% endif %}
			<select name="timeZoneName"">
			{% for name in time_zone_names %}
				<option value="{{name}}"
				{% ifequal member.timeZoneName name %}
					selected="selected"
				{% endifequal %}
				>{{name}}</option>
			{% endfor %}
			</select></p>
		<p>How would {{member.isOnlineMember|youOrThis}} like dates to be displayed?
			<select name="dateFormat">
			{% for format in date_formats.keys %}
				<option value="{{format}}"
				{% ifequal member.dateFormat format %}
					selected="selected"
				{% endifequal %}
				>{{date_formats|dictLookup:format}}</option>
			{% endfor %}
			</select></p>
		<p>How would {{member.isOnlineMember|youOrThis}} like times to be displayed?
			<select name="timeFormat">
			{% for format in time_formats.keys %}
				<option value="{{format}}"
				{% ifequal member.timeFormat format %}
					selected="selected"
				{% endifequal %}
				>{{time_formats|dictLookup:format}}</option>
			{% endfor %}
			</select></p>
		</fieldset>
		
		{% if member.isOnlineMember %}
			{% if member.canTakeOnAnyHelpingRole %}
				<h3>Helping roles</h3>
				<fieldset>
				
				{% if member.helpingRolesAvailable.0 %}
					<p><label><input type="checkbox" name="helpingRole0" value="helpingRole0"
						{% if member.helpingRoles.0 %}
							checked="checked"/>
						{% else %}
							/>
						{% endif %}
						I am a <b> {{helping_role_names.0}} </b> in this Rakontu.</label></p>
					{% if rakontu.roleReadmes_formatted.0 %}
						<div class="indented">{{rakontu.roleReadmes_formatted.0}}</div>
					{% endif %}
				{% endif %}
				
				{% if member.helpingRolesAvailable.1 %}
					<p><label><input type="checkbox" name="helpingRole1" value="helpingRole1"
						{% if member.helpingRoles.1 %}
							checked="checked"/>
						{% else %}
							/>
						{% endif %}
						I am a <b>{{helping_role_names.1}}</b> in this Rakontu.</label></p>
					{% if rakontu.roleReadmes_formatted.1 %}
						<div class="indented">{{rakontu.roleReadmes_formatted.1}}</div>
					{% endif %}
					<p>If you are a guide, what would you like to tell members about what sorts of questions you can answer?</p>

				<table style="width:100%; border:none">
				<tr><td class="noborder">
				<textarea name="guideIntro" rows="5" cols="60">{{member.guideIntro|orNothing}}</textarea>
				</td><td class="noborder" width="80">
				<p>Interpret as</p>
					<select name="guideIntro_format">
					{% for i in text_formats|makeRangeFromListLength %}
						<option value="{{text_formats|listLookup:i}}" 
							{% if text_formats|listLookup:i|equalTest:member.guideIntro_format %}
								selected="selected"
							{% endif %}
						>{{text_formats_display|listLookup:i}}</option>
					{% endfor %}
					</select>
				</td></tr></table>

				{% endif %}
				
				{% if member.helpingRolesAvailable.2 %}
					<p><label><input type="checkbox" name="helpingRole2" value="helpingRole2"
						{% if member.helpingRoles.2 %}
							checked="checked"/>
						{% else %}
							/>
						{% endif %}
						I am a <b>{{helping_role_names.2}}</b> in this Rakontu.</label></p>
					{% if rakontu.roleReadmes_formatted.2 %}
						<div class="indented">{{rakontu.roleReadmes_formatted.2}}</div>
					{% endif %}
				{% endif %}
				</fieldset>
			{% endif %}
		{% endif %}
		
      	<p>
    <center><input type="submit" name="changeSettings|{{member.key}}" value="Save changes" class="button"></center>
	</form>	
	</div>
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
