<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
	
		<h3>About the {{rakontu.name}} Rakontu</h3>
		
		<p>This Rakontu was created on {{rakontu.created|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}.</p>
		<p>Description:</p>
		<div class="blurb">{{rakontu.description_formatted}}</div>
		{% if rakontu.etiquetteStatement_formatted %}
			<p>Etiquette rules:</p>
			<div class="blurb">{{rakontu.etiquetteStatement_formatted}}</div>
		{% endif %}
		
		{% if rakontu.getActiveCharacters %}
			<h3>Characters {{"what_characters_are_for"|info}}</h3>
	      	<table>
	      		<tr><th>Name</th>
	      			<th>Picture</th>
	      			<th>About the character</th>
	      			<th>How to be this character</th></tr>
	      		{% for character in characters %}
	      			<tr>
					<td><a href="/{{dir_visit}}/{{url_character}}?{{url_query_character}}={{character.getKeyName}}">{{character.name}}</a></td>
	  				<td>
			 		{% if character.image %}
						{{character.imageEmbed}}
					{% else %}
						&nbsp;
					{% endif %}
					</td>
					<td>{% if character.description %}{{character.description}}{% else %} &nbsp; {% endif %}</td>
					<td>{% if character.etiquetteStatement %}{{character.etiquetteStatement}}{% else %} &nbsp; {% endif %}</td>
	  				</tr>
	      		{% endfor %}
	      	</table>
	     {% endif %}
		
      	{% if current_member.isManagerOrOwner %}
      		<div class="rightalign">
      		Make changes to Rakontu-level <a href="/{{dir_manage}}/{{url_settings}}">settings</a>
      		{% if rakontu.getActiveCharacters %}
      			or <a href="/{{dir_manage}}/{{url_characters}}">characters</a>
      		{% endif %}
      		</div>
      	{% endif %}
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
