<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	<h2><img src="/images/{{entry.type}}.png" alt="tags" align="left" border="0">
	{% if curating %}
		<a href="/{{dir_visit}}/{{url_flag}}?{{url_query_entry}}={{entry.getKeyName}}" class="imagelight"><img src="../images/
		{% if entry.flaggedForRemoval %}
			flag_red.png
		{% else %}
			flag_green.png
		{% endif %}
		" alt="flag" border="0"></a>
	{% endif %}	
	{{entry.title}}</h2>
	
	<div class="blurb">{{entry.displayTextWithInlineAttachmentLinks}}
	{% if entry.isCollage and included_links_outgoing %}
		<ul>
		{% for link in included_links_outgoing %}
			<li class="nobullet">{% if link.comment %} {{link.comment}}  - {% endif %} {{link.itemTo.linkString}}</li>
		{% endfor %}
		</ul>
	{% endif %}
	{% if entry.isPattern and referenced_links_outgoing %}
		<ul>
		{% for link in referenced_links_outgoing %}
			<li class="nobullet">{% if link.comment %} {{link.comment}}  - {% endif %} {{link.itemTo.linkString}}</li>
		{% endfor %}
		</ul>
	{% endif %}
	</div>

	{% if attachments %}
		<p><b>Attachments</b></p>
		{% for attachment in attachments %}
			{% if attachment.isImage %}
				{% if attachment.name %}
					<p>{{attachment.name}} ({{attachment.attachmentEmbed}})</p>
				{% else %}
					<p>{{attachment.attachmentEmbed}}</p>
				{% endif %}
				{{attachment.imageEmbed}}
			{% else %}
				<p>&nbsp; &nbsp; 
				{% if attachment.name %}
					{{attachment.name}} -
				{% endif %}
				{{attachment.attachmentEmbed}}
			{% endif %}
		{% endfor %}
	{% endif %}
	
	<p>This {{entry.typeForDisplay}} was created by 
	
	{% if entry.attributedToMember %}
			{% if entry.creator.active %}
				{{entry.creator.linkString}}
				{% ifequal entry.creator.key current_member.key %}
					 ({{template_you}})
				{% endifequal %}
			{% else %}
				the former member "{{entry.creator.nickname}}"
			{% endif %}
	{% else %}
		{% if entry.character.active %}
			{{entry.character.linkString}}
		{% else %}
			the former character "{{entry.character.name}}"
		{% endif %}
	{% endif %}
	
	{% if entry.collectedOffline %}
		on {{entry.collected|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}.
		{% if entry.liaison %}
			It was collected off-line and entered by {{entry.liaison.linkString}}
			on {{entry.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}
			at {{entry.published|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}
			</p>
		{% endif %}
	{% else %}
		on {{entry.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}
		at {{entry.published|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}</p>
	{% endif %}

	{% if retold_links_incoming or reminded_links_incoming or included_links_incoming_from_invitations or included_links_incoming_from_collages %}
		{% ifequal entry.type "story" %}
			{% if retold_links_incoming %}
				{% for link in retold_links_incoming %}
					<p>This story is a retelling of {{link.itemFrom.linkString}}</a>
					 {% if link.comment %} ({{link.comment}}) {% endif %}</p>
				{% endfor %}
			{% endif %}
			{% if reminded_links_incoming %}
				{% for link in reminded_links_incoming %}
					<p>This story was told because {{link.itemFrom.linkString}}</a>
					reminded its teller of something. {% if link.comment %} ({{link.comment}}) {% endif %}</p>
				{% endfor %}
			{% endif %}
			{% if links_incoming_from_invitations %}
				{% for link in included_links_incoming_from_invitations %}
					<p>This story was told in response to the invitation {{link.itemFrom.linkString}}</a>
					 {% if link.comment %} ({{link.comment}}) {% endif %}</p>
				{% endfor %}
			{% endif %}
			{% if links_incoming_from_collages %}
				<li class="nobullet">This {{entry.typeForDisplay}} is <b>included</b> in the collages
				<ul>
				{% for link in included_links_incoming_from_collages %}
					<li class="nobullet">{{link.itemFrom.linkString}}</a>
					 {% if link.comment %} ({{link.comment}}) {% endif %}</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endifequal %}
	{% endif %}
	
	{% if things_member_can_do %}
		<div id="stylized" class="rakontu_form">
		<form name="read" action="/{{dir_visit}}/{{url_read}}?{{rakontu.urlQuery}}" method="post">
		&nbsp; What would you like to do next?
		<select name="nextAction">
		{% for key in things_member_can_do.keys|sorted %}
			<option value="{{things_member_can_do|dictLookup:key}}">{{key}}</option>
		{% endfor %}
		</select>
		<input type="submit" name="doSomething" value="Go" class="button_small">
		</form>
		</div>
	{% endif %}
	
	{% include "../common_grid.html" %}
	
	{% if rows_cols %}
		<p></p>
		<div id="stylized" class="rakontu_form">
		<form name="read" action="/{{dir_visit}}/{{url_read}}?{{rakontu.urlQuery}}" method="post">
		<p>Height means
		{% for i in rakontu.nudgeCategories|makeRangeFromListLength %}
			<input type="checkbox" name="showCategory|{{i}}" value="yes" id="{{rakontu.nudgeCategories|listLookup:i}}"
			{% if current_member.viewNudgeCategories|listLookup:i %}
				checked
			{% endif %}
			>
			<label for="{{rakontu.nudgeCategories|listLookup:i}}">{{rakontu.nudgeCategories|listLookup:i}}</label>
		{% endfor %}
		<input type="submit" name="changeNudgeCategoriesShowing" value="Change" class="button_small"></p>
		</form>
		</div>
	{% endif %}
		
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
