<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	{% if things_member_can_do %}
		<div id="stylized" class="rakontu_form">
		<form name="read" action="/{{dir_visit}}/{{url_read}}?{{entry.urlQuery}}" method="post">
		<table cellpadding="0" cellspacing="0" style="width:95%;border:none;">
		<tr>
		<td width="50" align="right" style="border:none;">
	{% endif %}
	
	<img src="/images/{{entry.type}}.png" alt="tags" align="left" border="0">
	{% if curating %}
		<a href="/{{dir_visit}}/{{url_flag}}?{{url_query_entry}}={{entry.getKeyName}}" class="imagelight"><img src="../images/
		{% if entry.flaggedForRemoval %}
			flag_red.png
		{% else %}
			flag_green.png
		{% endif %}
		" alt="flag" border="0"></a>
	{% endif %}
	
	{% if things_member_can_do %}
		</td>
		<td align="left" valign="center" style="border:none;"><b><font size="+1">{{entry.title}}</font></b></td>
		<td align="right" style="border:none;">
		<select name="nextAction">
		{% for key in things_member_can_do.keys|sorted %}
			<option value="{{things_member_can_do|dictLookup:key}}">{{key}}</option>
		{% endfor %}
		</select>
		<input type="submit" name="doSomething" value="{{template_go|capfirst}}" class="button_small">
		</form>
		</div>
		</td></tr></table>
	{% else %}
		<h2>{{entry.title}}</h2>
	{% endif %}
	
	
	<div class="blurb">{{entry.displayTextWithInlineAttachmentLinks}}
	
	{% if attachments %}
		<p><b>{{template_attachments}}</b></p>
		<ul>
		{% for attachment in attachments %}
			<li class="nobullet">
			{% if attachment.isImage %}
				{% if attachment.name %}
					<p>{{attachment.name}} ({{attachment.attachmentEmbed}})</p>
				{% else %}
					<p>{{attachment.attachmentEmbed}}</p>
				{% endif %}
				{% if current_member.showAttachedImagesInline %}
					{{attachment.imageEmbed}}
				{% endif %}
			{% else %}
				<p>&nbsp; &nbsp; 
				{% if attachment.name %}
					{{attachment.name}} -
				{% endif %}
				{{attachment.attachmentEmbed}}
			{% endif %}
			</li>
		{% endfor %}
		</ul>
	{% endif %}

	{% if entry.isCollage and included_links_outgoing %}
		<p>{{template_stories}}:</p>
		<ul>
		{% for link in included_links_outgoing %}
			<li class="nobullet">{{link.itemTo.linkString}} {% if link.comment %} ({{link.comment}}){% endif %} </li>
		{% endfor %}
		</ul>
	{% endif %}
	{% if entry.isPattern and referenced_links_outgoing %}
		<p>{{template_search_filters}}:</p>
		<ul>
		{% for link in referenced_links_outgoing %}
			<li class="nobullet">{{link.itemTo.linkString}} {% if link.comment %} ({{link.comment}}) {% endif %} </li>
		{% endfor %}
		</ul>
	{% endif %}

	{% ifequal entry.type "story" %}
		{% if retold_links_incoming %}
			{% for link in retold_links_incoming %}
				<p>{{template_retelling_of}} {{link.itemFrom.linkString}}.
				 {% if link.comment %} ({{link.comment}}) {% endif %}</p>
			{% endfor %}
		{% endif %}
		{% if reminded_links_incoming %}
			{% for link in reminded_links_incoming %}
				<p>{{template_reminding_from}} {{link.itemFrom.linkString}}.
				{% if link.comment %} ({{link.comment}}) {% endif %}</p>
			{% endfor %}
		{% endif %}
		{% if included_links_incoming_from_invitations %}
			<ul>
			{% for link in included_links_incoming_from_invitations %}
				<li class="nobullet">{{template_in_response_to_invitation}} {{link.itemFrom.linkString}}
				 {% if link.comment %} ({{link.comment}}) {% endif %}
				 </li>
			{% endfor %}
			</ul>
		{% endif %}
		{% if included_links_incoming_from_collages %}
			<p>{{template_included_in_collages}}</p>
			<ul>
			{% for link in included_links_incoming_from_collages %}
				<li class="nobullet">{{link.itemFrom.linkString}}
				 {% if link.comment %} ({{link.comment}}) {% endif %}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endifequal %}
	
	{% if related_links_both_ways %}
		<p>{{template_related}}:</p>
		<ul>
		{% for link in related_links_both_ways %}
			<li class="nobullet">
			{% ifequal link.itemTo.key entry.key %}
				{{link.itemFrom.linkString}}
			{% else %}
				{{link.itemTo.linkString}}
			{% endifequal %}
			</li>
		{% endfor %}
		</ul>
	{% endif %}
		
	</div>
	
	{{template_contributed_by}}
	{% if entry.attributedToMember %}
			{% if entry.creator.active %}
				{{entry.creator.linkString}}
				{% ifequal entry.creator.key current_member.key %}
					 ({{template_you}})
				{% endifequal %}
			{% else %}
				{{template_the_former_member}} "{{entry.creator.nickname}}"
			{% endif %}
	{% else %}
		{% if entry.character.active %}
			{{entry.character.linkString}}
		{% else %}
			{{template_the_former_character}} "{{entry.character.name}}"
		{% endif %}
	{% endif %}
	{% if entry.collectedOffline %}
		{{entry.collected|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}
		{{entry.collected|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}
		{% if entry.liaison %}
			({{template_entered_by}} {{entry.liaison.linkString}}
			{{entry.published|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}
			{{entry.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}})
			</p>
		{% endif %}
	{% else %}
		{{entry.published|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}
		{{entry.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}
		</p>
	{% endif %}

	{% include "../common_grid.html" %}
	
	{% if rows_cols %}
		<div id="stylized" class="rakontu_form">
		<form name="read" action="/{{dir_visit}}/{{url_read}}?{{entry.urlQuery}}" method="post">
		{{template_nudges}}
		{% for i in rakontu.nudgeCategories|makeRangeFromListLength %}
			{% if rakontu.nudgeCategories|listLookup:i %}
				<input type="checkbox" name="showCategory|{{i}}" value="yes" id="{{rakontu.nudgeCategories|listLookup:i}}"
				{% if current_member.viewNudgeCategories|listLookup:i %}
					checked
				{% endif %}
				><label for="{{rakontu.nudgeCategories|listLookup:i}}">{{rakontu.nudgeCategories|listLookup:i}}</label>
			{% endif %}
		{% endfor %}
		<input type="submit" name="changeNudgeCategoriesShowing" value="{{button_change}}" class="button_small"></p>
		</form>
		</div>
	{% endif %}
		
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
