<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	<h3>{{annotation.shortString}}</h3>
	<div class="blurb">{{annotation.longString_formatted}}</div>

	<p>This {{annotation.typeForDisplay}} refers to the {{annotation.entry.typeForDisplay}} {{annotation.entry.linkString}}.
	
	It was entered by 
	
	{% if annotation.attributedToMember %}
			{% if annotation.creator.active %}
				{{annotation.creator.linkString}}
				{% ifequal annotation.creator.key current_member.key %}
					 ({{template_you}})
				{% endifequal %}
			{% else %}
				the former member "{{annotation.creator.nickname}}"
			{% endif %}
	{% else %}
		{{annotation.character.linkString}}
	{% endif %}
	
	on {{annotation.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}
	at {{annotation.published|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}</p>

	{% if annotation.collectedOffline %}
		{% if annotation.liaison %}
			<p>It was collected off-line and entered by {{annotation.liaison.nickname}}.</p>
		{% endif %}
	{% endif %}
	
	{% if annotation.isRequest %}
		<div id="stylized" class="rakontu_form">
		<form action="/{{dir_visit}}/{{url_readAnnotation}}?{{annotation.urlQuery}}" method="post" enctype="multipart/form-data">
		<div class="blurb">
		<p>This is a request of the type <i><b>{{annotation.typeIfRequest}}</b></i>. 
		It has {% if not annotation.completedIfRequest %} <i><b>not</b></i> {% endif %} been marked as completed.
		{% if not annotation.completedIfRequest %}
			<input type="submit" name="toggleRequestCompleted" value="Mark it as completed now" class="button_small">
		{% else %}
			<input type="submit" name="toggleRequestCompleted" value="Un-Mark it as completed" class="button_small">
		{% endif %}
	</form>
	</div>
	{% endif %}
	
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
