<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
		
		<div id="stylized" class="rakontu_form">
		<form action="/{{dir_visit}}/{{url_relate}}
		{% if entry %}
			?{{entry.urlQuery}}
		{% else %}
			?{{rakontu.urlQuery}}
		{% endif %}
		" method="post" enctype="multipart/form-data">
		
			{% if related_links %}
				<h3>Entries related to this {{entry.typeForDisplay}}</h3>
				<fieldset>
		      	<table border="0" cellpadding="4" cellspacing="0">
		      	<tr>
		      		<th>Title (type)</th>
		      		<th>Incoming or outgoing?</th>
		      		<th>Created by</th>
		      		<th>Text</th>
		      		<th>Relation comment</th>
		      		<th>Remove?</th>
		      		</tr>
		      		{% for link in related_links %}
		  				<tr>
		  				<td>
		  				{% ifequal entry.key link.itemTo.key %}
		  					{{link.itemFrom.linkString}}</a> ({{link.itemFrom.type}})
		  				{% else %}
		  					{{link.itemTo.linkString}} ({{link.itemTo.type}})
		  				{% endifequal %}
		  				</td>
		  				<td>
		  				{% ifequal entry.key link.itemTo.key %}
		  					incoming
		  				{% else %}
		  					outgoing
		  				{% endifequal %}
		  				</td>
		  				<td>
							{% if link.creator.active %}
								{{link.creator.linkString}}
								{% ifequal link.creator.key current_member.key %}
									 ({{template_you}})
								{% endifequal %}
							{% else %}
								the former member "{{link.creator.nickname}}"
							{% endif %}
		  				</td>
		  				<td>{{link.itemTo.shortFormattedText|orNone}}</td>
		  				<td><input type="text" name="linkComment|{{link.key}}" value="{{link.comment}}" size="40"/></td>
		  				<td>
		  					<input type="checkbox" name="removeLink|{{ link.key }}" value="yes" id="removeLink|{{ link.key }}"/>
							<label for="removeLink|{{ link.key }}">Remove</label>
		  					</td>
		  				</tr>
		      		{% endfor %}
		      	</table>
		      	</fieldset>
	      {% endif %}
			<h3>Relate this {{entry.typeForDisplay}} to other entries</h3>
			<fieldset>
			<table  style="border:none;padding:0;margin:0;"><tr>
			{% for i in num_rows|makeRange %}
	  				<td style="border:none;padding:0;margin:0;">
	  				{% if entries_first_column|listLookup:i %}
	  					<input type="checkbox" name="addLink|{{entries_first_column|listLookup:i|get:"key"}}" value="yes" 
	  					id="addLink|{{entries_first_column|listLookup:i|get:"key"}}"/>
						{{entries_first_column|listLookup:i|get:"linkString"}}
	  				{% endif %}
	  				</td>
	  				<td style="border:none;padding:0;margin:0;">
	  				{% if entries_second_column|listLookup:i %}
	  					<input type="checkbox" name="addLink|{{entries_second_column|listLookup:i|get:"key"}}" value="yes" 
	  					id="addLink|{{entries_second_column|listLookup:i|get:"key"}}"/>
						{{entries_second_column|listLookup:i|get:"linkString"}}
	  				{% endif %}
	  				</td>
	  				<td style="border:none;padding:0;margin:0;">
	  				{% if entries_third_column|listLookup:i %}
	  					<input type="checkbox" name="addLink|{{entries_third_column|listLookup:i|get:"key"}}" value="yes" 
	  					id="addLink|{{entries_third_column|listLookup:i|get:"key"}}"/>
						{{entries_third_column|listLookup:i|get:"linkString"}}
	  				{% endif %}
	  				</td>
	  				</tr>
	      		{% endfor %}
	      	</table>
	      	</table>
	      	</fieldset>
			
			<p>
			<center>
			{% if related_links %}
				<input type="submit" name="save" value="Save changes" class="button">
			{% else %}
				<input type="submit" name="save" value="Save new relations" class="button">
			{% endif %}
			</center>
			
		</form>
		</div>
		</div>
	{% include "../common_footer.html" %}
	</body>
</html>
