<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
		
		<div id="stylized" class="rakontu_form">
		<form action="/{{dir_visit}}/{{url_relate}}
		{% if entry %}
			?{{entry.urlQuery}}
		{% else %}
			?{{rakontu.urlQuery}}
		{% endif %}
		" method="post" enctype="multipart/form-data">
		
			{% if related_links %}
				<h3>{{template_entries_related_to_this_one}}</h3>
				<fieldset>
		      	<table border="0" cellpadding="4" cellspacing="0">
		      	<tr>
		      		<th>{{template_incoming_or_outgoing}}?</th>
		      		<th>{{template_name}} ({{template_type|lower}})</th>
		      		<th>{{template_contributed_by}}</th>
		      		<th>{{template_first_part_of_text}}</th>
		      		<th>{{template_link_comment}}</th>
		      		<th width="80">{{template_remove}}?</th>
		      		</tr>
		      		{% for link in related_links %}
		  				<tr>
		  				<td>
		  				{% ifequal entry.key link.itemTo.key %}
		  					{{template_incoming}}
		  				{% else %}
		  					{{template_outgoing}}
		  				{% endifequal %}
		  				</td>
		  				<td>
		  				{% ifequal entry.key link.itemTo.key %}
		  					{{link.itemFrom.linkString}}</a> ({{link.itemFrom.type}})
		  				{% else %}
		  					{{link.itemTo.linkString}} ({{link.itemTo.type}})
		  				{% endifequal %}
		  				</td>
		  				<td>
							{% if link.creator.active %}
								{{link.creator.linkString}}
								{% ifequal link.creator.key current_member.key %}
									 ({{template_you}})
								{% endifequal %}
							{% else %}
								{{template_the_former_member}} "{{link.creator.nickname}}"
							{% endif %}
		  				</td>
		  				<td>{{link.itemTo.shortFormattedText|orNone}}</td>
		  				<td><input type="text" name="linkComment|{{link.key}}" value="{{link.comment}}" size="40"/></td>
		  				<td>
		  					<input type="checkbox" name="removeLink|{{ link.key }}" value="yes" id="removeLink|{{ link.key }}"/>
							<label for="removeLink|{{ link.key }}">{{template_remove}}</label>
		  					</td>
		  				</tr>
		      		{% endfor %}
		      	</table>
		      	</fieldset>
	      {% endif %}
			<h3>{{template_add_relations}}</h3>
			<fieldset>
			<table  style="border:none;padding:0;margin:0;"><tr>
			{% for i in num_rows|makeRange %}
	  				<td style="border:none;padding:0;margin:0;">
	  				{% if entries_first_column|listLookup:i %}
	  					<input type="checkbox" name="addLink|{{entries_first_column|listLookup:i|get:"key"}}" value="yes" 
	  					id="addLink|{{entries_first_column|listLookup:i|get:"key"}}"/>
						{{entries_first_column|listLookup:i|get:"linkString"}}
	  				{% endif %}
	  				</td>
	  				<td style="border:none;padding:0;margin:0;">
	  				{% if entries_second_column|listLookup:i %}
	  					<input type="checkbox" name="addLink|{{entries_second_column|listLookup:i|get:"key"}}" value="yes" 
	  					id="addLink|{{entries_second_column|listLookup:i|get:"key"}}"/>
						{{entries_second_column|listLookup:i|get:"linkString"}}
	  				{% endif %}
	  				</td>
	  				<td style="border:none;padding:0;margin:0;">
	  				{% if entries_third_column|listLookup:i %}
	  					<input type="checkbox" name="addLink|{{entries_third_column|listLookup:i|get:"key"}}" value="yes" 
	  					id="addLink|{{entries_third_column|listLookup:i|get:"key"}}"/>
						{{entries_third_column|listLookup:i|get:"linkString"}}
	  				{% endif %}
	  				</td>
	  				</tr>
	      		{% endfor %}
	      	</table>
	      	</table>
	      	</fieldset>
			
			<p>
			<center>
			{% if related_links %}
				<input type="submit" name="save" value="{{button_save_changes}}" class="button">
			{% else %}
				<input type="submit" name="save" value="{{button_save_new_relations}}" class="button">
			{% endif %}
			</center>
			
		</form>
		</div>
		</div>
	{% include "../common_footer.html" %}
	</body>
</html>
