<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	{% if current_member.isCurator %}
		<div id="stylized" class="rakontu_form">
		<form action="/{{dir_curate}}/{{url_attachments}}?{{rakontu.urlQuery}}{% if bookmark %}&{{url_query_bookmark}}={{bookmark}}{% endif %}" method="post">
		
			<h3>{{template_attachments}}</h3>
			{% if attachments %}
		      	<table border="0" cellpadding="4" cellspacing="0">
		      	<tr>
		      		<th>{{template_name}}</th>
		      		<th>{{template_file}}</th>
		      		<th>{{template_type}}</th>
					<th>{{template_entry}}</th>
					<th>{{template_published}}</th>
					</tr>
	      		{% for attachment in attachments %}
	      			<tr>
	      			 <td>{{attachment.name}}</td>
	      			 <td>{{attachment.linkString}}</td>
	      			 <td>{{attachment.mimeType}}</td>
	      			 <td>
					{% if attachment.entryFlaggedForRemoval %}
						<input type="submit" class="flag_red" value="" name="unflag|{{attachment.entryKey}}" title="{{template_click_here_to_unflag}}">
					{% else %}
						<input type="submit" class="flag_green" value="" name="flag|{{attachment.entryKey}}" title="{{template_click_here_to_flag_this_entry}}">
					{% endif %}
	      			 {{attachment.entryLinkString}}</td>
	      			 <td>
	      			 {{attachment.entryPublished|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}
					 {{attachment.entryPublished|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}
	      			 </td>
	      			 </tr>
	      		{% endfor %}
		      	</table>
		    {% else %}
		    	<p>{{template_no_attachments}}</p>
			{% endif %}
			
			<p>
			{% if previous %}
				 <a href="/{{dir_curate}}/{{url_attachments}}?{{rakontu.urlQuery}}&{{url_query_bookmark}}={{previous}}">{{template_newer}} {{template_attachments|lower}}</a>
			{% endif %}	
			{% if previous and next %} ... {% endif %}
			{% if next %}
				 <a href="/{{dir_curate}}/{{url_attachments}}?{{rakontu.urlQuery}}&{{url_query_bookmark}}={{next}}">{{template_older}} {{template_attachments|lower}}</a>
			{% endif %}	
			</p>
		</form>	
		</div>
	{% else %}
		<p>{{no_access|dictLookup:"attachments"}}</p>
	{% endif %}
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>


