<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	{% if current_member.isCurator %}
		<div id="stylized" class="rakontu_form">
		<form action="/{{dir_curate}}/{{url_attachments}}?{{rakontu.urlQuery}}" method="post">
		
			<h3>{{template_attachments}}</h3>
			{% if attachments %}
		      	<table border="0" cellpadding="4" cellspacing="0">
		      	<tr><th>{{template_attachment}}</th><th>{{template_entry}}</th></tr>
	      		{% for attachment in attachments %}
	      			<tr>
	      			 <td>{{attachment.linkString}}</td>
	      			 <td>
					{% if attachment.entry.flaggedForRemoval %}
						<input type="submit" class="flag_red" value="" name="unflag|{{attachment.entry.key}}" title="{{template_click_here_to_unflag}}">
					{% else %}
						<input type="submit" class="flag_green" value="" name="flag|{{attachment.entry.key}}" title="{{template_click_here_to_flag_this_entry}}">
					{% endif %}
	      			 {{attachment.entry.linkString}}</td>
	      			 </tr>
	      		{% endfor %}
		      	</table>
		    {% else %}
		    	<p>{{template_no_attachments}}</p>
			{% endif %}
		</form>	
		</div>
	{% else %}
		<p>{{no_access|dictLookup:"attachments"}}</p>
	{% endif %}
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>


