<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	{% if current_member.isCuratorOrManagerOrOwner %}
		<div id="stylized" class="rakontu_form">
		<form action="/curate/flags" method="post">
			{% if current_member.isManagerOrOwner %}
				<p>You are a{% ifequal current_member.governanceType "owner" %}n{% endifequal %} 
				<b>{{current_member.governanceType}}</b> of this community, so you can remove any item
				added to the system.</p>
			{% else %}
				<p>You are a <b>curator</b> in this community, so you can flag items for removal
				and notify the community's owners and managers if you think an item should be removed quickly.<p>
			{% endif %}
			
			<h3>Flagged entries</h3>
			{% if entries %}
				<fieldset>
		      	<table border="1" cellpadding="4" cellspacing="0">
		      	<tr><th>Unflag? {{"#unflag_item"|tip}}</th><th>Entry</th><th>Type</th><th>Text (first part)</th>
	      		{% if current_member.isManagerOrOwner %} 
	      			<th>Remove?{{"#remove_flagged_item"|caution}}</th> 
	      		{% else %}  
	      			<th>Notify?</th> 
	      		{% endif %}
	      		</tr>
	      		{% for entry in entries %}
	  				<tr>
	  				<td>
	  					<input type="checkbox" name="unflag|{{entry.key}}" value="yes" id="unflag|{{entry.key}}"/>
						<label for="unflag|{{entry.key}}">Unflag</label>
	  				</td>	  				
	  				<td><a href="/visit/read?{{entry.key}}">{{entry.title}}</a></td>
	  				<td>{{entry.type}}</td>
	  				<td>{{entry.text_formatted|upTo:100|orNbsp}}</td>
	  				<td>
	  				{% if current_member.isManagerOrOwner %}
	  						<input type="checkbox" name="remove|{{entry.key}}" value="yes" id="remove|{{entry.key}}"/>
							<label for="remove|{{entry.key}}">Remove</label>
	  				{% else %}
	  						<input type="checkbox" name="notify|{{entry.key}}" value="yes" id="notify|{{entry.key}}"/>
							<label for="notify|{{entry.key}}">Notify</label>
	  				{% endif %}	
	  				</td>	  				
	  				</tr>
	      		{% endfor %}
		      	</table>
	      		</fieldset>
	      	{% else %}
	      		<ul><li class="nobullet">none</li></ul>
	      	{% endif %}
	      	
			<h3>Flagged annotations</h3>
			{% if annotations %}
				<fieldset>
		      	<table border="1" cellpadding="4" cellspacing="0">
		      	<tr><th>Unflag?</th><th>Entry</th><th>Type</th><th>Content</th>
	      		{% if current_member.isManagerOrOwner %} 
	      			<th>Remove?</th> 
	      		{% else %}  
	      			<th>Notify?</th> 
	      		{% endif %}
	      		</tr>
	      		{% for annotation in annotations %}
	  				<tr>
	  				<td>
	  					<input type="checkbox" name="unflag|{{annotation.key}}" value="yes" id="unflag|{{annotation.key}}"/>
						<label for="unflag|{{annotation.key}}">Unflag</label>
	  				</td>	  				
	  				<td><a href="/visit/read?{{annotation.entry.key}}">{{annotation.entry.title}}</td>
	  				<td>{{annotation.type}}</td>
	  				<td>
	  				{% if annotation.isComment or annotation.isRequest %}
	  					{{annotation.linkString|orNbsp}}
	  				{% else %}
	  					{{annotation.displayString|orNbsp}}
	  				{% endif %}
	  				{% if annotation.isNudge %}
	  					{% if nudge.shortString and current_member.isManagerOrOwner %}
		  						<p><input type="checkbox" name="removeComment|{{annotation.key}}" value="yes" id="removeComment|{{annotation.key}}"/>
								<label for="removeComment|{{annotation.key}}">Remove comment only</label></p>
						{% endif %}
	  				{% endif %}
	  				</td>
	  				<td>
	  				{% if current_member.isManagerOrOwner %}
	  						<input type="checkbox" name="remove|{{annotation.key}}" value="yes" id="remove|{{annotation.key}}"/>
							<label for="remove|{{annotation.key}}">Remove</label>
	  				{% else %}
	  						<input type="checkbox" name="notify|{{annotation.key}}" value="yes" id="notify|{{annotation.key}}"/>
							<label for="notify|{{annotation.key}}">Notify</label>
	  				{% endif %}	
	  				</tr>
	      		{% endfor %}
		      	</table>
		      	</fieldset>
	      	{% else %}
	      		<ul><li class="nobullet">none</li></ul>
	      	{% endif %}
      	
			<h3>Flagged answers</h3>
			{% if answers %}
				<fieldset>
		      	<table border="1" cellpadding="4" cellspacing="0">
		      	<tr><th>Unflag?</th><th>Entry</th><th>Question</th><th>Answer</th>
	      		{% if current_member.isManagerOrOwner %} 
	      			<th>Remove?</th> 
	      		{% else %}  
	      			<th>Notify?</th> 
	      		{% endif %}
	      		</tr>
	      		{% for answer in answers %}
	  				<tr>
	  				<td>
	  					<input type="checkbox" name="unflag|{{answer.key}}" value="yes" id="unflag|{{answer.key}}"/>
						<label for="unflag|{{answer.key}}">Unflag</label>
	  				</td>	  				
	  				<td><a href="/visit/read?{{answer.referent.key}}">{{answer.referent.title}}</td>
	  				<td>{{answer.question.text}}</td>
	  				<td>{{answer.displayStringShort}}</td>
	  				<td>
	  				{% if current_member.isManagerOrOwner %}
	  						<input type="checkbox" name="remove|{{answer.key}}" value="yes" id="remove|{{answer.key}}"/>
							<label for="remove|{{answer.key}}">Remove</label>
	  				{% else %}
	  						<input type="checkbox" name="notify|{{answer.key}}" value="yes" id="notify|{{answer.key}}"/>
							<label for="notify|{{answer.key}}">Notify</label>
	  				{% endif %}	
	  				</tr>
	      		{% endfor %}
		      	</table>
		      	</fieldset>
	      	{% else %}
	      		<ul><li class="nobullet">none</li></ul>
	      	{% endif %}
      	
			<h3>Flagged links</h3>
			{% if links %}
				<fieldset>
		      	<table border="1" cellpadding="4" cellspacing="0">
		      	<tr><th>Unflag?</th><th>From</th><th>To</th><th>Comment</th>
	      		{% if current_member.isManagerOrOwner %} 
	      			<th>Remove?</th> 
	      		{% else %}  
	      			<th>Notify?</th> 
	      		{% endif %}
	      		</tr>
	      		{% for link in links %}
	  				<tr>
	  				<td>
	  					<input type="checkbox" name="unflag|{{link.key}}" value="yes" id="unflag|{{link.key}}"/>
						<label for="unflag|{{link.key}}">Unflag</label>
	  				</td>	  				
	  				<td><a href="/visit/read?{{link.entryFrom.key}}">{{link.entryFrom.title}}</td>
	  				<td><a href="/visit/read?{{link.entryTo.key}}">{{link.entryTo.title}}</td>
	  				<td>{{link.comment|orNbsp}}
	  					{% if link.comment and current_member.isManagerOrOwner %}
		  						<p><input type="checkbox" name="removeComment|{{link.key}}" value="yes" id="removeComment|{{link.key}}"/>
								<label for="removeComment|{{link.key}}">Remove comment only</label></p>
						{% endif %}
	  				</td>
	  				<td>
	  				{% if current_member.isManagerOrOwner %}
	  						<input type="checkbox" name="remove|{{link.key}}" value="yes" id="remove|{{link.key}}"/>
							<label for="remove|{{link.key}}">Remove</label>
	  				{% else %}
	  						<input type="checkbox" name="notify|{{link.key}}" value="yes" id="notify|{{link.key}}"/>
							<label for="notify|{{link.key}}">Notify</label>
	  				{% endif %}	
	  				</tr>
	      		{% endfor %}
		      	</table>
		      	</fieldset>
	      	{% else %}
	      		<ul><li class="nobullet">none</li></ul>
	      	{% endif %}
      	
      	{% if entries or annotations or answers or links %}
			<p>&nbsp; </p>
		    <center>
		    {% if current_member.isManagerOrOwner %}
		    	<p><i><b>Please remove items carefully. Deleted items cannot be recovered.</b></i></p>
		    	<input type="submit" name="submitChanges" value="Make selected changes" class="button"></center>
		    {% else %}
		    	<input type="submit" name="submitChanges" value="Send selected notifications" class="button"></center>
		    {% endif %}
		{% endif %}
		</form>	
		</div>
	{% else %}
		<p>You are not a curator of this community and cannot review removal flags.
		Either become a curator or ask a curator, manager or owner to make any changes you would like to see made.</p>
	{% endif %}
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
