<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
		
		{% if current_member.isCurator %}
		<h3>{{template_gaps}} {{"entries_with_gaps"|tip}}</h3>
		
		<div id="stylized" class="rakontu_form">
		<form action="/{{dir_curate}}/{{url_gaps}}?{{rakontu.urlQuery}}
		{% if sort_by %}
			&{{url_query_sort_by}}={{sort_by}}
		{% endif %}
		" method="post" enctype="multipart/form-data">
		
		<p>{{template_show}}
		<select name="type">
			{% for i in entry_types|makeRangeFromListLength %}
				<option value="{{entry_types|listLookup:i}}" 
				{% if entry_types|listLookup:i|equalTest:type %} 
					selected="selected" 
				{% endif %}
				>{{entry_types_plural_display|listLookup:i}}</option>
			{% endfor %}
			</select>
				
		<select name="show">
			<option value="entries_no_tags" {% ifequal show "entries_no_tags" %} selected="selected" {% endifequal %}>{{template_entries_with_no_tags}}</option>
			<option value="entries_no_links" {% ifequal show "entries_no_links" %} selected="selected" {% endifequal %}>{{template_entries_with_no_links}}</option>
			<option value="entries_no_comments" {% ifequal show "entries_no_comments" %} selected="selected" {% endifequal %}>{{template_entries_with_no_comments}}</option>
			{% if rakontu.hasActiveNonMemberQuestions %} 
				<option value="entries_no_answers" {% ifequal show "entries_no_answers" %} selected="selected" {% endifequal %}>{{template_entries_with_no_answers_to_questions}}</option>
			{% endif %}
			<option value="collages_no_links" {% ifequal show "collages_no_links" %} selected="selected" {% endifequal %}>{{template_collages_with_no_story_links}}</option>
			</select>

		{{template_sort_by}}
		<select name="sortBy">
			<option value="date" {% ifequal sort_by "date" %} selected="selected" {% endifequal %}>{{template_most_recent}}</option>
			<option value="annotations" {% ifequal sort_by "annotations" %} selected="selected" {% endifequal %}>{{template_most_annotated}}</option>
			<option value="activity" {% ifequal sort_by "activity" %} selected="selected" {% endifequal %}>{{template_highest_activity}}</option>
			<option value="nudges" {% ifequal sort_by "nudges" %} selected="selected" {% endifequal %}>{{template_highest_nudged}}</option>
			</select>
		<input type="submit" name="changeSelections" value="{{button_change}}" class="button_small">
		
		</form>
		</div>
		
      	{% if entries %}
			<table cellspacing=0 cellpadding=4>
			<tr><th>{{template_type}}</th><th>{{template_name}}</th></tr>
			{% for entry in entries %}
				<tr><td>{{entry.typeForDisplay}}</td><td>{{entry.linkString}}</td></tr>
			{% endfor %}
			</table>
		{% else %}
			<ul><li class="nobullet">{{template_none_found}}.</li></ul>
		{% endif %}
			
	{% else %}
		<p>{{no_access|dictLookup:"gaps"}}</p>
	{% endif %}

	</div>
	{% include "../common_footer.html" %}
	</body>
</html>


