<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
		
		{% if current_member.isCurator %}
		<h3>{{template_gaps}} {{"entries_with_gaps"|tip}}</h3>
		
		<div id="rakontu_form_style" class="rakontu_form">
		<form action="/{{dir_curate}}/{{url_gaps}}?{{rakontu.urlQuery}}
		{% if sort_by %}&{{url_query_sort_by}}={{sort_by}}{% endif %}
		{% if type %}&{{url_query_type}}={{type}}{% endif %}
		" method="post" enctype="multipart/form-data">
		
		<p>{{template_show}}
		<select name="show_type">
			{% for i in entry_types|makeRangeFromListLength %}
				<option value="{{entry_types|listLookup:i}}" 
				{% if entry_types|listLookup:i|equalTest:type %} 
					selected="selected" 
				{% endif %}
				>{{entry_types_plural_display|listLookup:i}}</option>
			{% endfor %}
			</select>
				
		<select name="show">
			<option value="entries_no_tags" {% ifequal show "entries_no_tags" %} selected="selected" {% endifequal %}>{{template_entries_with_no_tags}}</option>
			<option value="entries_no_links" {% ifequal show "entries_no_links" %} selected="selected" {% endifequal %}>{{template_entries_with_no_links}}</option>
			<option value="entries_no_comments" {% ifequal show "entries_no_comments" %} selected="selected" {% endifequal %}>{{template_entries_with_no_comments}}</option>
			{% if rakontu.hasActiveNonMemberQuestions %} 
				<option value="entries_no_answers" {% ifequal show "entries_no_answers" %} selected="selected" {% endifequal %}>{{template_entries_with_no_answers_to_questions}}</option>
			{% endif %}
			<option value="collages_no_links" {% ifequal show "collages_no_links" %} selected="selected" {% endifequal %}>{{template_collages_with_no_story_links}}</option>
			</select>

		{{template_sort_by}}
		<select name="sortBy">
			<option value="date" {% ifequal sort_by "date" %} selected="selected" {% endifequal %}>{{template_most_recent}}</option>
			<option value="annotations" {% ifequal sort_by "annotations" %} selected="selected" {% endifequal %}>{{template_most_annotated}}</option>
			<option value="activity" {% ifequal sort_by "activity" %} selected="selected" {% endifequal %}>{{template_highest_activity}}</option>
			<option value="nudges" {% ifequal sort_by "nudges" %} selected="selected" {% endifequal %}>{{template_highest_nudged}}</option>
			</select>
		<input type="submit" name="changeSelections" value="{{button_change}}" class="button_small">
		
		</form>
		</div>
		
      	{% if entries %}
      		<ul>
			{% for entry in entries %}
				<li class="nobullet">{{entry.linkString}}</li>
			{% endfor %}
			</ul>
		{% else %}
			<ul><li class="nobullet">{{template_none_found}}.</li></ul>
		{% endif %}
			
		<p>
		{% if previous %}
			 <a href="/{{dir_curate}}/{{url_gaps}}?{{rakontu.urlQuery}}&{{url_query_bookmark}}={{previous}}
			{% if sort_by %}&{{url_query_sort_by}}={{sort_by}}{% endif %}
			{% if type %}&{{url_query_type}}={{type}}{% endif %}
			 ">{{template_newer}} {{template_entries|lower}}</a>
		{% endif %}	
		{% if previous and next %} ... {% endif %}
		{% if next %}
			 <a href="/{{dir_curate}}/{{url_gaps}}?{{rakontu.urlQuery}}&{{url_query_bookmark}}={{next}}
			{% if sort_by %}&{{url_query_sort_by}}={{sort_by}}{% endif %}
			{% if type %}&{{url_query_type}}={{type}}{% endif %}
			 ">{{template_older}}  {{template_entries|lower}}</a>
		{% endif %}	
		</p>

	{% else %}
		<p>{{no_access|dictLookup:"gaps"}}</p>
	{% endif %}

	</div>
	{% include "../common_footer.html" %}
	</body>
</html>


