<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
		
		{% if current_member.isCurator %}
		<h3>{{template_gaps}} {{"entries_with_gaps"|tip}}</h3>
		
		<div id="rakontu_form_style" class="rakontu_form">
		<form action="/{{dir_curate}}/{{url_gaps}}?{{rakontu.urlQuery}}
		{% if sort_by %}&{{url_query_sort_by}}={{sort_by}}{% endif %}
		{% if type %}&{{url_query_type}}={{type}}{% endif %}
		" method="post" enctype="multipart/form-data">
		
		<p>{{template_show}}
		<select name="show_type">
			{% for i in entry_types_urls|makeRangeFromListLength %}
				<option value="{{entry_types_urls|listLookup:i}}" 
				{% if entry_types_urls|listLookup:i|equalTest:type %} 
					selected="selected" 
				{% endif %}
				>{{entry_types_plural_display|listLookup:i}}</option>
			{% endfor %}
			</select>
				
		<select name="show">
			{% for i in show_choices_urls|makeRangeFromListLength %}
				<option value="{{show_choices_urls|listLookup:i}}" 
				{% if show_choices_urls|listLookup:i|equalTest:show %} 
					selected="selected" 
				{% endif %}>
				{{show_choices_display|listLookup:i}}</option>
			{% endfor %}
			</select>

		{{template_sort_by}}
		<select name="sortBy">
			{% for i in sort_by_choices_urls|makeRangeFromListLength %}
				<option value="{{sort_by_choices_urls|listLookup:i}}" 
				{% if sort_by_choices_urls|listLookup:i|equalTest:sort_by %} 
					selected="selected" 
				{% endif %}>
				{{sort_by_choices_display|listLookup:i}}</option>
			{% endfor %}
			</select>
		<input type="submit" name="changeSelections" value="{{button_change}}" class="button_small">
		
		</form>
		</div>
		
      	{% if entries %}
      		<ul>
			{% for entry in entries %}
				<li class="nobullet">{{entry.linkString}}</li>
			{% endfor %}
			</ul>
		{% else %}
			<ul><li class="nobullet">{{template_none_found}}.</li></ul>
		{% endif %}
			
		<p>
		{% if previous %}
			 <a href="/{{dir_curate}}/{{url_gaps}}?{{rakontu.urlQuery}}&{{url_query_bookmark}}={{previous}}
			{% if sort_by %}&{{url_query_sort_by}}={{sort_by}}{% endif %}
			{% if type %}&{{url_query_type}}={{type}}{% endif %}
			 ">{{template_newer}} {{template_entries|lower}}</a>
		{% endif %}	
		{% if previous and next %} ... {% endif %}
		{% if next %}
			 <a href="/{{dir_curate}}/{{url_gaps}}?{{rakontu.urlQuery}}&{{url_query_bookmark}}={{next}}
			{% if sort_by %}&{{url_query_sort_by}}={{sort_by}}{% endif %}
			{% if type %}&{{url_query_type}}={{type}}{% endif %}
			 ">{{template_older}}  {{template_entries|lower}}</a>
		{% endif %}	
		</p>

	{% else %}
		<p>{{no_access|dictLookup:"gaps"}}</p>
	{% endif %}

	</div>
	{% include "../common_footer.html" %}
	</body>
</html>


