<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	{% if current_member.canEditTags %}
		<div id="stylized" class="rakontu_form">
		<form action="/curate/tags" method="post">
			
			<h3>Change tags on entries{{"changing_tags_on_entries"|caution}}</h3>
			{% if tag_sets %}
				<fieldset>
				{% for tag_set in tag_sets %}
					<p>
						<a href="/visit/flag?{{tag_set.key}}" class="image"><img src="../images/
						{% if tag_set.flaggedForRemoval %}
							flag_red.png
						{% else %}
							flag_green.png
						{% endif %}
						" alt="flag" border="0"></a>
					{% for i in num_tags_in_tag_set|makeRange %}
						<input type="text" name="tag{{i}}|{{tag_set.key}}" size="15" 
						value="{{tag_set.tagsIfTagSet|listLookup:i|orNothing}}" maxlength="{{maxlength_tag_or_choice}}"/>&nbsp; 
					{% endfor %}
					<a href="/visit/read?{{tag_set.entry.key}}">{{tag_set.entry.title}}</a>
					</p>
				{% endfor %}
				</fieldset>
			{% else %}
				<p>There are no tags to review.</p>
			{% endif %}
      	
      	{% if tag_sets %}
			<p>&nbsp; </p>
		    <center>
		    <p><i><b>Please make changes carefully. Deleted or changed tags cannot be recovered.</b></i></p>
		    <input type="submit" name="submitChanges" value="Change tags" class="button"></center>
		{% endif %}
		</form>	
		</div>
	{% else %}
		{% if rakontu.allowNonManagerCuratorsToEditTags %}
			<p>You are not a curator of this Rakontu and cannot review tags.
			Either become a curator or ask a curator to make any changes you would like to see made.</p>
		{% else %}
			<p>You are not a manager of this Rakontu and cannot review tags.
			Please ask a manager to make any changes you would like to see made.</p>
		{% endif %}
	{% endif %}
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
