<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
		<div id="rakontu_form_style" class="rakontu_form">
		<form action="/{{dir_curate}}/{{url_tags}}?{{rakontu.urlQuery}}{% if bookmark %}&{{url_query_bookmark}}={{bookmark}}{% endif %}" method="post">
			
			<h3>{{template_change_entry_tags}} {{"changing_tags_on_entries"|caution}}</h3>
			{% if tag_sets %}
				<fieldset>
				{% for tag_set in tag_sets %}
					<p>
					{{tag_set.entryLinkString}}</p>
					<p>
						{% if tag_set.flaggedForRemoval %}
							<input type="submit" class="flag_red" value="" name="unflag|{{tag_set.key}}" title="{{template_click_here_to_unflag}}">
						{% else %}
							<input type="submit" class="flag_green" value="" name="flag|{{tag_set.key}}" title="{{template_click_here_to_flag_this_set_of_tags}}">
						{% endif %}
					{% for i in num_tags_in_tag_set|makeRange %}
						<input type="text" name="tag{{i}}|{{tag_set.key}}" size="15" 
						value="{{tag_set.tagsIfTagSet|listLookup:i|orNothing}}" maxlength="{{maxlength_tag_or_choice}}"/>&nbsp; 
					{% endfor %}
					
					</p>
				{% endfor %}
				</fieldset>
			{% else %}
				<p>{{template_no_tags}}</p>
			{% endif %}
      	
 			<p>
			{% if previous %}
				 <a href="/{{dir_curate}}/{{url_tags}}?{{rakontu.urlQuery}}&{{url_query_bookmark}}={{previous}}">{{template_newer}} {{template_tags|lower}}</a>
			{% endif %}	
			{% if previous and next %} ... {% endif %}
			{% if next %}
				 <a href="/{{dir_curate}}/{{url_tags}}?{{rakontu.urlQuery}}&{{url_query_bookmark}}={{next}}">{{template_older}} {{template_tags|lower}}</a>
			{% endif %}	
			</p>
 
      	{% if tag_sets %}
			<p>&nbsp; </p>
		    <center>
		    <p><i><b>{{template_tags_warning}}</b></i></p>
		    <input type="submit" name="submitChanges" value="{{button_change_tags}}" class="button"></center>
		{% endif %}
		</form>	
		</div>
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
