<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
		
		{% if current_member.isGuideOrManagerOrOwner %}
			<div id="stylized" class="rakontu_form">
			<form action="/{{dir_guide}}/{{url_resources}}?{{rakontu.urlQuery}}" method="post">

			{% if resources %}
			<h3>{{template_resources}}</h3>
	      	<table border="0" cellpadding="4" cellspacing="0">
	      	<tr>
	      		<th>{{template_category}} {{"resource_categories"|info}}</th>
	      		<th>{{template_name}} {{"flagging_and_unflagging_items"|tip}}</th>
	      		<th>{{template_attachments}}</th>
	      		<th>{{template_help}}?</th>
	      		<th>{{template_for_new_members}}?</th>
	      		{% if current_member.isManagerOrOwner %}
	      			<th>{{template_for_managers_only}}?</th>
	      		{% endif %}
	      		<th>{{template_created}}</th>
	      		<th>{{template_last_published}}</th>
	      		</tr>
	      		{% for resource in resources %}
	  				<tr>
	  				<td>{{resource.categoryIfResource}}</td>
	  				<td>
					{% if resource.flaggedForRemoval %}
						<input type="submit" class="flag_red" value="" name="unflag|{{resource.key}}" title="{{template_click_here_to_unflag}}">
					{% else %}
						<input type="submit" class="flag_green" value="" name="flag|{{resource.key}}" title="{{template_click_here_to_flag_this_resource}}">
					{% endif %}

	  				{{resource.linkString}}</td>
	  				<td>
	  				{% if resource.getAttachments %}
	  					{% for attachment in resource.getAttachments %}
	  						<p>{{attachment.linkString}}</p>
	  					{% endfor %}
	  				{% else %}
	  					<p>{{term_none}}</p>
	  				{% endif %}
					</td>
					<td>
						{% if resource.resourceForHelpPage %}
							{{template_yes|upper}}
						{% else %}
							{{template_no}}
						{% endif %}
					</td>
					<td>
						{% if resource.resourceForNewMemberPage %}
							{{template_yes|upper}}
						{% else %}
							{{template_no}}
						{% endif %}
					</td>
					{% if current_member.isManagerOrOwner %}
						<td>
							{% if resource.resourceForManagersAndOwnersOnly %}
								{{template_yes|upper}}
							{% else %}
								{{template_no}}
							{% endif %}
						</td>
					{% endif %}
					<td>
					{{resource.created|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}
					</td>
					<td>
					{{resource.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}
					</td>
	  				</tr>
	      		{% endfor %}
	      	</table>
		</form>	
		</div>
	      	{% else %}
	      		<p>{{template_no_help_resources}}<p>
	      		<ul>
	      		<li class="nobullet"><a href="/{{dir_guide}}/{{url_resource}}?{{rakontu.urlQuery}}">{{template_create_one}}</a></li>
	      		<li class="nobullet"><a href="/{{dir_guide}}/{{url_copy_resources}}?{{rakontu.urlQuery}}">{{template_generate_default_help_resources}}</a></li>
	      		</ul>
	      	{% endif %}
			
	{% else %}
		<p>{{no_access|dictLookup:"resources"}}</p>
	{% endif %}

	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
