<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
		
		{% if current_member.isGuideOrManagerOrOwner %}
	
			<div id="stylized" class="rakontu_form">
			<form action="/guide/resources" method="post">
			
			<h3>Resources</h3>
			<fieldset>
	      	<table border="1" cellpadding="4" cellspacing="0">
	      	<tr>
	      		<th>Title</th>
	      		<th>Text</th>
	      		<th>Attachments</th>
	      		<th>Flag for removal?</th>
	      		</tr>
	      		{% for resource in resources %}
	  				<tr>
	  				<td>{{resource.linkString}}</td>
	  				<td>{{resource.text|upTo:100}}</td>
	  				<td>
	  				{% if resource.getAttachments %}
	  					{% for attachment in resource.getAttachments %}
	  						<p>{{attachment.linkString}}</p>
	  					{% endfor %}
	  				{% else %}
	  					none
	  				{% endif %}
					</td>
	  				<td>
	  				{% if resource.flaggedForRemoval %}
	  					<img src="../images/flag_red.png" alt="flag" border="0">
	  					<input type="checkbox" name="flag|{{ resource.key }}" value="yes" id="flag|{{ resource.key }}"/>
						<label for="flag|{{ resource.key }}">Unflag</label>
	  				{% else %}
	  					<input type="checkbox" name="flag|{{ resource.key }}" value="yes" id="flag|{{ resource.key }}"/>
						<label for="flag|{{ resource.key }}">Flag</label>
					{% endif %}
	  					</td>
	  				</tr>
	      		{% endfor %}
	      	</table>
	      	</fieldset>
			
		<p></p>
	    <center><input type="submit" name="submitChanges" value="Submit Changes" class="button"></center>	
		</form>	
		</div>
	{% else %}
		<p>You are not a guide or manager or owner of this community and cannot change its resources.
		Please ask a guide, manager or owner to make any changes you would like to see made.</p>
	{% endif %}

	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
