<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
		
			<div id="rakontu_form_style" class="rakontu_form">
			<form action="/{{dir_manage}}/{{url_appearance}}?{{rakontu.urlQuery}}" method="post" enctype="multipart/form-data">

			<h3>{{template_name_and_description}}</h3>
			<fieldset>
			<p>{{template_name}} {{"rakontu_name"|info}}</p>
			<p>&nbsp; <input type="text" name="name" value="{{ rakontu.name }}" size="30" maxlength="{{maxlength_name}}"/></p>
			<p>{{template_tag_line}} {{"tag_line"|info}}</p>
			<p>&nbsp; <input type="text" name="tagline" value="{{ rakontu.tagline }}" size="80" maxlength="{{maxlength_subject_or_comment}}"/></p>

			<p>{{template_description}} {{"rakontu_description"|info}}</p>
				<table style="width:100%; border:none">
				<tr><td class="noborder">
				<textarea name="description" rows="8" cols="60">{{rakontu.description}}</textarea>
				</td><td class="noborder" width="80">
				<p>{{template_interpret_as}} {{"interpreting_texts"|tip}}</p>
					<select name="description_format">
					{% for i in text_formats|makeRangeFromListLength %}
						<option value="{{text_formats|listLookup:i}}" 
							{% if text_formats|listLookup:i|equalTest:rakontu.description_format %}
								selected="selected"
							{% endif %}
						>{{text_formats_display|listLookup:i}}</option>
					{% endfor %}
					</select>
				</td></tr></table>
				
			<p>{{template_discussion_group_url}} {{"discussion_group_links"|info}}</p>
			<p>&nbsp; <input type="text" name="discussionGroupURL" value="{{rakontu.discussionGroupURL|orNothing}}" size="60" maxlength="{{maxlength_name}}"/></p>
				
			<p>{{template_welcome_message_for_new_members}} {{"welcome_message"|info}}</p>
				<table style="width:100%; border:none">
				<tr><td class="noborder">
				<textarea name="welcomeMessage" rows="4" cols="60">{{rakontu.welcomeMessage}}</textarea>
				</td><td class="noborder" width="80">
				<p>{{template_interpret_as}}</p>
					<select name="welcomeMessage_format">
					{% for i in text_formats|makeRangeFromListLength %}
						<option value="{{text_formats|listLookup:i}}" 
							{% if text_formats|listLookup:i|equalTest:rakontu.welcomeMessage_format %}
								selected="selected"
							{% endif %}
						>{{text_formats_display|listLookup:i}}</option>
					{% endfor %}
					</select>
				</td></tr></table>

			<p>{{template_invitation_message_for_invitation_email}} {{"invitation_message"|info}}</p>
			<p>&nbsp; <textarea name="invitationMessage" rows="4" cols="60">{{rakontu.invitationMessage}}</textarea></p>

			<p>{{template_etiquette_statement}} {{"rakontu_etiquette_statement"|info}}</p>
				<table style="width:100%; border:none">
				<tr><td class="noborder">
				<textarea name="etiquetteStatement" rows="6" cols="60">{{rakontu.etiquetteStatement}}</textarea>
				</td><td class="noborder" width="80">
				<p>{{template_interpret_as}}</p>
					<select name="etiquetteStatement_format">
					{% for i in text_formats|makeRangeFromListLength %}
						<option value="{{text_formats|listLookup:i}}" 
							{% if text_formats|listLookup:i|equalTest:rakontu.etiquetteStatement_format %}
								selected="selected"
							{% endif %}
						>{{text_formats_display|listLookup:i}}</option>
					{% endfor %}
					</select>
				</td></tr></table>
			</fieldset>
	
			<h3>{{template_visual_appearance}}</h3>
			<fieldset>
			<p>{{template_picture}} {{"rakontu_image"|tip}} {{"uploading_files"|caution}}</p>
			{% if rakontu.image %}
				{{rakontu.imageEmbed}}
				<p>&nbsp; <input type="checkbox" name="removeImage" value="removeImage" id="removeImage"><label for="removeImage">{{template_remove}}</label></p>
			{% endif %}
			<p>&nbsp; <input type="file" name="img" accept="jpg/png"/></p>
			
			<p>{{template_skin}} {{"skins"|tip}}</p>
			<p>&nbsp; <select name="skinName">
				{% for name in skin_names %}
					<option value="{{name}}"
					{% ifequal name rakontu.skinName %}
						selected="selected">
					{% else %}
						>
					{% endifequal %}
					{{name}}</option>
				{% endfor %}
				<option value="{{template_custom}}"
				{% ifequal rakontu.skinName template_custom %}
					selected="selected">
				{% else %}
					>
				{% endifequal %}
				{{template_custom}}</option>
				<option value="{{template_none}}"
				{% ifequal rakontu.skinName template_none %}
					selected="selected">
				{% else %}
					>
				{% endifequal %}
				{{template_none}}</option>
				</select></p>
			<p>{{template_custom_skin}} {{"custom_skins"|tip}}</p>
				<p>&nbsp; <textarea name="customSkin" rows="5" cols="60">{{rakontu.customSkin}}</textarea></p>
			<p>{{template_external_style_sheet}} {{"using_an_external_style_sheet"|info}}</p>
			<p>&nbsp; <input type="text" name="externalStyleSheetURL" value="{{rakontu.externalStyleSheetURL|orNothing}}" size="80" maxlength="{{maxlength_name}}"/></p>
			</fieldset>
	      	
			<h3>{{template_halping_role_texts}}</h3>
			<fieldset>
			<p>{{template_curator}} {{template_read_before_text}} {{"role_read_before_texts"|info}}</p>
				<table style="width:100%; border:none">
				<tr><td class="noborder">
				<textarea name="readme0" rows="5" cols="60">{{rakontu.roleReadmes.0}}</textarea>
				</td><td class="noborder" width="80">
				<p>{{template_interpret_as}}</p>
					<select name="roleReadmes_formats0">
					{% for i in text_formats|makeRangeFromListLength %}
						<option value="{{text_formats|listLookup:i}}" 
							{% if text_formats|listLookup:i|equalTest:rakontu.roleReadmes_formats.0 %}
								selected="selected"
							{% endif %}
						>{{text_formats_display|listLookup:i}}</option>
					{% endfor %}
					</select>
				</td></tr></table>
			<p></p>
			<p>{{template_guide}} {{template_read_before_text}}</p>
				<table style="width:100%; border:none">
				<tr><td class="noborder">
				<textarea name="readme1" rows="5" cols="60">{{rakontu.roleReadmes.1}}</textarea>
				</td><td class="noborder" width="80">
				<p>{{template_interpret_as}}</p>
					<select name="roleReadmes_formats1">
					{% for i in text_formats|makeRangeFromListLength %}
						<option value="{{text_formats|listLookup:i}}" 
							{% if text_formats|listLookup:i|equalTest:rakontu.roleReadmes_formats.1 %}
								selected="selected"
							{% endif %}
						>{{text_formats_display|listLookup:i}}</option>
					{% endfor %}
					</select>
				</td></tr></table>
			<p></p>
			<p>{{template_liaison}} {{template_read_before_text}}</p>
				<table style="width:100%; border:none">
				<tr><td class="noborder">
				<textarea name="readme2" rows="5" cols="60">{{rakontu.roleReadmes.2}}</textarea>
				</td><td class="noborder" width="80">
				<p>{{template_interpret_as}}</p>
					<select name="roleReadmes_formats2">
					{% for i in text_formats|makeRangeFromListLength %}
						<option value="{{text_formats|listLookup:i}}" 
							{% if text_formats|listLookup:i|equalTest:rakontu.roleReadmes_formats.2 %}
								selected="selected"
							{% endif %}
						>{{text_formats_display|listLookup:i}}</option>
					{% endfor %}
					</select>
				</td></tr></table>
			</fieldset>

			<h3>{{template_other_options}}</h3>
			<fieldset>

			<p>{{template_what_time_zone_should_members_see}}</p>
				<p>&nbsp; <select name="defaultTimeZoneName"">
				{% for name in time_zone_names %}
					<option value="{{name}}"
					{% ifequal rakontu.defaultTimeZoneName name %}
						selected="selected"
					{% endifequal %}
					>{{name}}</option>
				{% endfor %}
				</select>
			<p>{{template_how_should_dates_display}}</p>
				<p>&nbsp; <select name="defaultDateFormat">
				{% for format in date_formats.keys|sorted %}
					<option value="{{format}}"
					{% ifequal rakontu.defaultDateFormat format %}
						selected="selected"
					{% endifequal %}
					>{{date_formats|dictLookup:format}}</option>
				{% endfor %}
				</select>
			<p>{{template_how_should_times_display}}</p>
				<p>&nbsp; <select name="defaultTimeFormat">
				{% for format in time_formats.keys %}
					<option value="{{format}}"
					{% ifequal rakontu.defaultTimeFormat format %}
						selected="selected"
					{% endifequal %}
					>{{time_formats|dictLookup:format}}</option>
				{% endfor %}
				</select>
			</fieldset>

	    <p><center><input type="submit" name="changeSettings" value="{{button_save_changes}}" class="button"></center></p>
		</form>
		</div>
	
	</div>	
	{% include "../common_footer.html" %}
	</body>
</html>
