<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
	
			<div id="rakontu_form_style" class="rakontu_form">
			<form action="/{{dir_manage}}/{{url_characters}}?{{rakontu.urlQuery}}" method="post" enctype="multipart/form-data">

			{% if changes_saved %}
				<div class="message">{{template_changes_saved}}</div>
			{% endif %}
		
			<h3>{{template_add_new_characters}} {{"adding_new_characters"|tip}}</h3>
			<fieldset>
			<div><textarea name="newCharacterNames" rows="6" cols="40"></textarea></div>
			</fieldset>
			
			{% if characters %}
				<h3>{{template_change_characters}}</h3>
				<fieldset>
		      	<table border="0" cellpadding="4" cellspacing="0">
		      	<tr>
		      		<th width="180">{{template_name}}</th>
		      		<th>{{template_picture}}</th>
		      		<th>{{template_description}}</th>
		      		<th width="100">{{template_inactivate}}?</th>
		      		</tr>
		      		{% for character in characters %}
		  				<tr>
		  				<td>
		  					{{character.name}}<br/>
		  					<a href="/{{dir_visit}}/{{url_character}}?{{character.urlQuery}}">({{template_view_character_page}})</a>
		  					<br/><a href="/{{dir_manage}}/{{url_character}}?{{character.urlQuery}}">({{template_change_character}})</a>
		  				</td>
		  				<td width="80" valign="top">
				 		{% if character.image %}
				 			{{character.imageEmbed}}
						{% else %}
							{{term_none}}
						{% endif %}
						</td>
						<td>{{character.description_formatted|orNbsp}}</td>
		  				<td>
		  					<input type="checkbox" name="remove|{{ character.key }}" value="yes" id="remove|{{character.key}}"/>
							<label for="remove|{{ character.key }}">{{template_inactivate}}</label>
		  					</td>
		  				</tr>
		      		{% endfor %}
		      	</table>
				</fieldset>
			{% endif %}
			
			{% if inactive_characters %}
				<h3>{{template_inactive_characters}} {{"inactive_characters"|caution}}</h3>
				<fieldset>
				<ul>
				{% for character in inactive_characters %}
					<li class="nobullet">{{character.name}}</li>
				{% endfor %}
				</ul>
				</fieldset>
			{% endif %}
			
		<p>
	    <center><input type="submit" name="submitChanges" value="{{button_save_changes}}" class="button"></center>
		</form>
		</div>	
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
