<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	<p>Here is a list of things managers need to do to maintain their Rakontu community.</p>
		
	<p>These things should be done <i>before</i> any members are invited.</p>
	<ul>
	<li class="nobullet"><input type="checkbox">Decide on community <a href="/manage/settings">settings</a> like what you want people to read
		when they join the community and what sorts of things they can do in it.</li>
	<li class="nobullet"><input type="checkbox">Make sure you choose some <a href="/manage/settings">nudge category</a> names and questions.
		These are the rating scales along which stories and other entries will be "nudged" or rated
		by your community's members.</li>
	<li class="nobullet"><input type="checkbox">Decide what <a href="/manage/questions">questions</a> you want to ask about each type of entry.</li>
	<li class="nobullet"><input type="checkbox">Decide if you want to create any fictional <a href="/manage/characters">characters</a> that
		people can use to tell stories (somewhat) anonymously.</li>
	<li class="nobullet"><input type="checkbox">Add some <a href="/manage/systemResources">system resources</a> to help people get started.
		(You can also customize these to your particular needs.)</li>
	<li class="nobullet"><input type="checkbox"><a href="/manage/members">Invite</a> some people to join your community, then 
		start things off with some <a href="/visit/invitation">invitations</a> to tell stories!</li>
	</ul>
	
	<p>These things can be done <i>after</i> some members join.</p>
	<ul>
	<li class="nobullet"><input type="checkbox">Ask some people to become curators and guides. If you will have some off-line members of the 
		community (perhaps older folks), ask some people to become liaisons. If you can't find
		people who want to take on these roles, do them yourself.</li>
	<li class="nobullet"><input type="checkbox">It's a good idea to have at least two managers, so you can share the tasks.</li>
	<li class="nobullet"><input type="checkbox">(MORE LATER)</li>
	</ul>

	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
