<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	{% if current_member.isManagerOrOwner or user_is_admin %}

		{% if entry_export %}
			<p><b>Entries - with annotations, answers, attachment names and links</b></p>
			<p>&nbsp; &nbsp; <a href="/export?export_id={{entry_export.key}}">{{community.name}} entries</a><p>
		{% endif %}
		
		{% if community_export %}
			<p><b>Community data - description, questions and characters</b></p>
			<p>&nbsp; &nbsp; <a href="/export?export_id={{community_export.key}}">{{community.name}} settings</a><p>
		{% endif %}
	
	{% else %}
		<p>You are not a manager of this community (or a site administrator) and cannot export its data.
		Please ask a manager to export the community's data.</p>
	{% endif %}
	
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
