<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	<h3>Welcome to your new community, {{current_member.nickname}}!</h3>
	
	<p>To get you started, here is a thirty-second introduction to Rakontu:</p>
	
	<div class="blurb">
	<p>A Rakontu is for telling, sharing and working with stories in a small group of people.
	It's sort of a living-history museum of collective reminiscence you can use
	to remember, understand and resolve things together.
	</p>
	<p>
	The most important thing in a Rakontu is, of course, its <b>stories</b>. 
	But there are four other types of <b>entry</b> as well: <b>invitations</b> to tell stories,
	story <b>collages</b>, <b>patterns</b> people have observed in the stories, and <b>resources</b> that help
	people remember and understand.
	All of these things can be commented on, given descriptive tags, rated, asked questions about, and searched. 
	</p>
	
	<p>Many of the people in your Rakontu will participate as regular members.
	However, there are three "helper" roles people can volunteer to take on to help the community become more useful to everyone.
	<ol>
	<li><b>Curators</b> watch over the stories. They locate and fix problems in your story "museum."</li>
	<li><b>Guides</b> watch over the people. They help new members get started and answer questions.</li>
	<li><b>Liaisons</b> bridge worlds. They help people who don't use computers to participate in the group by entering
	their stories and reading them stories from the community.</li>
	</ol>
	<p>Of course there are also <b>managers</b>, who make the decisions. You, as the group's first owner, are also its first manager.</p>
	</div>
	
	<p>To get started, click <a href="/manage/checklist">here</a> to look at a checklist of things
		you should do before you invite people to your community.</p>
	
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
