<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	<h3>Welcome to your new community, {{current_member.nickname}}!</h3>
	
	<p>To get you started, here is a thirty-second introduction to Rakontu:</p>
	
	<div class="blurb">
	<p>Rakontu is for telling, sharing and working with stories in a small group of people.
	A Rakontu site is sort of a living-history museum of collective reminiscence you build together and can draw from
	to remember, understand and resolve things together.
	(If you're wondering: Rakontu means "tell a story" in Esperanto.)
	</p>
	<p>
	<h4>Things in a Rakontu site</h4>
	The most important thing in a Rakontu site is, of course, its <b>stories</b>. 
	But there are four other types of <b>entry</b> as well: <b>invitations</b> to tell stories,
	story <b>collages</b>, <b>patterns</b> people have observed in the stories, and <b>resources</b> that help
	people remember and understand.
	All of these things can be commented on, given descriptive tags, rated, asked questions about, and searched. 
	</p>
	
	<h4>People in a Rakontu community</h4> 
	<p>Many of the people in your Rakontu community will participate as regular members.
	However, there are three "helper" roles people can volunteer to take on to help the community become more useful to everyone.
	<ol>
	<li><b>Curators</b> watch over the stories. They locate and fix problems in your story "museum."</li>
	<li><b>Guides</b> watch over the people. They help new members get started and answer questions.</li>
	<li><b>Liaisons</b> bridge worlds. They help people who don't use computers to participate in the community by entering
	their stories and reading them stories others have told.</li>
	</ol>
	<p>Of course there are also <b>managers</b>, who make the decisions. You, as the group's first owner, are also its first manager.</p>
	<p>The best way to get started with your new site is to simply go down the items in the "Manage" menu (at the top of the page)
		clicking on each one, and look at all the options you see there. Some things are easier to set up before you invite people,
		because changing them later might confuse people (but you can change everything later anyway).</p>
	</div>
	
	
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
