<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	
	
	<div id="content">
	
	{% if current_member.isOwner %}
		<div id="rakontu_form_style" class="rakontu_form">
		<form action="/{{dir_manage}}/{{url_inactivate}}?{{rakontu.urlQuery}}" method="post" enctype="multipart/form-data">
		{{blurbs|dictLookup:"inactivate"}}
				
      	<p>&nbsp; </p>
    <center>
    <p><input type="submit" name="inactivate|{{current_member.key}}" value="{{button_inactivate}}" class="button"></p>
    <p><a href="/{{dir_manage}}/{{url_settings}}?{{rakontu.urlQuery}}">{{template_or_go_back_to_settings}}</a></p>
    </center>
	</form>	
	</div>
	
	{% else %}
		<p>{{no_access|dictLookup:"inactivate"}}</p>
	{% endif %}
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
