<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
		
		{% if current_member.isManagerOrOwner %}
	
			<div id="stylized" class="rakontu_form">
			<form action="/manage/members" method="post">
			
			<h3>Active members</h3>
			<fieldset>
	      	<table border="1" cellpadding="4" cellspacing="0">
	      	<tr>
	      		<th>Nickname</th>
	      		<th>Online member?</th>
	      		<th>Google account email</th>
	      		<th>Governing roles</th>
	      		<th>Helping roles and availability</th>
	      		<th>Inactivate?</th>
	      		</tr>
	      		{% for aMember in community_members %}
	  				<tr>
	  				<td>{{ aMember.nickname }} {% ifequal aMember.key current_member.key %}<br><i>(This is you)</i> {% endifequal %} </td>
	  				<td>{{ aMember.isOnlineMember|yesno:"yes, no, maybe" }}</td>
	  				<td>{{ aMember.googleUserEmailOrNotOnline}}</td>
	  				<td>
	  					<select name="governanceType" class="select">
	  						<option value="member|{{ aMember.googleAccountID }}"
	  							{% if aMember.isRegularMember %}
	  								selected="selected"
	  							{% endif %}
	  							>Member</option>
	  						<option value="manager|{{ aMember.googleAccountID }}"
	  							{% if aMember.isManager %}
	  								selected="selected"
	  							{% endif %}
	  							>Manager</option>
	  						<option value="owner|{{ aMember.googleAccountID }}"
	  							{% if aMember.isOwner %}
	  								selected="selected"
	  							{% endif %}
	  							>Owner</option>
						</select>
	  					</td>
	  				<td>
	  					Curator: {{aMember.helpingRoles.0|yesno:"yes, no, maybe"}}
	  					{% if not aMember.isManagerOrOwner %}
	      					<input type="checkbox" name="curatorAvailable|{{aMember.key}}" value="yes" id="curatorAvailable"
	      					{% if aMember.helpingRolesAvailable.0 %}
	      						checked="checked"
	      					{% endif %}
	      					><label for="curatorAvailable">Available</label>
	      				{% endif %}
	      				</p>
	  					
	  					Guide: {{aMember.helpingRoles.1|yesno:"yes, no, maybe"}}
	  					{% if not aMember.isManagerOrOwner %}
	      					<input type="checkbox" name="guideAvailable|{{aMember.key}}" value="yes" id="guideAvailable"
	     					{% if aMember.helpingRolesAvailable.1 %}
	      						checked="checked"
	      					{% endif %}
	      					><label for="guideAvailable">Available</label>
						{% endif %}
						</p>
						
	  					Liaison: {{aMember.helpingRoles.2|yesno:"yes, no, maybe"}}
	  					{% if not aMember.isManagerOrOwner %}
	      					<input type="checkbox" name="liaisonAvailable|{{aMember.key}}" value="yes" id="liaisonAvailable"
	     					{% if aMember.helpingRolesAvailable.2 %}
	      						checked="checked"
	      					{% endif %}
	      					><label for="liaisonAvailable">Available</label>
	      				{% endif %}
	      				</p>
	      				
	  					</td>
	  				<td>
	  					<input type="checkbox" name="remove|{{ aMember.key }}" value="yes" id="remove|{{ aMember.key }}"/>
						<label for="remove|{{ aMember.key }}">Inactivate</label>
	  					</td>
	  				</tr>
	      		{% endfor %}
	      	</table>
	      	</fieldset>
			
			{% if pending_members %}
				<h3>Pending members</h3>
				<fieldset>
		      	<table border="1" cellpadding="4" cellspacing="0">
		      	<tr>
		      		<th>Email</th>
		      		<th>Invited</th>
		      		<th>Remove? </th>
		      		</tr>
		      		{% for pending_member in pending_members %}
		  				<tr>
		  				<td><input type="text" name="email|{{pending_member.key}}" size="20" value="{{pending_member.email}}" maxlength="{{maxlength_name}}"/></td>
		  				<td>{{pending_member.invited.date}}</td>
		  				<td><input type="checkbox" name="removePendingMember|{{pending_member.key}}" id="removePendingMember|{{pending_member.key}}"/>
		  				<label for="removePendingMember|{{pending_member.key}}">Remove</label></td>
		  				</tr>
		      		{% endfor %}
		      	</table>
		      	</fieldset>
		    {% endif %}
			
	 		<h3>Add members</h3>
			<fieldset>
			<div><textarea name="newMemberEmails" rows="6" cols="40"></textarea></div>
			<p>Instructions: Add email adddresses (linked to valid Google Accounts) for each member you want to add.
			Place each email address on a separate line.</p>
			</fieldset>
			
			{% if inactive_members %}
				<h3>Inactive members</h3>
				<fieldset>
				These members have been removed from the active members list. To reinstate an inactive member, 
				copy their email to the "Add members<" box and re-invite them to the community. Reinstated
				members will reconnect to their old histories and profiles, if the email address on the
				Google account is the same.
				<ul>
				{% for member in inactive_members %}
					<li class="nobullet">{{member.googleAccountEmail}}</li>
				{% endfor %}
				</ul>
				</fieldset>
			{% endif %}
	
		<p></p>
	    <center><input type="submit" name="submitChanges" value="Submit Changes" class="button"></center>	
		</form>	
		</div>
	{% else %}
		<p>You are not a manager or owner of this community and cannot change its memberships.
		Please ask a manager or owner to make any changes you would like to see made.</p>
	{% endif %}

	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
