<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
		
		{% if current_member.isManagerOrOwner %}
	
			<div id="stylized" class="rakontu_form">
			<form action="/{{dir_manage}}/{{url_members}}?{{rakontu.urlQuery}}" method="post">
			
			<h3>{{template_active_members}}</h3>
			<fieldset>
	      	<table border="0" cellpadding="4" cellspacing="0">
	      	<tr>
	      		<th>{{template_nickname}}</th>
	      		<th>{{template_online}}?</th>
	      		<th>{{template_google_email}}</th>
	      		<th>{{template_membership_type}}</th>
	      		<th>{{template_helping_roles_taken_on}}</th>
	      		<th>{{template_helping_roles_available}} {{"available_helping_roles"|tip}}</th>
	      		<th>{{template_inactivate}}?</th>
	      		</tr>
	      		{% for aMember in rakontu_members %}
	  				<tr>
	  				<td>{{aMember.nickname}} {% ifequal aMember.key current_member.key %}<br><i>({{template_you}})</i> {% endifequal %} </td>
	  				<td>
	  					{% if aMember.isOnlineMember %}
	  						{{template_online}}
	  					{% else %}
	  						{{template_offline}}
	  					{% endif %}
	  				</td>
	  				<td>{{aMember.googleUserEmailOrNotOnline}}</td>
	  				<td>
	  					<select name="governanceType" class="select">
	  						<option value="member|{{aMember.googleAccountID}}"
	  							{% if aMember.isRegularMember %}
	  								selected="selected"
	  							{% endif %}
	  							>{{template_member}}</option>
	  						<option value="manager|{{aMember.googleAccountID}}"
	  							{% if aMember.isManager %}
	  								selected="selected"
	  							{% endif %}
	  							>{{template_manager}}</option>
	  						<option value="owner|{{aMember.googleAccountID}}"
	  							{% if aMember.isOwner %}
	  								selected="selected"
	  							{% endif %}
	  							>{{template_owner}}</option>
						</select>
	  					</td>
	  				<td>
	  					<p>{{template_curator}}: 
	  					{% if aMember.helpingRoles.0 %}
	  						{{template_yes|upper}}
	  					{% else %}
	  						{{template_no}}
	  					{% endif %}
	  					</p>
	  					<p>{{template_guide}}: 
	  					{% if aMember.helpingRoles.1 %}
	  						{{template_yes|upper}}
	  					{% else %}
	  						{{template_no}}
	  					{% endif %}
	  					</p>
	  					<p>{{template_liaison}}: 
	  					{% if aMember.helpingRoles.2 %}
	  						{{template_yes|upper}}
	  					{% else %}
	  						{{template_no}}
	  					{% endif %}
	  					</p>
	  					</td>
	  				<td>
	  					<p>{{template_curator}}: 
	  					{% if aMember.isManagerOrOwner %}
	  						{{template_available}}
	  					{% else %}
	      					<input type="checkbox" name="curatorAvailable|{{aMember.key}}" value="yes" id="curatorAvailable|{{aMember.key}}"
	      					{% if aMember.helpingRolesAvailable.0 %}
	      						checked="checked"
	      					{% endif %}
	      					><label for="curatorAvailable|{{aMember.key}}">{{template_available}}</label>
	      				{% endif %}
	      				</p>
	  					
	  					<p>{{template_guide}}: 
	  					{% if aMember.isManagerOrOwner %}
	  						{{template_available}}
	  					{% else %}
	      					<input type="checkbox" name="guideAvailable|{{aMember.key}}" value="yes" id="guideAvailable|{{aMember.key}}"
	     					{% if aMember.helpingRolesAvailable.1 %}
	      						checked="checked"
	      					{% endif %}
	      					><label for="guideAvailable|{{aMember.key}}">{{template_available}}</label>
						{% endif %}
						</p>
						
	  					<p>{{template_liaison}}: 
	  					{% if aMember.isManagerOrOwner %}
	  						{{template_available}}
	  					{% else %}
	      					<input type="checkbox" name="liaisonAvailable|{{aMember.key}}" value="yes" id="liaisonAvailable|{{aMember.key}}"
	     					{% if aMember.helpingRolesAvailable.2 %}
	      						checked="checked"
	      					{% endif %}
	      					><label for="liaisonAvailable|{{aMember.key}}">{{template_available}}</label>
	      				{% endif %}
	      				</p>
	      				
	  					</td>
	  				<td>
	  					<p><input type="checkbox" name="remove|{{aMember.key}}" value="yes" id="remove|{{aMember.key}}">
						<label for="remove|{{aMember.key}}">{{template_inactivate}}</label></p>
	  					</td>
	  				</tr>
	      		{% endfor %}
	      	</table>
	      	</fieldset>
			
			{% if pending_members %}
				<h3>{{template_pending_members}}</h3>
				<fieldset>
		      	<table border="0" cellpadding="4" cellspacing="0">
		      	<tr>
		      		<th>{{template_email}}</th>
		      		<th>{{template_invited}}</th>
		      		<th>{{template_remove}}? </th>
		      		</tr>
		      		{% for pending_member in pending_members %}
		  				<tr>
		  				<td><input type="text" name="email|{{pending_member.key}}" size="20" value="{{pending_member.email}}" maxlength="{{maxlength_name}}"/></td>
		  				<td>{{pending_member.invited.date}}<br/>
		  				<a href="mailto:{{pending_member.email}}?subject={{template_invitation_to_join}} {{rakontu.name}}&body=/{{dir_visit}}/{{url_home}}?{{rakontu.urlQuery}}">{{template_send_invitation_email}}</a>
		  				</td>
		  				<td><input type="checkbox" name="removePendingMember|{{pending_member.key}}" id="removePendingMember|{{pending_member.key}}"/>
		  				<label for="removePendingMember|{{pending_member.key}}">{{template_remove}}</label></td>
		  				</tr>
		      		{% endfor %}
		      	</table>
		      	</fieldset>
		    {% endif %}
			
	 		<h3>{{template_add_new_members}} {{"adding_members"|tip}}</h3>
			<fieldset>
			<div><textarea name="newMemberEmails" rows="6" cols="40"></textarea></div>
			</fieldset>
			
			{% if inactive_members %}
				<h3>{{template_inactive_members}} {{"inactive_online_members"|tip}}</h3>
				<fieldset>
				<ul>
				{% for member in inactive_members %}
					<li class="nobullet">{{member.googleAccountEmail}}</li>
				{% endfor %}
				</ul>
				</fieldset>
			{% endif %}
	
		<p></p>
	    <center><input type="submit" name="submitChanges" value="{{button_save_changes}}" class="button"></center>	
		</form>	
		</div>
	{% else %}
		<p>{{no_access|dictLookup:"members"}}</p>
	{% endif %}

	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
