<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
	</head>
	<body>
		<form action="/manage/personifications" method="post">
		<h2>Changing Personifications for Rakontu Community "{{ community.name|escape }}"</h2>
		<p>
		<h3>Add New Personifications</h3>
		<div><textarea name="newPersonificationNames" rows="6" cols="40"></textarea></div>
		<p>Instructions: Add names on separate lines.</p>
		<p>
		<hr size="1">
		<h3>Change Personifications</h3>
      	<table border="1" cellpadding="4" cellspacing="0">
      	<tr>
      		<th>Name</th>
      		<th>Description</th>
      		<th>Remove</th>
      		</tr>
      		{% for aPersonification in community_personifications %}
      			{% ifequal aPersonification.community.key community.key %}
      				<tr>
      				<td><div><input type="text" name="name|{{aPersonification.key}}" value="{{ aPersonification.name|escape }}"/></div></td>
      				<td>
      					<div><textarea name="description|{{aPersonification.key}}" rows="3" cols="60">{{ aPersonification.description }}</textarea></div>
      					</td>
      				<td>
      					<input type="checkbox" name="remove|{{aPersonification.key}}" />Remove
      					</td>
      				</tr>
      			{% endifequal %}
      		{% endfor %}
      	</table>
	<p>
    <input type="submit" name="submitChanges" value="Submit Changes">	
	</form>	
	<p>
    <a href="{{ url }}">{{ url_linktext }}</a>
	</body>
	<p><a href="/">Main page</a>
</html>
