<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
	
	{% if current_member.isManagerOrOwner %}

		{% for i in num_types|makeRange %}
			<h3>Questions about {{refer_types_plural_display|listLookup:i}}</h3>
      		<ul>
      		{% if counts|listLookup:i %}
	      		{% for questionAndCount in counts|listLookup:i %}
	      			<li class="nobullet">{{questionAndCount|listLookup:0}} ({{questionAndCount|listLookup:1}} responses)</li>
	      		{% endfor %}
	      		<li class="nobullet"><a href="/{{dir_manage}}/{{url_questions}}_{{refer_types_urls|listLookup:i}}">Change these questions</a></li>
	      	{% else %}
	      		<li class="nobullet">none - <a href="/{{dir_manage}}/{{url_questions}}_{{refer_types_urls|listLookup:i}}">Add some</a></li>
	      	{% endif %}
      		</ul>
      	{% endfor %}
       	
	{% else %}
		<p>You are not a manager of this Rakontu and cannot change its questions.
		Please ask a manager to make any changes you would like to see made.</p>
	{% endif %}
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
