<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	
	{% if current_member.isManagerOrOwner %}
		<div id="stylized" class="rakontu_form">
		<form action="/{{dir_manage}}/{{url_questions}}_{{refer_type_url}}?{{rakontu.urlQuery}}" method="post" enctype="multipart/form-data">
		<h3>{{template_add_new_questions_about}} {{refer_type_plural_display}} {{"adding_new_questions"|tip}}</h3>
		<fieldset>
		<textarea name="newQuestionNames" rows="6" cols="40"></textarea>
		</fieldset>

		{% if questions %}
			<h3>{{template_change_questions_about}} {{refer_type_plural_display}}</h3>
			<fieldset>
	      	<table border="0" cellpadding="4" cellspacing="0">
	      	<tr>
	      		<th>{{template_name_question_explanation}} {{"preparing_questions_for_searching"|tip}}</th>
	      		<th>{{template_type}} {{"ordinal_and_nominal_questions"|tip}}</th>
	      		<th>{{template_min_max}}<br><i>{{template_if_value}}</i></th>
	      		<th>{{template_response}}<br><i>{{template_if_boolean}}</i>{{"response_if_boolean"|info}}</th>
	      		<th>{{template_choices}}<br><i>{{template_if_ordinal_or_nominal}}</i></i></th>
	      		<th width="100">{{template_inactivate}}?</th>
	      		</tr>
	      		{% for question in questions %}
	      			<tr>
	      			<td valign="top">{{template_name}} 
	      				{% if questions|isFirstInSeries:question %}
	      					{{"question_names"|info}} 
	      				{% endif %}
	      				<div><input type="text" name="name|{{question.key}}" size="40" value="{{question.name}}" maxlength="{{maxlength_name}}"></div>
	      				<br>{{template_question}} 
	      				{% if questions|isFirstInSeries:question %}
	      					{{"question_texts"|info}} 
	      				{% endif %}
	      				<div><input type="text" name="text|{{question.key}}" size="40" value="{{question.text}}" maxlength="{{maxlength_subject_or_comment}}"></div>
	      				<br>{{template_explanation}} 
	      				{% if questions|isFirstInSeries:question %}
	      					{{"question_explanations"|info}} 
	      				{% endif %}
	      				<div><input type="text" name="help|{{question.key}}" size="40" value="{{question.help|orNothing}}" maxlength="{{maxlength_subject_or_comment}}"></div></td>
	      			<td valign="top"><div><select name="type|{{question.key}}">
	      				{% for i in question_types|makeRangeFromListLength %}
	      			 		<option value="{{question_types|listLookup:i}}"
	      			 		{% if question_types|listLookup:i|equalTest:question.type %}
	      			 			selected="selected"
	      			 		{% endif %}
	      			 		>{{question_types_display|listLookup:i}}</option>
	      			 	{% endfor %}
	      			 	</select></div></td>
	      			 <td valign="top" align="center"><div><input type="text" name="minIfValue|{{question.key}}" size="4" value="{{question.minIfValue}}" maxlength="{{maxlength_number}}"></div>
	      			 	<div><input type="text" name="maxIfValue|{{question.key}}" size="4" value="{{question.maxIfValue}}" maxlength="{{maxlength_number}}"></div>
	      			 	</td>
	      			 <td valign="top" align="center"><div><input type="text" name="responseIfBoolean|{{question.key}}" size="10" value="{{question.responseIfBoolean}}" maxlength="{{maxlength_name}}"></div></td>
	      			 <td valign="top" align="center">
	      			 	{% for i in max_num_choices|makeRange %}
	      			 		<input type="text" name="choice{{i}}|{{question.key}}" size="16" value="{{question.choices|listLookup:i|orNothing}}" maxlength="{{maxlength_tag_or_choice}}"><br/>
	      			 	{% endfor %}
	     			 <label><input type="checkbox" name="multiple|{{question.key}}" value="multiple|{{question.key}}"
	     			 	{% if question.multiple %}
	     			 		checked="checked"
	     			 	{% endif %}
	     			 	> {{template_multiple_answers_allowed}}</label></div>
	     			 </td>
	      			 <td valign="top" align="center">
	      			 	<input type="checkbox" name="inactivate|{{question.key}}" id="inactivate|{{question.key}}">
	      			 	<label for="inactivate|{{question.key}}">{{template_inactivate}}</label>
	      			 </td>
	      				</tr>
	      		{% endfor %}
	      	</table>
	      	</fieldset>
	    {% endif %}
	      	
		{% if inactive_questions %}
			<h3>{{template_inactive_questions}} {{"inactive_questions"|caution}}</h3>
			<fieldset>
			<ul>
			{% for question in inactive_questions %}
				<li class="nobullet">{{question.name}} 
				</li>
			{% endfor %}
			</ul>
			</fieldset>
		{% endif %}

	    
	    <h3>{{template_import_export_questions_about}} {{refer_type_plural_display}}</h3>
	    <fieldset>
	    <p>{{template_choose_csv_question_file}}:
	    <input type="file" name="import" size="40" accept="csv"/></p>
	    {% if questions %}
	    	<p><a href="/{{dir_manage}}/{{url_questionsToCSV}}?{{url_query_export_type}}={{refer_type}}&{{rakontu.urlQuery}}">{{template_export_questions_to_csv}}</a></p>
	    {% endif %}
	    </fieldset>

	    {% if system_questions %}
			<h3>{{template_copy_sample_questions_about}} {{refer_type_plural_display}} {{"copying_sample_questions"|tip}}</h3>
			<fieldset>
	      	<table border="0" cellpadding="4" cellspacing="0">
	      	<tr>
	      		<th>{{template_copy}}?</th>
	      		<th>{{template_question}}</th>
	      		</tr>
				{% for sys_question in system_questions %}
	      			<td valign="top" width="80"><input type="checkbox" name="copy|{{sys_question.key}}" value="copy|{{sys_question.key}}" id="copy|{{sys_question.key}}">
	      			<label for="copy|{{sys_question.key}}">{{template_copy}}</label></td>
					<td valign="top">
					<b>{{sys_question.text}}</b> ({{sys_question.name}})
					{{template_is_of_the_type}} <b>{{sys_question.type}}</b>.
					{% ifequal sys_question.type "value" %} 
						{{template_min_max_are}} {{sys_question.minIfValue}} - {{sys_question.maxIfValue}}. 
					{% endifequal %}
					{% ifequal sys_question.type "boolean" %} 
						{{template_a_positive_answer_is}}: {{sys_question.responseIfBoolean}}.
					{% endifequal %}
					{% ifequal sys_question.type "ordinal" %}
						{{template_choices_are}}:
						<ol>
						{% for choice in sys_question.choices %}
							<li>{{choice}}</li>
						{% endfor %}
						</ol>
					{% endifequal %}
					{% ifequal sys_question.type "nominal" %}
						{{template_choices_are}}:
						<ul>
						{% for choice in sys_question.choices %}
							<li>{{choice}}</li>
						{% endfor %}
						</ul>
					{% endifequal %}
					{% if sys_question.multiple %} 
						{{template_multiple_answers_allowed}} 
					{% endif %}
					{% if sys_question.help %} 
						{{template_explanation_is}} "{{sys_question.help}}" 
					{% endif %}
					</td>
					</tr>
				{% endfor %}
				</table>
				</fieldset>
			{% endif %}

		<p>
    <center><input type="submit" name="changesTo|{{refer_type}}" value="{{button_save_changes}}" class="button"/></center>
	</form>	
	</div>
	{% else %}
		<p>{{no_access|dictLookup:"questions"}}</p>
	{% endif %}

	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
