<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
	
	{% if current_member.isManagerOrOwner %}

		{% for i in num_types|makeRange %}
			<h3>{{template_questions_about}} {{refer_types_plural_display|listLookup:i}}</h3>
      		<ul>
      		{% if counts|listLookup:i %}
	      		{% for questionAndCount in counts|listLookup:i %}
	      			<li class="nobullet">{{questionAndCount|listLookup:1}} ({{questionAndCount|listLookup:0}}, {{questionAndCount|listLookup:2}} {{template_responses|lower}})</li>
	      		{% endfor %}
	      		<li class="nobullet"><a href="/{{dir_manage}}/{{url_questions}}_{{refer_types_urls|listLookup:i}}?{{rakontu.urlQuery}}">{{template_change}}</a></li>
	      	{% else %}
	      		<li class="nobullet">{{term_none}} - <a href="/{{dir_manage}}/{{url_questions}}_{{refer_types_urls|listLookup:i}}?{{rakontu.urlQuery}}">{{template_add_some}}</a></li>
	      	{% endif %}
      		</ul>
      	{% endfor %}
       	
	{% else %}
		<p>{{no_accesss|dictLookup:"questions"}}</p>
	{% endif %}
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
