<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
	
	{% if current_member.isManagerOrOwner %}

		{% for i in num_types|makeRange %}
			<h3>{{template_questions_and_response_counts_about}} {{refer_types_plural_display|listLookup:i}}
			{% if counts %}
			- <a href="/{{dir_manage}}/{{url_questions}}_{{refer_types_urls|listLookup:i}}?{{rakontu.urlQuery}}">{{template_change|lower}}</a>
			{% endif %}
			</h3>
      		{% if counts|listLookup:i %}
      			<table cellpadding=4 cellspacing=0 style="width:100%;">
	      		{% for questionAndCount in counts|listLookup:i %}
	      			<tr>
	      			<td width="20" align="center" style="border:none;">{{questionAndCount|listLookup:1}}</td>
	      			<td style="border:none;">{{questionAndCount|listLookup:0}}</td>
	      			</tr>
	      		{% endfor %}
	      		</table>
	      	{% else %}
	      		<ul>
	      		<li class="nobullet">{{term_none}} - <a href="/{{dir_manage}}/{{url_questions}}_{{refer_types_urls|listLookup:i}}?{{rakontu.urlQuery}}">{{template_add_some}}</a></li>
	      		</ul>
	      	{% endif %}
      	{% endfor %}
       	
	{% else %}
		<p>{{no_accesss|dictLookup:"questions"}}</p>
	{% endif %}
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
