<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
		
		{% if current_member.isManagerOrOwner %}
			<div id="stylized" class="rakontu_form">
			<form action="/manage/settings" method="post" enctype="multipart/form-data">
			<p>This community was created 
			on {{community.created|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}.</p>
			
	
			<h3>Name and description</h3>
			<fieldset>
			<p>{{"Community name"|tip}}</p>
			<input type="text" name="name" value="{{ community.name }}" maxlength="40" size="30"/>
			<p>{{"Tag line"|tip}}</p>
			<input type="text" name="tagline" value="{{ community.tagline }}" maxlength="80" size="80"/>
			<p><i>The tag line (if you choose one) shows after your community name at the top of the web page.</i></p>
			<p>{{"Community contact email"|caution}}</p>
			<input type="text" name="contactEmail" value="{{ community.contactEmail }}" maxlength="80" size="80"/>
			<p>{{"Community description"|tip}}</p>
			<textarea name="description" rows="10" cols="60">{{ community.description }}</textarea>
			<div class="rightalign">Interpret this as <select name="description_format">
				{% for format in text_formats %}
					<option value="{{format}}" 
					{% ifequal community.description_format format %}
						selected="selected"
					{% endifequal %}
					>{{format}}</option>
				{% endfor %}
				</select>{{"#interpret_as"|tip}}</div>
			<p>{{"Welcome message for new members"|tip}}</p>
			<textarea name="welcomeMessage" rows="5" cols="60">{{ community.welcomeMessage|escape }}</textarea>
			<div class="rightalign">Interpret this as <select name="welcomeMessage_format">
				{% for format in text_formats %}
					<option value="{{format}}" 
					{% ifequal community.welcomeMessage_format format %}
						selected="selected"
					{% endifequal %}
					>{{format}}</option>
				{% endfor %}
				</select></div>
			<p>{{"Community etiquette statement"|tip}}</p>
			<textarea name="etiquetteStatement" rows="5" cols="60">{{ community.etiquetteStatement|escape }}</textarea>
			<div class="rightalign">Interpret this as <select name="etiquetteStatement_format">
				{% for format in text_formats %}
					<option value="{{format}}" 
					{% ifequal community.etiquetteStatement_format format %}
						selected="selected"
					{% endifequal %}
					>{{format}}</option>
				{% endfor %}
				</select></div>
			<p>{{"Community image"|tip}}</p>
			{% if community.image %}
				<img src="img?community_id={{community.key}}" class="bordered"></img>
				<input type="checkbox" name="removeImage" value="removeImage" id="removeImage"><label for="removeImage">Remove</label>
			{% endif %}
			<p><input type="file" name="img" accept="jpg/png"/></p>
			</fieldset>
			
			<h3>Time zones and time reporting</h3>
			<fieldset>
			<p>What time zone should members see as the default?
				<select name="defaultTimeZoneName"">
				{% for name in time_zone_names %}
					<option value="{{name}}"
					{% ifequal community.defaultTimeZoneName name %}
						selected="selected"
					{% endifequal %}
					>{{name}}</option>
				{% endfor %}
				</select>
			<p>How should dates be displayed by default?
				<select name="defaultDateFormat">
				{% for format in date_formats.keys|sorted %}
					<option value="{{format}}"
					{% ifequal community.defaultDateFormat format %}
						selected="selected"
					{% endifequal %}
					>{{date_formats|dictLookup:format}}</option>
				{% endfor %}
				</select>
			<p>How should times be displayed by default?
				<select name="defaultTimeFormat">
				{% for format in time_formats.keys %}
					<option value="{{format}}"
					{% ifequal community.defaultTimeFormat format %}
						selected="selected"
					{% endifequal %}
					>{{time_formats|dictLookup:format}}</option>
				{% endfor %}
				</select>
			</fieldset>
			
			<h3>Attachments</h3>
			<fieldset>
			<p>How many attachments are allowed per article?
				<select name="maxNumAttachments" style="width: 60px;">
				<option value="1"
					{% ifequal community.maxNumAttachments 1 %}
						selected="selected"
					{% endifequal %}
					>1</option>
				<option value="2"
					{% ifequal community.maxNumAttachments 2 %}
						selected="selected"
					{% endifequal %}
					>2</option>
				<option value="3"
					{% ifequal community.maxNumAttachments 3 %}
						selected="selected"
					{% endifequal %}
					>3</option>
				<option value="4"
					{% ifequal community.maxNumAttachments 4 %}
						selected="selected"
					{% endifequal %}
					>4</option>
				<option value="5"
					{% ifequal community.maxNumAttachments 5 %}
						selected="selected"
					{% endifequal %}
					>5</option>
				</select>
			</fieldset>
	
			<h3>Fictional characters</h3>
			<fieldset>
			<p>{{"Is entry via fictional character allowed for each of these entry types?"|caution}}</p>
			{% for text in character_includes %}
				{{ text }}
			{% endfor %}
			</table>
			</fieldset>
			
			<h3>Editing</h3>
			<fieldset>
			<p>{{"For which of these types of article should editing be allowed after publishing?"|info}}{{"#editing_after_publish"|caution}}</p>
			{% for text in editing_includes %}
				{{ text }}
			{% endfor %}
			</table>
			</fieldset>
			
			<h3>Nudge system</h3>
			<fieldset>
			<p><i></i></p>
			<p>How many nudge points can be asssigned (maximum) per article? 
			<input type="text" name="maxNudgePointsPerArticle" size="4" value="{{community.maxNudgePointsPerArticle}}"/>
			{{"#community_nudgePoints"|info}} {{"#community_nudgePointsPerArticle"|caution}}
			<p>{{"Enter your nudge category names here."|caution}}</p>
			<p>
			{% for i in 5|makeRange %}
				<input type="text" name="nudgeCategory{{i}}" size="20" value="{{community.nudgeCategories|listLookup:i}}"/>
				{% endfor %}
			</p>
			<p>How many nudge points do members accumulate by participating in the community?</p>
			<table  border="1" cellpadding="4" cellspacing="0">
			{% for text in nudge_point_includes %}
				{{ text }}
			{% endfor %}
			</table>
	      	</fieldset>
	      	
			<h3>Activity system</h3>
			<fieldset>
			<p>{{"How many activity points are added to an item based on each activity?"|info}}</p>
			<table  border="1" cellpadding="4" cellspacing="0">
			{% for text in activity_point_includes %}
				{{ text }}
			{% endfor %}
			</table>
	      	</fieldset>
	      	
			<h3>Helping Roles</h3>
			<fieldset>
			<p><b>{{"Curator read-before text"|info}}</b></p>
			<textarea name="readme0" rows="3" cols="60">{{ community.roleReadmes.0 }}</textarea>
			<div class="rightalign">Interpret this as <select name="roleReadmes_formats0">
				{% for format in text_formats %}
					<option value="{{format}}" 
					{% ifequal community.roleReadmes_formats.0 format %}
						selected="selected"
					{% endifequal %}
					>{{format}}</option>
				{% endfor %}
				</select></div>
			<input type="checkbox" name="agreement0" value="agreement0" id="agreement0"
				{% if community.roleAgreements.0 %}
					checked="checked"
				{% endif %}
				/>
				<label for="agreement0">Members must check box to agree to terms before becoming curator
				{{"#terms_check_box"|tip}}</label>
			<p></p>
			<p><b>Guide read-before text</b></p>
			<textarea name="readme1" rows="3" cols="60">{{ community.roleReadmes.1|escape }}</textarea>
			<div class="rightalign">Interpret this as <select name="roleReadmes_formats1">
				{% for format in text_formats %}
					<option value="{{format}}" 
					{% ifequal community.roleReadmes_formats.1 format %}
						selected="selected"
					{% endifequal %}
					>{{format}}</option>
				{% endfor %}
				</select></div>
			<input type="checkbox" name="agreement1"  value="agreement1" id="agreement1"
				{% if community.roleAgreements.1 %}
					checked="checked"/>
				{% else %}
					/>
				{% endif %}
				<label for="agreement1">Members must check box to agree to terms before becoming guide</label>
			<p></p>
			<p><b>Liaison read-before text</b></p>
			<textarea name="readme2" rows="3" cols="60">{{ community.roleReadmes.2|escape }}</textarea>
			<div class="rightalign">Interpret this as <select name="roleReadmes_formats2">
				{% for format in text_formats %}
					<option value="{{format}}" 
					{% ifequal community.roleReadmes_formats.2 format %}
						selected="selected"
					{% endifequal %}
					>{{format}}</option>
				{% endfor %}
				</select></div>
			<input type="checkbox" name="agreement2"  value="agreement2" id="agreement2"
				{% if community.roleAgreements.2 %}
					checked="checked"/>
				{% else %}
					/>
				{% endif %}
				<label for="agreement2">Members must check box to agree to terms before becoming liaison</label>
			</fieldset>
		<p></p>
	    <center><input type="submit" name="changeSettings" value="Change Settings" class="button"></center>
		</form>
		</div>
	{% else %}
		<p>You are not a manager or owner of this community and cannot change its settings.
		Please ask a manager or owner to make any changes you would like to see made.</p>
	{% endif %}
	
	</div>	
	{% include "../common_footer.html" %}
	</body>
</html>
