<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
		
	{% if current_member.isManagerOrOwner %}
	
		<div id="stylized" class="rakontu_form">
		<form action="/manage/systemResources" method="post" enctype="multipart/form-data">
	
		{% if resources %}
			<p>These system resources are available. Check the boxes to copy them to your community's resources.
			If you have the option turned on to edit existing resources, you can edit them.</p>
			<table>
			<tr><th width="80">Copy?{{"loading_system_resources"|tip}}</th><th>Name</th><th>Text (first part of)</th></tr>
			{% for i in num_resources|makeRange %}
				<tr>
				<td><input type="checkbox" name="add|{{i}}" value="yes" id="add|{{i}}"><label for="add|{{i}}">Copy</label></td>
				<td>{{resources|listLookup:i|listLookup:0}}</td>
				<td>{{resources|listLookup:i|listLookup:3|upTo:200}}</td>
				</tr>
			{% endfor %}
			</table>
		{% endif %}
		<p></p>
	    <center><input type="submit" name="copyResources" value="Copy selected resources to community" class="button"></center>
		</form>
		</div>
	
	{% else %}
		<p>You are not a manager of this community and cannot change its settings.
		Please ask a manager to make any changes you would like to see made.</p>
	{% endif %}
		
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
