<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	{% if user_is_admin %}
		<div id="stylized" class="rakontu_form">
		<form action="/{{dir_admin}}/{{url_admin}}" method="post" enctype="multipart/form-data">
		
		<h1>Rakontu site initialization tasks</h1>
		<p>&nbsp; &nbsp; Sample questions: <b>{{num_sample_questions}}</b> - 
		<a href="/{{dir_admin}}/{{url_sample_questions}}">generate</a></p>
		
		<p>&nbsp; &nbsp; Short help texts (for hover-over info, tip and caution icons): <b>{{num_helps}}</b> - 
		<a href="/{{dir_admin}}/{{url_helps}}">generate</a></p>
		
		<p>&nbsp; &nbsp; Default help resources: <b>{{num_default_resources}}</b> -
		<a href="/{{dir_admin}}/{{url_default_resources}}">generate</a></p>
		<p>&nbsp; &nbsp; &nbsp; &nbsp; <i>Note: The default help resources should be initialized <b>before</b> any Rakontus are created.</i></p>
		
		<h1>Rakontus in this installation</h1>
		{% if rakontus %}
			<fieldset>
			<table>
			<tr>
				<th>URL</th>
				<th>Name</th>
				<th>Created<br/>(UTC)</th>
				<th>Last activity<br/>(UTC)</th>
				<th>AppRocket timestamp<br/>(UTC)</th>
				<th>Active members</th>
				<th>Pending members</th>
				<th>Inactive members</th>
				<th>Active?{{"activating_rakontus"|caution}}</th>
				<th>Remove{{"removing_rakontus"|caution}}</th>
				</tr>
			
	    	{% for rakontu in rakontus %}
		    	<tr>
		    	<td><a href="http://{{host}}{{rakontu.linkURL}}">{{rakontu.getKeyName}}</a></td>
		    	<td>{{rakontu.name}}</td>
		    	<td>{{rakontu.created|timeZone:"UTC"|date:"F j, Y"}}<br/>{{rakontu.created|timeZone:"UTC"|time:"h:i a"}}</td>
		    	<td>
		    		{% if rakontu.lastPublish %}
		    			{{rakontu.lastPublish|timeZone:"UTC"|date:"F j, Y"}}<br/>{{rakontu.lastPublish|timeZone:"UTC"|time:"h:i a"}}
		    		{% else %}
		    			{{term_none}}
		    		{% endif %}
		    		</td>
		    	<td>
		    		{% if rakontu.appRocketTimeStamp %}
		    			{{rakontu.appRocketTimeStamp|date:"F j, Y"}}<br/>{{rakontu.appRocketTimeStamp|time:"h:i a"}}
		    		{% else %}
		    			{{term_none}}
		    		{% endif %}
		    		</td>
		    	<td align="center">{{rakontu.getActiveMembers|length}}</td>
			    	<td align="center">{{rakontu.getPendingMembers|length}}</td>
		    	<td align="center">{{rakontu.getInactiveMembers|length}}</td>
				<td align="center">
					{{rakontu.active|yesno:"active, inactive"}}<br/>
	  					{% if rakontu.active %}
	  						<input type="submit" name="toggleActiveState|{{rakontu.key}}" value="Inactivate" class="button"
							onClick="javascript:return confirm('Are you sure you want to INACTIVATE the Rakontu {{rakontu.name}}?')">
	  					{% else %}
	  						<input type="submit" name="toggleActiveState|{{rakontu.key}}" value="Activate" class="button"
							onClick="javascript:return confirm('Are you sure you want to ACTIVATE the Rakontu {{rakontu.name}}?')">
	  					{% endif %}
	  					</td>
				<td>
				<input type="submit" name="remove|{{rakontu.key}}" value="REMOVE" class="button" 
				onClick="javascript:return confirm('Are you REALLY SURE you want to PERMANENTLY REMOVE the Rakontu {{rakontu.name}}?')">
	  					</td>
				</td>
	    	{% endfor %}
	    	</table>
	    	</fieldset>
			<p><a href="/{{dir_admin}}/{{url_create1}}">Create another Rakontu</a></p>
			<p></p>
			<center><p><i><b>Please remove Rakontus VERY carefully.</p>
			<p>Deleted Rakontus cannot be recovered.</p>
			<p>It is best to backup first.</b></i></p>
			</form>
			</div>
	    {% else %}
	    	<p>&nbsp; &nbsp; none - <a href="/{{dir_admin}}/{{url_create1}}">Create one</a></p>
	    {% endif %}	
	    
	    <p><b>For developers only</b></p>
	    <p>&nbsp; &nbsp; <a href="/{{dir_admin}}/{{url_make_fake_data}}">Generate fake testing Rakontu</a></p>
	    <p>&nbsp; &nbsp; <a href="/{{dir_admin}}/{{url_stress_test}}">Generate stress-test Rakontu with large amount of data</a></p>
	    
	{% else %}
		<p>You are not a manager of this Rakontu and cannot change its settings.
		Please ask a manager to make any changes you would like to see made.</p>
	{% endif %}
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
