<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
		<title>Create a new Rakontu</title>
	</head>
	<body>
	
		<div id="stylized" class="rakontu_form_centered">
		<form action="/{{dir_admin}}/{{url_create1}}" method="post">
		<table border="0" width="400" class="noborder"><tr><td class="noborder">
			<h3>Create a new Rakontu: Step One</h3>
			
			<p>Please enter a short URL name for the Rakontu web link.
			<i>This name cannot be changed. It cannot contain spaces or special characters.</i></p>
			<input type="text" name="url" value="" size="20" maxlength="{{maxlength_tag_or_choice}}"/>
			{% if name_taken %}
				<p><font color="red">That Rakontu name is already in use. Please choose another.</font></p>
			{% endif %}
					
			<p>&nbsp;</p>
			<center><input type="submit" value="Enter New URL" class="button"></center>
		</td></tr></table>
		</form>
		</div>
		<center><p><a href="/{{dir_admin}}/{{url_admin}}">Cancel and return to the Rakontu site administration page</a></p></center>
	</body>
</html>
