<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
		<title>Rakontu</title>
	</head>
	<body>
	
	{% if user_is_admin %}
		<h1>Rakontu site initialization tasks</h1>
		<div id="stylized" class="rakontu_form" style="border:none;">
		<form action="/{{dir_admin}}/{{url_site_initialization_tasks}}" method="post">
		<p><b>{{num_sample_questions}}</b> sample questions have been generated.</p>
		<p>&nbsp; &nbsp; &nbsp; <input type="submit" name="generateSystemQuestions" value="Generate Sample Questions" class="button"></p>
		
		<p><b>{{num_default_resources}}</b> default resources have been generated.</p>
		<p>&nbsp; &nbsp; &nbsp; <input type="submit" name="generateSystemResources" value="Generate Help Resources" class="button"></p>
		
		<p><b>{{num_helps}}</b> short help texts have been generated.</p>
		<p>&nbsp; &nbsp; &nbsp; <input type="submit" name="generateHelps" value="Generate Help Texts" class="button"></p>
		
		<p><a href="/">Start page</a></p>
		</form>
		</div>
	{% else %}
		<p>You must be a Rakontu site admnistrator to access this page.</p>
	{% endif %}

	</body>
</html>
