<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
	</head>
	<body>
		<form action="/manage/questions/questions" method="post" enctype="multipart/form-data">
		<h2>Changing Questions about {{refer_type_plural|capfirst}} for Rakontu Community "{{ community.name|escape }}"</h2>
		
		<h3>Add New Questions</h3>
		<div><textarea name="newQuestionNames" rows="6" cols="40"></textarea></div>
		<p>Instructions: Add names for each question you want to add.
		Place each name on a separate line. Then return to this page and add details for the questions.</p>
		<p>

		<h3>Change Questions</h3>
      	<table border="1" cellpadding="4" cellspacing="0">
      	<tr>
      		<th>Name, question, and explanation</th>
      		<th>Type</th>
      		<th>Required?</th>
      		<th>Maximum characters<br><i>if text</i></th>
      		<th>Minimum and maximum<br><i>if value</i></th>
      		<th>Response<br><i>if boolean</i></th>
      		<th>Choices<br><i>if ordinal or nominal</i></i></th>
      		<th>Multiple answers allowed?<br><i>if ordinal or nominal</i></th>
      		<th>Remove</th>
      		</tr>
      		{% for question in questions %}
      			<tr>
      			<td valign="top">Name<div><input type="text" name="name|{{question.key}}" size="20" value="{{question.name}}"></div>
      				<br>Question<div><input type="text" name="text|{{question.key}}" size="40" value="{{question.text}}"></div>
      				<br>Explanation<div><input type="text" name="help|{{question.key}}" size="40" value="{{question.help}}"></div></td>
      			<td valign="top"><div><select name="type|{{question.key}}">
      				{% for type in question_types %}
      			 		<option value="{{type}}"
      			 		{% ifequal type question.type %}
      			 			selected="selected"
      			 		{% endifequal %}
      			 		>{{type}}</option>
      			 	{% endfor %}
      			 	</select></div></td>
     			 <td valign="top"><label><input type="checkbox" name="required|{{question.key}}" value="required|{{question.key}}"
     			 	{% if question.required %}
     			 		checked="checked"
     			 	{% endif %}
     			 	>Required</label></div></td>
      			 <td valign="top"><div><input type="text" name="lengthIfText|{{question.key}}" size="4" value="{{question.lengthIfText}}"></div></td>
      			 <td valign="top"><div><input type="text" name="minIfValue|{{question.key}}" size="4" value="{{question.minIfValue}}"></div>
      			 	<div><input type="text" name="maxIfValue|{{question.key}}" size="4" value="{{question.maxIfValue}}"></div>
      			 	</td>
      			 <td valign="top"><div><input type="text" name="responseIfBoolean|{{question.key}}" size="20" value="{{question.responseIfBoolean}}"></div></td>
      			 <td valign="top">
      			 	<div><input type="text" name="choice0|{{question.key}}" size="12" value="{{question.choices.0}}"></div>
      			 	<div><input type="text" name="choice1|{{question.key}}" size="12" value="{{question.choices.1}}"></div>
      			 	<div><input type="text" name="choice2|{{question.key}}" size="12" value="{{question.choices.2}}"></div>
      			 	<div><input type="text" name="choice3|{{question.key}}" size="12" value="{{question.choices.3}}"></div>
      			 	<div><input type="text" name="choice4|{{question.key}}" size="12" value="{{question.choices.4}}"></div>
      			 	<div><input type="text" name="choice5|{{question.key}}" size="12" value="{{question.choices.5}}"></div>
      			 	<div><input type="text" name="choice6|{{question.key}}" size="12" value="{{question.choices.6}}"></div>
      			 	<div><input type="text" name="choice7|{{question.key}}" size="12" value="{{question.choices.7}}"></div>
      			 	<div><input type="text" name="choice8|{{question.key}}" size="12" value="{{question.choices.8}}"></div>
      			 	<div><input type="text" name="choice9|{{question.key}}" size="12" value="{{question.choices.9}}"></div>
      			 	</td>
     			 <td valign="top"><label><input type="checkbox" name="multiple|{{question.key}}" value="multiple|{{question.key}}"
     			 	{% if question.multiple %}
     			 		checked="checked"
     			 	{% endif %}
     			 	>Multiple</label></div></td>
      			 <td valign="top"><input type="checkbox" name="remove|{{question.key}}" />Remove</td>
      				</tr>
      		{% endfor %}
      	</table>
      	<p><i>Note: Removing a question from the community also removes <b>all</b> answers people have made
      		to it. If people have answered the question already, you should make a backup of your data
      		before removing the question, so that the information is not completely gone.</i></p>
      	
		<h3>Copy Questions from Samples</h3>
      	<table border="1" cellpadding="4" cellspacing="0">
      	<tr>
      		<th>Copy This Question?</th>
      		<th>Name, question, and explanation</th>
      		<th>Type</th>
      		<th>Maximum characters<br><i>if text</i></th>
      		<th>Minimum and maximum<br><i>if value</i></th>
      		<th>Response<br><i>if boolean</i></th>
      		<th>Choices<br><i>if ordinal or nominal</i></i></th>
      		<th>Multiple answers allowed?<br><i>if ordinal or nominal</i></th>
      		</tr>
			{% for sys_question in system_questions %}
      			<td valign="top"><div><input type="checkbox" name="copy|{{sys_question.key}}" value="copy|{{sys_question.key}}"/>Copy</div></td>
				<td valign="top"><i>Name</i><br>&nbsp; {{sys_question.name}}<p>
					<i>Question</i><br>&nbsp; {{sys_question.text}}<p>
					<i>Explanation</i><br>&nbsp; {{sys_question.help}}</td>
				<td valign="top">{{sys_question.type}}</td>
				<td valign="top">{% ifequal sys_question.type "text" %} {{sys_question.lengthIfText}} {% else %} &nbsp; {% endifequal %}</td>
				<td valign="top">{% ifequal sys_question.type "value" %} {{sys_question.minIfValue}} {% else %} &nbsp; {% endifequal %}<br>
				{% ifequal sys_question.type "value" %} {{sys_question.maxIfValue}} {% else %} &nbsp; {% endifequal %}</td>
				<td valign="top">{% ifequal sys_question.type "boolean" %} {{sys_question.responseIfBoolean}} {% else %} &nbsp; {% endifequal %}</td>
				<td valign="top">{% if sys_question.choices %} {{sys_question.choices|join:"<br>"}}  {% else %} &nbsp; {% endif %}</td>
				<td valign="top">{{sys_question.multiple|yesno:"yes, no, maybe"}}</td>
				</tr>
			{% endfor %}
			</table>
			<p><i>Note: You can copy the same question multiple times.</i></p>

		<p>
    <input type="submit" name="changesTo|{{refer_type}}" value="Change Questions"/>
	</form>	
	</body>
	<p><a href="/">Main page</a>
</html>
