<style type="text/css">

body {
  	background-color: #{{colors|dictLookup:"background_general"}};
	}
	
hr {
	border-top: 1px solid #{{colors|dictLookup:"border_light"}};
	}
	
h1 {
 	color: #{{colors|dictLookup:"border_dark"}};
	}
	
a {
	color: #{{colors|dictLookup:"text_link"}};
	}
	
a:hover {
	background: #{{colors|dictLookup:"border_dark"}};
	}
	
img.bordered {
	border: 1px solid #{{colors|dictLookup:"border_light"}};
	}
	
table {
	border-right: 1px solid #{{colors|dictLookup:"border_light"}};
	border-bottom: 1px solid #{{colors|dictLookup:"border_light"}};
	}
	
table.fullborder {
	border: 1px solid #{{colors|dictLookup:"border_light"}};
	}
	
td {
	border-left: 1px solid #{{colors|dictLookup:"border_light"}};
	border-top: 1px solid #{{colors|dictLookup:"border_light"}};
	}
	
th {
	background: #{{colors|dictLookup:"background_light"}};
	border-left: 1px solid #{{colors|dictLookup:"border_light"}};
	border-top: 1px solid #{{colors|dictLookup:"border_light"}};
	}
	
fieldset {
	background: #{{colors|dictLookup:"background_entry"}}; 
	border: 1px solid #{{colors|dictLookup:"border_light"}};
	}
		
.blurb {
	background: #{{colors|dictLookup:"background_light"}};
	border: 1px solid #{{colors|dictLookup:"border_light"}};
	}
	
#topmenu li {
    border: 1px solid #{{colors|dictLookup:"border_light"}};
    }
#topmenu li a {
    background-color: #{{colors|dictLookup:"background_light"}};
    }
#topmenu li ul {
    background-color: #{{colors|dictLookup:"background_light"}};
    }
#topmenu li:hover li a, #topmenu li.hover a {
    background-color: #{{colors|dictLookup:"background_light"}};
    }
#topmenu li li a:hover {
    background-color: #{{colors|dictLookup:"border_light"}}; 
    }

.rakontu_form_centered {
	border: solid 1px #{{colors|dictLookup:"border_light"}};
	}
	
#stylized label:hover{
	color: #{{colors|dictLookup:"text_label_hover"}};
	}
	
#stylized select {
	border: solid 1px #{{colors|dictLookup:"border_light"}};
	}
	
#stylized select:hover{
	border: solid 1px #{{colors|dictLookup:"border_dark"}};
	}
	
#stylized input{
	border: solid 1px #{{colors|dictLookup:"border_light"}};
	}
	
#stylized input:hover{
	border: solid 1px #{{colors|dictLookup:"border_dark"}};
	}
	
#stylized textarea{
	border: solid 1px #{{colors|dictLookup:"border_light"}};
	}
	
#stylized textarea:hover{
	border: solid 1px #{{colors|dictLookup:"border_dark"}};
	}
	
#stylized input.button{
	background: #{{colors|dictLookup:"background_button"}};
	border: solid 2px #{{colors|dictLookup:"border_light"}};
	}
	
#stylized input.button:hover{
	border: solid 2px #{{colors|dictLookup:"border_dark"}};
	background: #{{colors|dictLookup:"background_button_small"}};
	}
	
#stylized input.button_small{
	background: #{{colors|dictLookup:"background_button"}};
	border: solid 1px #{{colors|dictLookup:"border_light"}};
	}
	
#stylized input.button_small:hover{
	border: solid 1px #{{colors|dictLookup:"border_dark"}};
	background: #{{colors|dictLookup:"background_button_small"}};
	}
</style>




