<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
		<title>Create a new Rakontu</title>
	</head>
	<body>
	
		<div id="stylized" class="rakontu_form_centered">
		<form action="/{{url_create}}" method="post">
		<table border="0" width="400" class="noborder"><tr><td class="noborder">
			<h3>You are about to create a new Rakontu!</h3>
			<p>Please name your new Rakontu. (You can change the name later.)</p>
			<input type="text" name="name" value="" size="40" maxlength="{{maxlength_name}}"/>
			
			<p>Which of these types best represents your group? (This will determine what sorts of questions
				are asked about people and the stories they tell. You can change the questions later.)</p>
			<select name="type">
				{% for type in rakontu_types %}
					<option value="{{type}}">{{type}}</option>
				{% endfor %}
			</select>
			
			<p>Please choose a nickname to represent yourself in the Rakontu. (You can change it later.)</p>
			<div><input type="text" name="nickname" value="" size="30" maxlength="{{maxlength_name}}"/></div>
			<p>&nbsp;</p>
			<center><input type="submit" value="Create a New Rakontu" class="button"></center>
		</td></tr></table>
		</form>
		</div>
		<center><p><a href="/">Cancel and return to the Rakontu start page</a></p></center>
	</body>
</html>
