<html>
	{% include "common_head.html" %}
	<body>
	{% include "common_menus.html" %}
	<div id="content">
		
	<h3>{{help.name|spacify}}</h3>
	
	<div class="blurb">
	
	{% ifequal help.type "info" %}
		<img src="../images/info.png" alt="help" border="0" valign="center"/>
	{% else %}
		{% ifequal help.type "tip" %}
			<img src="../images/tip.png" alt="help" border="0" valign="center"/>
		{% else %}
			<img src="../images/caution.png" alt="help" border="0" valign="center"/>
		{% endifequal %}
	{% endifequal %}
	
	{{help.text}}
	</div>
		
	
	<p>&nbsp; {{template_click_back_button}}</p>
	<p>&nbsp; &nbsp; &nbsp; &nbsp; ... {{template_or_would_you_like_more}} 
	<b><a href="/{{dir_visit}}/{{url_help}}?{{rakontu.urlQuery}}">{{template_help}}</a></b>?</p>
		
	</div>
	{% include "common_footer.html" %}
	</body>
</html>
