<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
		<title>Rakontu</title>
	</head>
	<body>
	<center>
	<h1>Rakontu</h1>
	<p><i>Helping people take good care of their stories.</i></p>
	<p><img src="/images/Rakontu.jpg" alt="Rakontu logo" class="bordered"></p>
	
	{% if user %}
		<div id="stylized" class="rakontu_form_centered" style="border:none;">
		<form action="/" method="post">
		{% if rakontus_member_of %}
			<p>You are a <b>member</b> of these Rakontus.</p>
			<select name="rakontu_key">
			{% for rakontu in rakontus_member_of %}
				<option value="{{ rakontu.key }}">{{ rakontu.name }}</option>
			{% endfor %}
			</select>
			&nbsp; <input type="submit" name="visitRakontu" value="Visit" class="button"></p>
		{% endif %}
		{% if rakontus_invited_to %}
			<p>You have been <b>invited</b> to join these Rakontus.</p>
			<select name="rakontu_key">
			{% for rakontu in rakontus_invited_to %}
				<option value="{{ rakontu.key }}">{{ rakontu.name }}</option>
			{% endfor %}
			</select>
			&nbsp; <input type="submit" name="visitRakontu" value="Join" class="button"></p>
		{% endif %}
		<p><input type="submit" name="createRakontu" value="Create a New Rakontu" class="button"></p>
		<p>Your Google account is: <b>{{ user.nickname }}</b><br/><a href="{{logout_url}}">Log out</a></p>
		
		{% if 1 %}
			{% if user_is_admin %}
				<hr>
				<p>For the system administrator</p>
				<input type="submit" name="initializeSite" value="Initialize Site" class="button"> &nbsp; 
				<input type="submit" name="reviewAllRakontus" value="Review Rakontus" class="button"><br/>
			{% else %}
				<div class="blurb">
				<p>Please enter the alpha testing password.</p>
				<p><input type="password" name="entryPassword"></p>
				</div>
			{% endif %}
			{% if DEVELOPMENT %}
				<p>For the developer</p>
				<p><input type="submit" name="makeFakeData" value="Make Fake Data" class="button"></p>
			{% endif %}
		{% endif %}
		
		</form>
		</div>

	{% else %}
		<p>You must be logged in to a Google account to use Rakontu.</p><p><a href="{{login_url}}">Login at Google</a></p>
	{% endif %}
	
	<table class="noborder"><tr><td class="noborder" width="500">
		{% if user %}
			<hr>
			<p><b>What's a Rakontu?</b></p>
			<p>It's a place where people share and use stories together.</p>
			<p>You could see it as a living-history museum of stories, as well as
			a gathering place where people build their story museum together 
			and draw from it to remember the past, understand the present
			and find solutions for the future.</p>
			<p>(If you're wondering: Rakontu is <a href="http://en.wikipedia.org/wiki/Esperanto">Esperanto</a> for "tell a story.")</p>
		{% endif %}
		<hr>
		<p><b>What's Rakontu?</b></p>
		<p>Rakontu is an open source software package that helps groups of people share and work 
		with stories. The Rakontu project is being carried out (at this point) mainly
		by <a href="http://www.cfkurtz.com">Cynthia Kurtz</a>. 
		<p>This alpha stage prototype is currently being tested.
		If you want to help with testing, join the 
		<a href="http://groups.google.com/group/rakontu-discuss">Rakontu discussion group</a>
		and ask for the password to try out the site.</p.
		<p>You can find out more at <a href="http://www.rakontu.org">rakontu.org</a>.</p>
		<hr>
	</td></tr></table>
	

	</body>
</html>
