<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
	
		{% if current_member.isManagerOrOwner %}
			<div id="stylized" class="rakontu_form">
			<form action="/{{dir_manage}}/{{url_characters}}" method="post" enctype="multipart/form-data">
			<h3>Add new characters{{"adding_new_characters"|tip}}</h3>
			<fieldset>
			<div><textarea name="newCharacterNames" rows="6" cols="40"></textarea></div>
			</fieldset>
			
			{% if characters %}
				<h3>Change Characters</h3>
				<fieldset>
		      	<table border="1" cellpadding="4" cellspacing="0">
		      	<tr>
		      		<th>Name</th>
		      		<th>Picture</th>
		      		<th>Description</th>
		      		<th>Inactivate?</th>
		      		</tr>
		      		{% for character in characters %}
		  				<tr>
		  				<td>
		  					{{ character.name }}<br/>
		  					<a href="/{{dir_visit}}/{{url_character}}?{{character.key}}">(View character page)</a>
		  					<br/><a href="/{{dir_manage}}/{{url_character}}?{{character.key}}">(Change character)</a>
		  				</td>
		  				<td width="80" valign="top">
				 		{% if character.image %}
				 			{{character.imageEmbed}}
						{% else %}
							{{NONE}}
						{% endif %}
						</td>
						<td>{{character.description_formatted}}</td>
		  				<td>
		  					<input type="checkbox" name="remove|{{ character.key }}" value="yes" id="remove|{{ character.key }}"/>
							<label for="remove|{{ character.key }}">Inactivate</label>
		  					</td>
		  				</tr>
		      		{% endfor %}
		      	</table>
				</fieldset>
			{% endif %}
			
			{% if inactive_characters %}
				<h3>Inactive characters{{"inactive_characters"|caution}}</h3>
				<fieldset>
				<ul>
				{% for character in inactive_characters %}
					<li class="nobullet">{{character.name}}</li>
				{% endfor %}
				</ul>
				</fieldset>
			{% endif %}
			
		<p>
	    <center><input type="submit" name="submitChanges" value="Submit Changes" class="button"></center>
		</form>
		</div>	
	{% else %}
		<p>You are not a manager of this Rakontu and cannot change its characters.
		Please ask a manager to make changes to the characters for you.</p>
	{% endif %}
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
