<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	
	
	<div id="content">
	
	{% if current_member.isManagerOrOwner %}
		<div id="stylized" class="rakontu_form">
		<form action="/{{dir_manage}}/{{url_character}}" method="post" enctype="multipart/form-data">

		<h3>Character name and description</h3>
		<fieldset>
		<p>Name
		<input type="text" name="name" value="{{ character.name }}" maxlength="{{maxlength_name}}"/>
		</p><p>Description
			<table style="width:100%; border:none">
			<tr><td class="noborder">
			<textarea name="description" rows="10" cols="60">{{character.description}}</textarea>
			</td><td class="noborder" width="80">
			<p>Interpret as{{"interpreting_texts"|tip}}</p>
				<select name="description_format">
				{% for i in text_formats|makeRangeFromListLength %}
					<option value="{{text_formats|listLookup:i}}" 
						{% if text_formats|listLookup:i|equalTest:character.description_format %}
							selected="selected"
						{% endif %}
					>{{text_formats_display|listLookup:i}}</option>
				{% endfor %}
				</select>
			</td></tr></table>
		</p><p>Etiquette statement
			<table style="width:100%; border:none">
			<tr><td class="noborder">
			<textarea name="description" rows="10" cols="60">{{character.etiquetteStatement}}</textarea>
			</td><td class="noborder" width="80">
			<p>Interpret as</p>
				<select name="etiquetteStatement_format">
				{% for i in text_formats|makeRangeFromListLength %}
					<option value="{{text_formats|listLookup:i}}" 
						{% if text_formats|listLookup:i|equalTest:character.etiquetteStatement_format %}
							selected="selected"
						{% endif %}
					>{{text_formats_display|listLookup:i}}</option>
				{% endfor %}
				</select>
			</td></tr></table>
		</fieldset>
			
		<h3>Picture</h3>
		<fieldset>
		      	<table border="1" cellpadding="4" cellspacing="0">
		      	<tr>
		      		<th>Image</th>
		      		<th>{% if member.profileImage %} Replace {% else %} Attach {% endif %} </th>
		      		<th>Remove?</th>
		      		
		      	</tr>
		      	<tr>
					<td>{% if character.image %}
							{{character.imageEmbed}}
						{% else %}
							none
						{% endif %}
						</td>
					<td><input type="file" name="img" size="40" accept="jpg/png"/></p><p><i>The best picture size is 100 x 60.</i></p></td>
					<td>{% if character.image %}
							<input type="checkbox" name="removeImage" value="yes" id="removeImage">
							<label for="removeImage">Remove</label>{% else %}&nbsp; 
						{% endif %}</td>
				</tr>
				</table>
		</fieldset>
		
		{% if questions %}
			{% include "../common_questions.html" %}
		{% endif %}
		
      	<p>
    <center><input type="submit" name="changeSettings|{{character.key}}" value="Change Settings" class="button"></center>
	</form>	
	</div>
	{% else %}
		<p>You are not a manager of this Rakontu and cannot change its characters.
		Please ask a manager to make changes to the characters for you.</p>
	{% endif %}
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
