<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	<h3>Welcome to your new Rakontu, {{current_member.nickname}}!</h3>
	
	<p>To get you started, here is a brief explanation of some important terms.</p>
	
	<div class="blurb">
	<p>
	The most important thing in a Rakontu is, of course, its <b>stories</b>. 
	But there are four other types of <b>entry</b> as well: <b>invitations</b> to tell stories,
	story <b>collages</b>, <b>patterns</b> people have observed in the stories, and <b>resources</b> that help
	people remember and understand.
	All of these things can be commented on, given descriptive tags, rated, asked questions about, and searched. 
	</p>
	<hr>
	<p>Many of the people in your Rakontu will participate as regular members.
	However, there are three "helper" roles people can volunteer to take on to help the Rakontu become more useful to everyone.
	<ol>
	<li><b>Curators</b> watch over the stories. They locate and fix problems in your story "museum."</li>
	<li><b>Guides</b> watch over the people. They help new members get started and answer questions.</li>
	<li><b>Liaisons</b> bridge worlds. They help people who don't use computers to participate in the Rakontu by entering
	their stories and reading them stories others have told.</li>
	</ol>
	<p>Of course there are also <b>managers</b>, who make the decisions. You, as the group's first owner, are also its first manager.
	Note that you have to "become" a curator, guide or liaison to access those special pages (even though you are a manager).
	Visit your <a href="/{{dir_visit}}/{{url_preferences}}?{{rakontu.urlQuery}}">preferences</a> page to do that.
	<hr>
	<p>The best way to get started with your new site is to simply go down the items in the "Manage" menu (at the top of the page)
		clicking on each one, and look at all the <a href="/{{dir_manage}}/{{url_settings}}?{{rakontu.urlQuery}}">options</a> you see there. Then start
		asking some people to <a href="/{{dir_manage}}/{{url_members}}?{{rakontu.urlQuery}}">join</a> you,
		asking them to <a href="/{{dir_visit}}/{{url_invitation}}?{{rakontu.urlQuery}}">tell</a> stories, 
		and <a href="/{{dir_visit}}/{{url_story}}?{{rakontu.urlQuery}}">telling</a> some stories yourself!</p>
	<hr>
	<p>One more thing: around the site you will see little icons that provide help. Either hover over them with your mouse or click on them
	to read a bit of help about the area in which they appear.
	<i>If you do not see any icons below, your site administrator has not yet generated the help system.</i></p>
	<ul>
	<li class="nobullet">{{"information_hovers"|info}} information</li>
	<li class="nobullet">{{"tip_hovers"|tip}} tip</li>
	<li class="nobullet">{{"caution_hovers"|caution}}  caution</li>
	</ul>
	</div>
	
	
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
