<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
		
		{% if current_member.isManagerOrOwner %}
			<div id="stylized" class="rakontu_form">
			<form action="/{{dir_manage}}/{{url_settings}}?{{rakontu.urlQuery}}" method="post" enctype="multipart/form-data">
			<p>This Rakontu was created 
			on {{rakontu.created|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}.</p>

			<h3>Name and description</h3>
			<fieldset>
			<p>Rakontu name {{"rakontu_name"|tip}}</p>
			<input type="text" name="name" value="{{ rakontu.name }}" size="30" maxlength="{{maxlength_name}}"/>
			<p>Tag line {{"tag_line"|tip}}</p>
			<input type="text" name="tagline" value="{{ rakontu.tagline }}" size="80" maxlength="{{maxlength_subject_or_comment}}"/>
			<p>Color scheme {{"color_schemes"|tip}}</p>
			<select name="colorScheme">
				{% for name in color_scheme_names|sorted %}
					<option value="{{name}}"
					{% ifequal name rakontu.colorScheme %}
						selected="selected"
					{% endifequal %}
					>{{color_scheme_display_name_dict|dictLookup:name}}</option>
				{% endfor %}
				</select>
			<p>Rakontu contact email{{"rakontu_contact_email"|caution}}</p>
			<input type="text" name="contactEmail" value="{{ rakontu.contactEmail }}" size="80" maxlength="{{maxlength_name}}"/>
			<p>Description{{"rakontu_description"|tip}}</p>

				<table style="width:100%; border:none">
				<tr><td class="noborder">
				<textarea name="description" rows="5" cols="60">{{rakontu.description}}</textarea>
				</td><td class="noborder" width="80">
				<p>Interpret as{{"interpreting_texts"|tip}}</p>
					<select name="description_format">
					{% for i in text_formats|makeRangeFromListLength %}
						<option value="{{text_formats|listLookup:i}}" 
							{% if text_formats|listLookup:i|equalTest:rakontu.description_format %}
								selected="selected"
							{% endif %}
						>{{text_formats_display|listLookup:i}}</option>
					{% endfor %}
					</select>
				</td></tr></table>
				
			<p>Welcome message for new members{{"welcome_message"|tip}}</p>
				<table style="width:100%; border:none">
				<tr><td class="noborder">
				<textarea name="welcomeMessage" rows="5" cols="60">{{rakontu.welcomeMessage}}</textarea>
				</td><td class="noborder" width="80">
				<p>Interpret as</p>
					<select name="welcomeMessage_format">
					{% for i in text_formats|makeRangeFromListLength %}
						<option value="{{text_formats|listLookup:i}}" 
							{% if text_formats|listLookup:i|equalTest:rakontu.welcomeMessage_format %}
								selected="selected"
							{% endif %}
						>{{text_formats_display|listLookup:i}}</option>
					{% endfor %}
					</select>
				</td></tr></table>

			<p>Etiquette statement{{"rakontu_etiquette_statement"|tip}}</p>
				<table style="width:100%; border:none">
				<tr><td class="noborder">
				<textarea name="etiquetteStatement" rows="5" cols="60">{{rakontu.etiquetteStatement}}</textarea>
				</td><td class="noborder" width="80">
				<p>Interpret as</p>
					<select name="etiquetteStatement_format">
					{% for i in text_formats|makeRangeFromListLength %}
						<option value="{{text_formats|listLookup:i}}" 
							{% if text_formats|listLookup:i|equalTest:rakontu.etiquetteStatement_format %}
								selected="selected"
							{% endif %}
						>{{text_formats_display|listLookup:i}}</option>
					{% endfor %}
					</select>
				</td></tr></table>

			<p>Image{{"rakontu_image"|tip}}</p>
			{% if rakontu.image %}
				{{rakontu.imageEmbed}}
				<input type="checkbox" name="removeImage" value="removeImage" id="removeImage"><label for="removeImage">Remove</label>
			{% endif %}
			<p><input type="file" name="img" accept="jpg/png"/></p>
			
			{% if current_member.isOwner %}
				<div class="rightalign">You are an owner of this Rakontu; you can <a href="/{{dir_manage}}/{{url_inactivate}}?{{rakontu.urlQuery}}">inactivate</a> it.</div>
			{% endif %}
			</fieldset>
			
			<h3>Time zones and time reporting</h3>
			<fieldset>
			<p>What time zone should members see as the default?
				<select name="defaultTimeZoneName"">
				{% for name in time_zone_names %}
					<option value="{{name}}"
					{% ifequal rakontu.defaultTimeZoneName name %}
						selected="selected"
					{% endifequal %}
					>{{name}}</option>
				{% endfor %}
				</select>
			<p>How should dates be displayed by default?
				<select name="defaultDateFormat">
				{% for format in date_formats.keys|sorted %}
					<option value="{{format}}"
					{% ifequal rakontu.defaultDateFormat format %}
						selected="selected"
					{% endifequal %}
					>{{date_formats|dictLookup:format}}</option>
				{% endfor %}
				</select>
			<p>How should times be displayed by default?
				<select name="defaultTimeFormat">
				{% for format in time_formats.keys %}
					<option value="{{format}}"
					{% ifequal rakontu.defaultTimeFormat format %}
						selected="selected"
					{% endifequal %}
					>{{time_formats|dictLookup:format}}</option>
				{% endfor %}
				</select>
			</fieldset>
			
			{% if site_allows_attachments %}
				<h3>Attachments</h3>
				<fieldset>
				<p>How many attachments are allowed per entry?
					<select name="maxNumAttachments" style="width: 60px;">
					<option value="1"
						{% ifequal rakontu.maxNumAttachments 1 %}
							selected="selected"
						{% endifequal %}
						>1</option>
					<option value="2"
						{% ifequal rakontu.maxNumAttachments 2 %}
							selected="selected"
						{% endifequal %}
						>2</option>
					<option value="3"
						{% ifequal rakontu.maxNumAttachments 3 %}
							selected="selected"
						{% endifequal %}
						>3</option>
					<option value="4"
						{% ifequal rakontu.maxNumAttachments 4 %}
							selected="selected"
						{% endifequal %}
						>4</option>
					<option value="5"
						{% ifequal rakontu.maxNumAttachments 5 %}
							selected="selected"
						{% endifequal %}
						>5</option>
					</select>
				</fieldset>
			{% endif %}
	
			<h3>Fictional characters</h3>
			<fieldset>
			<p>Is entry via fictional character allowed for each of these entry types?{{"fictional_entry"|caution}}</p>
			{% for text in character_includes %}
				{{ text }}
			{% endfor %}
			</table>
			</fieldset>
			
			<h3>Editing</h3>
			<fieldset>
			<p>For which of these types of entry should editing be allowed after publishing?{{"editing_after_publishing"|info}}{{"editing_after_publishing"|caution}}</p>
			{% for text in editing_includes %}
				{{ text }}
			{% endfor %}
			<p>Should curators who are not managers be able to edit existing tags?{{"allowing_non_manager_curators_to_change_tags"|caution}}</p>
				<input type="checkbox" name="allowNonManagerCuratorsToEditTags" value="yes" id="allowNonManagerCuratorsToEditTags"
				{% if rakontu.allowNonManagerCuratorsToEditTags %}
					checked="checked"
				{% endif %}
				>
				<label for="allowNonManagerCuratorsToEditTags">Yes, curators who are not managers can edit all tags</label>
			</fieldset>
			
			<h3>Activity system</h3>
			<fieldset>
			<p>How many activity points are added to an item based on each activity?{{"activity_points"|info}}{{"what_downdrift_is_about"|tip}}</p>
			<table  border="0" cellpadding="4" cellspacing="0">
			{% for text in activity_point_includes %}
				{{ text }}
			{% endfor %}
			</table>
	      	</fieldset>
	      	
			<h3>Nudge system</h3>
			<fieldset>
			<p><i></i></p>
			<p>How many nudge points can be asssigned (maximum) per entry? 
			<input type="text" name="maxNudgePointsPerEntry" size="4" value="{{rakontu.maxNudgePointsPerEntry}}" maxlength="4"/>
			{{"nudge_points"|info}} {{"nudge_points_per_entry"|caution}}
			<p>Enter your nudge category names and questions here.{{"nudge_category_names"|caution}}</p>
			<table border="0" cellpadding="4" cellspacing="0">
			<tr><th>Name</th><th>Question {{"nudge_category_questions"|tip}}</th></tr>
			{% for i in num_nudge_categories|makeRange %}
				<tr>
				<td><input type="text" name="nudgeCategory{{i}}" size="30" value="{{rakontu.nudgeCategories|listLookup:i}}" maxlength="{{maxlength_name}}"/>
				</td><td><input type="text" name="nudgeCategoryQuestion{{i}}" size="60" value="{{rakontu.nudgeCategoryQuestions|listLookup:i}}" maxlength="{{maxlength_subject_or_comment}}"/>
				</tr>
			{% endfor %}
			</table>
			</p>
			<p>How many nudge points do members accumulate by participating in the Rakontu?</p>
			<table  border="0" cellpadding="4" cellspacing="0">
			{% for text in nudge_point_includes %}
				{{ text }}
			{% endfor %}
			</table>
	      	</fieldset>
	      	
			<h3>Helping Roles</h3>
			<fieldset>
			<p><b>Curator read-before text{{"role_read_before_texts"|info}}</b></p>
				<table style="width:100%; border:none">
				<tr><td class="noborder">
				<textarea name="readme0" rows="5" cols="60">{{rakontu.roleReadmes.0}}</textarea>
				</td><td class="noborder" width="80">
				<p>Interpret as</p>
					<select name="roleReadmes_formats0">
					{% for i in text_formats|makeRangeFromListLength %}
						<option value="{{text_formats|listLookup:i}}" 
							{% if text_formats|listLookup:i|equalTest:rakontu.roleReadmes_formats.0 %}
								selected="selected"
							{% endif %}
						>{{text_formats_display|listLookup:i}}</option>
					{% endfor %}
					</select>
				</td></tr></table>
			<p></p>
			<p><b>Guide read-before text</b></p>
				<table style="width:100%; border:none">
				<tr><td class="noborder">
				<textarea name="readme1" rows="5" cols="60">{{rakontu.roleReadmes.1}}</textarea>
				</td><td class="noborder" width="80">
				<p>Interpret as</p>
					<select name="roleReadmes_formats1">
					{% for i in text_formats|makeRangeFromListLength %}
						<option value="{{text_formats|listLookup:i}}" 
							{% if text_formats|listLookup:i|equalTest:rakontu.roleReadmes_formats.1 %}
								selected="selected"
							{% endif %}
						>{{text_formats_display|listLookup:i}}</option>
					{% endfor %}
					</select>
				</td></tr></table>
			<p></p>
			<p><b>Liaison read-before text</b></p>
				<table style="width:100%; border:none">
				<tr><td class="noborder">
				<textarea name="readme2" rows="5" cols="60">{{rakontu.roleReadmes.2}}</textarea>
				</td><td class="noborder" width="80">
				<p>Interpret as</p>
					<select name="roleReadmes_formats2">
					{% for i in text_formats|makeRangeFromListLength %}
						<option value="{{text_formats|listLookup:i}}" 
							{% if text_formats|listLookup:i|equalTest:rakontu.roleReadmes_formats.2 %}
								selected="selected"
							{% endif %}
						>{{text_formats_display|listLookup:i}}</option>
					{% endfor %}
					</select>
				</td></tr></table>
			</fieldset>
		<p></p>
	    <center><input type="submit" name="changeSettings" value="Change Settings" class="button"></center>
		</form>
		</div>
	{% else %}
		<p>You are not a manager of this Rakontu and cannot change its settings.
		Please ask a manager to make any changes you would like to see made.</p>
	{% endif %}
	
	</div>	
	{% include "../common_footer.html" %}
	</body>
</html>
