

<div id="header">

	<table cellpadding="2" class="fullwidth">
	<tr>
	
	{% if current_member %}
	
		<td align="left" valign="center" class="noborder" width="70">
		{% if rakontu.firstPublish %}
			<a href="/visit/home">
		{% endif %}
		{% if rakontu.image %}
			<img src="/img?rakontu_id={{rakontu.key}}" class="bordered">
		{% else %}
			<p><img src="/images/Rakontu.jpg" width="100" height="64" alt="Rakontu logo" class="bordered" ></p>
		{% endif %}
		{% if rakontu.firstPublish %}
			</a>
		{% endif %}
		
		</td><td align="left" valign="center" class="noborder"
		{% if current_member.isCurator and current_member.isGuide and current_member.isLiaison and current_member.isManagerOrOwner and user_is_admin %}
			width="650"
		{% endif %}
		>
		<b>{{ rakontu.name }}</b><br/>
		{% if rakontu.tagline %}
			<i>{{rakontu.tagline|orNbsp}}</i>
		{% endif %}
		<ul id="topmenu">
	  		<li><a href="/visit/home">Visit</a>
				<ul>
				{% if rakontu.firstPublish %}
					<li><a href="/visit/home">Home page</a></li>
				{% endif %}
	 			<li><a href="/visit/rakontu">About this Rakontu</a></li>
				<li><a href="/visit/members">About its members</a></li>
				<li><a href="/">Exit this Rakontu</a></li>
				</ul>
			</li>
			<li><a href="/visit/story">Create</a>
				<ul>
				<li><a href="/visit/story">Tell a story</a></li>
	  			<li><a href="/visit/invitation">Invite people to tell stories</a></li>
	  			{% if rakontu.firstPublish %}
	  				<li><a href="/visit/collage">Build a story collage</a></li>
	  				<li><a href="/visit/pattern">Describe a pattern</a> </li>
	  			{% endif %}
	  			</ul>
			</li>
			{% if current_member.isCurator %}
				<li><a href="/curate/flags">Curate</a>
				<ul>
					<li><a href="/curate/gaps">Gaps</a></li>
					<li><a href="/curate/flags">Flags</a></li>
					{% if rakontu.allowsAttachments %}
						<li><a href="/curate/attachments">Attachments</a></li>
					{% endif %}
					{% if current_member.canEditTags %}
						<li><a href="/curate/tags">Tags</a></li>
					{% endif %}
				</ul>
				</li>
			{% endif %}
			{% if current_member.isGuide %}
				<li><a href="/guide/orphans">Guide</a>
				<ul>
					<li><a href="/guide/orphans">Orphans</a></li>
					<li><a href="/guide/requests">Requests</a></li>
					<li><a href="/guide/resources">Resources</a>
					<li><a href="/guide/resource">Add a resource</a></li>
				</ul>
				</li>
			{% endif %}
			{% if current_member.isLiaison %}
				<li><a href="/liaise/members">Liaise</a>
				<ul>
					<li><a href="/liaise/members">Manage off-line members</a></li>
					<li><a href="/liaise/batch">Add a batch of stories</a></li>
					<li><a href="/liaise/review">Review entered batches</a></li>
				</ul>
				</li>
			{% endif %}
			{% if current_member.isManagerOrOwner %}
				<li><a href="/manage/settings">Manage</a>
					<ul>
					<li><a href="/manage/settings">Settings</a></li>
		      		<li><a href="/manage/questions_list">Questions</a></li>
		      		<li><a href="/manage/systemResources">Help resources</a></li>
		      		<li><a href="/manage/characters">Characters</a></li>
		      		<li><a href="/manage/members">Members</a></li>
			      	<li><a href="/manage/export">Export</a></li>
		      		</ul>
		      	</li>
		    {% endif %}
			{% if user_is_admin %}
	 			<li><a href="/admin/rakontus">Administer</a>
					<ul>
					<li><a href="/admin/rakontus">Review all Rakontus</a></li>
					<li><a href="/admin/generateSystemQuestions">Generate sample questions</a></li>
					<li><a href="/admin/generateHelps">Generate help messages</a></li>
					</ul>
				</li>
			{% endif %}
			
	      	</ul>
	    </td><td align="right" class="noborder">
    	<p>&nbsp; You are logged in as <b>{{ current_member.nickname }}</b><br/>
	    <a href="/visit/help">Help</a> | <a href="/visit/profile">Preferences</a> | <a href="{{logout_url}}">Log out</a></p>
		{% if current_member.profileImage %}
		</td><td align="center" width="20" class="noborder">
			<div><img src="/img?member_id={{current_member.key}}"></img></div>
		{% endif %}
		</td><td valign="center" class="noborder">
	
		{% else %}
			{% if user_is_admin %}
				<td class="noborder">
				<h1>Rakontu site administration</h1>
			{% else %}
				<p>No user has been found.</p>
			{% endif %}
	    {% endif %}
	</td></tr></table>

</div>

