	  	{% if rows_cols %}
			<table 
				cellpadding="4" 
				cellspacing="0" 
				style="width:100%; 
				border-top: 1px solid #{{skin|dictLookup:"color_border_normal"}}; 
				border-bottom: 1px solid #{{skin|dictLookup:"color_border_normal"}}; 
				border-left: none; 
				border-right: 1px solid #{{skin|dictLookup:"color_border_normal"}}"
				>
			{% for i in rows_cols|makeRangeFromListLength %}
				<tr>
				{% for col_list in rows_cols|listLookup:i %}
					<td 
						style="background-color:#{{row_colors|listLookup:i}};
						border-left: 1px solid #{{skin|dictLookup:"color_border_normal"}}; 
						{% ifequal i 0 %}
							border-top: 1px solid #{{skin|dictLookup:"color_border_normal"}}; 
						{% else %}
							border-top: none; 
						{% endifequal %}
						border-bottom: none; border-right: none">
					{% if col_list %}
						{% for text in col_list %}
							{{text}}
						{% endfor %}
					{% else %}
					&nbsp; 
					{% endif %}
					</td>
				{% endfor %}
				</tr>
			{% endfor %}
			</table>
			{% if too_many_items_warning %}
				<div class="blurb">{{max_num_items}} / {{num_items_before_truncation}} {{too_many_items_warning}}</div>
			{% endif %}
		{% endif %}
