

<div id="header">

	<table cellpadding="2" class="fullwidth">
	<tr>
	
	<td align="left" valign="center" class="noborder" width="70">
	{% if community.image %}
		<img src="img?community_id={{community.key}}" class="bordered">
	{% else %}
		<p><img src="/images/Rakontu.jpg" width="100" height="64" alt="Rakontu logo" class="bordered" ></p>
	{% endif %}
	
	</td><td align="left" valign="center" class="noborder">
	<b>{{ community.name }}</b><br/>
	{% if community.tagline %}
		<i>{{community.tagline|orNbsp}}</i>
	{% endif %}
	<ul id="topmenu">
  		<li><a href="/visit/look">Visit</a>
			<ul>
			<li><a href="/visit/look">Look at stories</a></li>
 			<li><a href="/visit/community">About the community</a></li>
			<li><a href="/visit/members">About the members</a></li>
			<li><a href="/">Exit community</a></li>
			</ul>
		</li>
		<li><a href="/visit/story">Talk</a>
			<ul>
			<li><a href="/visit/story">Tell a story</a></li>
  			<li><a href="/visit/invitation">Invite people to tell stories</a></li>
  			<li><a href="/visit/collage">Build a story collage</a></li>
  			<li><a href="/visit/pattern">Describe a pattern</a> </li>
  			</ul>
		</li>
		{% if current_member.hasAnyHelpingRole %}
			<li><a href="/curate/curate">Help</a>
				<ul>
				{% if current_member.isCurator %}
					<li><a href="/curate/flags">Review flags</a>
					<li><a href="/curate/gaps">Review gaps</a>
				{% endif %}
				{% if current_member.isGuide %}
					<li><a href="/guide/resources">Review resources</a>
					<li><a href="/guide/resource">Add a resource</a></li>
				{% endif %}
				{% if current_member.isLiaison %}
					<li><a href="/liaise/members">Review off-line members</a>
				{% endif %}
				</ul>
			</li>
		{% endif %}
		{% if current_member.isManagerOrOwner %}
			<li><a href="/manage/settings">Manage</a>
				<ul>
				<li><a href="/manage/settings">Settings</a></li>
	      		<li><a href="/manage/members">Members</a></li>
	      		<li><a href="/manage/characters">Characters</a></li>
	      		<li><a href="/manage/questions_story">Questions about stories</a></li>
		      	<li><a href="/manage/questions_invitation">Questions about invitations</a></li>
		      	<li><a href="/manage/questions_collage">Questions about collages</a></li>
		      	<li><a href="/manage/questions_pattern">Questions about patterns</a></li>
		      	<li><a href="/manage/questions_resource">Questions about resources</a></li>
		      	<li><a href="/manage/questions_member">Questions about members</a></li>
		      	<li><a href="/manage/technical">Backup / export</a></li>
	      		</ul>
	      	</li>
	    {% endif %}
		{% if user_is_admin %}
 			<li><a href="/admin/showAllCommunities">Administer</a>
				<ul>
				<li><a href="/admin/showAllCommunities">See all communities</a></li>
				<li><a href="/admin/showAllMembers">See all members</a></li>
				<li><a href="/admin/generateSystemQuestions">Generate system questions</a></li>
				<li><a href="/admin/generateHelps">Generate help messages</a></li>
				</ul>
			</li>
		{% endif %}
		
      	</ul>
    </td><td align="right" class="noborder">
    <p>&nbsp; You are logged in as <b>{{ current_member.nickname }}</b>.<br/>
    <a href="xxx">Help</a> | <a href="/visit/profile">Preferences</a> | <a href="{{logout_url}}">Log out</a></p>
	{% if current_member.profileImage %}
	</td><td align="center" width="20" class="noborder">
		<div><img src="img?member_id={{current_member.key}}"></img></div>
	{% endif %}
	</td><td valign="center" class="noborder">
	
	</td></tr></table>

</div>

