		<h3>
			{% ifequal refer_type "member" %}
				Please answer these questions about yourself.
			{% else %}
				{% if entry %}
					Answers to questions about this {{ refer_type }}
				{% else %}
					Please answer these questions about this {{ refer_type }}.
				{% endif %}
			{% endifequal %}
			</h3>
		<fieldset>
		{% for question in questions %}
			<p><b>{{ question.text }}</b>
			{% if question.help|notNone %}
				<i>{{question.help}}</i>
			{% endif %}
			
			{% ifequal question.type "text" %}
				</p>
				&nbsp; &nbsp; <input type="text" size="80" name="{{question.key}}" value="
				{% for answer in answers %}
					{% ifequal answer.questionKey question.key %}
						{{ answer.answerIfText }}
					{% endifequal %}
				{% endfor %}
				" maxlength="{{maxlength_subject_or_comment}}"/>
			{% endifequal %}
			
			{% if question.isOrdinalOrNominal %}
				</p>
				{% if question.multiple %}
					{% for choice in question.choices %}
						{% if choice|slugify %}
							&nbsp; &nbsp; <input type="checkbox" name="{{question.key}}|{{choice}}" value="yes" id="{{question.key}}|{{choice}}" 
							{% for answer in answers %}
								{% ifequal answer.questionKey question.key %}
									{% for answerText in answer.answerIfMultiple %}
										{% ifequal answerText choice %}
											checked="checked"
										{% endifequal %}
									{% endfor %}
								{% endifequal %}
							{% endfor %}
							/><label for="{{question.key}}|{{choice}}">{{choice}}</label>
						{% endif %}
					{% endfor %}
				{% else %}
					&nbsp; &nbsp; <select name="{{question.key}}"><option value="none">(choose)</option>
					{% for choice in question.choices %}
						{% if choice|slugify %}
						<option value="{{choice}}"
							{% for answer in answers %}
								{% ifequal answer.questionKey question.key %}
									{% ifequal answer.answerIfText choice %}
										selected="selected"
									{% endifequal %}
								{% endifequal %}
							{% endfor %}
						/>{{choice}}</option>
						{% endif %}
					{% endfor %}
					</select>			
				{% endif %}
			{% endif %}
			
			{% ifequal question.type "boolean" %}
				</p>
				&nbsp; &nbsp; <input type="checkbox" name="{{question.key}}" value="{{question.key}}" id="{{question.key}}"
				{% for answer in answers %}
					{% ifequal answer.questionKey question.key %}
						{% if answer.answerIfBoolean %}
							checked="checked"
						{% endif %}
					{% endifequal %}
				{% endfor %}
				/><label for="{{question.key}}">{{question.responseIfBoolean}}</label>
			{% endifequal %}
			
			{% ifequal question.type "value" %}
				<i>Please enter a number between {{question.minIfValue}} and {{question.maxIfValue}}.</i></p>
				&nbsp; &nbsp; <input type="text" size="60" name="{{question.key}}" value="
				{% for answer in answers %}
					{% ifequal answer.questionKey question.key %}
						{{ answer.answerIfValue }}
					{% endifequal %}
				{% endfor %}
				" maxlength="{{maxlength_number}}"/>
			{% endifequal %}
			
		{% endfor %}
		</fieldset>