			{% if offline_members and current_member.isLiaison %}
				<p>{{template_since_you_are_a_liaison}}:</p>
				<fieldset>
				{{template_collected_from_offline_member}}</p>
				<input type="radio" name="collectedOffline" value="yes" id="collectedOffline"
					{% if attribution_referent.collectedOfflineOrInBatchEntryBuffer %}
					checked
					{% endif %}
				><label for="collectedOffline">{{template_yes_collected_from}}</label>
				<select name="offlineSource">
					<option value="none">({{term_choose}})</option>
					{% for aMember in offline_members %}
						<option value="{{aMember.key}}"
						{% if attribution_referent %}
							{% ifequal aMember.key attribution_referent.creator.key %}
								selected="selected"
							{% endifequal %}
						{% endif %}
						>{{aMember.nickname}}
						</option>
					{% endfor %}
				</select>
				&nbsp; 
	  			 {{template_year}} <input type="text" name="year" size="4" value="" maxlength="4"/>
	  			 {{template_month}} <input type="text" name="month" size="4" value="" maxlength="2"/>
	  			 {{template_day}} <input type="text" name="day" size="4" value="" maxlength="2"/>
  			 	{{"offline_collection_dates"|tip}}
	 			{% if character_allowed %}
					</p><p>&nbsp; &nbsp; &nbsp; {{template_attributed_to}}
					<select name="offlineAttribution">
						<option value="member"
							{% if attribution_referent %}
								{% if attribution_referent.attributedToMember %}
									selected="selected"
								{% endif %} 
							{% endif %}
							>{{template_selected_member}}</option>
						{% if rakontu.getActiveCharacters %}
							{% for character in rakontu.getActiveCharacters %}
								<option value="{{character.key}}"
								{% if attribution_referent %}
									{% ifequal attribution_referent.character.key character.key %}
										selected="selected"
									{% endifequal %} 
								{% endif %}
								>{{character.name}}</option>
							{% endfor %}
						{% endif %}
					</select></p> 
				{% endif %} 
				<p><input type="radio" name="collectedOffline" value="no" id="notCollectedOffline"
					{% if not attribution_referent.collectedOfflineOrInBatchEntryBuffer  %}
					checked
					{% endif %}
				><label for="notCollectedOffline">{{template_no_my_contribution}}.</label>
				{% if character_allowed %}
					</p><p>&nbsp; &nbsp; &nbsp; {{template_attribute_to}}
					<select name="attribution">
						<option value="member"
							{% if attribution_referent %}
								{% if attribution_referent.attributedToMember %}
									selected="selected"
								{% endif %}
							{% endif %}
							>{{template_myself}} ({{current_member.nickname}})</option>
						{% if rakontu.getActiveCharacters %}
							{% for character in rakontu.getActiveCharacters %}
								<option value="{{character.key}}"
								{% if attribution_referent %}
									{% ifequal attribution_referent.character.key character.key %}
										selected="selected"
									{% endifequal %}
								{% endif %}
								>{{character.name}}</option>
							{% endfor %}
						{% endif %}
					</select></p>
				{% endif %}
				</fieldset>
			{% else %}
				{% if character_allowed %}
					{{template_attribute_to_whom}}
					<select name="attribution">
						<option value="member"
							{% if attribution_referent %}
								{% if attribution_referent.attributedToMember %}
									selected="selected"
								{% endif %}
							{% endif %}
							>{{template_myself}} ({{current_member.nickname}})</option>
						{% if rakontu.getActiveCharacters %}
							{% for character in rakontu.getActiveCharacters %}
								<option value="{{character.key}}"
								{% if attribution_referent %}
									{% ifequal attribution_referent.character.key character.key %}
										selected="selected"
									{% endifequal %}
								{% endif %}
								>{{character.name}}</option>
							{% endfor %}
						{% endif %}
					</select>
					{% if rakontu.getActiveCharacters %}
						{{"what_characters_are_for"|info}}
					{% endif %}
					</p>
				{% endif %}
			{% endif %}
