		<center>
		<table class="grid" cellpadding="3" cellspacing="0">

		{% if include_time_range %}
			<tr><th align="right">{{template_time_range}}</th><td>
			{{min_time}} - {{max_time}}
			<input type="submit" name="setToFirst" value=" |&lt; " class="button_small">
			<input type="submit" name="moveTimeBack" value=" &lt; " class="button_small">
			<input type="submit" name="moveTimeForward" value=" &gt; " class="button_small">
			<input type="submit" name="setToLast" value=" &gt;| " class="button_small">
			{{template_show}}
			<select name="timeFrame">
				{% for time_frame in time_frames %}
					<option value="{{time_frame|listLookup:0}}"
					{% if time_frame|listLookup:0|equalTest:member_time_frame_string %}
						selected="selected"
					{% endif %}
					>{{time_frame|listLookup:0}}</option>
				{% endfor %} 
				</select>
			<input type="submit" name="changeTimeFrame" value="{{button_change}}" class="button_small">
			</td></tr>
		{% endif %}

		{% if include_entry_types %}
			<tr><th align="right">{{template_entry_types}}</th><td>
			{% for i in entry_types|makeRangeFromListLength %}
				<input type="checkbox" name="showEntryType|{{i}}" value="yes" id="{{entry_types|listLookup:i}}"
				{% if entry_types_to_show|listLookup:i %}
					checked
				{% endif %}
				>
				<label for="{{entry_types|listLookup:i}}">{{entry_types_plural_display|listLookup:i}}</label>
			{% endfor %}
			<input type="submit" name="changeEntryTypesShowing" value="{{button_change}}" class="button_small">
			</td></tr>
		{% endif %}
		
		{% if include_annotation_types %}
			<tr><th align="right">{{template_annotation_types}}</th><td>
			{% for i in annotation_answer_link_types|makeRangeFromListLength %}
				<input type="checkbox" name="showAnnotationAnswerLinkType|{{i}}" value="yes" id="{{annotation_answer_link_types|listLookup:i}}"
				{% if annotation_types_to_show|listLookup:i %}
					checked
				{% endif %}
				>
				<label for="{{annotation_answer_link_types|listLookup:i}}">{{annotation_answer_link_types_plural_display|listLookup:i}}</label>
			{% endfor %}
			<input type="submit" name="changeAnnotationTypesShowing" value="{{button_change}}" class="button_small">
			</td></tr>
		{% endif %}
		
		{% if include_nudges %}
			<tr><th align="right">{{template_nudges}}</th><td>
			<p>
			{% for i in rakontu.nudgeCategories|makeRangeFromListLength %}
				{% if rakontu.nudgeCategories|listLookup:i %}
					<input type="checkbox" name="showCategory|{{i}}" value="yes" id="{{rakontu.nudgeCategories|listLookup:i}}"
					{% if nudge_categories_to_show|listLookup:i %}
						checked
					{% endif %}
					>
					<label for="{{rakontu.nudgeCategories|listLookup:i}}">{{rakontu.nudgeCategories|listLookup:i}}</label>
				{% endif %}
			{% endfor %}
			{% if include_nudge_floor %}
				</p><p>{{template_nudge_floor}}: <input type="text" size="4" value="{{nudge_floor}}" name="nudgeFloor">
			{% endif %}
			<input type="submit" name="changeNudgeCategoriesShowing" value="{{button_change}}" class="button_small"></p>
			</td></tr>
		{% endif %}
		
		{% if include_search %}
			<tr><th align="right">{{template_search_filter}}</th><td>
			{% if shared_searches or member_searches %}
					{% if current_search %}
						{{current_search.displayString}}
					{% else %}
						<select name="savedSearch"><option>({{term_choose}})</option>
						{% if member_searches %}
							<option value="">-- {{template_my_filters}} --</option>
							{% for search in member_searches %}
								<option value="{{search.key}}">{{search.displayString}}</option>
							{% endfor %}
						{% endif %}
						{% if shared_searches %}
							<option value="">-- {{template_shared_filters}} --</option>
							{% for search in shared_searches %}
								<option value="{{search.key}}">{{search.displayString}}</option>
							{% endfor %}
						{% endif %}
						</select>
					{% endif %}
				{% if current_search %}
					<input type="submit" name="stopApplyingSearch" value="{{button_stop_applying}}" class="button_small">
					{% ifnotequal current_member.key current_search.creator.key %}
						<input type="submit" name="copySearch" value="{{button_make_copy}}" class="button_small">
					{% else %}
						<input type="submit" name="changeSearch" value="{{button_change}}" class="button_small">
					{% endifnotequal %}
					<input type="submit" name="makeNewSavedSearch" value="{{button_create_another}}" class="button_small">
				{% else %}
					<input type="submit" name="loadAndApplySavedSearch" value="{{button_apply}}" class="button_small">
					<input type="submit" name="makeNewSavedSearch" value="{{button_create_another}}" class="button_small">
				{% endif %}	
			{% else %}
				{{template_search_filters}} - {{template_none}}
				<input type="submit" name="makeNewSavedSearch" value="{{button_make_new}}" class="button_small">
			{% endif %}
			{% ifequal location "member" %}
				{{"searching_for_entries_by_members_or_characters"|tip}}
			{% endifequal %}
			{% ifequal location "character" %}
				{{"searching_for_entries_by_members_or_characters"|tip}}
			{% endifequal %}
			</td></tr>
		{% endif %}
		
		<tr><th align="right">{{template_other_options}}</th><td>
		
		{% if show_details %}
			<input type="submit" name="toggleShowDetails" value="{{button_hide_details}}" class="button_small">
		{% else %}
			<input type="submit" name="toggleShowDetails" value="{{button_show_details}}" class="button_small">
		{% endif %}

		{% if include_print %}
			<input type="submit" name="printSearchResults" value="{{button_print_selection}}" class="button_small">
		{% endif %}
		
		{% if include_export and current_member.isManagerOrOwner %}
			<input type="submit" name="exportSearchResults" value="{{button_export_selection}}" class="button_small">
		{% endif %}

		{% if grid_options_on_top %}
			<input type="submit" name="toggleViewHomeOptionsOnTop" value="{{button_move_choices_to_bottom}}" class="button_small">
		{% else %}
			<input type="submit" name="toggleViewHomeOptionsOnTop" value="{{button_move_choices_to_top}}" class="button_small">
		{% endif %}
		
		</td></tr>
		
		</table>
		</center>
