<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
	</head>
	<body>
	
		<center>
		<table border="0" width="400"><tr><td>
		<div id="stylized" class="rakontu_form_centered">
		<form action="/createCommunity" method="post">
			<p>Please <b>name</b> the new Rakontu community. <i>You can change the name and add a description later.</i></p>
			<input type="text" name="name" value="" size="40" maxlength="{{maxlength_name}}"/>
			<p><i>You, {{ user.nickname|escape }}, will be the community's first <b>member</b>. You will also be an <b>owner</b>
			of the community, which means you can add more members and change settings.</i></p>
			<p>Please choose a <b>nickname</b> to represent yourself in the community, either your real name or a "screen name."
			<i>You can change your nickname later.</i></p>
			<div><input type="text" name="nickname" value="" size="20" maxlength="{{maxlength_name}}"/></div>
			<p></p>
			<center>
			<input type="submit" value="Create a New Rakontu Community" class="button">
			</center>
		</form>
		</div>
		</td></tr></table>
		<p><a href="/">Return to the Main Page</a></p>
		</center>
	{% include "common_footer.html" %}
	</body>
</html>
