<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
	</head>
	<body>
		You are {{ current_user.nickname }}<p>
      	<p>Options for managing the community "{{ community.name|escape }}" are:<p>
      	<a href="/manageCommunity_Members">Memberships</a><p>
      	<a href="/manageCommunity_Settings">Settings</a><p>
      	<a href="/manageCommunity_Questions">Questions</a><p>
      	<a href="/manageCommunity_Personifications">Personifications</a><p>
      	<a href="/manageCommunity_Technical">Backup</a><p>
    <a href="{{ url }}">{{ url_linktext }}</a>
	</body>
	<p><a href="/">Main page</a>
</html>
