<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
	</head>
	<body>
		You are {{ user.nickname }}<p>
      	<p>{{ community.name|escape }}<p>
      	&nbsp; &nbsp; members:<br>
      		{% for member in members %}
      			{% ifequal member.community.key community.key %}
      				&nbsp; &nbsp; &nbsp; &nbsp; {{ member.nickname }}<br>
      			{% endifequal %}
      		{% endfor %}

    <a href="{{ url }}">{{ url_linktext }}</a>
	</body>
	<p><a href="/">Main page</a>
</html>
