

<div id="header">

	<table cellpadding="2" class="fullwidth">
	<tr><td align="left" valign="center" width="70" class="noborder">
	{% if community.image %}
		<div><img src="img?community_id={{community.key}}" class="bordered"></img>
	{% else %}
		<p><img src="/images/Rakontu.jpg" width="100" height="64" alt="Rakontu logo" class="bordered" ></p>
	{% endif %}
	</td><td align="left" valign="center" class="noborder">
	<b>{{ community.name }}</b>
	</td><td align="right" valign="center" class="noborder">
	{{current_member.governanceType|capfirst}} <b>{{ current_member.nickname }}</b><br>
	<a href="/visit/profile">Profile</a> |
	<a href="xxx">Help</a> |
	<a href="{{logout_url}}">Logout</a>
		{% if current_member.profileImage %}
		</td><td align="right" width="70" class="noborder">
			<div><img src="img?member_id={{current_member.key}}"></img></div>
		{% endif %}
	</td></tr></table>

</div>

<div id="sidebar">

	<h1>Visit</h1>
  	<p><a href="/visit/look">Home</a></p>
  	<p><a href="/visit/story">Tell a story</a></p>
  	<p>Add a<p>
  		<ul>
	  	<li><a href="/visit/pattern">pattern</a></li>
	  	<li><a href="/visit/construct">construct</a></li>
	  	<li><a href="/visit/invitation">invitation</a></li>
	  	<li><a href="/visit/resource">resource</a></li>
	  	</ul>
	<p><a href="/visit/members">Members</a></p>
  	
  	{% if current_member.isManagerOrOwner %}
      	<h1>Manage</h1>
      	<p><a href="/manage/members">Memberships</a></p>
      	<p><a href="/manage/settings">Settings</a></p>
      	<p><a href="/manage/personifications">Personifications</a></p>
      	
      	<p>Manage questions about</p>
      	<ul>
      	<li><a href="/manage/questions/story">stories</a></li>
      	<li><a href="/manage/questions/pattern">patterns</a></li>
      	<li><a href="/manage/questions/construct">constructs</a></li>
      	<li><a href="/manage/questions/invitation">invitations</a></li>
      	<li><a href="/manage/questions/resource">resources</a></li>
      	<li><a href="/manage/questions/member">members</a></li>
      	</ul>
      	
      	<p><a href="/manage/technical">Backup / export</a></p>
    {% endif %}

	{% if user_is_admin %}
		<h1>Administer</h1>
		<p>Show</p>
			<ul>
			<li><a href="/admin/showAllCommunities">communities</a></li>
			<li><a href="/admin/showAllMembers">members</a></li>
			</ul>
	{% endif %}
	
	<p><a href="/">Start page</a></p>

</div>