<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
	</head>
	<body>
	<center>
	<h1>Welcome to Rakontu!</h1>
	<p><img src="/images/Rakontu.jpg" alt="Rakontu logo" border="1"></p>
	{% if user %}
		You are logged in to your Google account "{{ user.nickname }}".</p>
	{% endif %}
	
	<form action="/" method="post">
	
	{% if communities %}
		<p>Which Rakontu community would you like to visit?</p>
		<div class="select"><select name="community_key">
		{% for community in communities %}
			<option value="{{ community.key }}">{{ community.name }}</option>
		{% endfor %}
		</select></div>
		<div><input type="submit" name="visitCommunity" value="Visit Community"></div>
	{% else %}
		<p>You are not a member of any Rakontu communities.</p>
	{% endif %}
	<p>
	<div><input type="submit" name="createCommunity" value="Create a New Rakontu Community"></div>
	<p>
	<a href="{{logout_url}}">Logout</a>
	</form>
	
	</body>
</html>
