<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
		<title>Rakontu</title>
	</head>
	<body>
	<center>
	<h1>Rakontu</h1>
	<p><i>{{template_rakontu_motto}}</i></p>
	<p><img src="/images/Rakontu.jpg" alt="Rakontu logo"></p>
	
	{% if user %}
		<div id="rakontu_form_style" class="rakontu_form_centered">
		<form action="/" method="post">
		{% if rakontus_member_of %}
			<p>{{template_you_are_member_of}}</p>
			<select name="rakontu_key_name_visit">
			{% for rakontu in rakontus_member_of %}
				<option value="{{ rakontu.getKeyName }}">{{rakontu.name}}</option>
			{% endfor %}
			</select>
			&nbsp; <input type="submit" name="visitRakontu" value="{{button_visit}}" class="button"></p>
		{% endif %}
		{% if rakontus_invited_to %}
			<p>{{template_you_are_invited_to}}</p>
			<select name="rakontu_key_name_join">
			{% for rakontu in rakontus_invited_to %}
				<option value="{{ rakontu.getKeyName }}">{{rakontu.name}}</option>
			{% endfor %}
			</select>
			&nbsp; <input type="submit" name="joinRakontu" value="{{button_join}}" class="button"></p>
		{% endif %}
		<p>{{template_google_account}}: {{user.nickname}} | <a href="{{logout_url}}">{{template_log_out}}</a></p>
		
		{% if user_is_admin %}
			<p><a href="/{{dir_admin}}/{{url_admin}}">{{template_site_administration}}</a></p>
		{% endif %}
		
		</form>
		</div>

	{% else %}
		<div class="blurb" style="width:400;">
		<p>{{template_must_be_logged_in}}</p><p><a href="{{login_url}}">{{template_login}}</a> {{template_at_google}}</p>
		</div>
	{% endif %}
	
	<table class="noborder"><tr><td class="noborder" width="500">
		{% if user %}
			{{blurbs|dictLookup:"logged in"}}
		{% else %}
			{{blurbs|dictLookup:"not logged in"}}
		{% endif %}
	</td></tr></table>
	
	<center><img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" /></center>
	</body>
</html>
