<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
		<title>Rakontu</title>
	</head>
	<body>
	<center>
	<h1>Welcome to Rakontu!</h1>
	<p>Helping people take good care of their stories.</p>
	<p><img src="/images/Rakontu.jpg" alt="Rakontu logo" class="bordered"></p>
	{% if user %}
		<p>You are logged in to your Google account <b>{{ user.nickname }}</b>. <a href="{{logout_url}}">Log out</a></p>
	
		<div id="stylized" class="rakontu_form_centered">
		<form action="/" method="post">
		{% if communities_member_of %}
			<p>You are a <b>member</b> of these Rakontu communities.</p>
			<select name="community_key">
			{% for community in communities_member_of %}
				<option value="{{ community.key }}">{{ community.name }}</option>
			{% endfor %}
			</select>
			&nbsp; <input type="submit" name="visitCommunity" value="Visit" class="button">
		{% endif %}
	
		{% if communities_invited_to %}
			<p>You have been <b>invited</b> to join these Rakontu communities.</p>
			<select name="community_key">
			{% for community in communities_invited_to %}
				<option value="{{ community.key }}">{{ community.name }}</option>
			{% endfor %}
			</select>
			&nbsp; <input type="submit" name="visitCommunity" value="Join" class="button">
		{% endif %}
		<p><input type="submit" name="createCommunity" value="Create a New Rakontu Community" class="button"></p>
		<p></p>
		</form>
		</div>
		
		<p></p>

		{% if user_is_admin or DEVELOPMENT %}
			<div id="stylized" class="rakontu_form_centered">
			<form action="/" method="post">
			{% if user_is_admin %}
				<p>For the system administrator</p>
				<input type="submit" name="reviewAllCommunities" value="Review Communities" class="button"><br/>
				<input type="submit" name="generateSystemQuestions" value="Generate Sample Questions" class="button"><br/>
				<input type="submit" name="generateHelps" value="Generate Helps" class="button">
			{% endif %}
			{% if DEVELOPMENT %}
				<p>For the developer</p>
				<input type="submit" name="makeFakeData" value="Make Fake Data" class="button"><br/>
			{% endif %}
			</form>
			</div>
		{% endif %}
		
	<p></p>
	<div class="blurb" style="width:400px;">		
		<b>What's Rakontu?</b>
		A Rakontu site is a living-history museum of 
		collective reminiscence people build together and draw from
		to remember, understand and resolve.<br/>(If you're wondering: Rakontu is Esperanto for "tell a story.")
	</div>
	
	{% else %}
		<p>You must be logged in to a Google account to use Rakontu.</p><p><a href="{{login_url}}">Login at Google</a></p>
	{% endif %}
	
	</body>
</html>
