<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
		<title>Rakontu</title>
	</head>
	<body>
	<center>
	<h1>Rakontu</h1>
	<p><i>{{template_rakontu_motto}}</i></p>
	<p><img src="/images/Rakontu.jpg" alt="{{template_rakontu_logo}}"></p>
	
	{% if user %}
		<div id="rakontu_form_style" class="rakontu_form_centered" style="width:450">
		<form action="/" method="post">
		{% if rakontus_member_of %}
			<p>{{template_you_are_member_of}}</p>
			<table cellpadding=4 cellspacing=0 style="border:none;">
			<tr>
			{% for rakontu in rakontus_member_of %}
				<td align="center" style="border:none;">
				{% if rakontu.image %}
					<a href="{{rakontu.linkURL}}">{{rakontu.imageEmbed}}</a>
				{% else %}
					<a href="{{rakontu.linkURL}}"><img src="/images/Rakontu.jpg" width="100" height="64" alt="{{template_rakontu_logo}}" class="bordered"></a>
				{% endif %}
				<br/>{{rakontu.linkString}}
				</td>
			{% endfor %}
			</tr></table>
		{% endif %}
		{% if rakontus_invited_to %}
			<p>{{template_you_are_invited_to}}</p>
			<table cellpadding=4 cellspacing=0 style="border:none;">
			<tr>
			{% for rakontu in rakontus_invited_to %}
				<td align="center" style="border:none;">
				{% if rakontu.image %}
					<a href="{{rakontu.linkURL}}">{{rakontu.imageEmbed}}</a>
				{% else %}
					<a href="{{rakontu.linkURL}}"><img src="/images/Rakontu.jpg" width="100" height="64" alt="{{template_rakontu_logo}}" class="bordered"></a>
				{% endif %}
				<br/>{{rakontu.linkString}}
				</td>
			{% endfor %}
			</tr></table>
		{% endif %}
		
		{% if not rakontus_member_of and not rakontus_invited_to %}
			<p>{{template_you_have_no_rakontus_to_visit}}</p>
		{% endif %}
		<p>&nbsp;</p>
		<p>{{template_google_account}}: {{user.nickname}} - <a href="{{logout_url}}">{{template_log_out}}</a></p>
		
		</form>
		</div>

		{% if user_is_admin %}
			<p><a href="/{{dir_admin}}/{{url_admin}}">{{template_site_administration}}</a></p>
		{% endif %}

	{% else %}
		<div class="blurb" style="width:200;">
		<p>{{template_must_be_logged_in}}</p>
		<p><a href="{{login_url}}">{{template_login}}</a> {{template_at_google}}</p>
		</div>
	{% endif %}
	
	<table class="noborder"><tr><td class="noborder" width="500">
		{% if user %}
			{{blurbs|dictLookup:"logged in"}}
		{% else %}
			{{blurbs|dictLookup:"not logged in"}}
		{% endif %}
	</td></tr></table>
	
	<center><img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="{{template_powered_by_GAE}}" /></center>
	</body>
</html>
