<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
	</head>
	<body>
	<h2>Welcome to the {{ community.name }} community.</h2>
	{% if community.image %}
		<div><img src="img?community_id={{community.key}}"></img>
	{% endif %}
	<h4>You are logged in to the community as member "{{ current_member.nickname }}"
	{% if current_member.nicknameIsRealName %}
		<i>(real name)</i>
	{% endif %}
	. </h4>
	{% if current_member.profileImage %}
		<div><img src="img?member_id={{current_member.key}}"></img>
	{% endif %}
	
	<p>Visit:<p>
  	<p>&nbsp; &nbsp; <a href="/visit/tell">Tell a story</a></p>
  	<p>&nbsp; &nbsp; <a href="/visit/look">Look at stories</a></p>
  	<p>&nbsp; &nbsp; <a href="/visit/profile">Change your member profile</a></p>
      	
  	{% if current_member.isManager or current_member.isOwner %}
      	<p>Manage:</p>
      	<p>&nbsp; &nbsp; <a href="/manage/members">Memberships</a></p>
      	<p>&nbsp; &nbsp; <a href="/manage/settings">Settings</a></p>
      	<p>&nbsp; &nbsp; Questions about</p>
      	<p>&nbsp; &nbsp; &nbsp; &nbsp; <a href="/manage/questions/stories">stories</a></p>
      	<p>&nbsp; &nbsp; &nbsp; &nbsp; <a href="/manage/questions/patterns">patterns</a></p>
      	<p>&nbsp; &nbsp; &nbsp; &nbsp; <a href="/manage/questions/constructs">constructs</a></p>
      	<p>&nbsp; &nbsp; &nbsp; &nbsp; <a href="/manage/questions/invitations">invitations</a></p>
      	<p>&nbsp; &nbsp; &nbsp; &nbsp; <a href="/manage/questions/resources">resources</a></p>
      	<p>&nbsp; &nbsp; &nbsp; &nbsp; <a href="/manage/questions/members">members</a></p>
      	<p>&nbsp; &nbsp; <a href="/manage/personifications">Personifications</a></p>
      	<p>&nbsp; &nbsp; <a href="/manage/technical">Backup</a></p>
    {% endif %}

	{% if user_is_admin %}
		<p>Site administration options:</p>
		<p>&nbsp; &nbsp; <a href="admin/showAllCommunities">Show All Communities</a></p>
		<p>&nbsp; &nbsp; <a href="admin/showAllMembers">Show All Members</a></p>
	{% endif %}

    <a href="{{ url }}">{{ url_linktext }}</a>
	</body>
	<p><a href="/">Main page</a>
</html>
