<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	<div id="rakontu_form_style" class="rakontu_form">
	<form action="/{{dir_admin}}/{{url_admin}}" method="post" enctype="multipart/form-data">
	
	<h2>{{template_site_initialization_tasks}} {{"site_initialization_tasks"|tip}}  {{"site_initialization_tasks"|caution}}</h2>
	
	<fieldset>
	<p>&nbsp; &nbsp; <b>{{template_must_be_done_before_rakontus}}</b></p>
	
	<ul>
	<li class="nobullet"> 
	<a href="/{{dir_admin}}/{{url_default_resources}}">{{template_generate}}</a> 
	{{template_default_help_resources_from}} <code>config/{{site_language}}/default_resources.txt</code> -
	<b>{{num_default_resources}}</b> {{template_have_been_created}} ({{site_resource_names}})
	</li>
	
	<li class="nobullet"> 
	<a href="/{{dir_admin}}/{{url_skins}}">{{template_generate}}</a> 
	{{template_skins_from}} <code>config/{{site_language}}/skins.csv</code> -
	<b>{{num_skins}}</b> {{template_have_been_created}} ({{skin_names}})
	</li>
	</ul>
	
	<p>&nbsp; &nbsp; <b>{{template_can_be_done_anytime}}</b></p>
	
	<ul>
	<li class="nobullet"> 
	<a href="/{{dir_admin}}/{{url_sample_questions}}">{{template_generate}}</a> 
	{{template_sample_questions_from}} <code>config/{{site_language}}/sample_questions.csv</code> -
	<b>{{num_sample_questions}}</b> {{template_have_been_created}} 
	
	</li>
	
	<li class="nobullet"> 
	<a href="/{{dir_admin}}/{{url_helps}}">{{template_generate}}</a> 
	{{template_help_texts_from}} <code>config/{{site_language}}/help.csv</code> -
	<b>{{num_helps}}</b> {{template_have_been_created}} 
	</li>
	</ul>
	
	</fieldset>
	
	<h2>Rakontus</h2>
	{% if rakontus %}
		<fieldset>
		<table cellpadding="4" cellspacing="0">
		<tr>
			<th>{{template_name}}</th>
			<th>{{template_created}} (UTC)</th>
			<th>{{template_counts}}</th>
			<th>{{template_member}}?</th>
			<th>{{template_active}}? {{"activating_rakontus"|caution}}</th>
			<th>{{template_remove}} {{"removing_rakontus"|caution}}</th>
			{% if development %}
				<th>Add fake data?</th> 
			{% endif %}
			</tr>
		
    	{% for rakontu in rakontus %}
	    	<tr>
	    	<td>
	    		<p>{{rakontu.linkString}}</p>
	    		<p>({{rakontu.getKeyName}})</p>
	    		</td>
	    	<td>
	    		<p>{{rakontu.created|timeZone:"UTC"|time:"h:i a"}}<br/>{{rakontu.created|timeZone:"UTC"|date:"F j, Y"}}</p>
		    <td>
	    		<p>{{template_active_members}}: {{rakontu.numActiveMembers}}</p>
				<p>{{template_pending_members}}: {{rakontu.numPendingMembers}}</p>
				<p>{{template_inactive_members}}: {{rakontu.numInactiveMembers}}</p>
				<p>{{template_entries}}: {{rakontu.numEntries}}</p>
				<p>{{template_annotations}}: {{rakontu.numAnnotations}}</p>
				<p>{{template_answers}}: {{rakontu.numAnswers}}</p>
	    	</td>
	    	<td align="center">
	    		{% if member_of|dictLookup:rakontu.key %}
	    			{{template_yes|upper}}, {{member_of|dictLookup:rakontu.key}}
	    		{% else %}
	    			{{template_no}}
	    			{% if pending_member_of|dictLookup:rakontu.key %}
	    				({{template_pending_member}})
	    			{% endif %}
	    		{% endif %}
	    		<br/>
	    		{% if member_of|dictLookup:rakontu.key %}
	    			{% if not only_owner_of|dictLookup:rakontu.key %}
	    				<input type="submit" name="joinOrLeave|{{rakontu.key}}" value="{{button_leave}}" class="button">
	    			{% endif %}
	    		{% else %}
	    			{% if pending_member_of|dictLookup:rakontu.key %}
	    				<input type="submit" name="joinOrLeave|{{rakontu.key}}" value="{{button_join}}" class="button"><br/>
	    			{% else %}
		    			<input type="submit" name="joinOrLeave|{{rakontu.key}}" value="{{button_join}}" class="button"><br/>
		    			{{template_join_as_a}}
		    			<select name="joinAs|{{rakontu.key}}">
		    			<option value="member">{{governance_roles_display|listLookup:0}}</option>
		    			<option value="manager">{{governance_roles_display|listLookup:1}}</option>
		    			</select>
		    		{% endif %}
	    		{% endif %}
	    	</td>
			<td align="center">
  					{% if rakontu.active %}
  						{{template_active}}<br/>
  						<input type="submit" name="toggleActiveState|{{rakontu.key}}" value="{{button_inactivate_shorter}}" class="button"
						onClick="javascript:return confirm('{{template_confirm_inactivate}} {{rakontu.name}}?')">
  					{% else %}
  						{{template_inactive}}<br/>
  						<input type="submit" name="toggleActiveState|{{rakontu.key}}" value="{{button_activate}}" class="button"
						onClick="javascript:return confirm('{{template_confirm_activate}} {{rakontu.name}}?')">
  					{% endif %}
  			</td>
			<td>
			<input type="submit" name="remove|{{rakontu.key}}" value="{{button_remove|allcaps}}" class="button" 
			onClick="javascript:return confirm('{{template_confirm_remove}} {{rakontu.name}}?')">
  					</td>
			{% if development %}
				<td>
				<input type="text" size="4" name="numItems|{{rakontu.key}}" value="10"><br/>
				<select name="createWhat|{{rakontu.key}}">
					<option value="members">members</option>
					<option value="entries" selected="selected">entries</option>
					<option value="annotations">annotations</option>
					<option value="answers">answers</option>
					<option value="nudges">nudges</option>
					</select>
				<input type="submit" name="addFakeDataTo|{{rakontu.key}}" value="Add" class="button">
				</td>
			{% endif %}
			</td>
    	{% endfor %}
    	</table>
    	</fieldset>
		<p><a href="/{{dir_admin}}/{{url_create1}}">{{template_create_another}} Rakontu</a></p>
		{% if development %}
			<p><a href="/{{dir_admin}}/{{url_make_fake_data}}">Generate fake testing Rakontu</a></p>
		{% endif %}
		<p></p>
		<center><p><i><b>{{template_admin_warning}}</b></i></p>
		</form>
		</div>
    {% else %}
    	<p>&nbsp; &nbsp; {{template_none}} - <a href="/{{dir_admin}}/{{url_create1}}">{{template_create_one}}</a></p>
		{% if development %}
			<p><a href="/{{dir_admin}}/{{url_make_fake_data}}">Generate fake testing Rakontu</a></p>
		{% endif %}
    {% endif %}	
    
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
