<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
		<title>{{template_create_rakontu}}</title>
	</head>
	<body>
	
		<div id="rakontu_form_style" class="rakontu_form_centered">
		<form action="/{{dir_admin}}/{{url_create1}}" method="post"> 
		<table border="0" width="400" class="noborder"><tr><td class="noborder">
			<h3>{{template_create_rakontu}}: {{template_step_one}}</h3>
			
			<p>{{template_short_rakontu_name}}</p>
			<input type="text" name="url" value="{{url}}" size="20" maxlength="{{maxlength_tag_or_choice}}"/>
			{% if name_taken %}
				<p><font color="red">{{template_rakontu_name_taken}}</font></p>
			{% endif %}
					
			<p>&nbsp;</p>
			<center><input type="submit" value="{{button_enter_short_name}}" class="button"></center>
		</td></tr></table>
		</form>
		</div>
		<center><p><a href="/{{dir_admin}}/{{url_admin}}">{{template_cancel_rakontu_creation}}</a></p></center>
	</body>
</html>
