<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
			<title>
			{% if title %}{{title}}{% endif %}
			{% if title_extra %} {{title_extra}}{% endif %}
			- Rakontu</title>
	</head>
	<body>
	
		<div id="rakontu_form_style" class="rakontu_form_centered">
		<form action="/{{dir_admin}}/{{url_create2}}" method="post">
		<table border="0" width="400" class="noborder"><tr><td class="noborder">
			<h3>{{template_create_rakontu}}: {{template_step_two}}</h3>
			
			<p>{{template_short_name_is}}</p>
			<p>&nbsp; &nbsp; <b>{{url}}</b></p>
			<input type="hidden" name="url" value="{{url}}">
			
			<p>{{template_longer_rakontu_name}} {{"setting_up_Rakontu_long_names"|tip}}</p>
			<input type="text" name="name" value="" size="40" maxlength="{{maxlength_name}}"/>
			
			<p>{{template_choose_rakontu_type}} {{"choosing_a_Rakontu_type"|info}}</p>
			<select name="type">
				{% for type in rakontu_types %}
					<option value="{{type}}">{{type}}</option>
				{% endfor %}
			</select>
			<p>{{template_rakontu_owner_email}} {{"setting_up_an_email_adddress_for_a_new_Rakontu"|caution}}</p>
			<input type="text" name="ownerEmail" value="{{user_email}}" size="40" maxlength="{{maxlength_name}}"/>
			
			<center>
			<p><input type="submit" name="create" value="{{button_create_rakontu}}" class="button"></p>
			<p>(<a href="/{{dir_admin}}/{{url_create1}}?{{url}}">{{template_back_to_first_page}}</a>)
			</center>
			
		</td></tr></table>
		</form>
		</div>
		<center><p><a href="/{{dir_admin}}/{{url_admin}}">{{template_cancel_rakontu_creation}}</a></p></center>
	</body>
</html>
