<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
	</head>
	<body>
		{% include "../menus.html" %}
		<div id="content">
		
		{% if user_is_admin %}
	
			<div id="stylized" class="rakontu_form">
			<form action="/manage/members" method="post">
			
			<h3>Members</h3>
	      	<table border="1" cellpadding="4" cellspacing="0">
	      	<tr>
	      		<th>Community name</t>
	      		<th>Nickname</th>
	      		<th>Online member?</th>
	      		<th>Google account<br>(email and ID)</th>
	      		<th>Governing roles</th>
	      		<th>Helping roles</th>
	      		</tr>
	      		{% for aMember in members %}
	  				<tr>
	  				<td>{{ aMember.community.name }}</td>
	  				<td>{{ aMember.nickname }} {% ifequal aMember.key current_member.key %}<br><i>(This is you)</i> {% endifequal %} </td>
	  				<td>{{ aMember.isOnlineMember|yesno:"yes, no, maybe" }}</td>
	  				<td>{{ aMember.googleUserEmailOrNotOnline}}<br>{{ aMember.googleAccountID}}</td>
	  				<td>{{ aMember.governanceType }}</td>
	  				<td><p>Curator: {{aMember.helpingRoles.0|yesno:"yes, no, maybe"}}</p>
						<p>Guide: {{aMember.helpingRoles.1|yesno:"yes, no, maybe"}}</p>
		  				<p>Liaison: {{aMember.helpingRoles.2|yesno:"yes, no, maybe"}}</p>
		  			</td>
	      		{% endfor %}
	      	</table>
	     {% else %}
	     	<p>This page is for the Rakontu site administrator only.</p>
	     {% endif %}

	</div>
	</body>
</html>
