<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">

	{% if communities %}
    	{% for community in communities %}
      	<p>{{ community.name|escape }}<p>
      	&nbsp; &nbsp; members:<br>
      		{% for member in members %}
      			{% ifequal member.community.key community.key %}
      				&nbsp; &nbsp; &nbsp; &nbsp; {{ member.nickname }}<br>
      			{% endifequal %}
      		{% endfor %}
    	{% endfor %}
    {% else %}
    	No communities.
    {% endif %}	
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
