<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
	</head>
	<body>
	{% include "../menus.html" %}
	<div id="content">
	
	{% if members %}
    	{% for member in members %}
      	<blockquote>{{ member.nickname|escape }} has email {{ member.user.email}} and belongs to {{ member.community.name|escape }} and is a {{ member.governanceType }} and has these helping roles: {{ member.helpingRoles|join:", "|default:"none" }}</blockquote>
    	{% endfor %}
    {% else %}
    	No members.
    {% endif %}	
    </div>
	</body>
</html>
