<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
	
	{% if current_member.isGuide %}
		<div id="stylized" class="rakontu_form">
		<form action="/{{dir_guide}}/{{url_invitations}}?{{rakontu.urlQuery}}" method="post" enctype="multipart/form-data">
		
		{% if showing_all_invitations %}
			<h3>{{template_invitations}}</h3>
		{% else %}
			<h3>{{template_invitations_with_no_responses}}</h3>
		{% endif %}
		
		<p></p>
		{% if invitations %}
			<table style="margin-left:20px;">
			<tr>
				<th>{{template_name}}</th>
				<th>{{template_published}}</th>
				<th>{{template_responses}}</th></tr>
			{% for invitation in invitations %}
	      		<tr>
	      		<td>{{invitation.linkString}}</td>
	      		<td>
					{{invitation.published|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}
					{{invitation.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}
				</td>
	      		<td>
	      			{% for entry in invitation.getResponses %}
	      				<p>{{entry.linkString}}</p>
	      			{% endfor %}
	      			&nbsp;
	      		</td>
	      		</tr>
	        {% endfor %}
	        </table>
	    {% else %}
			{% if showing_all_invitations %}
				<p>{{template_no_invitations}} <a href="/{{dir_visit}}/{{url_invitation}}?{{rakontu.urlQuery}}">{{template_create_one}}</a></p>
			{% else %}
				<p>{{template_no_invitations_without_responses}}</p>
			{% endif %}
        {% endif %}
      	

		{% if showing_all_invitations %}
			<p><input type="submit" name="showOnlyUnrespondedInvitations" value="{{button_show_only_invitations_with_no_responses}}" class="button_small"></p>
		{% else %}
			<p><input type="submit" name="showAllInvitations" value="{{button_show_all_invitations}}" class="button_small"></p>
		{% endif %}
		
	</form>
	</div>
	{% else %}
		<p>{{no_access|dictLookup:"invitations"}}</p>
	{% endif %}
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
