<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
	
	{% if current_member.isGuide %}
		<div id="stylized" class="rakontu_form">
		<form action="/{{dir_guide}}/{{url_requests}}?{{rakontu.urlQuery}}" method="post" enctype="multipart/form-data">
		
 		{% if showing_all_requests %}
			<h3>{{template_requests}}</h3>
		{% else %}
			<h3>{{template_uncompleted_requests}}</h3>
		{% endif %}

		{% for i in num_types|makeRange %}
			<p>{{request_types|listLookup:i|capitalize}}
      		{% if requests|listLookup:i %}
      			</p>
      			<table style="margin-left:20px;">
      			<tr>
      				<th>{{template_entry}}</th>
      				<th>{{template_name}}</th>
      				<th>{{template_content}}</th>
      				<th>{{template_completed}}?</th>
      				</tr>
	      		{% for request in requests|listLookup:i %}
	      			<tr>
	      			<td>{{request.entry.linkString}}</td>
	      			<td>{{request.linkString}}</td>
	      			<td>{{request.longString_formatted|upTo:400}}</a></td>
	      			<td align="center">
	  					{% if request.completedIfRequest %}
	  						{{template_yes}}<br/>
	  						<input type="submit" name="setUncompleted|{{request.key}}" value="{{button_set_request_uncompleted}}" class="button_small">
	  					{% else %}
	  						{{template_no}}<br/>
	  						<input type="submit" name="setCompleted|{{request.key}}" value="{{button_set_request_completed}}" class="button_small">
	  					{% endif %}
      				</td>
	      			</tr>
	      		{% endfor %}
	      		</table>
	      	{% else %}
	      		 <ul><li class="nobullet">{{term_none}}</li></ul>
	      	{% endif %}
      	{% endfor %}
      	
 		{% if showing_all_requests %}
			<p><input type="submit" name="showOnlyUncompletedRequests" value="{{button_show_uncompleted_requests}}" class="button_small"></p>
		{% else %}
			<p><input type="submit" name="showAllRequests" value="{{button_show_all_requests}}" class="button_small"></p>
		{% endif %}
		
	</form>
	</div>
	{% else %}
		<p>{{no_access|dictLookup:"requests"}}</p>
	{% endif %}
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
