<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
	
	{% if current_member.isGuide %}
		<div id="stylized" class="rakontu_form">
		<form action="/{{dir_guide}}/{{url_requests}}" method="post" enctype="multipart/form-data">
		
		{% if showing_all_requests %}
			<h3>Requests</h3>
			&nbsp; &nbsp; <input type="submit" name="showOnlyUncompletedRequests" value="Show only uncompleted requests" class="button_small">
		{% else %}
			<h3>Uncompleted requests</h3>
			&nbsp; &nbsp; <input type="submit" name="showAllRequests" value="Show all requests" class="button_small">
		{% endif %}
		
		{% for i in num_types|makeRange %}
			<p><b>{{request_types|listLookup:i}}
      		{% if requests|listLookup:i %}
      			</b></p>
      			<table style="margin-left:20px;"><tr><th>Completed</th><th>Entry</th><th>Name</th><th>Text</th></tr>
	      		{% for request in requests|listLookup:i %}
	      			<tr>
	      			<td>
	  					<input type="checkbox" name="toggleComplete|{{request.key}}" 
	  					{% if request.completedIfRequest %}
	  						checked
	  					{% endif %}
	  					value="yes" id="toggleComplete|{{request.key}}"/>
						<label for="toggleComplete|{{request.key}}">Completed</label>
      				</td>
	      			<td>{{request.entry.linkString}}</td>
	      			<td>{{request.linkString}}</td>
	      			<td>{{request.longString_formatted|upTo:400}}</a></td>
	      			</tr>
	      		{% endfor %}
	      		</table>
	      	{% else %}
	      		</b> - none</p>
	      	{% endif %}
      	{% endfor %}
      	
    {% if have_requests %}
    	<center><input type="submit" name="submitChanges" value="Make selected changes" class="button"></center>
    {% endif %}
	</form>
	</div>
	{% else %}
		<p>You are not a guide of this Rakontu and cannot review requests.
		Please ask a guide to make any changes you would like to see made.</p>
	{% endif %}
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
