<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
		
		{% if current_member.isGuide %}
	
			{% if resources %}
			<h3>Resources</h3>
	      	<table border="1" cellpadding="4" cellspacing="0">
	      	<tr>
	      		<th>Name{{"flagging_and_unflagging_items"|tip}}</th>
	      		<th>Text</th>
	      		<th>Attachments</th>
	      		<th>Help?</th>
	      		<th>For new members?</th>
	      		{% if current_member.isManagerOrOwner %}
	      			<th>For managers only?</th>
	      		{% endif %}
	      		<th>Created</th>
	      		<th>Last changed</th>
	      		<th>Last published</th>
	      		</tr>
	      		{% for resource in resources %}
	  				<tr>
	  				<td>
	  				{% if resource.flaggedForRemoval %}
	  					<a href="/{{dir_visit}}/{{url_flag}}?{{resource.key}}" class="image"><img src="../images/flag_red.png" alt="flag" border="0"></a>
	  				{% else %}
	  					<a href="/{{dir_visit}}/{{url_flag}}?{{resource.key}}" class="image"><img src="../images/flag_green.png" alt="flag" border="0"></a>
					{% endif %}

	  				{{resource.linkString}}</td>
	  				<td>{{resource.text_formatted|upTo:100}}</td>
	  				<td>
	  				{% if resource.getAttachments %}
	  					{% for attachment in resource.getAttachments %}
	  						<p>{{attachment.linkString}}</p>
	  					{% endfor %}
	  				{% else %}
	  					<p>{{term_none}}</p>
	  				{% endif %}
					</td>
					<td>{{resource.resourceForHelpPage|yesno:"YES, no"}}</td>
					<td>{{resource.resourceForNewMemberPage|yesno:"YES, no"}}</td>
					{% if current_member.isManagerOrOwner %}
						<td>{{resource.resourceForManagersAndOwnersOnly|yesno:"YES, no"}}</td>
					{% endif %}
					<td>{{resource.created|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}
						<br/> {{resource.created|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}
					</td>
					<td>{{resource.edited|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}
						<br/> {{resource.edited|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}
					</td>
					<td>{{resource.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}
						<br/> {{resource.published|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}
					</td>
	  				</tr>
	      		{% endfor %}
	      	</table>
	      	{% else %}
	      		<p>This Rakontu has no resources.<p>
	      		<ul>
	      		<li class="nobullet"><a href="/{{dir_guide}}/{{url_resource}}">Make one</a></li>
	      		<li class="nobullet"><a href="/{{dir_guide}}/{{url_copy}}">Create all default resources</a></li>
	      		</ul>
	      	{% endif %}
			
	{% else %}
		<p>You are not a guide or manager of this Rakontu and cannot change its resources.
		Please ask a guide or manager to make any changes you would like to see made.</p>
	{% endif %}

	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
