<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	
	
	<div id="content">
	
			<div id="rakontu_form_style" class="rakontu_form">
			<form action="/{{dir_liaise}}/{{url_members}}?{{rakontu.urlQuery}}" method="post" enctype="multipart/form-data">
			
			{% if changes_saved %}
				<div class="message">{{template_changes_saved}}</div>
			{% endif %}
		
			<h3>{{template_active_offline_members}}</h3>
			{% if active_members %}
				<fieldset>
		      	<table border="0" cellpadding="4" cellspacing="0">
		      	<tr>
		      		<th>{{template_nickname}}</th>
		      		<th>{{template_picture}}</th>
		      		<th>{{template_liaison}} {{"transferring_offline_members_among_liaisons"|tip}}</th>
		      		<th>{{template_links}}</th>
		      		<th>{{template_inactivate}}?</th>
		      		</tr>
		      		{% for aMember in active_members %}
		  				<tr>
		  				<td>{{aMember.linkString}}</td>
		  				<td width="80" valign="top">
				 		{% if aMember.profileImage %}
							{{aMember.imageEmbed}}
						{% else %}
							{{term_none}}
						{% endif %}
						</td>
		  				<td>{{aMember.liaisonIfOfflineMember.linkString}}
		  					{% ifequal aMember.liaisonIfOfflineMember.key current_member.key %}
		  						({{template_you}})
		  						{% if other_liaisons %}
			  						<br/>{{template_switch_offline_member_liaison_to}}:
			  						<select name="reassign|{{aMember.key}}">
			  							<option value="{{template_none}}">({{template_choose}})</option>
			  							{% for liaison in other_liaisons %}
			  								<option value="{{liaison.key}}">{{liaison.nickname}}</option>
			  							{% endfor %}
			  							</select>
			  					{% endif %}
		  					{% else %}
		  						<br/><input type="checkbox" name="take|{{aMember.key}}" value="yes" id="take|{{aMember.key}}"/>
								<label for="take|{{aMember.key}}">{{template_take_over_offline_member}}</label>
		  					{% endifequal %}
		  				</td>
		  				<td>
		  					{% ifequal aMember.liaisonIfOfflineMember.key current_member.key %}
		  						<a href="/{{dir_visit}}/{{url_profile}}?{{aMember.urlQuery}}">{{template_change_profile}}</a>
		  						<br/><a href="/{{dir_visit}}/{{url_preferences}}?{{aMember.urlQuery}}">{{template_change_preferences}}</a>
		  						<br/><a href="/{{dir_visit}}/{{url_drafts}}?{{aMember.urlQuery}}">{{template_drafts}}</a>
		  					{% else %}
		  						&nbsp;
		  					{% endifequal %}
		  				</td>
		  				<td>
		  					{% ifequal aMember.liaisonIfOfflineMember.key current_member.key %}
		  						<input type="checkbox" name="remove|{{aMember.key}}" value="yes" id="remove|{{aMember.key}}"/>
								<label for="remove|{{aMember.key}}">{{template_inactivate}}</label>
							{% else %}
								&nbsp;
							{% endifequal %}
		  					</td>
		  				</tr>
		      		{% endfor %}
		      	</table>
		      	</fieldset>
		    {% else %}
		    	<p>&nbsp; &nbsp; <i>{{template_no_active_offline_members}}</i></p>
		    {% endif %}
			
	 		<h3>{{template_add_offline_members}} {{"adding_offline_members"|tip}}</h3>
			<fieldset>
			<div><textarea name="newMemberNicknames" rows="6" cols="40"></textarea></div>
			</fieldset>
			
			{% if inactive_members %}
				<h3>{{template_inactive_members}} {{"inactive_offline_members"|tip}}</h3>
				<fieldset>
				<ul>
				{% for member in inactive_members %}
					<li class="nobullet">{{member.nickname}}</li>
				{% endfor %}
				</ul>
				</fieldset>
			{% endif %}
	
		<p></p>
	    <center><input type="submit" name="submitChanges" value="{{button_save_changes}}" class="button"></center>	
		</form>	
		</div>

	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
