<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
		
	{% if current_member.isLiaison %}

		<div id="stylized" class="rakontu_form">
		<form action="/liaise/printSearch" method="post" enctype="multipart/form-data">
		
		<h3>Print entries from the current search filter</h3>
		
		{% if current_member.viewSearchResultList and current_member.viewSearch %}
			<p>You have a currently applied search filter. If you would like to print the entries that
			meet those search criteria, click this button.</p>
			<p><center><input type="submit" name="printSearch" value="Download filtered entries to print" class="button"></center></p>
		{% else %}
			<p>You have no currently selected search filter. To print filtered items,
			go to the <a href="/visit/look">Look at stories</a> page and apply a search filter,
			then return to this page.</p>
		{% endif %}
		
		</form>
		</div>
		
	{% else %}
		<p>You are not a liaison of this community and cannot print entries for off-line use.
		Please become a liaison or ask a liaison to print entries.</p>
	{% endif %}
	
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
