<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	{% if current_member.isLiaisonOrManagerOrOwner %}
		<div id="rakontu_form_style" class="rakontu_form">
		<form action="/{{dir_liaise}}/{{url_review}}?{{rakontu.urlQuery}}" method="post" enctype="multipart/form-data">
			
			{% if batch_entries %}
				<h3>{{template_batch_entered_stories}} {{"reviewing_batch_entered_stories"|tip}}</h3>
				<fieldset>
		      	<table border="0" cellpadding="4" cellspacing="0">
		      	<tr>
		      		<th width=80>{{template_import}}?</th>
		      		<th>{{template_title}}</th>
		      		<th>{{template_links}}</th>
		      		<th>{{template_collected_from}}</th>
			      	{% if character_allowed %}
			      		<th>{{template_attributed_to}}</th>
			      	{% endif %}
			      	<th>{{template_collected}}</th>
			      	{% if rakontu.allowsAttachments %}
			      		<th>{{template_attachments}}</th>
			      	{% endif %}
			      	<th>{{template_comment}}</th>
			      	<th>{{template_tag_set}}</th>
			      	<th width=80>{{template_remove}}?</th>
			      	</tr>
	      		{% for entry in batch_entries %}
	      			<tr>
	      			 <td valign="top" align="center">
	      			 <input type="checkbox" name="import|{{entry.key}}" value="yes" id="import|{{entry.key}}"/>
	      			 <label for="import|{{entry.key}}">{{template_import}}</label>
	      			 </td>
	      			 <td>{{entry.title}}</td>
	      			 <td>
	      			 <a href="/{{dir_visit}}/{{url_preview}}?{{entry.urlQuery}}">{{template_preview}}</a>
	      			 <br/><a href="/{{dir_visit}}/{{entry.typeAsURL}}?{{entry.urlQuery}}">{{template_change}}</a>
	      			 </td>
	      			 <td>{{entry.creator.nickname}}</td>
	      			 {% if character_allowed %}
	      			 	<td>
	      			 	{% if entry.character %}
	      			 		{{entry.character.linkString}}
	      			 	{% else %}
	      			 		{{template_member}}
	      			 	{% endif %}
	      			 	</td>
	      			 {% endif %}
	      			 <td>
	      			 {{template_year}} <input type="text" name="year|{{entry.key}}" size="4" value="{{entry.collected|date:"Y"}}" maxlength="4"/><br/>
	      			 {{template_month}} <input type="text" name="month|{{entry.key}}" size="2" value="{{entry.collected|date:"m"}}" maxlength="2"/><br/>
	      			 {{template_day}} <input type="text" name="day|{{entry.key}}" size="2" value="{{entry.collected|date:"d"}}" maxlength="2"/>
	      			 </td>
	      			 {% if rakontu.allowsAttachments %}
	      			 <td>
	      			 {% for attachment in entry.getAttachments %}
	      			 	{{attachment.linkString}}<br/>
	      			 {% endfor %}
	      			 &nbsp;</td>
	      			 {% endif %}
	      			 <td>
	      			 	{% for comment in batch_comments %}
	      			 		{% ifequal comment.entryKey entry.key %}
	      			 			<a href="/{{dir_visit}}/{{comment.typeAsURL}}?{{comment.urlQuery}}">{{comment.displayString}}</a>
	      			 		{% endifequal %}
	      			 	{% endfor %}
	      			 &nbsp;</td>
	      			 <td>&nbsp;
	      			 	{% for tagset in batch_tagsets %}
	      			 		{% ifequal tagset.entryKey entry.key %}
	      			 			<a href="/{{dir_visit}}/{{tagset.typeAsURL}}?{{url_query_annotation}}={{tagset.getKeyName}}">{{tagset.displayString}}</a>
	      			 		{% endifequal %}
	      			 	{% endfor %}
	      			 </td>
	      			 <td valign="top" align="center"><input type="checkbox" name="remove|{{entry.key}}" value="yes" id="remove|{{entry.key}}"/>
	      			 <label for="remove|{{entry.key}}">{{template_remove}}</label></td>
	      			</tr>
	      		{% endfor %}
		      	</table>
		      	</fieldset>
		      	<p>
			    <center><input type="submit" name="finalizeBatchEntry" value="{{button_import_or_remove_selected_stories}}" class="button">
			    <input type="submit" name="addMore" value="{{button_add_more_stories}}" class="button"></center>
			{% else %}
				{{blurbs|dictLookup:"no_entry_batches"}}
		      	<p>
			    <center><input type="submit" name="addMore" value="{{button_add_a_batch_ofstories}}" class="button"></center>
			{% endif %}
		</form>	
		</div>
	{% else %}
		<p>{{no_access|dictLookup:"batch_review"}}</p>
	{% endif %}
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
