<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
	</head>
	<body>
		{% include "../menus.html" %}
		<div id="content">
		
		<div id="stylized" class="rakontu_form">
		<form action="/visit/annotation?
		{% if annotation %}
		{{annotation.key}}
		{% else %}
		{{article.key}}
		{% endif %}
		" method="post" enctype="multipart/form-data">
		
	<h2>{{article.title}} ({{article.type}})</h2>
	
	<div class="article_text">{{article.text}}</div
		
			<h3>{{annotation_type|capfirst}}</h3>
			<fieldset>
			
			{% ifequal annotation_type "tag set" %}
				<p>Please enter up to five words or short phrases that describe this {{article.type}}.</p>
				<p><input type="text" name="tag0" size="15" value="{% if annotation %}{{annotation.tagsIfTagSet.0}}{% endif %}"/>&nbsp; 
				<input type="text" name="tag1" size="12" value="{% if annotation %}{{annotation.tagsIfTagSet.1}}{% endif %}"/>&nbsp; 
				<input type="text" name="tag2" size="12" value="{% if annotation %}{{annotation.tagsIfTagSet.2}}{% endif %}"/>&nbsp; 
				<input type="text" name="tag3" size="12" value="{% if annotation %}{{annotation.tagsIfTagSet.3}}{% endif %}"/>&nbsp; 
				<input type="text" name="tag4" size="12" value="{% if annotation %}{{annotation.tagsIfTagSet.4}}{% endif %}"/></p>
			{% endifequal %}
			
			{% ifequal annotation_type "comment" %}
				{% if annotation %}
					<p>You can change the subject line of your comment here.</p>
				{% else %}
					<p>Please give your comment a subject line.</p>
				{% endif %}
				<p><input type="text" name="shortString" size="80" value="{% if annotation %}{{annotation.shortString}}{% endif %}"/></p>

				{% if annotation %}
					<p>You can change the text of your comment here.</p>
				{% else %}
					<p>Please enter your comment here.</p>
				{% endif %}
				<textarea name="longString" rows="20" cols="60">{% if annotation %}{{annotation.longString}}{% endif %}</textarea>
			{% endifequal %}
			
			{% ifequal annotation_type "request" %}
				{% if annotation %}
					<p>You can change the subject line of your request here.</p>
				{% else %}
					<p>Please give your request a subject line.</p>
				{% endif %}
				<input type="text" name="shortString" size="80" value="{% if annotation %}{{annotation.shortString}}{% endif %}"/>
				
				{% if annotation %}
					<p>You can change the text of your request here.</p>
				{% else %}
					<p>Please describe your request in full.</p>
				{% endif %}
				<textarea name="longString" rows="20" cols="60">{% if annotation %}{{annotation.longString}}{% endif %}</textarea>

				{% if annotation %}
					<p>You can change the type of request here.</p>
				{% else %}
					<p>Please categorize your request. What would you like other members of the community to do?</p>
				{% endif %}
				<p><select name="typeIfRequest">
				{% for type in request_types %}
					<option value="{{type}}"
					{% ifequal annotation_typeIfRequest type %}
						selected="selected"
					{% endifequal %}
					>{{type|capfirst}}</option>
				{% endfor %}
				</select></p>
			{% endifequal %}
			
			{% ifequal annotation_type "nudge" %}
					<table>
					{% if annotation %}
						<p>You can change the number of points to nudge this {{article.type}} up (positive) or down (negative)
						in any or all of these categories here.</p>
					{% else %}
						<p>Please enter the number of points to nudge this {{article.type}} up (positive) or down (negative)
						in any or all of these categories.<p>
					{% endif %}
					<p><i>You can use a maximum of 
						<b>{{community.maxNudgePointsPerArticle}}</b> points per {{article.type}}. You have
						<b>{{current_member.nudgePoints}}</b> points remaining to assign. If you assign more
						points here than you have available or the community allows per {{article.type}},
						your 
						{% if annotation %}
						change
						{% else %}
						nudge values
						{% endif %}
						will be reduced to what is available, starting with the last ones in the list.</i></p>
					<tr><th>Category</th><th>Nudge</th></tr>
						{% if community.nudgeCategories.0 %}
							<tr><td align="right">{{community.nudgeCategories.0}}</td><td align="left"><input type="text" name="nudge0" size="4" value="{{annotation.valuesIfNudge.0}}"/></td></tr>
						{% endif %}
						{% if community.nudgeCategories.1 %}
							<tr><td align="right">{{community.nudgeCategories.1}}</td><td align="left"><input type="text" name="nudge1" size="4" value="{{annotation.valuesIfNudge.1}}"/></td></tr>
						{% endif %}
						{% if community.nudgeCategories.2 %}
							<tr><td align="right">{{community.nudgeCategories.2}}</td><td align="left"><input type="text" name="nudge2" size="4" value="{{annotation.valuesIfNudge.2}}"/></td></tr>
						{% endif %}
						{% if community.nudgeCategories.3 %}
							<tr><td align="right">{{community.nudgeCategories.3}}</td><td align="left"><input type="text" name="nudge3" size="4" value="{{annotation.valuesIfNudge.3}}"/></td></tr>
						{% endif %}
						{% if community.nudgeCategories.4 %}
							<tr><td align="right">{{community.nudgeCategories.4}}</td><td align="left"><input type="text" name="nudge4" size="4" value="{{annotation.valuesIfNudge.4}}"/></td></tr>
						{% endif %}
					</table>
					{% if annotation %}
						<p>You can change your comment on this nudge here.</p>
					{% else %}
						<p>You can enter a comment on this nudge here.</p>
					{% endif %}
					<input type="text" name="shortString" size="80" value="{% if annotation %}{{annotation.shortString}}{% endif %}"/>
			{% endifequal %}

			{% if character_allowed %}
				{% if annotation %}
					<p>You can change who this {{annotation_type}} is attributed to here.</p>
				{% else %}
					<p>To whom would you like to attribute this {{annotation_type}}?</p>
				{% endif %}
				
				<select name="attribution">
					<option value="member"
						{% if annotation %}
							{% if annotation.attributedToMember %}
								selected="selected"
							{% endif %}
						{% endif %}
						>Me ({{current_member.nickname}})</option>
					{% if community.getCharacters %}
						{% for character in community.getCharacters %}
							<option value="{{character.key}}"
							{% if annotation %}
								{% ifequal annotation.character.key character.key %}
									selected="selected"
								{% endifequal %}
							{% endif %}
							>{{character.name}}</option>
						{% endfor %}
					{% endif %}
				</select>
			{% endif %}

			{% if current_member.isLiaison %}
				<div><label><input type="checkbox" name="collectedOffline" value="yes" 
					{% if annotation.collectedOffline %}
					checked
					{% endif %}
				>This {{annotation_type}} was collected offline.</label></div>
				{% if annotation %}
					<p>This off-line {{annotation_type}} was collected from:</p>
				{% else %}
					<p>If this {{annotation_type}} was collected off-line, please choose a member to assign it to.</p>
				{% endif %}
				<select name="offlineSource">
					{% for member in community_members %}
						<option value="{{member.key}}">
						{% if annotation %}
							{% ifequal member.key annotation.creator.key %}
								selected="selected"
							{% endifequal %}
						{% endif %}
						{{member.nickname}}</option>
					{% endfor %}
				</select>
			{% endif %}
			</fieldset>
			
			<p>
			<center>
			{% if article %}
				<input type="submit" name="save|{{annotation_type}}" value="Save draft" class="button">
				<input type="submit" name="preview|{{annotation_type}}" value="Preview" class="button">
				<input type="submit" name="publish|{{annotation_type}}" value="Publish" class="button">
			{% else %}
				<input type="submit" name="save|{{annotation_type}}" value="Save as draft" class="button">
				<input type="submit" name="preview|{{annotation_type}}" value="Preview" class="button">
				<input type="submit" name="publish|{{annotation_type}}" value="Publish" class="button">
			{% endif %}
			</center>
			
		</form>
		</div>
		</div>
	</body>
</html>
