<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
		
		<div id="stylized" class="rakontu_form">
		<form action="/visit/annotation?
		{% if annotation %}
		{{annotation.key}}
		{% else %}
		{{entry.key}}
		{% endif %}
		" method="post" enctype="multipart/form-data">
		
	<h2>For the {{entry.type}} "{{entry.title}}"</h2>
	
		{% if entry.isCollage %}
			<div class="blurb">
			{{entry.text_formatted}}
			{% if included_links_outgoing %}
				<ul>
				{% for link in included_links_outgoing %}
					<li class="nobullet"><a href="read?{{link.entryTo.key}}">{{link.entryTo.title}}</a>
					{% if link.comment %} ({{link.comment}}) {% endif %}
					</li>
				{% endfor %}
				</ul>
			{% endif %}
			</div>
		{% else %}
			<div class="blurb">{{entry.text_formatted}}</div>
		{% endif %}
		
			<h3>{{annotation_type|capfirst}}</h3>
			<fieldset>
			
			{% ifequal annotation_type "tag set" %}
				<p>Please enter up to {{num_tags_in_tag_set}} words or short phrases that describe this {{entry.type}}.</p>
				{% for i in num_tags_in_tag_set|makeRange %}
					<p><input type="text" name="tag{{i}}" size="15" value="{% if annotation %}{{annotation.tagsIfTagSet|listLookup:i|orNothing}}{% endif %}" maxlength="{{maxlength_tag_or_choice}}"/>&nbsp; 
				{% endfor %}
			{% endifequal %}
			
			{% ifequal annotation_type "comment" %}
				{% if annotation %}
					<p>You can change the subject line of your comment here.</p>
				{% else %}
				{% endif %}
				<p><input type="text" name="shortString" size="80" value="{% if annotation %}{{annotation.shortString}}{% endif %}" maxlength="{{maxlength_subject_or_comment}}"/></p>

				{% if annotation %}
					<p>You can change the text of your comment here.</p>
				{% else %}
					<p>Please enter your comment here.</p>
				{% endif %}
				<table style="width:100%; border:none">
				<tr><td class="noborder">
				<textarea name="longString" rows="10" cols="60">{% if annotation %}{{annotation.longString}}{% endif %}</textarea>
				</td><td class="noborder" width="80">
				<p>Interpret as</p>
					<select name="text_format">
					{% for format in text_formats %}
						<option value="{{format}}" 
						{% ifequal annotation.longString_format format %}
							selected="selected"
						{% endifequal %}
						>{{format}}</option>
					{% endfor %}
					</select>
				</td></tr></table>

			{% endifequal %}
			
			{% ifequal annotation_type "request" %}
				{% if annotation %}
					<p>You can change the subject line of your request here.</p>
				{% else %}
					<p>Please give your request a subject line.</p>
				{% endif %}
				<input type="text" name="shortString" size="80" value="{% if annotation %}{{annotation.shortString}}{% endif %}" maxlength="{{maxlength_subject_or_comment}}"/>
				
				{% if annotation %}
					<p>You can change the text of your request here.</p>
				{% else %}
					<p>What would you like other members to do with regard to this {{entry.type}}?</p>
				{% endif %}
				<table style="width:100%; border:none">
				<tr><td class="noborder">
				<textarea name="longString" rows="10" cols="60">{% if annotation %}{{annotation.longString}}{% endif %}</textarea>
				</td><td class="noborder" width="80">
				<p>Interpret as</p>
					<select name="text_format">
					{% for format in text_formats %}
						<option value="{{format}}" 
						{% ifequal annotation.longString_format format %}
							selected="selected"
						{% endifequal %}
						>{{format}}</option>
					{% endfor %}
					</select>
				</td></tr></table>
			{% endifequal %}
			
			{% ifequal annotation_type "nudge" %}
					<table>
					{% if annotation %}
						<p>You can change the number of points to nudge this {{entry.type}} up (positive) or down (negative)
						in any or all of these categories here.</p>
					{% else %}
						<p>Please enter the number of points to nudge this {{entry.type}} up (positive) or down (negative)
						in any or all of these categories.<p>
					{% endif %}
					<p><i>You have
						<b>{{nudge_points_member_can_assign}}</b> points left that you can assign on this {{entry.type}}. You have
						<b>{{current_member.nudgePoints}}</b> points remaining to assign in general. If you assign more
						points here than you have available or the community allows per {{entry.type}},
						your 
						{% if annotation %}
						change
						{% else %}
						nudge values
						{% endif %}
						will be reduced to what is available, starting with the last ones in the list.</i></p>
					<tr><th>Category</th><th>Nudge</th></tr>
						{% for i in num_nudge_categories|makeRange %}
							<tr><td align="right">{{community.nudgeCategories|listLookup:i}}</td><td align="left">
							<input type="text" name="nudge{{i}}" size="4" value="{{annotation.valuesIfNudge|listLookup:i|orNothing}}" maxlength="{{maxlength_number}}"/></td></tr>
						{% endfor %}
					</table>
					{% if annotation %}
						<p>You can change your comment on this nudge here.</p>
					{% else %}
						<p>You can enter a comment on this nudge here.</p>
					{% endif %}
					<input type="text" name="shortString" size="80" value="{% if annotation %}{{annotation.shortString}}{% endif %}" maxlength="{{maxlength_subject_or_comment}}"/>
			{% endifequal %}

			{% if offline_members and current_member.isLiaison %}
				<p>Since you are a liaison:</p>
				<fieldset>
				Was this {{annotation_type}} collected from an off-line member?</p>
				<input type="radio" name="collectedOffline" value="yes" id="collectedOffline"
					{% if annotation.collectedOffline %}
					checked
					{% endif %}
				<label for="collectedOffline">Yes, it was collected from</label>
				<select name="offlineSource">
					<option value="none">(choose)</option>
					{% for member in offline_members %}
						<option value="{{member.key}}"
						{% if annotation %}
							{% ifequal member.key annotation.creator.key %}
								selected="selected"
							{% endifequal %}
						{% endif %}
						>{{member.nickname}}
						</option>
					{% endfor %}
				</select>
				&nbsp; on 
	  			 (year) <input type="text" name="year" size="4" value="" maxlength="4"/>
	  			 (month) <input type="text" name="month" size="4" value="" maxlength="2"/>
	  			 (day) <input type="text" name="day" size="4" value="" maxlength="2"/>
  			 	{{"#offlineCollectionDate"|tip}}			
	 			{% if character_allowed %}
					and attributed to 
					<select name="offlineAttribution">
						<option value="member"
							{% if annotation %}
								{% if annotation.attributedToMember %}
									selected="selected"
								{% endif %}
							{% endif %}
							>The selected member</option>
						{% if community.getCharacters %}
							{% for character in community.getCharacters %}
								<option value="{{character.key}}"
								{% if annotation %}
									{% ifequal annotation.character.key character.key %}
										selected="selected"
									{% endifequal %}
								{% endif %}
								>{{character.name}}</option>
							{% endfor %}
						{% endif %}
					</select>
				{% endif %}
				<br/><input type="radio" name="collectedOffline" value="no" id="notCollectedOffline"
					{% if not annotation.collectedOffline %}
					checked
					{% endif %}
				<label for="notCollectedOffline">No, this is my {{annotation_type}}.</label>
				{% if character_allowed %}
					&nbsp;  I'd like to say it was contributed by
					<select name="attribution">
						<option value="member"
							{% if annotation %}
								{% if annotation.attributedToMember %}
									selected="selected"
								{% endif %}
							{% endif %}
							>Me ({{current_member.nickname}})</option>
						{% if community.getCharacters %}
							{% for character in community.getCharacters %}
								<option value="{{character.key}}"
								{% if annotation %}
									{% ifequal annotation.character.key character.key %}
										selected="selected"
									{% endifequal %}
								{% endif %}
								>{{character.name}}</option>
							{% endfor %}
						{% endif %}
					</select></p>
				{% endif %}
				</fieldset>
			{% else %}
				{% if character_allowed %}
					Who would you like to say contributed this {{annotation_type}}?
					<select name="attribution">
						<option value="member"
							{% if annotation %}
								{% if annotation.attributedToMember %}
									selected="selected"
								{% endif %}
							{% endif %}
							>Me ({{current_member.nickname}})</option>
						{% if community.getCharacters %}
							{% for character in community.getCharacters %}
								<option value="{{character.key}}"
								{% if annotation %}
									{% ifequal annotation.character.key character.key %}
										selected="selected"
									{% endifequal %}
								{% endif %}
								>{{character.name}}</option>
							{% endfor %}
						{% endif %}
					</select></p>
				{% endif %}
			{% endif %}
			
			</fieldset>

			<p>
			<center>
			{% if annotation %}
				{% if annotation.inBatchEntryBuffer %}
					<input type="submit" name="save|{{annotation_type}}" value="Save changes and return" class="button">
					<input type="submit" name="preview|{{annotation_type}}" value="Preview" class="button">
				{% else %}
					<input type="submit" name="save|{{annotation_type}}" value="Save draft" class="button">
					<input type="submit" name="preview|{{annotation_type}}" value="Preview" class="button">
					<input type="submit" name="publish|{{annotation_type}}" value="Publish" class="button">
				{% endif %}
			{% else %}
				<input type="submit" name="save|{{annotation_type}}" value="Save as draft" class="button">
				<input type="submit" name="preview|{{annotation_type}}" value="Preview" class="button">
				<input type="submit" name="publish|{{annotation_type}}" value="Publish" class="button">
			{% endif %}
			</center>
			
		</form>
		</div>
		</div>
	{% include "../common_footer.html" %}
	</body>
</html>
