<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
		
		<div id="stylized" class="rakontu_form">
		<form action="/visit/answers?{{entry.key}}
		" method="post" enctype="multipart/form-data">
		
			<h2>{{entry.title}} ({{entry.type}})</h2>
	
			<div class="blurb">{{entry.text}}</div
			
			{% if questions %}
				{% include "questions.html" %}
			{% endif %}
			
			
			{% if character_allowed %}
				{% if answers %}
					<p>You can change who this answer set is attributed to here.
				{% else %}
					<p>To whom would you like to attribute this answer set?
				{% endif %}
				
				<select name="attribution">
					<option value="member"
						{% if answers %}
							{% if answers.0.attributedToMember %}
								selected="selected"
							{% endif %}
						{% endif %}
						>Me ({{current_member.nickname}})</option>
					{% if community.getCharacters %}
						{% for character in community.getCharacters %}
							<option value="{{character.key}}"
							{% if answers %}
								{% ifequal answers.0.character.key character.key %}
									selected="selected"
								{% endifequal %}
							{% endif %}
							>{{character.name}}</option>
						{% endfor %}
					{% endif %}
				</select></p>
			{% endif %}
			</fieldset>

			{% if offline_members and current_member.isLiaison %}
				<p>Since you are a liaison:</p>
				<fieldset>
				Was this answer set collected from an off-line member?</p>
				<input type="radio" name="collectedOffline" value="yes" id="collectedOffline"
					{% if answers.0.collectedOffline %}
					checked
					{% endif %}
				<label for="collectedOffline">Yes, it was collected from</label>
				<select name="offlineSource">
					<option value="none">(choose)</option>
					{% for member in offline_members %}
						<option value="{{member.key}}"
						{% if answers.0 %}
							{% ifequal member.key answers.0.creator.key %}
								selected="selected"
							{% endifequal %}
						{% endif %}
						>{{member.nickname}}
						</option>
					{% endfor %}
				</select>
				&nbsp; on 
	  			 (year) <input type="text" name="year" size="4" value="" maxlength="4"/>
	  			 (month) <input type="text" name="month" size="4" value="" maxlength="2"/>
	  			 (day) <input type="text" name="day" size="4" value="" maxlength="2"/>
  			 	{{"#offlineCollectionDate"|tip}}			
	 			{% if character_allowed %}
					and attributed to 
					<select name="offlineAttribution">
						<option value="member"
							{% if answers.0 %}
								{% if answers.0.attributedToMember %}
									selected="selected"
								{% endif %}
							{% endif %}
							>The selected member</option>
						{% if community.getCharacters %}
							{% for character in community.getCharacters %}
								<option value="{{character.key}}"
								{% if answers.0 %}
									{% ifequal answers.0.character.key character.key %}
										selected="selected"
									{% endifequal %}
								{% endif %}
								>{{character.name}}</option>
							{% endfor %}
						{% endif %}
					</select>
				{% endif %}
				<br/><input type="radio" name="collectedOffline" value="no" id="notCollectedOffline"
					{% if not answers.0.collectedOffline %}
					checked
					{% endif %}
				<label for="notCollectedOffline">No, this is my answer set.</label>
				{% if character_allowed %}
					&nbsp;  I'd like to say it was contributed by
					<select name="attribution">
						<option value="member"
							{% if answers.0 %}
								{% if answers.0.attributedToMember %}
									selected="selected"
								{% endif %}
							{% endif %}
							>Me ({{current_member.nickname}})</option>
						{% if community.getCharacters %}
							{% for character in community.getCharacters %}
								<option value="{{character.key}}"
								{% if answers.0 %}
									{% ifequal answers.0.character.key character.key %}
										selected="selected"
									{% endifequal %}
								{% endif %}
								>{{character.name}}</option>
							{% endfor %}
						{% endif %}
					</select></p>
				{% endif %}
				</fieldset>
			{% else %}
				{% if character_allowed %}
					Who would you like to say contributed this answer set?
					<select name="attribution">
						<option value="member"
							{% if answers.0 %}
								{% if answers.0.attributedToMember %}
									selected="selected"
								{% endif %}
							{% endif %}
							>Me ({{current_member.nickname}})</option>
						{% if community.getCharacters %}
							{% for character in community.getCharacters %}
								<option value="{{character.key}}"
								{% if answers.0 %}
									{% ifequal answers.0.character.key character.key %}
										selected="selected"
									{% endifequal %}
								{% endif %}
								>{{character.name}}</option>
							{% endfor %}
						{% endif %}
					</select></p>
				{% endif %}
			{% endif %}

			
			<p>
			<center>
			{% if answers %}
				<input type="submit" name="save" value="Save draft" class="button">
				<input type="submit" name="preview" value="Preview" class="button">
				<input type="submit" name="publish" value="Publish" class="button">
			{% else %}
				<input type="submit" name="save" value="Save as draft" class="button">
				<input type="submit" name="preview" value="Preview" class="button">
				<input type="submit" name="publish" value="Publish" class="button">
			{% endif %}
			</center>
			
		</form>
		</div>
		</div>
	{% include "../common_footer.html" %}
	</body>
</html>
