<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
	</head>
	<body>
		{% include "../menus.html" %}
		<div id="content">
		
		<div id="stylized" class="rakontu_form">
		<form action="/visit/answers?{{article.key}}
		" method="post" enctype="multipart/form-data">
		
			<h2>{{article.title}} ({{article.type}})</h2>
	
			<div class="article_text">{{article.text}}</div
			
			{% if questions %}
				{% include "questions.html" %}
			{% endif %}
			
			{% if current_member.isLiaison %}
				<div><label><input type="checkbox" name="collectedOffline" value="yes" checked>This answer set was collected offline.</label></div>
				{% if answers %}
					<p>This off-line answer set was collected from:</p>
				{% else %}
					<p>If this answer set was collected off-line, please choose a member to assign it to.</p>
				{% endif %}
				<select name="offlineSource">
					{% for member in community_members %}
						<option value="{{member.key}}">
						{% if answers.0 %}
							{% ifequal member.key answers.0.creator.key %}
								selected="selected"
							{% endifequal %}
						{% endif %}
						{{member.nickname}}</option>
					{% endfor %}
				</select>
			{% endif %}
			
			{% if character_allowed %}
				{% if answers %}
					<p>You can change who this answer set is attributed to here.</p>
				{% else %}
					<p>To whom would you like to attribute this answer set?</p>
				{% endif %}
				
				<select name="attribution">
					<option value="member"
						{% if answers %}
							{% if answers.0.attributedToMember %}
								selected="selected"
							{% endif %}
						{% endif %}
						>Me ({{current_member.nickname}})</option>
					{% if community.getCharacters %}
						{% for character in community.getCharacters %}
							<option value="{{character.key}}"
							{% if answers %}
								{% ifequal answers.0.character.key character.key %}
									selected="selected"
								{% endifequal %}
							{% endif %}
							>{{character.name}}</option>
						{% endfor %}
					{% endif %}
				</select>
			{% endif %}
			</fieldset>
			
			<p>
			<center>
			{% if answers %}
				<input type="submit" name="answers|{{article.key}}" value="Change answers about {{article_type}}" class="button">
				<p>&nbsp; </p>
				<input type="submit" name="remove|answers|{{article.key}}" value="I would like to PERMANENTLY REMOVE these answers"
					onClick="javascript:return confirm('Are you REALLY ABSOLUTELY sure you want to delete these answers?\n\nThere will be NO way to get them back.')"" class="button">
			{% else %}
				<input type="submit" name="answers|{{article.key}}" value="Add answers about {{article_type}}" class="button">
			{% endif %}
			</center>
			
		</form>
		</div>
		</div>
	</body>
</html>
