<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
		
		<div id="stylized" class="rakontu_form">
		<form action="/visit/answers?{{entry.key}}
		" method="post" enctype="multipart/form-data">
		
			<h2>{{entry.title}} ({{entry.type}})</h2>
	
			<div class="blurb">{{entry.text}}</div
			
			{% if questions %}
				{% include "questions.html" %}
			{% endif %}
			
			
			{% if character_allowed %}
				{% if answers %}
					<p>You can change who this answer set is attributed to here.
				{% else %}
					<p>To whom would you like to attribute this answer set?
				{% endif %}
				
				<select name="attribution">
					<option value="member"
						{% if answers %}
							{% if answers.0.attributedToMember %}
								selected="selected"
							{% endif %}
						{% endif %}
						>Me ({{current_member.nickname}})</option>
					{% if community.getCharacters %}
						{% for character in community.getCharacters %}
							<option value="{{character.key}}"
							{% if answers %}
								{% ifequal answers.0.character.key character.key %}
									selected="selected"
								{% endifequal %}
							{% endif %}
							>{{character.name}}</option>
						{% endfor %}
					{% endif %}
				</select></p>
			{% endif %}
			</fieldset>
			
			{% if offline_members %}
				{% if current_member.isLiaison %}
					<p>Since you are a liaison, was this answer set collected from an off-line member?</p>
					<input type="checkbox" name="collectedOffline" value="yes" id="collectedOffline"
						{% if answers.0.collectedOffline %}
						checked
						{% endif %}
					<label for="collectedOffline">Yes, it was collected from</label>
					<select name="offlineSource">
						<option value="none">(choose)</option>
						{% for member in offline_members %}
							<option value="{{member.key}}"
							{% if entry %}
								{% ifequal member.key answers.0.creator.key %}
									selected="selected"
								{% endifequal %}
							>{{member.nickname}}
							{% endif %}
							</option>
						{% endfor %}
					</select>
				{% endif %}
			{% endif %}
			
			<p>
			<center>
			{% if answers %}
				<input type="submit" name="save" value="Save draft" class="button">
				<input type="submit" name="preview" value="Preview" class="button">
				<input type="submit" name="publish" value="Publish" class="button">
			{% else %}
				<input type="submit" name="save" value="Save as draft" class="button">
				<input type="submit" name="preview" value="Preview" class="button">
				<input type="submit" name="publish" value="Publish" class="button">
			{% endif %}
			</center>
			
		</form>
		</div>
		</div>
	{% include "../common_footer.html" %}
	</body>
</html>
