<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
	</head>
	<body>
		{% include "../menus.html" %}
		<div id="content">
		
		<div id="stylized" class="rakontu_form">
		<form action="/visit/article
		{% if article %}
		?{{article.key}}
		{% endif %}
		" method="post" enctype="multipart/form-data">
		
			{% if article %}
				<h3>{{article.title}} ({{article_type}})</h3>
			{% else %}
				<h3>New {{article_type|capfirst}}</h3>
			{% endif %}
			<fieldset>
			{% if article %}
				You can change the text of your {{article_type}} here.
			{% else %}
				Please type your {{article_type}} here.
			{% endif %}
			<div><textarea name="text" rows="20" cols="60">{% if article %}{{article.text}}{% endif %}</textarea></div>
			
			{% if article %}
				You can change the name of your {{article_type}} here.
			{% else %}
				Please give your {{article_type}} a name.
			{% endif %}
			<div><input type="text" name="title" size="60" value="{% if article %}{{article.title}}{% endif %}"/></div>
			
			{% if current_member.isLiaison %}
				<div><label><input type="checkbox" name="collectedOffline" value="yes" 
					{% if article.collectedOffline %}
					checked
					{% endif %}
				>This {{article_type}} was collected offline.</label></div>
				{% if article %}
					<p>This off-line {{article_type}} was collected from:</p>
				{% else %}
					<p>If this {{article_type}} was collected off-line, please choose a member to assign it to.</p>
				{% endif %}
				<select name="offlineSource">
					{% for member in community_members %}
						<option value="{{member.key}}">{{member.nickname}}
						{% if article %}
							{% ifequal member.key article.creator.key %}
								selected="selected"
							{% endifequal %}
						{% endif %}
						</option>
					{% endfor %}
				</select>
			{% endif %}
			
			{% if show_attribution_choice %}
				{% if article %}
					<p>You can change who this {{article_type}} is attributed to here.</p>
				{% else %}
					<p>To whom would you like to attribute this {{article_type}}?</p>
				{% endif %}
				
				<select name="attribution">
					<option value="member"
						{% if article %}
							{% ifequal article.attribution "member" %}
								selected="selected"
							{% endifequal %}
						{% endif %}
						>Me ({{current_member.nickname}})</option>
					{% if anon_entry_allowed %}
						<option value="anonymous"
						{% if article %}
							{% ifequal article.attribution "anonymous" %}
								selected="selected"
							{% endifequal %}
						{% endif %}
						>Anonymous</option>
					{% endif %}
					{% if community.getPersonifications %}
						{% for personification in community.getPersonifications %}
							<option value="{{personification.key}}"
							{% if article %}
								{% ifequal article.personification.key personification.key %}
									selected="selected"
								{% endifequal %}
							{% endif %}
							>{{personification.name}}</option>
						{% endfor %}
					{% endif %}
				</select>
			{% endif %}

			{% if article_from %}
				<p>You created this story 
				{% ifequal link_type "retell" %}
					as your own version of the story "{{article_from.title}}."
				{% endifequal %}
				{% ifequal link_type "remind" %}
					because the story "{{article_from.title}}" reminded you of it.
				{% endifequal %}
				{% ifequal link_type "respond" %}
					in response to the invitation "{{article_from.title}}."
				{% endifequal %}
				Would you like to comment on 
				{% ifequal link_type "retell" %}
					why you retold the original story?
				{% endifequal %}
				{% ifequal link_type "remind" %}
					what reminded you of this story?
				{% endifequal %}
				{% ifequal link_type "respond" %}
					why you responded to the invitation?
				{% endifequal %}
				</p>
				<input type="text" name="link_comment" value="" size="60">
				<input type="hidden" name="link_type" value="{{link_type}}">
				<input type="hidden" name="article_from" value="{{article_from.key}}">
			{% endif %}
			
			</fieldset>
			
			<p>
			{% if questions %}
				{% include "questions.html" %}
			{% endif %}
			
			{% ifnotequal community.maxNumAttachments 0 %}
				<h3>Attachments</h3>
				<fieldset>
				{% if article %}
					<p>This {{article_type}} has these attachments.
				{% else %}
					<p>You can attach up to {{community.maxNumAttachmentsAsText}} files to this {{article_type}} here.
				{% endif %}
				<i>PDF, TXT, DOC, JPG, PNG only; 10 megabyte limit.</i></p>
				
				<h4>First attachment</h4>
				<p>Name</p>
				<div><input type="text" name="attachmentName0" value="{{attachments.0.name}}"/></div></p>
				{% if article %}
					{% if attachments.0.fileName %}
					<p><b>File</b>: <a href="attachment?attachment_id={{attachments.0.key}}">{{attachments.0.fileName}}</a>
					&nbsp; <label><input type="checkbox" name"removeAttachment|{{attachments.0.key}}" value="removeAttachment|{{attachments.0.key}}">Remove</label></p>
					{% else %}
					<p><b>File</b>: none</p>
					{% endif %}
					<p>Click Browse to replace the first attachment for this {{article_type}}.</p>
				{% else %}
					<p>Click Browse to choose a first attachment for this {{article_type}}.</p>
				{% endif %}
				<p><input type="file" name="attachment0"/></p>
	
				{% if community.allowsAtLeastTwoAttachments %}
					<h4>Second attachment</h4>
					<p>Name</p>
					<div><input type="text" name="attachmentName1" value="{{attachments.1.name}}"/></div></p>
					{% if article %}
						{% if attachments.1.fileName %}
						<p><b>File</b>: <a href="attachment?attachment_id={{attachments.1.key}}">{{attachments.1.fileName}}</a>
						&nbsp; <label><input type="checkbox" name"removeAttachment|{{attachments.1.key}}" value="removeAttachment|{{attachments.1.key}}">Remove</label></p>
						{% else %}
						<p><b>File</b>: none</p>
						{% endif %}
						<p>Click Browse to replace the second attachment for this {{article_type}}.</p>
					{% else %}
						<p>Click Browse to choose a second attachment for this {{article_type}}.</p>
					{% endif %}
					<p><input type="file" name="attachment1"/></p>
					
					{% if community.allowsAtLeastThreeAttachments %}
						<h4>Third attachment</h4>
						<p>Name</p>
						<div><input type="text" name="attachmentName2" value="{{attachments.2.name}}"/></div></p>
						{% if article %}
							{% if attachments.2.fileName %}
							<p><b>File</b>: <a href="attachment?attachment_id={{attachments.2.key}}">{{attachments.2.fileName}}</a>
							&nbsp; <label><input type="checkbox" name"removeAttachment|{{attachments.2.key}}" value="removeAttachment|{{attachments.2.key}}">Remove</label></p>
							{% else %}
							<p><b>File</b>: none</p>
							{% endif %}
							<p>Click Browse to replace the third attachment for this {{article_type}}.</p>
						{% else %}
							<p>Click Browse to choose a third attachment for this {{article_type}}.</p>
						{% endif %}
						<p><input type="file" name="attachment2"/></p>
						
						{% if community.allowsAtLeastFourAttachments %}
							<h4>Fourth attachment</h4>
							<p>Name</p>
							<div><input type="text" name="attachmentName3" value="{{attachments.3.name}}"/></div></p>
							{% if article %}
								{% if attachments.3.fileName %}
								<p><b>File</b>: <a href="attachment?attachment_id={{attachments.3.key}}">{{attachments.3.fileName}}</a>
								&nbsp; <label><input type="checkbox" name"removeAttachment|{{attachments.3.key}}" value="removeAttachment|{{attachments.3.key}}">Remove</label></p>
								{% else %}
								<p><b>File</b>: none</p>
								{% endif %}
								<p>Click Browse to replace the fourth attachment for this {{article_type}}.</p>
							{% else %}
								<p>Click Browse to choose a fourth attachment for this {{article_type}}.</p>
							{% endif %}
							<p><input type="file" name="attachment3"/></p>
							
							{% if community.allowsFiveAttachments %}
								<h4>Fifth attachment</h4>
								<p>Name</p>
								<div><input type="text" name="attachmentName4" value="{{attachments.4.name}}"/></div></p>
								{% if article %}
									{% if attachments.4.fileName %}
									<p><b>File</b>: <a href="attachment?attachment_id={{attachments.4.key}}">{{attachments.4.fileName}}</a>
									&nbsp; <label><input type="checkbox" name"removeAttachment|{{attachments.4.key}}" value="removeAttachment|{{attachments.4.key}}">Remove</label></p>
									{% else %}
									<p><b>File</b>: none</p>
									{% endif %}
									<p>Click Browse to replace the fifth attachment for this {{article_type}}.</p>
								{% else %}
									<p>Click Browse to choose a fifth attachment for this {{article_type}}.</p>
								{% endif %}
								<p><input type="file" name="attachment4"/></p>
							{% endif %}
						{% endif %}
					{% endif %}
				{% endif %}
					
				</fieldset>
			{% endifnotequal %}
			
			<p>
			<center>
			{% if article %}
				<input type="submit" name="change|{{article_type}}|{{article.key}}" value="Change {{article_type}}" class="button">
				<p>&nbsp; </p>
				<input type="submit" name="remove|{{article_type}}|{{article.key}}" value="I would like to PERMANENTLY REMOVE this {{article_type}}"
					onClick="javascript:return confirm('Are you REALLY ABSOLUTELY sure you want to delete this item?\n\nThere will be NO way to get it back.')"" class="button">
			{% else %}
				<input type="submit" name="add|{{article_type}}" value="Add {{article_type}}" class="button">
			{% endif %}
			</center>
			
		</form>
		</div>
		</div>
	</body>
</html>
