<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
	</head>
	<body>
		{% include "../menus.html" %}
		<div id="content">
		
		<div id="stylized" class="rakontu_form">
		<form action="/visit/article
		{% if article %}
		?{{article.key}}
		{% endif %}
		" method="post" enctype="multipart/form-data">
		
			{% if article %}
				<h3>{{article.title}} ({{article_type}})</h3>
			{% else %}
				<h3>New {{article_type|capfirst}}</h3>
			{% endif %}
			<fieldset>
			{% if article %}
				You can change the text of your {{article_type}} here.
			{% else %}
				Please type your {{article_type}} here.
			{% endif %}
			<textarea name="text" rows="20" cols="60">{% if article %}{{article.text}}{% endif %}</textarea>
			<div class="rightalign">Interpret this as <select name="text_format">
				{% for format in text_formats %}
					<option value="{{format}}" 
					{% ifequal article.text_format format %}
						selected="selected"
					{% endifequal %}
					>{{format}}</option>
				{% endfor %}
				</select></div>
			
			{% if article %}
				You can change the name of your {{article_type}} here.
			{% else %}
				Please give your {{article_type}} a name.
			{% endif %}
			<div><input type="text" name="title" size="60" value="{% if article %}{{article.title}}{% endif %}"/></div>
			
			{% if character_allowed %}
				{% if article %}
					<p>You can change who this {{article_type}} is attributed to here.</p>
				{% else %}
					<p>To whom would you like to attribute this {{article_type}}?</p>
				{% endif %}
				
				<select name="attribution">
					<option value="member"
						{% if article %}
							{% if article.attributedToMember %}
								selected="selected"
							{% endif %}
						{% endif %}
						>Me ({{current_member.nickname}})</option>
					{% if community.getCharacters %}
						{% for character in community.getCharacters %}
							<option value="{{character.key}}"
							{% if article %}
								{% ifequal article.character.key character.key %}
									selected="selected"
								{% endifequal %}
							{% endif %}
							>{{character.name}}</option>
						{% endfor %}
					{% endif %}
				</select>
			{% endif %}

			{% if current_member.isLiaison %}
				<div><label><input type="checkbox" name="collectedOffline" value="yes" 
					{% if article.collectedOffline %}
					checked
					{% endif %}
				>This {{article_type}} was collected offline.</label></div>
				{% if article %}
					<p>This off-line {{article_type}} was collected from:</p>
				{% else %}
					<p>If this {{article_type}} was collected off-line, please choose a member to assign it to.</p>
				{% endif %}
				<select name="offlineSource">
					{% for member in community_members %}
						<option value="{{member.key}}">{{member.nickname}}
						{% if article %}
							{% ifequal member.key article.creator.key %}
								selected="selected"
							{% endifequal %}
						{% endif %}
						</option>
					{% endfor %}
				</select>
			{% endif %}
			
			{% if article_from %}
				<p>You created this story 
				{% ifequal link_type "retell" %}
					as your own version of the story "{{article_from.title}}."
				{% endifequal %}
				{% ifequal link_type "remind" %}
					because the story "{{article_from.title}}" reminded you of it.
				{% endifequal %}
				{% ifequal link_type "respond" %}
					in response to the invitation "{{article_from.title}}."
				{% endifequal %}
				Would you like to comment on 
				{% ifequal link_type "retell" %}
					why you retold the original story?
				{% endifequal %}
				{% ifequal link_type "remind" %}
					what reminded you of this story?
				{% endifequal %}
				{% ifequal link_type "respond" %}
					why you responded to the invitation?
				{% endifequal %}
				</p>
				<input type="text" name="link_comment" value="" size="60">
				<input type="hidden" name="link_type" value="{{link_type}}">
				<input type="hidden" name="article_from" value="{{article_from.key}}">
			{% endif %}
			
			</fieldset>
			
			<p>
			{% if questions %}
				{% include "questions.html" %}
			{% endif %}
			
			{% ifnotequal community.maxNumAttachments 0 %}
				<h3>Attachments</h3>
				{% if article %}
					<p>This {{article_type}} has these attachments. Click the Browse button to replace any attachment,
					or check the Remove box to delete it.
				{% else %}
					<p>You can attach up to {{community.maxNumAttachmentsAsText}} files to this {{article_type}} here.
				{% endif %}
				<i>PDF, TXT, DOC, JPG, PNG only; maximum 10 megabyte limit per attachment.</i></p>
				
		      	<table border="1" cellpadding="4" cellspacing="0">
		      	<tr>
		      		<th>Name</th>
		      		<th>File</th>
		      		<th>Remove?</th>
		      		<th>{% if article %} Replace {% else %} Attach {% endif %} </th>
		      		
		      		</tr><td><input type="text" name="attachmentName0" value="{{attachments.0.name}}" size="20"/></td>
					<td>{% if attachments.0.fileName %}
						<a href="attachment?attachment_id={{attachments.0.key}}">
						{{attachments.0.fileName}}</a>{% else %}none
						{% endif %}</td>
					<td>{% if attachments.0.fileName %}
							<input type="checkbox" name"removeAttachment|{{attachments.0.key}}" value="removeAttachment|{{attachments.0.key}}" id="0">
							<label for="0">Remove</label>{% else %}&nbsp; 
						{% endif %}</td>
					<td><input type="file" name="attachment0" size="20"/></p></td></tr>

					{% if community.allowsAtLeastTwoAttachments %}
			      		</tr><td><input type="text" name="attachmentName1" value="{{attachments.1.name}}" size="20"/></td>
						<td>{% if attachments.1.fileName %}
							<a href="attachment?attachment_id={{attachments.1.key}}">
							{{attachments.1.fileName}}</a>{% else %}none
							{% endif %}</td>
						<td>{% if attachments.1.fileName %}
								<input type="checkbox" name"removeAttachment|{{attachments.1.key}}" value="removeAttachment|{{attachments.1.key}}" id="1">
								<label for="1">Remove</label>{% else %}&nbsp; 
							{% endif %}</td>
						<td><input type="file" name="attachment1" size="20"/></p></td></tr>
				
						{% if community.allowsAtLeastThreeAttachments %}
				      		</tr><td><input type="text" name="attachmentName2" value="{{attachments.2.name}}" size="20"/></td>
							<td>{% if attachments.2.fileName %}
								<a href="attachment?attachment_id={{attachments.2.key}}">
								{{attachments.2.fileName}}</a>{% else %}none
								{% endif %}</td>
							<td>{% if attachments.2.fileName %}
									<input type="checkbox" name"removeAttachment|{{attachments.2.key}}" value="removeAttachment|{{attachments.2.key}}" id="2">
									<label for="2">Remove</label>{% else %}&nbsp; 
								{% endif %}</td>
							<td><input type="file" name="attachment2" size="20"/></p></td></tr>
							
							{% if community.allowsAtLeastFourAttachments %}
					      		</tr><td><input type="text" name="attachmentName3" value="{{attachments.3.name}}" size="20"/></td>
								<td>{% if attachments.3.fileName %}
									<a href="attachment?attachment_id={{attachments.3.key}}">
									{{attachments.3.fileName}}</a>{% else %}none
									{% endif %}</td>
								<td>{% if attachments.3.fileName %}
										<input type="checkbox" name"removeAttachment|{{attachments.3.key}}" value="removeAttachment|{{attachments.3.key}}" id="3">
										<label for="3">Remove</label>{% else %}&nbsp; 
									{% endif %}</td>
								<td><input type="file" name="attachment3" size="20"/></p></td></tr>
								
								{% if community.allowsFiveAttachments %}
					      		</tr><td><input type="text" name="attachmentName4" value="{{attachments.4.name}}" size="20"/></td>
								<td>{% if attachments.4.fileName %}
									<a href="attachment?attachment_id={{attachments.4.key}}">
									{{attachments.4.fileName}}</a>{% else %}none
									{% endif %}</td>
								<td>{% if attachments.4.fileName %}
										<input type="checkbox" name"removeAttachment|{{attachments.4.key}}" value="removeAttachment|{{attachments.4.key}}" id="4">
										<label for="4">Remove</label>{% else %}&nbsp; 
									{% endif %}</td>
								<td><input type="file" name="attachment4" size="20"/></p></td></tr>
							
								{% endif %}
							{% endif %}
						{% endif %}
					{% endif %}
				</table>
			{% endifnotequal %}
			
			<p>
			<center>
			{% if article %}
				<input type="submit" name="save|{{article_type}}" value="Save draft" class="button">
				<input type="submit" name="preview|{{article_type}}" value="Preview" class="button">
				<input type="submit" name="publish|{{article_type}}" value="Publish" class="button">
			{% else %}
				<input type="submit" name="save|{{article_type}}" value="Save as draft" class="button">
				<input type="submit" name="preview|{{article_type}}" value="Preview" class="button">
				<input type="submit" name="publish|{{article_type}}" value="Publish" class="button">
			{% endif %}
			</center>
			
		</form>
		</div>
		</div>
	</body>
</html>
