<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
	</head>
	<body>
		{% include "../menus.html" %}
		<div id="content">
	
		<h3>Characters</h3>
      	<table border="1" cellpadding="4" cellspacing="0">
      		{% for character in characters %}
  				<tr><td>
		 		{% if character.image %}
					<img src="img?character_id={{character.key}}" align="left"></img>
				{% endif %}
  				<a href="character?{{character.key}}">{{ character.name }}</a> 
  				{% if character.description %}<ul><li class="nobullet">{{character.description}}</li></ul>{% endif %}
  				</td>
  				</tr>
      		{% endfor %}
      	</table>
	</div>
	</body>
</html>
