<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
	
		<h3>Information about {{character.name}}</h3>
		
		 		{% if character.image %}
					<div><img src="img?character_id={{character.key}}" ></img></div>
				{% endif %}
				<p>
				{{character.name}}
  				{% if character.description %}<p>About {{character.name}}:</p><div class="blurb">{{character.description}}</div>{% endif %}
	  			{% if character.etiquetteStatement %}<p>How to be {{character.name}}:</p><div class="blurb">{{character.etiquetteStatement}}</div>{% endif %}
	
  		<h3>Entries (stories, invitations, collages, patterns, resources)</h3>
  		{% if entries %}
	  		<ul>
	  		{% for entry in entries %}
	  			<li class="nobullet">
	  			<a href="read?{{entry.key}}">{{entry.title}}</a> was added
	  			on {{entry.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}
				at {{entry.published|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}
				</li>
	  		{% endfor %}
	  		</ul>
 	  	{% else %}
	  		<ul><li class="nobullet">none</li></ul>
  		{% endif %}
	
		<h3>Annotations (comments, requests, nudges, tags)</h3>
  		{% if annotations %}
	  		<ul>
	  		{% for annotation in annotations %}
	  			<li class="nobullet">
	  			A {{annotation.type}} of 
	  			{% if annotation.isComment or annotation.isRequest %}
	  				<a href="readAnnotation?{{annotation.key}}">{{annotation.displayString}}</a>
	  			{% else %}
	  				"{{annotation.displayString}}"
	  			{% endif %}
	  			was added to the entry <a href="read?{{annotation.entry.key}}">{{annotation.entry.title}}</a> 
	  			on {{annotation.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}
				at {{annotation.published|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}
				</li>
	  		{% endfor %}
	  		</ul>
	  	{% else %}
	  		<ul><li class="nobullet">none</li></ul>
  		{% endif %}
	
		<h3>Answers to questions</h3>
  		{% if answers %}
	  		<ul>
	  		{% for answer in answers %}
	  			<li class="nobullet">
	  			For the {{answer.referent.type}} <a href="read?{{answer.referent.key}}">{{answer.referent.title}}</a>,
	  			the question "{{answer.question.text}}" was answered "{{answer.displayStringShort}}"
	  			on {{answer.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}
				at {{answer.published|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}
				</li>
	  		{% endfor %}
	  		</ul>
	  	{% else %}
	  		<ul><li class="nobullet">none</li></ul>
   		{% endif %}
		
	<div class="rightalign"><a href="/visit/community">See all characters</a></div>
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
