<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
		<div id="rakontu_form_style" class="rakontu_form">
		<form action="/{{dir_visit}}/{{url_character}}?{{character.urlQuery}}
		{% if curating %}
			&{{url_query_curate}}={{url_query_curate}}
		{% endif %}
		" method="post">
	
		<h3>{{character.name}}</h3>
		
		 {% if character.image %}
		 	{{character.imageEmbed}}
		{% endif %}
		<p>{{template_about}} {{character.name}}:</p>
		<div class="blurb">
  		{% if character.description|orNothing %}
  			{{character.description}}
  		{% else %}
  			({{template_no_character_description}})
  		{% endif %}
  		</div>
  		<p>{{template_how_to_be_character}} {{character.name}}:</p>
  		<div class="blurb">
	  	{% if character.etiquetteStatement_formatted|orNothing %}
	  		{{character.etiquetteStatement_formatted}}
	  	{% else %}
	  		({{template_no_character_how_to}})
	  	{% endif %}
	  	</div>
	  	
		<h3>{{term_entries_contributed_by}}</h3>
		
		{% include "../common_time_range.html" %}
		
		{% if grid_options_on_top %}
			{% include "../common_grid_options.html" %}
		{% endif %}
		
		{% include "../common_grid.html" %}
		
		{% if not grid_options_on_top %}
			{% include "../common_grid_options.html" %}
		{% endif %}

		
    <h3>{{template_counts_of_items_contributed_by}} {{character.name}}</h3>
		
		<p></p>
    	<table cellspacing=0 cellpadding=0 style="width:100%;">
 			{% for name in count_names %}
				<th>{{name|capfirst}}</th>
			{% endfor %}
      	</tr>
		{% for count in counts %}
			<td>{% if count %}
					{{count}}
				{% else %}
					&nbsp;
				{% endif %}
			</td>
		{% endfor %}
		</tr>
		</table>

  	</form>
  	</div>
  	
	<h3>{{template_answers_to_questions_about}} {{character.name}}</h3>
	{% if answers %}
		<ul>
		{% for answer in answers %}
			{% if answer.displayStringShort %}
				<li class="nobullet">{{answer.question.text}} &nbsp; {{answer.displayStringShort}}</li>
			{% endif %}
		{% endfor %}
		</ul>
	{% else %}
		<ul><li class="nobullet">({{template_none}})</li></ul>
	{% endif %}
		

	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
