<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
	
		<h3>Information about {{character.name}}</h3>
		
		 		{% if character.image %}
					<div><img src="img?character_id={{character.key}}" ></img></div>
				{% endif %}
				<p>
				{{character.name}}
  				{% if character.description %}<p>About {{character.name}}:</p><div class="blurb">{{character.description}}</div>{% endif %}
	  			{% if character.etiquetteStatement %}<p>How to be {{character.name}}:</p><div class="blurb">{{character.etiquetteStatement}}</div>{% endif %}
	
	{% if history.count %}
		<h4>{{character.name}}'s History</h4>
		<ul>
		{% for item in history %}
			<li class="nobullet">
				{{item.attribution}} <b>{{item.actionType}}</b>
				the {{item.referentType}} "{{item.textToShow}}" on {{item.timeStamp|timeZone:current_member.timeZoneName|date:current_member.dateFormat}} 
		at {{item.timeStamp|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}</li>
		{% endfor %}
		</ul>
	{% endif %}
		
	<div class="rightalign"><a href="/visit/community">See all characters</a></div>
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
