<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
	
		<h3>About the {{community.name}} community</h3>
		
		<p>This community was created on {{community.created|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}.</p>
		<p>Description:</p>
		<div class="blurb">{{community.description_formatted}}</div>
		{% if community.etiquetteStatement_formatted %}
			<p>Rules for behavior:</p>
			<div class="blurb">{{community.etiquetteStatement_formatted}}</div>
		{% endif %}
		
		{% if community.getActiveCharacters %}
			<h3>Characters</h3>
			<p><i>Community characters are fictional names you can "take on" when you tell a story,
				make a comment, and so on, if you don't want to say it as yourself.</i></p>
	      	<table>
	      		<tr><th>Name</th>
	      			<th>Picture</th>
	      			<th>About the character</th>
	      			<th>How to be this character</th></tr>
	      		{% for character in characters %}
	      			<tr>
					<td><a href="character?{{character.key}}">{{character.name}}</a></td>
	  				<td>
			 		{% if character.image %}
						<img src="img?character_id={{character.key}}" align="left">
					{% else %}
						&nbsp;
					{% endif %}
					</td>
					<td>{% if character.description %}{{character.description}}{% else %} &nbsp; {% endif %}</td>
					<td>{% if character.etiquetteStatement %}{{character.etiquetteStatement}}{% else %} &nbsp; {% endif %}</td>
	  				</tr>
	      		{% endfor %}
	      	</table>
	     {% endif %}
		
      	{% if current_member.isManagerOrOwner %}
      		<div class="rightalign">
      		Make changes to community-level <a href="/manage/settings">settings</a>
      		{% if community.getActiveCharacters %}
      			or <a href="/manage/characters">characters</a>
      		{% endif %}
      		</div>
      	{% endif %}
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
