<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
	</head>
	<body>
		{% include "../menus.html" %}
		<div id="content">
	
		<h3>About the {{community.name}} community</h3>
		
		<p>Created: {{community.created}}</p>
		<p>Description:</p>
		<fieldset>{{community.description_formatted}}</fieldset>
		{% if community.etiquetteStatement_formatted %}
			<p>Rules for behavior:</p>
			<fieldset>{{community.etiquetteStatement_formatted}}</fieldset>
		{% endif %}
		
		{% if community.getCharacters %}
			<h3>Characters</h3>
			<p><i>Community characters are fictional names you can "take on" when you tell a story,
				make a comment, and so on, if you don't want to say it as yourself.</i></p>
	      	<table border="1" cellpadding="4" cellspacing="0">
	      		{% for character in characters %}
	  				<tr><td>
			 		{% if character.image %}
						<img src="img?character_id={{character.key}}" align="left"></img>
					{% endif %}
	  				<a href="character?{{character.key}}">{{ character.name }}</a> 
	  				{% if character.description_formatted %}<p>About {{character.name}}:</p><ul><li class="nobullet">{{character.description_formatted}}</li></ul>{% endif %}
	  				{% if character.etiquetteStatement_formatted %}<p>How to be {{character.name}}:</p><ul><li class="nobullet">{{character.etiquetteStatement_formatted}}</li></ul>{% endif %}
	  				</td>
	  				</tr>
	      		{% endfor %}
	      	</table>
	     {% endif %}
		
      	{% if current_member.isManagerOrOwner %}
      		<p>You are a{% if current_member.isOwner %}n{% endif %} {{current_member.governanceType}}; you can</p>
      		<ul>
      		<li class="nobullet">Make changes to community-level <a href="/manage/settings">settings</a></li>
      		{% if community.getCharacters %}
      			<li class="nobullet">Make change to community <a href="/manage/characters">characters</a></li>
      		{% endif %}
      		</ul>
      	{% endif %}
	</div>
	</body>
</html>
