<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	
	
	<div id="content">
	
		<div id="stylized" class="rakontu_form">
		<form action="/{{dir_visit}}/{{url_drafts}}?{{rakontu.urlQuery}}" method="post" enctype="multipart/form-data">
		
		<h3>{{template_draft}} {{template_entries|lower}}</h3>
		{% if draft_entries %}
	      	<table border="0" cellpadding="4" cellspacing="0">
	      	<tr>
	      		<th>{{template_type}}</th>
	      		<th>{{template_name_click_to_edit}}</th>
	      		<th>{{template_created}}</th>
	      		<th>{{template_last_changed}}</th>
	      		<th>{{template_versions_click_to_use}} {{"text_versions"|info}} {{"text_versions"|tip}}</th>
	      		<th width="80"a>{{template_remove}}?</th>
	      		</tr>
	      	{% for entry in draft_entries %}
		      	<tr>
		      	<td>{{entry.typeForDisplay}}</td>
				<td><a href="{{entry.typeAsURL}}?{{entry.urlQuery}}">{{entry.title}}</a></td>
				<td>{{entry.created|timeZone:member.timeZoneName|time:member.timeFormat}}<br/>{{entry.created|timeZone:member.timeZoneName|date:member.dateFormat}}</td>
				<td>{{entry.edited|timeZone:member.timeZoneName|time:member.timeFormat}}<br/>{{entry.edited|timeZone:member.timeZoneName|date:member.dateFormat}}</td>
				<td>
					{% for version in entry.getTextVersionsInTimeOrder %}
						<p><a href="{{entry.typeAsURL}}?{{entry.urlQuery}}&{{version.urlQuery}}">{{version.title}}</a>
						{{version.created|timeZone:member.timeZoneName|time:member.timeFormat}}
						{{version.created|timeZone:member.timeZoneName|date:member.dateFormat}}
						({{version.text|upTo:current_member.shortDisplayLength|orNbsp}})
						</p>
					{% endfor %}
					&nbsp;
					</td>
				<td><input type="checkbox" name="remove|{{entry.key}}" value="yes" id="remove|{{ entry.key }}"/>
					<label for="remove|{{ entry.key }}">{{template_remove}}</label></td>
				</tr>
			{% endfor %}
			</table>
		{% else %}
			<p>{{template_you_have_no_drafts}}</p>
		{% endif %}
				
    {% if draft_entries  %}
    	<p></p>
    	<p><center><input type="submit" name="changeSettings|{{member.key}}" value="{{button_remove_selected_drafts}}" class="button"></center></p>
    {% endif %}
	</form>	
	</div>
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
