<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
		
		<div id="stylized" class="rakontu_form">
		<form action="/{{dir_visit}}/{{url_entry}}
		{% if entry %}
			?{{entry.urlQuery}}
		{% else %}
			?{{rakontu.urlQuery}}
		{% endif %}
		{% if bookmark %}&{{url_query_bookmark}}={{bookmark}}{% endif %}
		" method="post" enctype="multipart/form-data">
		
			{% if entry %}
			 	<h3>{{entry.title}} ({{entry_type}})</h3>
			{% else %}
				<h3>{{template_new}} {{entry_type|capfirst}}</h3>
			{% endif %}
			<fieldset>
			{% if not entry %}
				{% ifequal entry_type "story" %}
					{{template_tell_new_story}} 
				{% endifequal %}
				{% ifequal entry_type "pattern" %}
					{{template_describe_new_pattern}}
				{% endifequal %} 
				{% ifequal entry_type "collage" %}
					{{template_describe_new_collage}}
				{% endifequal %}
				{% ifequal entry_type "invitation" %}
					{{template_describe_new_invitation}}
				{% endifequal %}
				{% ifequal entry_type "resource" %}
					{{template_text_for_new_resource}}
				{% endifequal %}
			{% endif %}
			 
			{% if entry and version %}
				<p><b>{{template_restoring_version_from}} 
				{{version.created|timeZone:current_member.timeZoneName|time:current_member.timeFormat}} 
				{{version.created|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}</b></p>
			{% endif %}
			<table style="width:100%; border:none">
			<tr><td class="noborder">
				{% if entry %}
					{% if version_text %}
						<textarea name="text" rows="20" cols="60">{{version_text}}</textarea>
					{% else %}
						<textarea name="text" rows="20" cols="60">{{entry.text}}</textarea>
					{% endif %}
				{% else %}
					<textarea name="text" rows="20" cols="60"></textarea>
				{% endif %}
			</td><td class="noborder" width="80">
			<p>{{template_interpret_as}} {{"interpreting_texts"|tip}}</p>
				<select name="text_format">
				{% for i in text_formats|makeRangeFromListLength %}
					<option value="{{text_formats|listLookup:i}}" 
					{% if entry %}
						{% if version_format %}
							{% if text_formats|listLookup:i|equalTest:version_format %}
								selected="selected"
							{% endif %}
						{% else %}
							{% if text_formats|listLookup:i|equalTest:entry.text_format %}
								selected="selected"
							{% endif %}
						{% endif %}
					{% else %}
						{% if text_formats|listLookup:i|equalTest:current_member.preferredTextFormat %}
							selected="selected"
						{% endif %}
					{% endif %}
					>{{text_formats_display|listLookup:i}}</option>
				{% endfor %}
				</select>
			</td></tr></table>
			
			{% if entry %}
				<p>{{template_name}}
			{% else %}
				<p>{{template_please_give_name_to_your}} {{entry_type}}.</p><p>
			{% endif %}
			<input type="text" name="title" size="60" value="
				{% if entry %}
					{% if version_title %}
						{{version_title}}
					{% else %}
						{{entry.title}}
					{% endif %}
				{% endif %}
				" maxlength="{{maxlength_name}}"/></p>
			
			{% include "../common_attribution.html" %}

			{% if link_item_from %}
				{% ifequal link_type "retell" %}
					<p>{{template_since_you_retold}} {{link_item_from.linkString}}:</p>
				{% endifequal %} 
				{% ifequal link_type "remind" %}
					<p>{{template_since_you_reminded}} {{link_item_from.linkString}}:</p>
				{% endifequal %}
				{% ifequal link_type "respond" %}
					<p>{{template_since_you_responded}} {{link_item_from.linkString}}:</p>
				{% endifequal %}
				<fieldset>
				{% ifequal link_type "retell" %}
					<p>{{template_comment_on_retold_link}}</p>
				{% endifequal %}
				{% ifequal link_type "remind" %}
					<p>{{template_comment_on_reminded_link}}</p>
				{% endifequal %}
				{% ifequal link_type "respond" %}
					<p>{{template_comment_on_responded_link}}</p>
				{% endifequal %}
				<p><input type="text" name="link_comment" value="" size="80" maxlength="{{maxlength_subject_or_comment}}"></p>
				<input type="hidden" name="link_type" value="{{link_type}}">
				<input type="hidden" name="link_item_from" value="{{link_item_from.key}}">
				</fieldset>
			{% endif %}
			
			{% ifequal entry_type "resource" %}
				<p>{{template_since_this_is_a_resource}}:</p>
				<fieldset>
				<p>{{template_which_resource_options_apply}}</p>
				<p>
				<input type="checkbox" name="resourceForHelpPage" value="yes" 
				{% if entry %}
					{% if entry.resourceForHelpPage %}
						checked="checked"
					{% endif %}
				{% endif %}
				id="resourceForHelpPage">
				<label for="resourceForHelpPage">{{template_yes_is_help_resource}}</label>
				</p>
				<p>
				<input type="checkbox" name="resourceForNewMemberPage" value="yes" 
				{% if entry %}
					{% if entry.resourceForNewMemberPage %}
						checked
					{% endif %}
				{% endif %}
				id="resourceForNewMemberPage">
				<label for="resourceForNewMemberPage">{{template_yes_is_new_member_resource}}</label>
				</p>
				{% if current_member.isManagerOrOwner %}
					<p>
					<input type="checkbox" name="resourceForManagersAndOwnersOnly" value="yes" 
					{% if entry %}
						{% if entry.resourceForManagersAndOwnersOnly %}
							checked
						{% endif %}
					{% endif %}
					id="resourceForManagersAndOwnersOnly">
					<label for="resourceForManagersAndOwnersOnly">{{template_yes_manager_only_resource}}</label>
					</p>
				{% endif %}
			
				</fieldset>
			{% endifequal %}
				
			</fieldset>
			
			{% if entry and versions %}
				<p>{{template_load_version}}
				<select name="versionToLoad">
				<option value="none">({{template_choose}})</option>
				{% for aVersion in versions %}
					<option value="{{aVersion.getKeyName}}">{{aVersion.title}} - 
						{{aVersion.created|timeZone:current_member.timeZoneName|time:current_member.timeFormat}} 
						{{aVersion.created|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}
						({{aVersion.text|upTo:60}})
						</option>
				{% endfor %}
				</select>
				<input type="submit" name="loadVersion" value="{{button_load_version}}" class="button_small">
				{{"text_versions"|info}}</p>
			{% endif %}
			
			<p>
			{% if questions %}
				{% include "../common_questions.html" %}
			{% endif %}
			
		{% ifequal entry_type "collage" %}
			{% if included_links_outgoing %}
				<h3>{{template_stories_included_in_collage}}</h3>
				<fieldset>
		      	<table border="0" cellpadding="4" cellspacing="0">
		      	<tr>
		      		<th>{{template_name}}</th>
		      		<th>{{template_first_part_of_text}}</th>
		      		<th>{{template_published}}</th>
		      		<th>{{template_link_comment}}</th>
		      		<th>{{template_remove}}?</th>
		      		</tr>
		      		{% for link in included_links_outgoing %}
		  				<tr>
		  				<td>{{link.itemTo.linkString}}</a></td>
			  			<td>{{link.itemTo.shortFormattedText|orNone}}</td>
	        			<td>{{link.itemTo.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}</td>
		  				<td><input type="text" name="linkComment|{{link.key}}" value="{{link.comment}}" size="40" maxlength="{{maxlength_subject_or_comment}}"/></td>
		  				<td width="80">
		  					<input type="checkbox" name="removeLink|{{ link.key }}" value="yes" id="removeLink|{{ link.key }}"/>
							<label for="removeLink|{{ link.key }}">{{template_remove}}</label>
		  					</td>
		  				</tr>
		      		{% endfor %}
		      	</table>
		      	</fieldset>
	      {% endif %}
  		{% if collage_entries %}
	  		<h3>{{template_add_stories_to_the_collage}}</h3>
				<fieldset>
		      	<table border="0" cellpadding="4" cellspacing="0">
		      	<tr>
		      		<th>{{template_name}}</th>
		      		<th>{{template_first_part_of_text}}</th>
					<th>{{template_published}}</th>
		      		<th width="80">{{template_add_link}}?</th>
		      		<th>{{template_link_comment}}</th>
					</tr>
	      		{% for anEntry in collage_entries %}
	      			<tr>
	      			 <td>{{anEntry.linkString}}</td>
	      			 <td>{{anEntry.text_formatted|upTo:short_display_length|orNbsp}}</td>
	        		 <td>{{anEntry.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}</td>
	      			<td>
	      			<input type="checkbox" name="addLink|{{anEntry.key}}" value="yes" id="addLink|{{anEntry.key}}"/>
					<label for="addLink|{{anEntry.key}}">{{template_add_link}}</label>
	      			</td>
	      			<td><input type="text" name="linkComment|{{anEntry.key}}" value="" size="40"/></td>
	      			 </tr>
	      		{% endfor %}
			    </table>	      	
				
				<p>
				{% if previous %}
					 {% if entry %}
					 	<a href="/{{dir_visit}}/{{url_collage}}?{{entry.urlQuery}}&{{url_query_bookmark}}={{previous}}">{{template_newer}} {{template_stories|lower}}</a>
					 {% else %}
					 	<a href="/{{dir_visit}}/{{url_collage}}?{{rakontu.urlQuery}}&{{url_query_bookmark}}={{previous}}">{{template_newer}} {{template_stories|lower}}</a>
					 {% endif %}
				{% endif %}	
				{% if previous and next %} ... {% endif %}
				{% if next %}
					{% if entry %}
					 	<a href="/{{dir_visit}}/{{url_collage}}?{{entry.urlQuery}}&{{url_query_bookmark}}={{next}}">{{template_older}} {{template_stories|lower}}</a>
					{% else %}
					 	<a href="/{{dir_visit}}/{{url_collage}}?{{rakontu.urlQuery}}&{{url_query_bookmark}}={{next}}">{{template_older}} {{template_stories|lower}}</a>
					{% endif %}
				{% endif %}	
				 </fieldset>
		{% else %}
			<p>{{template_no_stories_to_add_to_collage}}</p>
		{% endif %}
	  
	  {% endifequal %}
	  
		{% ifequal entry_type "pattern" %}
			{% if referenced_links_outgoing %}
				<h3>{{template_search_filters_referred_to_by_this_pattern}}</h3>
				<fieldset>
		      	<table border="0" cellpadding="4" cellspacing="0">
		      	<tr>
		      		<th>{{template_name}}</th>
		      		<th>{{template_description}}</th>
		      		<th>{{template_link_comment}}</th>
		      		<th>{{template_remove}}?</th>
		      		</tr>
		      		{% for link in referenced_links_outgoing %}
		  				<tr>
		  				<td>{{link.itemTo.linkString}}</a></td>
		  				<td>{{link.itemTo.shortFormattedText|orNone}}</td>
		  				<td><input type="text" name="linkComment|{{link.key}}" value="{{link.comment}}" size="60" maxlength="{{maxlength_subject_or_comment}}"/></td>
		  				<td width="80">
		  					<input type="checkbox" name="removeLink|{{ link.key }}" value="yes" id="removeLink|{{ link.key }}"/>
							<label for="removeLink|{{ link.key }}">{{template_remove}}</label>
		  					</td>
		  				</tr>
		      		{% endfor %}
		      	</table>
		      	</fieldset>
	      {% endif %}
			<h3>{{template_add_search_filters_to_the_pattern}}</h3>
			{% if searches_that_can_be_added_to_pattern %}
				<fieldset>
		      	<table border="0" cellpadding="4" cellspacing="0">
		      	<tr>
		      		<th>{{template_name}}</th>
		      		<th>{{template_description}}</th>
					<th>{{template_created}}</th>
		      		<th width="80">{{template_add_link}}?</th>
		      		<th>{{template_link_comment}}</th>
					</tr>
	      		{% for search in searches_that_can_be_added_to_pattern %}
	      			<tr>
	      			 <td>{{search.linkString}}</td>
	      			 <td>{{search.shortFormattedText}}</td>
	        		 <td>{{search.created|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}</td>
	      			<td>
	      			<input type="checkbox" name="addLink|{{search.key}}" value="yes" id="addLink|{{search.key}}"/>
					<label for="addLink|{{search.key}}">{{template_add_link}}</label>
	      			</td>
	      			<td><input type="text" name="linkComment|{{search.key}}" value="" size="40"/></td>
	      			 </tr>
	      		{% endfor %}
			    </table>	      	
	      	</fieldset>
	      	{% else %}
	      		<ul><li class="nobullet">{{template_no_shared_searches_available}}</li></ul>
	      	{% endif %}
	  {% endifequal %}
	  
			{% if rakontu.allowsAttachments %}
				<h3>{{template_attachments}} {{"uploading_files"|caution}}</h3>
				<fieldset>
		      	<table border="0" cellpadding="4" cellspacing="0">
		      	<tr>
		      		<th>{{template_name}}</th>
		      		<th>{{template_file_name}}</th>
		      		<th>{{template_attach_or_replace}} {{"replacing_attachments"|tip}}</th>
		      		<th>{{template_remove}}?</th>
		      		</tr>
	      		{% for i in rakontu.maxNumAttachments|makeRange %}
	      			<tr>
		      		<td>
		      			<input type="text" name="attachmentName{{i}}" value="{{attachments|listLookup:i|get:"name"|orNothing}}" size="20" maxlength="{{maxlength_name}}"/>
		      		</td>
					<td>
						{% if attachments|listLookup:i|get:"fileName" %} 
							{{attachments|listLookup:i|get:"attachmentEmbed"}} 
						{% else %} 
							{{term_none}} 
						{% endif %}
					</td>
					<td>
						<input type="file" name="attachment{{i}}" size="20"/>
					</td>
					<td>
						{% if attachments|listLookup:i|get:"fileName" %}
							<input type="checkbox" name="removeAttachment|{{attachments|listLookup:i|get:"key"}}" 
							value="removeAttachment|{{attachments|listLookup:i|get:"key"}}"  id="{{i}}">
							<label for="{{i}}">{{template_remove}}</label>
						{% else %}
							&nbsp; 
						{% endif %}
					</td>
					</tr>
	      		{% endfor %}
				</table>
				<p><i>{{template_accepted_file_types}}: {{attachment_file_types|join:", "}}.</i></p>
				</fieldset>
			{% endif %}
			
			<p>
			<center>
			{% if entry %}
				{% if entry.inBatchEntryBuffer %}
					<input type="submit" name="save|{{entry_type}}" value="{{button_save_changes_and_return}}" class="button">
					<input type="submit" name="preview|{{entry_type}}" value="{{button_preview}}" class="button">
				{% else %}
					<input type="submit" name="save|{{entry_type}}" value="{{button_save_draft}}" class="button">
					<input type="submit" name="preview|{{entry_type}}" value="{{button_preview}}" class="button">
					<input type="submit" name="publish|{{entry_type}}" value="{{button_publish}}" class="button">
				{% endif %}
			{% else %}
				<input type="submit" name="save|{{entry_type}}" value="{{button_save_as_draft}}" class="button">
				<input type="submit" name="preview|{{entry_type}}" value="{{button_preview}}" class="button">
				<input type="submit" name="publish|{{entry_type}}" value="{{button_publish}}" class="button">
			{% endif %}
			</center>
			
		</form>
		</div>
		</div>
	{% include "../common_footer.html" %}
	</body>
</html>
