<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	
	
	<div id="content">
	
		<div id="stylized" class="rakontu_form">
		<form action="/{{dir_visit}}/{{url_filters}}?{{rakontu.urlQuery}}" method="post" enctype="multipart/form-data">
		
		{% if searches %}
			<h4>{{template_saved_search_filters}}</h4>
		      	<table border="0" cellpadding="4" cellspacing="0">
		      	<tr>
		      		<th>{{template_name}}<br/></th>
		      		<th>{{template_words}}</th>
		      		<th>{{template_tags}}</th>
		      		<th>{{template_questions_about_entries}}</th>
		      		<th>{{template_questions_about_members_or_characters}}</th>
		      		<th>{{template_created}}</th>
		      		<th>{{template_private}}?</th>
		      		<th>{{template_remove}}?</th>
		      	{% for search in searches %}
			      	<tr>
			      	<td>{{search.name}}<br/>
			      		<a href="{{search.linkURL}}">{{template_apply_to_home_page}}</a><br/>
			      		<a href="{{search.editURL}}">{{template_change}}</a>
			      		</td>
			      	<td>
			      		{% if search.words %}
			      			{{search.words_anyOrAll}}: <b>{{search.words|join:", "}}</b> <br/>
				      		{% for i in search_locations|makeRangeFromListLength %}
				      			{% if search.words_locations|listLookup:i %}
				      				{{search_locations_display|listLookup:i}}<br/>
				      			{% endif %}
				      		{% endfor %}
			      		{% else %}
			      			&nbsp;
			      		{% endif %}
			      		</td>
			      	<td>{% if search.tags %}
			      			{{search.tags_anyOrAll}}: {{search.tags|join:", "}}
			      		{% endif %}&nbsp;
			      		</td>
			      	<td>
			      		{% for ref in search.getEntryQuestionRefs %}
			      			{{ref.questionName}}: 
			      			{% if ref.questionType|equalTest:"text" %}
			      				{{ref.comparison}}
			      			{% endif %}
			      			{% if ref.questionType|equalTest:"value" %}
			      				{{ref.comparison}}
			      			{% endif %}
			      			<b>{{ref.answer}}</b><br/>
			      		{% endfor %}
			      		&nbsp;
			      		</td>
			      	<td>
			      		{% for ref in search.getCreatorQuestionRefs %}
			      			{{ref.questionName}}: 
			      			{% ifequal ref.questionType "text" %}
			      				{{ref.comparison}}
			      			{% endifequal %}
			      			{% if ref.questionType|equalTest:"value" %}
			      				{{ref.comparison}}
			      			{% endif %}
			      			<b>{{ref.answer}}</b><br/>
			      		{% endfor %}
			      		&nbsp;
			      		</td>
					<td>{{search.created|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}<br/>{{search.created|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}</td>
					<td>
						{% if search.private %} 
							{{template_private|lower}} 
						{% else %} 
							{{template_shared|lower}} 
						{% endif %}
					</td>
					<td width="80"><input type="checkbox" name="remove|{{ search.key }}" value="yes" id="remove|{{ search.key }}"/>
						<label for="remove|{{ search.key }}">{{template_remove}}</label>
						</td>
					</tr>
				{% endfor %}
				</table>
		{% else %}
			<h4>{{template_saved_search_filters}}</h4>
			<p>{{template_you_have_no_filters}}</p>
		{% endif %}
		
      	<p>
    {% if searches %}
    	<center><input type="submit" name="changeSettings|{{member.key}}" value="{{button_remove_selected_searches}}" class="button"></center>
    {% endif %}
	</form>	
	</div>
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
