<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	<p></p>
	<div id="rakontu_form_style" class="rakontu_form">
	<form action="/{{dir_visit}}/{{url_find}}?{{rakontu.urlQuery}}" method="post">
	
	<fieldset>
	<table style="border:none">
	<tr><td style="border:none">
	<p>{{template_find}}</p>
	<p>&nbsp; &nbsp; <input type="text" name="findWhat" value="{{find_text|orNothing}}" maxlength="{{maxlength_name}}" size="60"/>
	{{"simple_search"|tip}}</p>
	
	<p>&nbsp; &nbsp; 
	{% for i in entry_choices|makeRangeFromListLength %}
		<input type="checkbox" name="{{entry_choices|listLookup:i}}" value="yes" id="{{entry_choices|listLookup:i}}"
		{% if entry_choices_picked|listLookup:i %}
			checked
		{% endif %}
		>
		<label for="{{entry_choices|listLookup:i}}">{{entry_choices_display|listLookup:i}}</label>
	{% endfor %}
	</p>
	
	<p>&nbsp; &nbsp; 
	{% for i in annotation_choices|makeRangeFromListLength %}
		<input type="checkbox" name="{{annotation_choices|listLookup:i}}" value="yes" id="{{annotation_choices|listLookup:i}}"
		{% if annotation_choices_picked|listLookup:i %}
			checked
		{% endif %}
		>
		<label for="{{annotation_choices|listLookup:i}}">{{annotation_choices_display|listLookup:i}}</label>
	{% endfor %}
	</p>
	
	</td><td style="border:none">
	<input type="submit" name="find" value="{{button_search}}" class="button">
	</td></tr></table>
	</fieldset>
	</form>	
	</div>
	
	{% if find_text %}
		{% for key in texts_dict.keys|sorted %}
			{% if texts_dict|dictLookup:key|length %}
				<h3> 
			{% else %}
				<p><i>
			{% endif %}
			{{key|capitalize}} ({{texts_dict|dictLookup:key|length}}) 
			{% if texts_dict|dictLookup:key|length %}
				</h3>
			{% else %}
				</i></p>
			{% endif %}
			{% if texts_dict|dictLookup:key|length %}
				<ul>
				{% for text in texts_dict|dictLookup:key %}
					<li class="nobullet" style="margin:4px 4px 4px 4px;">{{text}}</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endfor %}
	{% endif %}
	
	<p>&nbsp;</p>
		
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
