<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	<h3>{{template_help_resources}}</h3>
	
	{% if not non_manager_resources and not manager_resources %}
		{% if current_member.isGuideOrManagerOrOwner %}
			<div class="blurb">
      		<p>{{template_no_resources_manager}}<p>
      		<ul>
      		<li class="nobullet"><a href="/{{dir_guide}}/{{url_resource}}?{{rakontu.urlQuery}}">{{template_create_a_resource}}</a></li>
      		{% if have_system_resources %}
      			<li class="nobullet">
      			<a href="/{{dir_guide}}/{{url_copy_resources}}?{{rakontu.urlQuery}}">{{template_generate_default_resources}}</a>
      			{{"default_help_resources"|info}}</li>
      		{% else %}
      			<li class="nobullet">
      			{{template_no_system_resources}} 
      			<a href="mailto:{{site_support_email}}?subject={{template_support_for_rakontu}}{{rakontu.getKeyName}}">
      			{{template_site_support|lower}}</a></li>
      		{% endif %}
      		</ul>
      		</div>
      	{% else %}
      		<p>{{template_no_resources_non_manager}}</p>
      	{% endif %}
	{% endif %}
	
	
	{% if non_manager_resources %}
		<ul>
		{% for category in non_manager_resources|dictKeys|sorted %}
			<li class="nobullet"><b>{{category}}</b>
			<ul>
			{% for resource in non_manager_resources|dictLookup:category %}
				<li class="nobullet">{{resource.linkString}}</li>
			{% endfor %}
			</ul>
			</li>
		{% endfor %}
		</ul>
		{% if current_member.isManagerOrOwner %}
			{% if manager_resources %}
				<h3>{{template_for_managers_only}}</h3>
				<ul>
				{% for category in manager_resources|dictKeys|sorted %}
					<li class="nobullet"><b>{{category}}</b>
					<ul>
					{% for resource in manager_resources|dictLookup:category %}
						<li class="nobullet">{{resource.linkString}}</li>
					{% endfor %}
					</ul>
					</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endif %}
	{% endif %}
	
	
	{% if guides and not current_member_is_only_guide %}
		<h3>{{template_ask_a_guide}} {{"asking_a_guide_a_question"|info}}</h3>
      		<hr>
      		{% for guide in guides %}
      			{% ifnotequal guide.key current_member.key %}
	  				<table style="width:100%;" class="noborder">
	  				<tr>
	  				<td style="border:none; border-right:1px solid #{{skin|dictLookup:"color_border_normal"}};" width="100" valign="center" align="center">
				 		{% if guide.profileImage %}
							<a href="/{{dir_visit}}/{{url_ask}}?{{guide.urlQuery}}">{{guide.imageEmbed}}</a>
						{% else %}
							&nbsp;
						{% endif %}
					</td>
					<td style="border:none;padding-left:16px;">
		 				<p>{{guide.askLinkString}}  
		  				{% ifequal guide.key current_member.key %}<i>({{template_you}})</i> {% endifequal %} 
		  				</p>
		  				<div class="blurb">
		  				{% if guide.guideIntro|orNothing %}
		  					{{guide.guideIntro_formatted}}
		  				{% else %}
		  					{{template_guide_has_not_entered_intro}}
		  				{% endif %}
		  				</div>
	  				</td>
	   				</tr>
	  				</table>
	  				<hr>
	      		{% endifnotequal %}
	      	{% endfor %}
	{% endif %}
	
	{% if current_member.isOnlineMember %}
		{% if current_member.isManagerOrOwner %}
			<p><a href="/{{dir_manage}}/{{url_first}}?{{rakontu.urlQuery}}">{{template_show_new_manager_page}}</a></p>
			<p><a href="/{{dir_visit}}/{{url_new}}?{{rakontu.urlQuery}}">{{template_show_new_member_page}}</a></p>
		{% else %}
			<p><a href="/{{dir_visit}}/{{url_new}}?{{rakontu.urlQuery}}">{{template_show_new_member_page}}</a></p>
		{% endif %}
	{% endif %}

	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
