<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	<p></p>
	<div id="rakontu_form_style" class="rakontu_form">
	<form action="/{{dir_visit}}/{{url_home}}
	{% if current_search %}
		?{{current_search.urlQuery}}
	{% else %}
		?{{rakontu.urlQuery}}
	{% endif %}
	{% if curating %}
		&{{url_query_curate}}={{url_query_curate}}
	{% endif %}
	" method="post">
	
	{% include "../common_time_range.html" %}
	
	{% if grid_options_on_top %}
		{% include "../common_grid_options.html" %}
	{% endif %}
	
	{% include "home_grid.html" %}
	
	{% if not grid_options_on_top %}
		{% include "../common_grid_options.html" %}
	{% endif %}

	</form>	
	</div>
		
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
