<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	<p></p>
	<div id="stylized" class="rakontu_form">
	<form action="/{{dir_visit}}/{{url_home}}
	{% if current_search %}
		?{{current_search.urlQuery}}"
	{% else %}
		?{{rakontu.urlQuery}}"
	{% endif %}
	method="post">
		
	{% if grid_options_on_top %}
		{% include "../common_grid_options.html" %}
		<p></p>
	{% endif %}
	
	{% include "home_grid.html" %}
	
	{% if not grid_options_on_top %}
		<p></p>
		{% include "../common_grid_options.html" %}
	{% endif %}

	</form>	
	</div>
		
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
