<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	
	
	<div id="content">
	
		<div id="stylized" class="rakontu_form">
		<form action="/{{dir_visit}}/{{url_leave}}?{{rakontu.urlQuery}}" method="post" enctype="multipart/form-data">
		<h1>{{template_are_you_sure}}</h1>
		<p>{{template_leaving_warning}}</p>
		</p>
				
      	<p></p>
    <center><input type="submit" name="leave|{{current_member.key}}" value="{{button_really_and_truly_leave}}" class="button">
    <p>{{template_or}}</p><input type="submit" name="return" value="{{button_go_back_to_prefs_page}}" class="button"></center>
	</form>	
	</div>
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
