<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	
	
	<div id="content">
	
		<div id="stylized" class="rakontu_form">
		<form action="/{{dir_visit}}/{{url_leave}}" method="post" enctype="multipart/form-data">
		<h1>Are you sure?</h1>
		<p>Are you <b>absolutely completely really totally certain</b> that you want to leave this Rakontu?</p>
		<p>If you do, you will have to ask a manager of the Rakontu if you want to rejoin.</p>
		</p>
				
      	<p></p>
    <center><input type="submit" name="leave|{{current_member.key}}" value="Really And Truly Leave" class="button">
    <p>or</p><input type="submit" name="return" value="Go Back to My Preferences Page" class="button"></center>
	</form>	
	</div>
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
