<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	<p></p>
	<div id="stylized" class="rakontu_form">
	<form action=
	{% if current_search %}
		"/visit/look?{{current_search.key}}"
	{% else %}
		"/visit/look"
	{% endif %}
	method="post">
	
	<table style="border:none;width:100%;">
	<tr>
	<td align="left" style="border:none;">
	Show
	<select name="timeFrame">
		{% for time_frame in time_frames %}
			<option value="{{time_frame|listLookup:0}}"
			{% if time_frame|listLookup:0|equalTest:member_time_frame_string %}
				selected="selected"
			{% endif %}
			>{{time_frame|listLookup:0}}</option>
		{% endfor %}
		</select>
	in a
	<select name="gridOrList">
		<option value="grid" {% ifequal current_member.viewGridOrList "grid" %} selected="selected" {% endifequal %}>grid</option>
		<option value="list" {% ifequal current_member.viewGridOrList "list" %} selected="selected" {% endifequal %}>list</option>
		</select>
	<input type="submit" name="changeTimeFrame" value="Change" class="button_small">
	{% ifnotequal member_time_frame_string "everything" %}
		<input type="submit" name="setToFirst" value=" |< " class="button_small">
		<input type="submit" name="moveTimeBack" value=" < " class="button_small">
		<input type="submit" name="moveTimeForward" value=" > " class="button_small">
		<input type="submit" name="setToLast" value=" >| " class="button_small">
	{% else %}
		<input type="submit" name="refreshView" value="Refresh" class="button_small">
	{% endifnotequal %}
	
	</td><td align="right" style="border:none;">
	{% if community_searches or member_searches %}
			{% if current_search %}
				Applied search filter: <b>{{current_search.displayString}}</b>
			{% else %}
				Search filters
				<select name="savedSearch"><option>(choose)</option>
				{% if member_searches %}
					<option value="">-- My filters --</option>
					{% for search in member_searches %}
						<option value="{{search.key}}">{{search.displayString}}</option>
					{% endfor %}
				{% endif %}
				{% if community_searches %}
				<option value="">-- Shared filters --</option>
				{% for search in community_searches %}
					<option value="{{search.key}}">{{search.displayString}}</option>
				{% endfor %}
				{% endif %}
				</select>
			{% endif %}
		{% if current_search %}
			<input type="submit" name="clearSearch" value="Stop applying" class="button_small">
			{% ifnotequal current_member.key current_search.creator.key %}
				<input type="submit" name="copySearchAs" value="Copy" class="button_small">
			{% else %}
				<input type="submit" name="changeSearch" value="Change" class="button_small">
			{% endifnotequal %}
		{% else %}
			<input type="submit" name="loadAndApplySavedSearch" value="Apply" class="button_small">
		{% endif %}	
		<input type="submit" name="makeNewSavedSearch" value="New" class="button_small">
	{% else %}
		<input type="submit" name="makeNewSavedSearch" value="Create search filter" class="button_small">
	{% endif %}

	</td></tr></table>

	{% if rows_cols %}
		<table cellpadding="4" cellspacing="0" style="width: 100%; border-top: none; border-bottom: 1px solid #FF7F00; border-left: none; border-right: 1px solid #FF7F00">
		{% if col_headers %}
			<tr>
			{% for header in col_headers %}
			<th style="border-right: 1px solid #FF7F00; border-top: 1px solid #FF7F00; border-bottom: 1px solid #FF7F00; border-left: 1px solid #FF7F00">{{header}}</th>
			{% endfor %}
			</tr>
		{% endif %}
		{% for i in rows_cols|makeRangeFromListLength %}
			<tr>
			{% for col_list in rows_cols|listLookup:i %}
				<td style="background-color:#{{row_colors|listLookup:i}};border-left: 1px solid #FF7F00; border-top: none; border-bottom: none; border-right: none">
				{% if col_list %}
					{% for text in col_list %}
						{{text}}
					{% endfor %}
				{% else %}
				&nbsp; 
				{% endif %}
				</td>
			{% endfor %}
			</tr>
		{% endfor %}
		</table>
		
		<p>Height means
		{% for i in community.nudgeCategories|makeRangeFromListLength %}
			<input type="checkbox" name="showCategory|{{i}}" value="yes" id="{{community.nudgeCategories|listLookup:i}}"
			{% if current_member.viewNudgeCategories|listLookup:i %}
				checked
			{% endif %}
			>
			<label for="{{community.nudgeCategories|listLookup:i}}">{{community.nudgeCategories|listLookup:i}}</label>
		{% endfor %}
		<input type="submit" name="changeNudgeCategoriesShowing" value="Change" class="button_small"></p>
		
	{% else %}
	
		<hr>
		{% for item in items_to_show %}
			{% if item.isEntry or item.isAnnotation %}
				The {{item.type}} {{item.linkString}} 
				was added 
				{% if item.isAnnotation %}
					to the {{item.entry.type}} {{item.entry.linkString}}
				{% endif %}
				by
				{% if item.attributedToMember %}
						{% if item.creator.active %}
							<a href="member?{{item.creator.key}}">{{item.creator.nickname}}</a>
							{% ifequal item.creator.key current_member.key %}
								 (you)
							{% endifequal %}
						{% else %}
							the former member "{{item.creator.nickname}}"
						{% endif %}
				{% else %}
					{% if item.character.active %}
						<a href="character?{{item.character.key}}">{{item.character.name}}</a>
					{% else %}
						the former character "{{item.character.name}}"
					{% endif %}
				{% endif %}
				on {{item.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}
				at {{item.published|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}</p>
				{% if item.isEntry %}
					<div class="indented">{{item.text_formatted|upTo:400}}</div>
				{% endif %}
				{% if item.isComment or item.isRequest %}
					<div class="indented">{{item.longString_formatted|upTo:400}}</div>
				{% endif %}
			{% endif %}
			{% if item.isAnswer %}
				With reference to the {{item.referent.type}} {{item.referent.linkString}},
				the question "{{item.question.text}}"
				was answered "{{item.displayStringShort}}"
				 by
				{% if item.attributedToMember %}
						{% if item.creator.active %}
							<a href="member?{{item.creator.key}}">{{item.creator.nickname}}</a>
							{% ifequal item.creator.key current_member.key %}
								 (you)
							{% endifequal %}
						{% else %}
							the former member "{{item.creator.nickname}}"
						{% endif %}
				{% else %}
					{% if item.character.active %}
						<a href="character?{{item.character.key}}">{{item.character.name}}</a>
					{% else %}
						the former character "{{item.character.name}}"
					{% endif %}
				{% endif %}
				on {{item.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}
				at {{item.published|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}</p>
			{% endif %}
			<hr>
		{% endfor %}
	{% endif %}
		
	</form>	
	</div>
		
	
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
