<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">

		<div id="stylized" class="rakontu_form">
		<form action="/{{dir_visit}}/{{url_members}}?{{rakontu.urlQuery}}" method="post">
	
		<h3>{{template_members}}</h3>
      		<table style="width:100%;border-left:none; border-right:none;border-top:none;" cellpadding=4 cellspacing=0>
        		{% for aMember in rakontu_members %}
  				<tr>
  				<td width="70" valign="center" align="center" style="border-left:none; border-right:none;">
			 		{% if aMember.profileImage %}
			 			<a href="{{aMember.linkURL}}">{{aMember.imageEmbed}}</a>
					{% else %}
						&nbsp;
					{% endif %}
				</td>
				<td style="border-left:none; border-right:none;">
	 				{{aMember.linkString}}  
	  				{% ifequal aMember.key current_member.key %}<i>({{template_you}})</i> {% endifequal %} 
			  	</td>
			  	<td style="border-left:none; border-right:none;">
			  		{% if aMember.isOnlineMember %}
			  			{{template_online}};
			  		{% else %}
			  			{{template_offline}} ({{template_liaison}}: {{aMember.liaisonIfOfflineMember.linkString}});
			  		{% endif %}
					{{template_joined|lower}} {{aMember.joined|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}{% if aMember.isManagerOrOwner %};{% else %}.{% endif %} 
			  		{% if aMember.hasAnyHelpingRole %}
			  			{{aMember.governanceTypeForDisplayNotShowingOwner}}, {{aMember.helpingRolesForDisplay|join:", "}}.
			  		{% else %}
			  			{% if aMember.isManagerOrOwner %}
			  				{{template_manager}}.
			  			{% endif %}
			  		{% endif %}
			  		{% if aMember.profileText_formatted|orNothing %}
			  			<p><i>{{aMember.profileText_formatted|upTo:current_member.shortDisplayLength|orNbsp}}</i></p>
			  		{% endif %}
	  				</td>
	  			<td style="border-left:none; border-right:none;">
				{% if aMember.isGuide or aMember.acceptsMessages %}
					<p><input type="checkbox" name="sendMessage|{{aMember.key}}" value="yes" id="sendMessage|{{aMember.key}}">
					<label for="sendMessage|{{aMember.key}}">{{template_send_message}}</label></p>
				{% else %}
					&nbsp;
				{% endif %}
	  			</td>
   				</tr>
      		{% endfor %}
      		</table>
 
 		<p><center><input type="submit" name="sendMessage" value="{{button_compose_message}}" class="button"></center></p>
 		</form>
 		</div>
 		     	
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
