<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
		<div id="rakontu_form_style" class="rakontu_form">
		<form action="/{{dir_visit}}/{{url_member}}?{{member.urlQuery}}
		{% if curating %}
			&{{url_query_curate}}={{url_option_yes}}
		{% endif %}
		" method="post">
	
		<h3>{{template_information_about}} {{member.nickname}}
		{% ifequal member.key current_member.key %}<i>({{template_you}})</i> {% endifequal %} 
		</h3>
		
		{% if member.profileImage %}
			{{member.imageEmbed}}
		{% endif %}

  		<p>
  		{% if member.isOnlineMember %}
  			{{template_online}};
  		{% else %}
  			{{template_offline}} ({{template_liaison}}: {{member.liaisonIfOfflineMember.linkString}});
  		{% endif %}

  		{% if member.hasAnyHelpingRole %}
  			{{member.governanceTypeForDisplayNotShowingOwner}}, {{member.helpingRolesForDisplay|join:", "}}.
  		{% else %}
  			{{member.governanceTypeForDisplayNotShowingOwner}}.
  		{% endif %}
  		{{template_joined}} {{member.joined|timeZone:member.timeZoneName|date:member.dateFormat}}.
  		</p>
  	  	
  		{% if member.profileText_formatted|orNothing %}
  			{% ifnotequal member.profileText no_profile_text %}
  				<div class="blurb">{{member.profileText_formatted}}</div>
  			{% endifnotequal %}
  		{% endif %}
  		
		<h3>{{term_entries_contributed_by}}</h3>
		
		{% include "../common_time_range.html" %}
		
		{% if grid_options_on_top %}
			{% include "../common_grid_options.html" %}
		{% endif %}
		
		{% include "../common_grid.html" %}
		
		{% if not grid_options_on_top %}
			{% include "../common_grid_options.html" %}
		{% endif %}

    </form>
    </div>
    
    {% if counts %}
	    <h3>{{template_counts_of_items_contributed_by}} {{member.nickname}}</h3>
	 		<p></p>
	    	<table cellspacing=0 cellpadding=0 style="width:100%;">
	 			{% for name in count_names %}
					<th>{{name|capfirst}}</th>
				{% endfor %}
	      	</tr>
			{% for count in counts %}
				<td>{% if count %}
						{{count}}
					{% else %}
						&nbsp;
					{% endif %}
				</td>
			{% endfor %}
			</tr>
			</table>
	{% endif %}

	{% if answers %}
		<h3>{{template_member_answers_to_questions}}</h3>
		<ul>
		{% for answer in answers %}
			<li class="nobullet">{{answer.question.text}} &nbsp; {{answer.displayStringShort}}</li>
		{% endfor %}
		</ul>
	{% endif %}
		
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
