<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">

		<div id="rakontu_form_style" class="rakontu_form">
		<form action="/{{dir_visit}}/{{url_members}}?{{rakontu.urlQuery}}" method="post">
	
		<h3>{{template_members}}</h3>
		
      		<table style="width:100%" cellpadding=0 cellspacing=0>
        		{% for aMember in rakontu_members %}
	        		{% if rakontu_members|isFirstInSeries:aMember %}
	  					<tr>
	  				{% endif %}
	  				<td style="vertical-align:top;">
				 	{% if aMember.profileImage %}
				 		<a href="{{aMember.linkURL}}">{{aMember.imageEmbedRight}}</a>
					{% endif %}
					{% if aMember.isGuide or aMember.acceptsMessages %}
						<input type="checkbox" name="sendMessage|{{aMember.key}}" value="yes" id="sendMessage|{{aMember.key}}">
						{{aMember.linkString}}
					{% else %}
						{{aMember.linkString}}  
					{% endif %}
					<br/>
				  	{% if not aMember.isOnlineMember %}
			  			{{template_liaison}}: {{aMember.liaisonIfOfflineMember.linkString}}.
			  		{% endif %}
			  		{% if aMember.hasAnyHelpingRole %}
			  			{% if aMember.isManagerOrOwner %}
			  				{{aMember.governanceTypeForDisplayNotShowingOwner|capitalize}}, {{aMember.helpingRolesForDisplay|join:", "}}.
			  			{% else %}
			  				{{aMember.helpingRolesForDisplay|join:", "|capitalize}}.
			  			{% endif %}
			  		{% else %}
			  			{% if aMember.isManagerOrOwner %}
			  				{{template_manager}}.
			  			{% endif %}
			  		{% endif %}
			  		{% ifequal aMember.key current_member.key %}({{template_you}}) {% endifequal %} 
			  		{% if aMember.profileText_formatted|orNothing %}
			  			{% ifnotequal aMember.profileText no_profile_text %}
			  				"{{aMember.profileText_formatted|upTo:current_member.shortDisplayLength|strip}}"
			  			{% endifnotequal %}
					{% endif %}
		  				</td>
   				{% if rakontu_members|isModFiveInSeries:aMember %}
   					</tr><tr>
   				{% endif %}
     		{% endfor %}
      		{% for i in num_cols_left_over|makeRange %}
      			<td>&nbsp;</td>
      		{% endfor %}
      		</tr>
       		</table>
 
 		<p><center><input type="submit" name="sendMessage" value="{{button_compose_message}}" class="button"></center></p>
 		</form>
 		</div>
 		     	
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
