<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	<h3>{{template_welcome}}, {{current_member.nickname}}!</h3>
	<p><center>
	<a href="/{{dir_visit}}/{{url_nickname}}?{{rakontu.urlQuery}}">{{template_change_nickname_for_new_member_page}}</a>
	| <a href="/{{dir_visit}}/{{url_leave}}?{{current_member.urlQuery}}">{{template_leave_rakontu_for_new_member_page}}</a></p>
	</center></p>
	
	<div class="indented">{{rakontu.welcomeMessage_formatted}}</div>
	
	<p>{{template_here_are_terms}}
	</p>
	<div class="blurb">
		{{blurbs|dictLookup:"member_new"}}
	<ul>
	<li class="nobullet">{{"information_hovers"|info}} {{template_information}}</li>
	<li class="nobullet">{{"tip_hovers"|tip}} {{template_tip}}</li>
	<li class="nobullet">{{"caution_hovers"|caution}}  {{template_caution}}</li>
	</ul>
	</div>
	
	{% if resources %}
		<p>{{template_resources_for_new_members}}:</p>
		<ul>
		{% for category in resources|dictKeys %}
			<li class="nobullet"><b>{{category}}</b>
			<ul>
			{% for resource in resources|dictLookup:category %}
				<li class="nobullet">{{resource.linkString}}</li>
			{% endfor %}
			</ul>
			</li>
		{% endfor %}
		</ul>
	{% endif %}
	
	<p>{{template_how_to_get_to_new_member_page_again}}</p>

	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
