<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	<h3>{{template_welcome}}, {{current_member.nickname}}!</h3>
	
	{{rakontu.welcomeMessage}}

	{% if resources %}
		<p>{{template_resources_for_new_members}}:</p>
		<ul>
		{% for category in resources|dictKeys %}
			<li class="nobullet"><b>{{category}}</b>
			<ul>
			{% for resource in resources|dictLookup:category %}
				<li class="nobullet">{{resource.linkString}}</li>
			{% endfor %}
			</ul>
			</li>
		{% endfor %}
		</ul>
	{% endif %}
	
	{% if have_helps %}
		<p>{{template_about_help_icons}}</p>
		<ul>
		<li class="nobullet">{{"information_hovers"|info}} {{template_information}}</li>
		<li class="nobullet">{{"tip_hovers"|tip}} {{template_tip}}</li>
		<li class="nobullet">{{"caution_hovers"|caution}}  {{template_caution}}</li>
		</ul>
	{% endif %}

	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
