<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	
	
		<div id="stylized" class="rakontu_form_centered">
		{% if member.isOnlineMember %}
			<form action="/{{dir_visit}}/{{url_nickname2}}?{{rakontu.urlQuery}}" method="post"> 
		{% else %}
			<form action="/{{dir_visit}}/{{url_nickname2}}?{{member.urlQuery}}" method="post"> 
		{% endif %}
		<table border="0" width="400" class="noborder"><tr><td class="noborder">
			<h3>{{template_change_nickname}}: {{template_step_two}}</h3>
			
			{% if member.isOnlineMember %}
				<p>{{template_nickname_chosen_is}}</p>
			{% else %}
				<p>{{template_nickname_chosen_for_offline_member_is}} </p>
			{% endif %}
			<p>&nbsp; &nbsp; <b>{{url}}</b></p>
			<input type="hidden" name="nickname" value="{{nickname}}">
			
			<p>{{template_confirm_nickname}}</p>
			
			<center>
			<p><input type="submit" name="{{member.key}}"  value="{{button_confirm_nickname}" class="button"></p>
			<p>(<a href="/{{dir_visit}}/{{url_nickname1}}?{{url_query_nickname}}={{nickname}}">{{template_back_to_first_page}}</a>)
			</center>
			
		</td></tr></table>
		</form>
		</div>
		<center><p><a href="/{{dir_visit}}/{{url_profile}}">{{template_cancel}}</a></p></center>

	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
