<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
	</head>
	<body>
	{% include "../menus.html" %}
	<div id="content">
	
	{% if article %}
		<h2>{{article.title}} ({{article.type}})</h2>
		<div class="article_text">{{article.text_formatted}}</div>
		{% if attachments %}
			{% for attachment in attachments %}
				<p>&nbsp; &nbsp; 
				{% if attachment.name %}
					{{attachment.name}} -
				{% endif %}
				<a href="attachment?attachment_id={{attachment.key}}">{{attachment.fileName}}</a><p>
			{% endfor %}
		{% endif %}
		{% if answers_with_article %}
			{% if community_has_questions_for_this_article_type %}
				<h4>Answers</h4>
				<ul>
				{% for question in questions %}
					<li class="nobullet"><b>{{question.text}}</b></li>
					<ul>
					{% for answer in answers_with_article %}
						{% ifequal question.key answer.question.key %}
							{% ifequal answer.question.type "text" %}
								<li class="nobullet">{{answer.answerIfText}}
							{% endifequal %}
							{% ifequal answer.question.type "boolean" %}
								<li class="nobullet">{{answer.answerIfBoolean|yesno:"Yes, No, Maybe"}}
							{% endifequal %}
							{% ifequal answer.question.type "ordinal" %}
								{% if answer.question.multiple %}
									<li class="nobullet">{{answer.answerIfMultiple|join:", "}}
								{% else %}
									<li class="nobullet">{{answer.answerIfText}}
								{% endif %}
							{% endifequal %}
							{% ifequal answer.question.type "nominal" %}
								{% if answer.question.multiple %}
									<li class="nobullet">{{answer.answerIfMultiple|join:", "}}
								{% else %}
									<li class="nobullet">{{answer.answerIfText}}
								{% endif %}
							{% endifequal %}
							{% ifequal answer.question.type "value" %}
								<li class="nobullet">{{answer.answerIfValue}}
							{% endifequal %}
						{% endifequal %}
					{% endfor %}
					</ul>
				{% endfor %}
				</ul>
			{% endif %}
		{% endif %}
	{% endif %}
	
	{% if annotation %}
		<hr><p><b>Your {{annotation.type|capfirst}}:</b></p>
		{% ifequal annotation.type "comment" %}
			<p><b>{{annotation.shortString}}</b></p>
			<p>{{annotation.longString_formatted}}</p>
		{% endifequal %}
		{% ifequal annotation.type "request" %}
			<p><b>{{annotation.shortString}}</b></p>
			<ul><li class="nobullet">{{annotation.longString_formatted}}</li></ul>
		{% endifequal %}
		{% ifequal annotation.type "tag set" %}
			<ul><li class="nobullet">{{annotation.tagsIfTagSet|join:", "}}</li></ul>
		{% endifequal %}
		{% ifequal annotation.type "nudge" %}
			<ul>
			{% if annotation.valuesIfNudge.0 %}<li class="nobullet">{{community.nudgeCategories.0}}: <b>{{annotation.valuesIfNudge.0}}</b> </li>{% endif %}
			{% if annotation.valuesIfNudge.1 %}<li class="nobullet">{{community.nudgeCategories.1}}: <b>{{annotation.valuesIfNudge.1}}</b> </li>{% endif %}
			{% if annotation.valuesIfNudge.2 %}<li class="nobullet">{{community.nudgeCategories.2}}: <b>{{annotation.valuesIfNudge.2}}</b> </li>{% endif %}
			{% if annotation.valuesIfNudge.3 %}<li class="nobullet">{{community.nudgeCategories.3}}: <b>{{annotation.valuesIfNudge.3}}</b> </li>{% endif %}
			{% if annotation.valuesIfNudge.4 %}<li class="nobullet">{{community.nudgeCategories.4}}: <b>{{annotation.valuesIfNudge.4}}</b> </li>{% endif %}
			</ul>			
			{% if annotation.shortString %}
				<p>Your comment:</p><ul><li class="nobullet">{{annotation.shortString}}</li></ul>
			{% endif %}
		{% endifequal %}
	{% endif %}
	
	<div id="stylized" class="rakontu_form">
	{% if answers %}
		<form action="/visit/previewAnswers
	{% else %}
		<form action="/visit/preview
	{% endif %}
		{% if annotation %}
			?{{annotation.key}}
		{% else %}
				{% if article %}
					?{{article.key}}
				{% endif %}
		{% endif %}
	" method="post" enctype="multipart/form-data">
		<p>
		<center>
			<input type="submit" name="edit" value="Edit draft" class="button">
			<input type="submit" name="profile" value="View all drafts" class="button">
			<input type="submit" name="publish" value="Publish" class="button">
		</center>
	</form>
	</div>
	
	</div>
	</body>
</html>
