<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	{% if answers %}
		{% if rakontu_has_questions_for_this_entry_type %}
			<h3>{{template_answers_to_questions_about}} {{entry.linkString}}</h3>
			<ul>
			{% for question in questions %}
				<li class="nobullet"><b>{{question.text}}</b></li>
				<ul>
				{% for answer in answers %}
					{% ifequal question.key answer.question.key %}
						{{answer.displayStringShort}}
					{% endifequal %}
				{% endfor %}
				</ul>
			{% endfor %}
			</ul>
		{% endif %}
	{% endif %}
	
	<p>{{entry.linkString}} ({{entry.typeForDisplay}})</p>
	<div class="blurb">{{entry.text}}</div>
	
	<div id="rakontu_form_style" class="rakontu_form">
		<form action="/{{dir_visit}}/{{url_preview_answers}}?{{entry.urlQuery}}" method="post" enctype="multipart/form-data">
		<p>
		<center>
			<input type="submit" name="edit" value="{{button_change}}" class="button">
			<input type="submit" name="publish" value="{{button_publish}}" class="button">
		</center>
	</form>
	</div>
	
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
