<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
	</head>
	<body>
	{% include "../menus.html" %}
	
	
	<div id="content">
	
		<div id="stylized" class="rakontu_form">
		<form action="/visit/profile" method="post" enctype="multipart/form-data">
		<h2>Changing Profile for Rakontu Community "{{ community.name|escape }}" member "{{ current_member.nickname }}"</h2>
		
		<h3>Member information</h3>
      	<table border="1" cellpadding="4" cellspacing="0">
      	<tr>
		<td>Member type</td><td>{{current_member.governanceType}}</td></tr>
		<td>Online member?</td><td>{{current_member.isOnlineMember|yesno:"yes, no, maybe"}}</td></tr>
		{% if not current_member.isOnlineMember %}
			<td>Liaison</td><td>{{liaison.nickname}}</td></tr>
		{% endif %}
		<td>Joined</td><td>{{current_member.joined.date|date:"F j, Y"}}</td></tr>
		<td>Last entered article</td><td>
			{% if current_member.lastEnteredArticle %} 
				{{current_member.lastEnteredArticle.date|date:"F j, Y"}} at {{current_member.lastEnteredArticle.time|time:"f"}}
			{% else %}
				never
			{% endif %}
			</td></tr>
		<td>Last entered annotation</td><td>
			{% if current_member.lastEnteredAnnotation %} 
				{{current_member.lastEnteredAnnotation.date|date:"F j, Y"}} at {{current_member.lastEnteredAnnotation.time|time:"f"}}
			{% else %}
				never
			{% endif %}
			</td></tr>
		<td>Last answered question(s)</td><td>
			{% if current_member.lastAnsweredQuestion %} 
				{{current_member.lastAnsweredQuestion.date|date:"F j, Y"}} at {{current_member.lastAnsweredQuestion.time|time:"f"}}
			{% else %}
				never
			{% endif %}
			</td></tr>
		<td>Last read anything</td><td>
			{% if current_member.lastReadAnything %} 
				{{current_member.lastReadAnything.date|date:"F j, Y"}} at {{current_member.lastReadAnything.time|time:"f"}}
			{% else %}
				never
			{% endif %}
			</td></tr>
		<td>Accumulated nudge points</td><td>{{current_member.nudgePoints}}</td></tr>
		</table>
		
		<h3>Saved drafts</h3>
		{% if draft_articles %}
			<h4>Articles</h4>
	      	<table border="1" cellpadding="4" cellspacing="0">
	      	<tr><th>Article type</th><th>Name</th><th>Created</th><th>Last changed</th><th>Remove?</th>
	      	{% for article in draft_articles %}
		      	<tr>
		      	<td>{{article.type}}</td>
				<td><a href="{{article.type}}?{{article.key}}">{{article.title}}</a></td>
				<td>{{article.created.date|date:"F j, Y"}} at {{article.created.time|time:"f"}}</td>
				<td>{{article.edited.date|date:"F j, Y"}} at {{article.edited.time|time:"f"}}</td>
				<td><input type="checkbox" name="remove|{{ article.key }}" value="yes" id="remove|{{ article.key }}"/>
					<label for="remove|{{ article.key }}">Remove</label></td>
				</tr>
			{% endfor %}
			</table>
		{% else %}
			<p><b>Articles</b> - none</p>
		{% endif %}
		{% if draft_annotations %}
		<h4>Annotations</h4>
	      	<table border="1" cellpadding="4" cellspacing="0">
	      	<tr><th>Annotation type</th><th>Name</th><th>In reference to the article</th><th>Created</th><th>Last changed</th><th>Remove?</th>
	      	{% for annotation in draft_annotations %}
		      	<tr>
		      	<td>{{annotation.type}}</td>
				<td><a href="{{annotation.typeAsURL}}?{{annotation.key}}">{{annotation.displayString}}</a></td>
				<td><a href="read?{{annotation.article.key}}">{{annotation.article.title}}</a> ({{annotation.article.type}})</td>
				<td>{{annotation.created.date|date:"F j, Y"}} at {{annotation.created.time|time:"f"}}</td>
				<td>{{annotation.edited.date|date:"F j, Y"}} at {{annotation.edited.time|time:"f"}}</td>
				<td><input type="checkbox" name="remove|{{ annotation.key }}" value="yes" id="remove|{{ annotation.key }}"/>
					<label for="remove|{{ annotation.key }}">Remove</label>
					</td>
				</tr>
			{% endfor %}
			</table>
		{% else %}
			<p><b>Annotations</b> - none</p>
		{% endif %}
		{% if first_draft_answer_per_article %}
		<h4>Answer sets for articles</h4>
	      	<table border="1" cellpadding="4" cellspacing="0">
	      	<tr><th>Answers about article</th><th>Created</th><th>Last changed</th><th>Remove?</th>
	      	{% for answer in first_draft_answer_per_article %}
		      	<tr>
				<td><a href="answers?{{answer.referent.key}}">{{answer.referent.title}}</a> ({{answer.referent.type}})</td>
				<td>{{answer.created.date|date:"F j, Y"}} at {{answer.created.time|time:"f"}}</td>
				<td>{{answer.edited.date|date:"F j, Y"}} at {{answer.edited.time|time:"f"}}</td>
				<td><input type="checkbox" name="removeAnswers|{{answer.referent.key}}" value="yes" id="removeAnswers|{{answer.referent.key}}"/>
					<label for="removeAnswers|{{answer.referent.key}}">Remove</label>
					</td>
				</tr>
			{% endfor %}
			</table>
		{% else %}
			<p><b>Answer sets</b> - none</p>
		{% endif %}
		
		<h3>Nickname and description</h3>
		<fieldset>
		<p>What nickname do you want to use in the community? <i>Note that if you change your nickname,
		the new nickname will display on all of your previous entries as well as new ones.</i></p>
		<input type="text" name="nickname" value="{{ current_member.nickname }}"/>
		<p>Is this your real name?</p>
		<p><input type="checkbox" name="nickname_is_real_name" value="yes" id="nickname_is_real_name"
			{% if current_member.nicknameIsRealName %}
				checked
			{% endif %}
			><label for="nickname_is_real_name">Yes, this nickname is my real name</label></p>
		<p>Do you want other community members to be able to send you messages via email?
		<i>(They will not see your email address.)</i></p>
		<p><input type="checkbox" name="acceptsMessages" value="yes" id="acceptsMessages"
			{% if current_member.acceptsMessages %}
				checked
			{% endif %}
			><label for="acceptsMessages">Yes, people can send me messages</label></p>
		<p>Please describe yourself to other members.</p>
		<div><textarea name="description" rows="10" cols="60">{{ current_member.profileText }}</textarea></div>
		<i>Full URLs in the profile text will be converted to links in what is shown.</i>
		<p>Profile image</p>
		{% if current_member.profileImage %}
			<div><img src="img?member_id={{current_member.key}}"></img></div>
		{% endif %}
		<p><div><input type="file" name="img" accept="jpg/png"/></div></p>
		<p><i>The best picture size is width 100, height 60.</i></p>
		</fieldset>
		
		{% if current_member.canTakeOnAnyHelpingRole %}
			<h3>Helping roles</h3>
			<fieldset>
			
			{% if current_member.helpingRolesAvailable.0 %}
				<p><label><input type="checkbox" name="helpingRole0" value="helpingRole0"
					{% if current_member.helpingRoles.0 %}
						checked="checked"/>
					{% else %}
						/>
					{% endif %}
					I am a <b> {{helping_role_names.0}} </b> in this community.</label></p>
				{% if community.roleReadmes.0 %}
					<table border="1" cellpadding="4" cellspacing="0">
					<tr><td bgcolor="#FFFFFF"> {{ community.roleReadmes.0 }} </td></tr>
					{% if community.roleAgreements.0 %}
						<tr><td><i>Clicking the "I am a {{helping_role_names.0}}" box implies that you agree to these terms.</i></td></tr>
					{% endif %}
					</table>
				{% endif %}
			{% endif %}
			
			{% if current_member.helpingRolesAvailable.1 %}
				<p><label><input type="checkbox" name="helpingRole1" value="helpingRole1"
					{% if current_member.helpingRoles.1 %}
						checked="checked"/>
					{% else %}
						/>
					{% endif %}
					I am a <b>{{helping_role_names.1}}</b> in this community.</label></p>
				{% if community.roleReadmes.1 %}
					<table border="1" cellpadding="4" cellspacing="0"><tr>
					<tr><td bgcolor="#FFFFFF"> {{ community.roleReadmes.1 }} </td></tr>
					{% if community.roleAgreements.1 %}
						<tr><td><i>Clicking the "I am a {{helping_role_names.1}}" box implies that you agree to these terms.</i></td></tr>
					{% endif %}
					</table>
				{% endif %}
				<p>If you are a guide, what would you like to tell members about what sorts of questions you can answer?</p>
				<textarea name="guideIntro" rows="3" cols="60">{{ current_member.guideIntro }}</textarea>
			{% endif %}
			
			{% if current_member.helpingRolesAvailable.2 %}
				<p><label><input type="checkbox" name="helpingRole2" value="helpingRole2"
					{% if current_member.helpingRoles.2 %}
						checked="checked"/>
					{% else %}
						/>
					{% endif %}
					I am a <b>{{helping_role_names.2}}</b> in this community.</label></p>
				{% if community.roleReadmes.2 %}
					<table border="1" cellpadding="4" cellspacing="0">
					<tr><td bgcolor="#FFFFFF"> {{ community.roleReadmes.2 }} </td></tr>
					{% if community.roleAgreements.2 %}
						<tr><td><i>Clicking the "I am a {{helping_role_names.2}}" box implies that you agree to these terms.</i></td></tr>
					{% endif %}
					</table>
				{% endif %}
			{% endif %}
			</fieldset>
		{% endif %}
		
		{% if questions %}
			{% include "questions.html" %}
		{% endif %}
		
      	<p>
    <center><input type="submit" name="changeSettings" value="Change Settings" class="button"></center>
	</form>	
	</div>
	</div>
	</body>
</html>
