<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
		<div id="content">
	
		<h3>{{template_information_about}} {{rakontu.name}}</h3>
		
		<p>{{template_rakontu_created_on}} {{rakontu.created|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}.
		
		</p>
		
		<p>{{template_description}}:</p>
		<div class="blurb">{{rakontu.description_formatted}}</div>
		{% if rakontu.etiquetteStatement_formatted %}
			<p>{{template_etiquette_statement}}:</p>
			<div class="blurb">{{rakontu.etiquetteStatement_formatted}}</div>
		{% endif %}
		
     <h3>{{template_counts_of_items_in}} {{rakontu.name}}</h3>
 		<p></p>
    	<table cellspacing=0 cellpadding=0 style="width:100%;">
 			{% for name in count_names %}
				<th>{{name|capfirst}}</th>
			{% endfor %}
      	</tr>
		{% for count in counts %}
			<td>{% if count %}
					{{count}}
				{% else %}
					0
				{% endif %}
			</td>
		{% endfor %}
		</tr>
		</table>

		{% if rakontu.getActiveCharacters %}
			<h3>{{template_characters}} {{"what_characters_are_for"|info}}</h3>
	      	<table cellpadding=4 cellspacing=0>
	      		<tr><th>{{template_name}}</th>
	      			<th>{{template_picture}}</th>
	      			<th>{{template_about}}</th>
	      			<th>{{template_how_to_be_character}}</th></tr>
	      		{% for character in characters %}
	      			<tr>
					<td><a href="/{{dir_visit}}/{{url_character}}?{{url_query_character}}={{character.getKeyName}}">{{character.name}}</a></td>
	  				<td>
			 		{% if character.image %}
						{{character.imageEmbed}}
					{% else %}
						&nbsp;
					{% endif %}
					</td>
					<td>{% if character.description %}{{character.description}}{% else %} &nbsp; {% endif %}</td>
					<td>{% if character.etiquetteStatement %}{{character.etiquetteStatement}}{% else %} &nbsp; {% endif %}</td>
	  				</tr>
	      		{% endfor %}
	      	</table>
	     {% endif %}
	     
	    <h3>{{template_nudge_categories}}</h3>
	    <ul>{% for aString in nudge_category_and_question_strings %}
	    		<li class="nobullet">{{aString}}</li>
	    	{% endfor %}
	    </ul>
	     
        <h3>{{template_nudge_point_accumulations}} {{"nudge_point_accumulations"|info}}</h3>
	    <ul><li class="nobullet">{{nudge_point_string}}</li></ul>
        <h3>{{template_activity_point_accumulations}} {{"activity_point_accumulations"|info}}</h3>
	    <ul><li class="nobullet">{{activity_point_string}}</li></ul>
	    <h3>{{template_other_options}}</h3>
	    <p>{{template_rakontu_allows_characters_for}}:</p>
	    <ul><li class="nobullet">{{chars_allowed_string}}</li></ul>
 
      	{% if current_member.isManagerOrOwner %}
      		<div class="rightalign">
      		<p><a href="/{{dir_manage}}/{{url_settings}}?{{rakontu.urlQuery}}">{{template_make_changes_to_settings}}</a></p>
      		{% if rakontu.getActiveCharacters %}
      			<p><a href="/{{dir_manage}}/{{url_characters}}?{{rakontu.urlQuery}}">{{template_make_changes_to_characters}}</a></p>
      		{% endif %}
      		</div>
      	{% endif %}

	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
