<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	<div id="rakontu_form_style" class="rakontu_form">
	<form name="read" action="/{{dir_visit}}/{{url_read}}?{{entry.urlQuery}}
	{% if curating %}
		&{{url_query_curate}}={{url_query_curate}}
	{% endif %}
	" method="post">
	
	{% if things_member_can_do %}
		<table cellpadding="0" cellspacing="0" style="width:100%;border:none;">
		<tr>
		<td align="left" valign="center" style="border:none;margin:0;">
	{% endif %}
	<span style="font-size:1.2em;"><b>{{entry.getImageLinkForType}}
	{% if curating %}  
		{% if entry.flaggedForRemoval %}
			<input type="submit" class="flag_red" value="" name="unflag|{{entry.key}}" title="{{template_click_here_to_unflag}}">
		{% else %}
			<input type="submit" class="flag_green" value="" name="flag|{{entry.key}}" title="{{template_click_here_to_flag_this_entry}}">
		{% endif %}
	{% endif %}
	{% if things_member_can_do %}
		{{entry.titleWithCategoryIfResource}}</b></span>
		</td>
		<td align="right" style="border:none;margin:0;">
		<select name="nextAction">
		{% for key in things_member_can_do.keys|sorted %}
			<option value="{{things_member_can_do|dictLookup:key}}">{{key}}</option>
		{% endfor %}
		</select>
		<input type="submit" name="doSomething" value="{{template_go|capfirst}}" class="button_small">
		</td></tr></table>
	{% else %}
		<h2>{{entry.titleWithCategoryIfResource}}</h2>
	{% endif %}
	
	<div class="blurb">{{entry.displayTextWithInlineAttachmentLinks}}
	
	{% if attachments %}
		<p><b>{{template_attachments}}</b></p>
		<ul>
		{% for attachment in attachments %}
			<li class="nobullet">
			{% if attachment.isImage %}
				{% if attachment.name %}
					<p>{{attachment.name}} ({{attachment.attachmentEmbed}})</p>
				{% else %}
					<p>{{attachment.attachmentEmbed}}</p>
				{% endif %}
				{% if current_member.showAttachedImagesInline %}
					{{attachment.imageEmbed}}
				{% endif %}
			{% else %}
				{% if attachment.name %}
					{{attachment.name}} -
				{% endif %}
				{{attachment.attachmentEmbed}}
			{% endif %}
			</li>
		{% endfor %}
		</ul>
	{% endif %}

	{% if any_links_at_all %} <hr> {% endif %}
	
	{% if entry.isCollage and included_links_outgoing %}
		<p>{{template_stories}}:</p>
		<ul>
		{% for link in included_links_outgoing %}
			<li class="nobullet">{{link.itemTo.linkString}} {% if link.comment %} ({{link.comment}}){% endif %} </li>
		{% endfor %}
		</ul>
	{% endif %}
	{% if entry.isPattern and referenced_links_outgoing %}
		<p>{{template_search_filters}}:</p>
		<ul>
		{% for link in referenced_links_outgoing %}
			<li class="nobullet">{{link.itemTo.linkString}} {% if link.comment %} ({{link.comment}}) {% endif %} </li>
		{% endfor %}
		</ul>
	{% endif %}
	{% if entry.isInvitation and responded_links_outgoing %}
		<p>{{template_responses}}:</p>
		<ul>
		{% for link in responded_links_outgoing %}
			<li class="nobullet">{{link.itemTo.linkString}} {% if link.comment %} ({{link.comment}}) {% endif %} </li>
		{% endfor %}
		</ul>
	{% endif %}

	{% ifequal entry.type "story" %}
		{% if retold_links_incoming %}
			<p>{{template_retelling_of}}</p>
			{% for link in retold_links_incoming %}
				<ul><li class="nobullet">{{link.itemFrom.linkString}}.
				 {% if link.comment %} ({{template_why|capfirst}}? {{link.comment}}) {% endif %}</li></ul>
			{% endfor %}
		{% endif %}
		{% if retold_links_outgoing %}
			<p>{{template_retold_as}}</p>
			{% for link in retold_links_outgoing %}
				<ul><li class="nobullet">{{link.itemTo.linkString}}.
				 {% if link.comment %} ({{template_why|capfirst}}? {{link.comment}}) {% endif %}</li></ul>
			{% endfor %}
		{% endif %}
		{% if reminded_links_incoming %}
			<p>{{template_reminding_from}}</p>
			{% for link in reminded_links_incoming %}
				<ul><li class="nobullet">{{link.itemFrom.linkString}}.
				{% if link.comment %} ({{template_why|capfirst}}? {{link.comment}}) {% endif %}</li></ul>
			{% endfor %}
		{% endif %}
		{% if reminded_links_outgoing %}
			<p>{{template_reminding_to}}</p>
			{% for link in reminded_links_outgoing %}
				<ul><li class="nobullet">{{link.itemTo.linkString}}.
				 {% if link.comment %} ({{template_why|capfirst}}? {{link.comment}}) {% endif %}</li></ul>
			{% endfor %}
		{% endif %}
		{% if included_links_incoming_from_invitations %}
			<p>{{template_in_response_to_invitation}}</p>
			<ul>
			{% for link in included_links_incoming_from_invitations %}
				<li class="nobullet">{{link.itemFrom.linkString}}
				 {% if link.comment %} ({{template_why|capfirst}}? {{link.comment}}) {% endif %}
				 </li>
			{% endfor %}
			</ul>
		{% endif %}
		{% if included_links_incoming_from_collages %}
			<p>{{template_included_in_collages}}</p>
			<ul>
			{% for link in included_links_incoming_from_collages %}
				<li class="nobullet">{{link.itemFrom.linkString}}
				 {% if link.comment %} ({{template_why|capfirst}}? {{link.comment}}) {% endif %}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endifequal %}
	
	{% if related_links_both_ways %}
		<p>{{template_related_to}}</p>
		<ul>
		{% for link in related_links_both_ways %}
			<li class="nobullet">
			{% ifequal link.itemTo.key entry.key %}
				{{link.itemFrom.linkString}}
			{% else %}
				{{link.itemTo.linkString}}
			{% endifequal %}
			{% if link.comment %} ({{template_why|capfirst}}? {{link.comment}}) {% endif %}
			</li>
		{% endfor %}
		</ul>
	{% endif %}
	
	<div class="rightalign">
	{% if member_can_edit_entry %}
		(<a href="/{{dir_visit}}/{{entry.typeAsURL}}?{{entry.urlQuery}}">{{template_change}}</a>)
	{% endif %}
	{% ifequal entry.creator.key current_member.key %}
		{% if entry.additionalEditors %}
			(<a href="/{{dir_visit}}/{{url_editors}}?{{entry.urlQuery}}">{{template_change_editors}} {{entry.typeForDisplay}}</a>)
		{% else %}
			(<a href="/{{dir_visit}}/{{url_editors}}?{{entry.urlQuery}}">{{template_add_editors}} {{entry.typeForDisplay}}</a>)
		{% endif %}
	{% endifequal %}
	</div>
	
	</div>
		
	{{template_contributed_by}}
	{% if entry.attributedToMember %}
			{% if entry.creator.active %}
				{{entry.creator.linkString}}
				{% ifequal entry.creator.key current_member.key %}
					 ({{template_you}})
				{% endifequal %}
			{% else %}
				{{template_the_former_member}} "{{entry.creator.nickname}}"
			{% endif %}
	{% else %}
		{% if entry.character.active %}
			{{entry.character.linkString}}
		{% else %}
			{{template_the_former_character}} "{{entry.character.name}}"
		{% endif %}
	{% endif %}
	{% if entry.collectedOffline %}
		{{entry.collected|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}
		{{entry.collected|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}
		{% if entry.liaison %}
			({{template_entered_by}} {{entry.liaison.linkString}}
			{{entry.published|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}
			{{entry.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}).
		{% endif %}
	{% else %}
		{{entry.published|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}
		{{entry.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}.
	{% endif %}
	{{template_url_lookup}}: {{entry.getKeyName}}.
	</p>
	
	{% comment %}
	{% if user_is_admin %}
		<div class="rightalign">
		{{template_shift_by}} 
			<input type="text" name="shiftHours" size="10" value="1" maxlength="{{maxlength_name}}"/> {{template_hours}}
			<input type="submit" value="{{template_go}}" name="shiftTime" class="button_small">
		</div>
	{% endif %}
	{% endcomment %}
	
	<h3>{{template_annotations_to_this}}</h3>
	
	{% include "../common_time_range.html" %}
	
	{% if grid_options_on_top %}
		{% include "../common_grid_options.html" %}
	{% endif %}
	
	{% include "../common_grid.html" %}
	
	{% if not grid_options_on_top %}
		{% include "../common_grid_options.html" %}
	{% endif %}
		
	{% if show_versions and versions %}
		<h3>{{template_versions}} <input type="submit" value="{{template_hide_versions}}" name="hideVersions" class="button_small"></h3>
		<div class="blurb">
		{% for version in versions %}
			<p><b>{{version.title}}</b> 
			({{version.created|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}
			{{version.created|timeZone:current_member.timeZoneName|date:current_member.dateFormat}})</p>
			<p>{{version.text_formatted}}</p>
			{% if not versions|isLastInSeries:version %}
				<hr>
			{% endif %}
		{% endfor %}
	{% else %}
		{% if versions %}
			<p></p>
			<input type="submit" value="{{template_show_versions}}" name="showVersions" class="button_small">
		{% endif %}
		</div>
	{% endif %}
	
	</form>
	</div>
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
