<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	<img src="/images/{{article.type}}.png" alt="tags" align="left" border="0">
	<h2>{{article.title}}
	{% if curating %}
		<a href="flag?{{article.key}}" class="imagelight"><img src="../images/
		{% if article.flaggedForRemoval %}
			flag_red.png
		{% else %}
			flag_green.png
		{% endif %}
		" alt="flag" border="0"></a>
	{% endif %}	
	</h2>
	
	{% if article.isCollage %}
		<div class="blurb">
		{{article.text_formatted}}
		{% if included_links_outgoing %}
			<ul>
			{% for link in included_links_outgoing %}
				<li class="nobullet"><a href="read?{{link.articleTo.key}}">{{link.articleTo.title}}</a>
				{% if link.comment %} ({{link.comment}}) {% endif %}
				</li>
			{% endfor %}
			</ul>
		{% endif %}
		</div>
	{% else %}
		<div class="blurb">{{article.text_formatted}}</div>
	{% endif %}

	{% if attachments %}
		<p><b>Attachments</b></p>
		{% for attachment in attachments %}
			{% if attachment.isImage %}
				<img src="img?attachment_id={{attachment.key}}"\>
			{% else %}
				<p>&nbsp; &nbsp; 
				{% if attachment.name %}
					{{attachment.name}} -
				{% endif %}
				<a href="/visit/attachment?attachment_id={{attachment.key}}">{{attachment.fileName}}</a><p>
			{% endif %}
		{% endfor %}
	{% endif %}
	
	<p>This {{article.type}} was entered by 
	
	{% if article.attributedToMember %}
			{% if article.creator.active %}
				<a href="member?{{article.creator.key}}">{{article.creator.nickname}}</a>
				{% ifequal article.creator.key current_member.key %}
					 (you)
				{% endifequal %}
			{% else %}
				the former member "{{article.creator.nickname}}"
			{% endif %}
	{% else %}
		<a href="character?{{article.character.key}}">{{article.character.name}}</a>
	{% endif %}
	
	on {{article.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}
	at {{article.published|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}</p>

	{% if article.collectedOffline %}
		{% if article.liaison %}
			<p>It was collected off-line and entered by {{article.liaison.nickname}}.</p>
		{% endif %}
	{% endif %}
	
	{% if retold_links_incoming or reminded_links_incoming or included_links_incoming_from_invitations or included_links_incoming_from_collages %}
		{% ifequal article.type "story" %}
			{% if retold_links_incoming %}
				{% for link in retold_links_incoming %}
					<p>This story is a retelling of <a href="read?{{link.articleFrom.key}}">{{link.articleFrom.title}}</a>
					 {% if link.comment %} ({{link.comment}}) {% endif %}</p>
				{% endfor %}
			{% endif %}
			{% if reminded_links_incoming %}
				{% for link in reminded_links_incoming %}
					<p>This story was told because <a href="read?{{link.articleFrom.key}}">{{link.articleFrom.title}}</a>
					reminded its teller of something. {% if link.comment %} ({{link.comment}}) {% endif %}</p>
				{% endfor %}
			{% endif %}
			{% if links_incoming_from_invitations %}
				{% for link in included_links_incoming_from_invitations %}
					<p>This story was told in response to the invitation <a href="read?{{link.articleFrom.key}}">{{link.articleFrom.title}}</a>
					 {% if link.comment %} ({{link.comment}}) {% endif %}</p>
				{% endfor %}
			{% endif %}
			{% if links_incoming_from_collages %}
				<li class="nobullet">This {{article.type}} is <b>included</b> in the collages
				<ul>
				{% for link in included_links_incoming_from_collages %}
					<li class="nobullet"><a href="read?{{link.articleFrom.key}}">{{link.articleFrom.title}}</a>
					 {% if link.comment %} ({{link.comment}}) {% endif %}</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endifequal %}
	{% endif %}
	
	{% if things_member_can_do %}
		<div id="stylized" class="rakontu_form">
		<form name="read" action="/visit/read" method="post">
		What would you like to do next?
		<select name="nextAction">
		{% for key in things_member_can_do.keys|sorted %}
			<option value="{{things_member_can_do|dictLookup:key}}">{{key}}</option>
		{% endfor %}
		</select>
		<input type="submit" name="doSomething" value="Go" class="button_small"></p>
		</form>
		</div>
	{% endif %}
			
	{% if rows_cols %}
		<hr>
		<h3>Annotations to this {{article.type}}</h3>
		<center>
		<table cellpadding="4" cellspacing="0" style="border-top: 1px solid #FF7F00; border-bottom: 1px solid #FF7F00; border-left: none; border-right: 1px solid #FF7F00">
		{% if row_headers %}
			<tr>
			{% for header in row_headers %}
			<th style="border-right: 1px solid #FF7F00; border-top: 1px solid #FF7F00; border-bottom: 1px solid #FF7F00; border-left: 1px solid #FF7F00">{{header}}</th>
			{% endfor %}
			</tr>
		{% endif %}
		{% for row_list in rows_cols %}
			<tr>
			{% for col_list in row_list %}
			<td style="border-left: 1px solid #FF7F00; border-top: none; border-bottom: none; border-right: none">
			{% if col_list %}
				{% for text in col_list %}
					{{text}}
				{% endfor %}
			{% else %}
			&nbsp; 
			{% endif %}
			</td>
			{% endfor %}
			</tr>
		{% endfor %}
		</table>
		</center>
	{% endif %}
	
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
