<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
	</head>
	<body>
	{% include "../menus.html" %}
	<div id="content">
	
	<img src="/images/{{article.type}}.png" alt="tags" align="left">
	<h2>{{article.title}}</h2>
	
	<fieldset><div class="article_text">{{article.text_formatted}}</div></fieldset>
	
	{% if attachments %}
		<p><img src="/images/attachments.png" alt="attachments"> Attachments</p>
		{% for attachment in attachments %}
			<p>&nbsp; &nbsp; 
			{% if attachment.name %}
			{{attachment.name}} -
			{% endif %}
			<a href="attachment?attachment_id={{attachment.key}}">{{attachment.fileName}}</a><p>
		{% endfor %}
	{% endif %}
	
	{% ifequal article.type "invitation" %}
		<p>You can <a href="/visit/respond?{{article.key}}">respond</a> to this invitation with a story.</p>
	{% endifequal %}
	
	<p>This {{article.type}} was entered by 
	
	{% if article.attributedToMember %}
			{% if article.creator.active %}
				<a href="member?{{article.creator.key}}">{{article.creator.nickname}}</a>
				{% ifequal article.creator.key current_member.key %}
					 (you)
				{% endifequal %}
			{% else %}
				the former member "{{article.creator.nickname}}"
			{% endif %}
	{% else %}
		<a href="character?{{nudge.character.key}}">{{article.character.name}}</a>
	{% endif %}
	
	on {{article.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}
	at {{article.published|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}</p>

	{% if article.collectedOffline %}
		{% if article.liaison %}
			<p>It was collected off-line and entered by {{article.liaison.nickname}}.</p>
		{% else %}
			<p>It was collected off-line and entered by the former member {{article.formerLiaisonNickname}}.</p>
		{% endif %}
	{% endif %}
	
	{% if community_has_questions_for_this_article_type %}
		<h4><img src="/images/answers.png" alt="answers"> Answers</h4>
		{% if answers %}
			<ul>
			{% for question in questions %}
				<li class="nobullet"><b>{{question.text}}</b></li>
				{% if answers %}
					<ul>
					{% for answer in answers %}
						{% ifequal question.key answer.question.key %}
							{% ifequal answer.question.type "text" %}
								<li class="nobullet">{{answer.answerIfText}}
							{% endifequal %}
							{% ifequal answer.question.type "boolean" %}
								<li class="nobullet">{{answer.answerIfBoolean|yesno:"Yes, No, Maybe"}}
							{% endifequal %}
							{% ifequal answer.question.type "ordinal" %}
								{% if answer.question.multiple %}
									<li class="nobullet">{{answer.answerIfMultiple|join:", "}}
								{% else %}
									<li class="nobullet">{{answer.answerIfText}}
								{% endif %}
							{% endifequal %}
							{% ifequal answer.question.type "nominal" %}
								{% if answer.question.multiple %}
									<li class="nobullet">{{answer.answerIfMultiple|join:", "}}
								{% else %}
									<li class="nobullet">{{answer.answerIfText}}
								{% endif %}
							{% endifequal %}
							{% ifequal answer.question.type "value" %}
								<li class="nobullet">{{answer.answerIfValue}}
							{% endifequal %}
							- 

							{% if answer.attributedToMember %}
								{% if answer.creator.active %}
									<a href="member?{{answer.creator.key}}">{{answer.creator.nickname}}</a>
								{% else %}
									the former member "{{answer.creator.nickname}}"
								{% endif %}
							{% else %}
								<a href="character?{{answer.character.key}}">{{answer.character.name}}</a>
							{% endif %}
						
						{% endifequal %}
					{% endfor %}
					</ul>
				{% endif %}
			{% endfor %}
			</ul>
			{% if member_can_answer_questions %}
				<ul><li class="nobullet"><a href="/visit/answers?{{article.key}}">Answer questions about this {{article.type}} yourself</a></li></ul>
			{% endif %}
		{% else %}
			<ul><li class="nobullet">none yet - <a href="/visit/answers?{{article.key}}">Add some</a></li></ul>
		{% endif %}
	{% endif %}
	
	<h4><img src="/images/comments.png" alt="comments"> Comments</h4>
	{% if comments %}
		<ul>
		{% for comment in comments %}
		<li class="nobullet"><b>{{comment.shortString}}</b> - 
		
		{% if comment.attributedToMember %}
			{% if comment.creator.active %}
				<a href="member?{{comment.creator.key}}">{{comment.creator.nickname}}</a>
			{% else %}
				the former member "{{comment.creator.nickname}}"
			{% endif %}
		{% else %}
			<a href="character?{{comment.character.key}}">{{comment.character.name}}</a>
		{% endif %}
		&nbsp; {{comment.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}} 
		at {{comment.published|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}
		</li>
		<ul><li class="nobullet">{{comment.longString_formatted}}</li></ul>
		</li>
		{% endfor %}
		</ul>
		<ul><li class="nobullet"><a href="/visit/comment?{{article.key}}">Add another comment</a></li></ul>
	{% else %}
	<ul><li class="nobullet">none yet - <a href="/visit/comment?{{article.key}}">Add one</a></li></ul>
	{% endif %}
	
	<h4><img src="/images/tags.png" alt="tags"> Tags</h4>
	{% if tag_sets %}
		<ul>
		{% for tag_set in tag_sets %}
		<li class="nobullet">{{tag_set.tagsIfTagSet|join:", "}} - 
		{% if tag_set.attributedToMember %}
			{% if tag_set.creator.active %}
				<a href="member?{{tag_set.creator.key}}">{{tag_set.creator.nickname}}</a>
			{% else %}
				the former member "{{tag_set.creator.nickname}}"
			{% endif %}
		{% else %}
			<a href="character?{{tag_set.character.key}}">{{tag_set.character.name}}</a>
		{% endif %}
			&nbsp; {{tag_set.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}} 
		at {{tag_set.published|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}
			</li>
		{% endfor %}
		</ul>
		<ul><li class="nobullet"><a href="/visit/tagset?{{article.key}}">Add more tags</a></li></ul>
	{% else %}
	<ul><li class="nobullet">none yet - <a href="/visit/tagset?{{article.key}}">Add some</a></li></ul>
	{% endif %}
	
	<h4><img src="/images/nudges.png" alt="nudges"> Nudges</h4>
	{% if nudges %}
		<ul>
		{% for nudge in nudges %}
		<li class="nobullet"><b>
			{% if nudge.valuesIfNudge.0 %}{{community.nudgeCategories.0}} {{nudge.valuesIfNudge.0}} {% endif %}
			{% if nudge.valuesIfNudge.1 %}{{community.nudgeCategories.1}} {{nudge.valuesIfNudge.1}} {% endif %}
			{% if nudge.valuesIfNudge.2 %}{{community.nudgeCategories.2}} {{nudge.valuesIfNudge.2}} {% endif %}
			{% if nudge.valuesIfNudge.3 %}{{community.nudgeCategories.3}} {{nudge.valuesIfNudge.3}} {% endif %}
			{% if nudge.valuesIfNudge.4 %}{{community.nudgeCategories.4}} {{nudge.valuesIfNudge.4}} {% endif %}
			</b>
			- 
		{% if nudge.attributedToMember %}
			{% if nudge.creator.active %}
				<a href="member?{{nudge.creator.key}}">{{nudge.creator.nickname}}</a>
			{% else %}
				the former member "{{nudge.creator.nickname}}"
			{% endif %}
		{% else %}
			<a href="character?{{nudge.character.key}}">{{nudge.character.name}}</a>
		{% endif %}
		&nbsp; {{nudge.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}} 
		at {{nudge.published|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}
		</li>
		<ul><li class="nobullet">{{nudge.shortString}}</li></ul>
		</li>
		{% endfor %}
		</ul>
		{% if member_can_add_nudge %}
			<ul><li class="nobullet"><a href="/visit/nudge?{{article.key}}">Add another nudge</a></li></ul>
		{% endif %}
	{% else %}
		<ul><li class="nobullet">none yet {% if member_can_add_nudge %}- <a href="/visit/nudge?{{article.key}}">Add one</a>{% endif %}</li></ul>
	{% endif %}
	
	<h4><img src="/images/requests.png" alt="requests"> Requests</h4>
	{% if requests %}
		<ul>
		{% for request in requests %}
			<li class="nobullet"><b>{{request.shortString}}</b> - 
			{% if request.attributedToMember %}
				{% if request.creator.active %}
					<a href="member?{{request.creator.key}}">{{request.creator.nickname}}</a>
				{% else %}
					the former member "{{request.creator.nickname}}"
				{% endif %}
			{% else %}
				<a href="character?{{request.character.key}}">{{request.character.name}}</a>
			{% endif %}
			</li>
			<ul><li class="nobullet">{{request.longString_formatted}}</li></ul>
			</li>	
			&nbsp; {{request.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}} 
		at {{request.published|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}
		{% endfor %}
		</ul>
		<ul><li class="nobullet"><a href="/visit/request?{{article.key}}">Add another request</a></li></ul>
	{% else %}
		<ul><li class="nobullet">none yet - <a href="/visit/request?{{article.key}}">Add one</a></li></ul>
	{% endif %}
	
	<h4><img src="/images/related.png" alt="related"> Related items</h4>
	<ul>
	{% if relate_links %}
		{% for link in relate_links %}
			{% ifequal link.articleFrom.key article.key %}
				<li class="nobullet"><a href="read?{{link.articleTo.key}}">{{link.articleTo.title}}</a></li>
			{% endifequal %}
			{% ifequal link.articleTo.key article.key %}
				<li class="nobullet"><a href="read?{{link.articleFrom.key}}">{{link.articleFrom.title}}</a></li>
			{% endifequal %}
		{% endfor %}
		<li class="nobullet"><a href="/visit/relate?{{article.key}}">Add another relation</a></li>
	{% else %}
		<li class="nobullet">none yet - <a href="/visit/relate?{{article.key}}">Add one</a></li>
	{% endif %}
	</ul>
	
	<h4><img src="/images/links_incoming.png" alt="incoming links"> Incoming links</h4>
	<ul>
	
	{% if not retold_links_incoming and not reminded_links_incoming and not included_links_incoming_from_invitations and not included_links_incoming_from_patterns and not included_links_incoming_from_collages %}
		none
	{% endif %}

	{% ifequal article.type "story" %}
		{% if retold_links_incoming %}
			<li class="nobullet">
			{% for link in retold_links_incoming %}
				<p>This story is a retelling of <a href="read?{{link.articleFrom.key}}">{{link.articleFrom.title}}</a>.</p>
			{% endfor %}
			</li>
		{% endif %}
		{% if reminded_links_incoming %}
			<li class="nobullet">
			{% for link in reminded_links_incoming %}
				<p>This story was told because <a href="read?{{link.articleFrom.key}}">{{link.articleFrom.title}}</a>
				reminded its teller of something.</p>
			{% endfor %}
			</li>
		{% endif %}
		{% if included_links_incoming_from_invitations %}
			<li class="nobullet">
			<p>This {{article.type}} was told in response to the invitation
			{% for link in included_links_incoming_from_invitations %}
				<a href="read?{{link.articleFrom.key}}">{{link.articleFrom.title}}</a>.</p>
			{% endfor %}
			</li>
		{% endif %}
	{% endifequal %}
	
	{% if included_links_incoming_from_patterns %}
		<li class="nobullet">
		<p>This {{article.type}} is included in the patterns
		<ul>
		{% for link in included_links_to_patterns %}
			<li class="nobullet"><a href="read?{{link.articleTo.key}}">{{link.articleTo.title}}</a></li>
		{% endfor %}
		</ul>
		</li>
	{% endif %}
	
	{% if included_links_incoming_from_collages %}
		<li class="nobullet">
		<p>This {{article.type}} is included in the collages
		<ul>
		{% for link in included_links_to_collages %}
			<li class="nobullet"><a href="read?{{link.articleTo.key}}">{{link.articleTo.title}}</a></li>
		{% endfor %}
		</ul>
		</li>
	{% endif %}
	</ul>
	
	<h4><img src="/images/links_outgoing.png" alt="tags"> Outgoing links</h4>
	<ul>

	{% ifequal article.type "story" %}
		<li class="nobullet">Stories about the same <b>events</b> as this one
		{% if retold_links_outgoing %}
			<ul>
			{% for link in retold_links_outgoing %}
				<li class="nobullet"><a href="read?{{link.articleTo.key}}">{{link.articleTo.title}}</a>
				{% if link.comment %}
					because "{{link.comment}}"
				{% endif %}
				</li>
			{% endfor %}
			</ul>
			<ul><li class="nobullet">Would you like to tell <a href="/visit/retell?{{article.key}}">your version</a> of what happened in this story?</li></ul>
		{% else %}
			<ul><li class="nobullet">none yet - Would you like to tell <a href="/visit/retell?{{article.key}}">your version</a> of what happened in this story?</li></ul>
		{% endif %}
		</li><li class="nobullet">&nbsp; </li>
	{% endifequal %}

	{% ifequal article.type "story" %}
		<li class="nobullet">Stories this one <b>reminded</b> people of
		{% if reminded_links_outgoing %}
			<ul>
			{% for link in reminded_links_outgoing %}
				<li class="nobullet"><a href="read?{{link.articleTo.key}}">{{link.articleTo.title}}</a>
				{% if link.comment %}
					because "{{link.comment}}"
				{% endif %}
				</li>
			{% endfor %}
			</ul>
			<ul><li class="nobullet">Does this story <a href="/visit/remind?{{article.key}}">remind you</a> of a story you would like to tell?</li></ul>
		{% else %}
			<ul><li class="nobullet">none yet - Does this story <a href="/visit/remind?{{article.key}}">remind you</a> of a story you would like to tell?</li></ul>
		{% endif %}
		</li><li class="nobullet">&nbsp; </li>
	{% endifequal %}
	
	{% if article.isInvitation %}
		<li class="nobullet">Stories told in <b>response</b> to this invitation
		{% if included_links_outgoing %}
			<ul>
			{% for link in included_links_outgoing %}
				<li class="nobullet"><a href="read?{{link.articleTo.key}}">{{link.articleTo.title}}</a></li>
			{% endfor %}
			</ul>
			<ul><li class="nobullet"><a href="/visit/respond?{{article.key}}">Respond</a> to this invitation with a story</li></ul>
		{% else %}
			<ul><li class="nobullet">none yet - <a href="/visit/respond?{{article.key}}">Respond</a> to this invitation with a story</li></ul>
		{% endif %}
		</li><li class="nobullet">&nbsp; </li>
	{% endif %}
		
	{% if article.isPatternOrCollage %}
		<li class="nobullet">Articles <b>included</b> in this {{article.type}}
		{% if included_links_outgoing %}
			<ul>
			{% for link in included_links_outgoing %}
				<li class="nobullet"><a href="read?{{link.articleTo.key}}">{{link.articleTo.title}}</a> ({{link.articleTo.type}})</li>
			{% endfor %}
			</ul>
			<ul><li class="nobullet"><a href="/visit/includeArticle?{{article.key}}">Include another</a></li></ul>
		{% else %}
			<ul><li class="nobullet">none yet - <a href="/visit/includeArticle?{{article.key}}">Include one</a></li></ul>
		{% endif %}
	{% endif %}
	
	{% if not article.isPatternOrCollage %}
		<li class="nobullet">Patterns this {{article.type}} is <b>included</b> in
		{% if included_links_incoming_from_patterns %}
			<ul>
			{% for link in include_links %}
				<li class="nobullet"><a href="read?{{link.articleFrom.key}}">{{link.articleFrom.title}}</a></li>
			{% endfor %}
			</ul>
			<ul><li class="nobullet"><a href="/visit/includeInPattern?{{article.key}}">Include in another</a></li></ul>
		{% else %}
			<ul><li class="nobullet">none yet - <a href="/visit/includeInPattern?{{article.key}}">Include</a> this {{article.type}} in a pattern</li></ul>
		{% endif %}
		</li><li class="nobullet">&nbsp; </li>
		<li class="nobullet">Collages this {{article.type}} is <b>included</b> in
		{% if included_links_incoming_from_patterns %}
			<ul>
			{% for link in include_links %}
				<li class="nobullet"><a href="read?{{link.articleFrom.key}}">{{link.articleFrom.title}}</a></li>
			{% endfor %}
			</ul>
			<ul><li class="nobullet"><a href="/visit/includeInCollage?{{article.key}}">Include in another</a></li></ul>
		{% else %}
			<ul><li class="nobullet">none yet - <a href="/visit/includeInCollage?{{article.key}}">Include</a> this {{article.type}} in a collage</li></ul>
		{% endif %}
	{% endif %}
	</li>
	</ul>
	
	{% if history %}
		<h4><img src="/images/history.png" alt="tags"> History</h4>
		<ul>
		{% for item in history %}
			<li class="nobullet">
				{{item.attribution}} <b>{{item.actionType}}</b>
				the {{item.referentType}} "{{item.textToShow}}" on {{item.timeStamp|timeZone:current_member.timeZoneName|date:current_member.dateFormat}} 
		at {{item.timeStamp|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}</li>
		{% endfor %}
		</ul>
	{% endif %}
	
	</div>
	</body>
</html>
