<html>
	{% include "../common_head.html" %}
	<body>
	{% include "../common_menus.html" %}
	<div id="content">
	
	<h3>{{annotation.shortString}}</h3>
	<div class="blurb">{{annotation.longString_formatted}}</div>
	
	{{template_contributed_by}}
	{% if annotation.attributedToMember %}
			{% if annotation.creator.active %}
				{{annotation.creator.linkString}}
				{% ifequal annotation.creator.key current_member.key %}
					 ({{template_you}})
				{% endifequal %}
			{% else %}
				{{template_the_former_member}} "{{annotation.creator.nickname}}"
			{% endif %}
	{% else %}
		{% if annotation.character.active %}
			{{annotation.character.linkString}}
		{% else %}
			{{template_the_former_character}} "{{annotation.character.name}}"
		{% endif %}
	{% endif %}
	{% if annotation.collectedOffline %}
		{{annotation.collected|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}
		{{annotation.collected|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}
		{% if annotation.liaison %}
			({{template_entered_by}} {{annotation.liaison.linkString}}
			{{annotation.published|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}
			{{annotation.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}})
		{% endif %}
	{% else %}
		{{annotation.published|timeZone:current_member.timeZoneName|time:current_member.timeFormat}}
		{{annotation.published|timeZone:current_member.timeZoneName|date:current_member.dateFormat}}
	{% endif %}


	{{template_with_reference_to_the}} {{annotation.entry.typeForDisplay}} {{annotation.entry.linkString}}.</p>
		
	{% if annotation.isRequest %}
		<div id="rakontu_form_style" class="rakontu_form">
		<form action="/{{dir_visit}}/{{url_read_annotation}}?{{annotation.urlQuery}}" method="post" enctype="multipart/form-data">
		<p>&nbsp; &nbsp; <b>{{template_request_type}}</b>: {{annotation.typeIfRequest}}. </p>
		<p>&nbsp; &nbsp; <b>{{template_completion_status}}</b>: 
		{% if annotation.completedIfRequest %} 
			{{template_completed}}. 
			{% if annotation.completionCommentIfRequest %}
				({{template_comment}}: {{annotation.completionCommentIfRequest}})
			{% endif %}
		{% else %}
			{{template_not_completed}}.
		{% endif %}
		</p>
		<p>&nbsp; 
		{% if not annotation.completedIfRequest %}
			<input type="submit" name="toggleRequestCompleted" value="{{button_mark_as_completed}}" class="button_small"
			{% if current_member.showButtonTooltips %}
				title="{{"marking_request_completed"|buttonTooltip}}"
			{% endif %}
			>
		{% else %}
			<input type="submit" name="toggleRequestCompleted" value="{{button_mark_as_not_completed}}" class="button_small"
			{% if current_member.showButtonTooltips %}
				title="{{"marking_request_uncompleted"|buttonTooltip}}"
			{% endif %}
			>
		{% endif %}
		{{template_change_comment}}: 
		<input type="text" name="request_comment" value="{{annotation.completionCommentIfRequest|orNothing}}" size="20" maxlength="{{maxlength_subject_or_comment}}">
		</p>
		</form>
		</div>
	{% endif %}
	
	</div>
	{% include "../common_footer.html" %}
	</body>
</html>
